Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

operator: ensure binaries checksum is verified before running
  olm/Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: add icon
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/manifests/icon.png
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: add missing labels to the clusterserviceversion
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: fix lint issues
  olm/hack/sync-k8s-manifests/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

operator: remove main.go
  olm/cmd/main.go
  olm/go.mod
  olm/go.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

olm: delete controller image dockerfile
  olm/Dockerfile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: update go and tools.mod
  olm/.devcontainer/devcontainer.json
  olm/go.mod
  olm/go.sum
  tools.mod
  tools.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: fix OLM ServiceMonitor and metrics NetworkPolicy
  olm/config/network-policy/allow-metrics-traffic.yaml
  olm/config/prometheus/monitor.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

add operator tests into CI
  .github/workflows/olm.yml
  olm/.github/workflows/lint.yml
  olm/.github/workflows/test-e2e.yml
  olm/.github/workflows/test.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: wire OLM manifest sync into root codegen
  AGENTS.md
  Makefile
  codegen.go
  dev/tools/sync-olm-manifests
  dev/tools/verify-olm-manifests
  olm/Makefile
  olm/README.md
  olm/hack/strip-csv-webhookdefs
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

operator: standard bundle directory
  olm/Makefile
  olm/bundle.Dockerfile
  olm/bundle/manifests/agent-sandbox-controller_v1_service.yaml
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/bundle/manifests/agent-sandbox-webhook-service_v1_service.yaml
  olm/bundle/manifests/agents.x-k8s.io_sandboxes.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxclaims.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  olm/bundle/metadata/annotations.yaml
  olm/bundle/tests/scorecard/config.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  olm/config/manager/manager.yaml
  olm/config/rbac/extensions_role.yaml
  olm/config/rbac/role.yaml
  olm/config/rbac/support.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test/e2e: retry immutable Sandbox update on conflict
  test/e2e/volumeclaimtemplate_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update test-scalability to use fix-go-generate
  dev/ci/presubmits/test-scalability
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

spec(filesystem): add Apache license, tighten metadata security, add 409 conflict, and reference KEP-539.2 migration
  dev/tools/fix-go-generate
  packages/sandboxd/spec/filesystem/v1/filesystem.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test/e2e: make podFailurePolicy recreate test robust to fast pod replacement
  test/e2e/pod_failure_policy_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

controllers: assert recreate path deletes adopted failed pod
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-test: scale to 20 worker nodes
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-report: surface kubelet pod-start pipeline congestion
  test/stress/generate-report/generate_report.py
  test/stress/generate-report/templates/cri.html
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: mount container overlayfs volatile
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: raise kube-scheduler and KCM client QPS to 500/500
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

controller: default sandbox-concurrent-workers to 100
  cmd/agent-sandbox-controller/main.go
  dev/load-test/test-recipes/README-capacity-cliff.md
  docs/configuration.md
  examples/agent-sandbox-rl/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-report: client-side watch event explorer
  test/stress/generate-report/generate_report.py
  test/stress/generate-report/static/report.css
  test/stress/generate-report/static/watch.js
  test/stress/generate-report/templates/base.html
  test/stress/generate-report/templates/watch.html
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: update default value in helm chart
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

controller: don't write sandbox status for a nodeName-only change
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

controller: don't write the pod-name annotation for the default name
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-report: fix plural kind queries and keyboard row expansion
  test/stress/generate-report/static/report.css
  test/stress/generate-report/static/watch.js
  test/stress/generate-report/templates/watch.html
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-report: don't abort row rendering on an invalid timestamp
  test/stress/generate-report/templates/watch.html
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update KEP document and align API conventions
  docs/keps/119-sandbox-suspended-state/README.md
Due: none

fix(sandboxclaim): address review feedback
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandboxclaim): finalize warm-pool adoption in the same pass
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

address review feedback
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address review feedback on webhook-inject-timestamp example
  examples/webhook-inject-timestamp/main.go
  examples/webhook-inject-timestamp/testing_webhook_guide.md
  examples/webhook-inject-timestamp/webhook-deployment.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Formatting fix
  examples/webhook/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

rename folder to webhook-inject-timestamp to be more informative
  examples/webhook-inject-timestamp/Dockerfile
  examples/webhook-inject-timestamp/cert-manager-rbac.yaml
  examples/webhook-inject-timestamp/cert-manager-resources.yaml
  examples/webhook-inject-timestamp/go.mod
  examples/webhook-inject-timestamp/main.go
  examples/webhook-inject-timestamp/mutating-webhook-configuration.yaml
  examples/webhook-inject-timestamp/test-claim.yaml
  examples/webhook-inject-timestamp/testing_webhook_guide.md
  examples/webhook-inject-timestamp/webhook-deployment.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Adds webhook admission timestamp example
  examples/webhook/Dockerfile
  examples/webhook/cert-manager-rbac.yaml
  examples/webhook/cert-manager-resources.yaml
  examples/webhook/go.mod
  examples/webhook/main.go
  examples/webhook/mutating-webhook-configuration.yaml
  examples/webhook/test-claim.yaml
  examples/webhook/testing_webhook_guide.md
  examples/webhook/webhook-deployment.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address co-pilot findings
  examples/webhook/Dockerfile
  examples/webhook/go.mod
  examples/webhook/main.go
  examples/webhook/mutating-webhook-configuration.yaml
  examples/webhook/testing_webhook_guide.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-report: declare jsonl schemas instead of inferring them
  test/stress/generate-report/generate_report.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

address review feedback: v1beta1 API version, go.sum, deployment hardening
  examples/webhook-inject-timestamp/Dockerfile
  examples/webhook-inject-timestamp/go.mod
  examples/webhook-inject-timestamp/go.sum
  examples/webhook-inject-timestamp/mutating-webhook-configuration.yaml
  examples/webhook-inject-timestamp/test-claim.yaml
  examples/webhook-inject-timestamp/testing_webhook_guide.md
  examples/webhook-inject-timestamp/webhook-deployment.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: bound warm-pool over-creation — staged warm fill + recycle scale-on-hold
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/async_fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/recycle.py
  examples/agent-sandbox-rl/docs/design.md
  examples/agent-sandbox-rl/docs/strategies.md
  examples/agent-sandbox-rl/tests/test_fleet.py
  examples/agent-sandbox-rl/tests/test_recycle.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
