Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

Always copy volumeClaimTemplates and use adopted pod name for PVC naming
  controllers/sandbox_controller.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix volumeClaimTemplates listType: use atomic instead of map
  extensions/api/v1alpha1/sandboxtemplate_types.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix race condition in warm pool orphan PVC detection
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix expiry cleanup for adopted sandbox pods
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Recreate pod with same name when claimed warm pool pod disappears
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Remove unused parameter in adoptPodPVCs
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Prevent warm pool PVC leaks on pod creation failure
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Replace conflicting pod template volumes with volumeClaimTemplate volumes
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Transfer PVC ownership after Sandbox creation to eliminate orphan window
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Document atomic replacement behavior for volumeClaimTemplates
  extensions/api/v1alpha1/sandboxtemplate_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add Vicente as approver to extensions and test folder
  test/OWNERS
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

pr feedback
  extensions/controllers/OWNERS
  extensions/examples/OWNERS
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add Vicente as owner for Python Client
  clients/python/agentic-sandbox-client/OWNERS
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Create OSS Metric agent_sandbox_warmpool_size
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Following performance benchmarking, I have committed performance optimizations in the agent-sandbox-controller. This commit includes:
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add a KEP to transition from context manager to a resource handle.
  docs/359-template.md
Due: none

Add a KEP to transition from context manager to a resource handle update 1.
  docs/359-template.md
Due: none

Temp work.
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Added dependency needed in sandbox controllers
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add a KEP to transition from context manager to a resource handle update 2.
  docs/359-template.md
Due: none

Delete test/e2e/artifacts/TestSimpleSandbox/test.log
  test/e2e/artifacts/TestSimpleSandbox/test.log
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Delete test/e2e/artifacts/TestRunChromeSandbox/test.log
  test/e2e/artifacts/TestRunChromeSandbox/test.log
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Delete test/e2e/artifacts/TestSandboxReplicas/test.log
  test/e2e/artifacts/TestSandboxReplicas/test.log
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Delete test/e2e/extensions/artifacts/TestWarmPoolSandboxWatcher/test.log
  test/e2e/extensions/artifacts/TestWarmPoolSandboxWatcher/test.log
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Delete test/e2e/extensions/artifacts/TestRunPythonRuntimeSandbox/test.log
  test/e2e/extensions/artifacts/TestRunPythonRuntimeSandbox/test.log
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Delete test/e2e/extensions/artifacts/TestRunPythonRuntimeSandboxClaim/test.log
  test/e2e/extensions/artifacts/TestRunPythonRuntimeSandboxClaim/test.log
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Delete test/e2e/extensions/artifacts/TestRunPythonRuntimeSandboxWarmpool/test.log
  test/e2e/extensions/artifacts/TestRunPythonRuntimeSandboxWarmpool/test.log
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Delete test/e2e/artifacts/TestSandboxShutdownTime/test.log
  test/e2e/artifacts/TestSandboxShutdownTime/test.log
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

move crds and rbac from k8s/crds to config/
  codegen.go
  config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  config/crd/bases/extensions.agents.x-k8s.io_sandboxclaims.yaml
  config/crd/bases/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  config/crd/bases/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  config/crd/kustomization.yaml
  config/rbac/extensions-rbac.generated.yaml
  config/rbac/kustomization.yaml
  config/rbac/rbac.generated.yaml
  dev/tools/deploy-to-kube
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

copy k8s/controller.yaml into config/manager/manager.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Copy the k8s/controller SA and ClusterRoleBinding into config/rbac
  config/rbac/kustomization.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

copy k8s/extensions.yaml into config/rbac
  config/rbac/extensions_role_binding.yaml
  config/rbac/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

add config/default
  config/default/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

config: add standard labels
  config/manager/manager.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

config: add manifests folder
  config/manifests/bases/agent-sandbox.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

add minimal bundle makefile
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

makefile: add basic deploy/install commands
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

add bundle-generated files
  PROJECT
  bundle.Dockerfile
  bundle/manifests/agent-sandbox-controller_v1_service.yaml
  bundle/manifests/agent-sandbox-operator-config_v1_configmap.yaml
  bundle/manifests/agent-sandbox.clusterserviceversion.yaml
  bundle/manifests/agents.x-k8s.io_sandboxes.yaml
  bundle/manifests/extensions.agents.x-k8s.io_sandboxclaims.yaml
  bundle/manifests/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  bundle/manifests/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  bundle/metadata/annotations.yaml
  config/manager/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

add a test to validate pause and resume feature
  test/e2e/pvc_persistence_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

address review comments from vincentefb
  go.mod
  go.sum
  test/e2e/framework/client.go
  test/e2e/framework/context.go
  test/e2e/framework/predicates/sandbox.go
  test/e2e/pvc_persistence_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test
