Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

docs(agent-sandbox-rl): shorten the FleetConfig.run_id comment
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): add Sandbox.status()
  clients/typescript/agentic-sandbox-client/README.md
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(agent-sandbox-rl): shorten comments added for shared run ids
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(agent-sandbox-rl): point the run_id comment at the right README section
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(sandboxd): use require.Len to satisfy testifylint
  packages/sandboxd/pkg/server/process_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(router): harden Kubernetes deployment identity
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/sandbox-router/deployment.yaml
  olm/config/sandbox-router/serviceaccount.yaml
  sandbox-router/README.md
  sandbox-router/deploy/README.md
  sandbox-router/deploy/deployment.yaml
  sandbox-router/deploy/examples/scoped-token-v2/README.md
  sandbox-router/deploy/examples/scoped-token-v2/deployment-patch.yaml
  sandbox-router/deploy/examples/scoped-token-v2/kustomization.yaml
  sandbox-router/deploy/kustomization.yaml
  sandbox-router/deploy/manifests_test.go
  sandbox-router/deploy/serviceaccount.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(router): fence cache resolution by sandbox UID
  sandbox-router/README.md
  sandbox-router/cache/authz_conformance_test.go
  sandbox-router/cache/cache.go
  sandbox-router/cache/cache_test.go
  sandbox-router/proxy/authz_test.go
  sandbox-router/proxy/headers.go
  sandbox-router/proxy/helpers_test.go
  sandbox-router/proxy/proxy.go
  sandbox-router/proxy/proxy_integration_test.go
  sandbox-router/proxy/resolve.go
  sandbox-router/proxy/resolve_bench_test.go
  sandbox-router/proxy/resolve_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add batch models, constants, and exceptions
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/exceptions.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): allow injecting a pre-configured ApiClient (#1069)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): do not close a caller-injected ApiClient
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): preserve async cleanup client state
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): keep injected async client attached
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: document Sandbox status conditions
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  extensions/controllers/sandboxclaim_controller.go
  site/content/docs/sandbox/conditions/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sandboxclaim): make warm-candidate grace period configurable
  cmd/agent-sandbox-controller/main.go
  docs/configuration.md
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/README.md
  helm/templates/_controller-args.tpl
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox): report PodTerminating on PodScheduled for terminating unscheduled pods
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: address review feedback on status conditions
  api/v1beta1/sandbox_types.go
  site/content/docs/sandbox/conditions/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox): address post-merge review on Sandbox lifecycle events
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: report missing SandboxTemplate errors in warm pools
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add SandboxClaim list/watch and batch Lease helpers
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(python-sdk): regenerate Python SDK reference for batch handles
  Makefile
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add I/O-free batch state core and validation helpers
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/batch_state.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/batch_utils.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_batch_state.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_batch_utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add SandboxBatch/AsyncSandboxBatch and get_batch
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_batch.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_batch.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandbox_batch.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox_batch.py
  test/e2e/clients/python/test_batch_e2e.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add claim_batch validation and create-failure members
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/batch_state.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/batch_utils.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_batch_utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add batch Lease, deletecollection, and precheck helpers
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): add claim_batch and release
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_batch.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_batch.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandbox_batch.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox_batch.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(python-sdk): add claim_batch e2e test
  test/e2e/clients/python/test_batch_e2e.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(python-sdk): regenerate Python SDK reference for claim_batch
  docs/python_sdk_reference.md
Due: none

feat(python-sdk): add batch creation constants and BatchExistsError
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/exceptions.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): mirror injected client's config for the sync atexit helper
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(python-sdk): warn that local-tunnel mode ignores injected api_client's context
  clients/python/agentic-sandbox-client/README.md
Due: none

docs(python-sdk): regenerate API reference, document api_client usage
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-sdk): allow injecting a pre-configured ApiClient (#1509)
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  docs/python_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(clients/ts): give the tunnel backpressure test a CI-sized timeout
  clients/typescript/agentic-sandbox-client/src/__tests__/tunnel.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): point kubectl tunnels at the api_client cluster
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_utils.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: document Sandbox status conditions (#1825)
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  extensions/controllers/sandboxclaim_controller.go
  site/content/docs/sandbox/conditions/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(agent-sandbox-rl): let a job's processes share one run id (#1813)
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_run_isolation.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples: add docker-sbx example
  examples/README.md
  examples/docker-sbx/Dockerfile
  examples/docker-sbx/README.md
  examples/docker-sbx/entrypoint.sh
  examples/docker-sbx/sandbox.yaml
  site/content/docs/use-cases/examples/docker-sbx/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(rl): address #1540 review round 1 — token-safe snapshot uid match, GKE minimum build, served-version test
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/snapshots.py
  examples/agent-sandbox-rl/tests/test_preflight.py
  examples/agent-sandbox-rl/tests/test_snapshots.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(rl): snapshot prerequisites must grant GKE's service agent storage.objectUser
  examples/agent-sandbox-rl/README.md
Due: none

feat(rl): GKE Pod Snapshot primitives — snapshot/suspend/resume/restore on fleet handles (opt-in)
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/__init__.py
  examples/agent-sandbox-rl/agent_sandbox_rl/async_fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/cluster.py
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
  examples/agent-sandbox-rl/agent_sandbox_rl/exceptions.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/agent_sandbox_rl/observability.py
  examples/agent-sandbox-rl/agent_sandbox_rl/preflight.py
  examples/agent-sandbox-rl/agent_sandbox_rl/snapshots.py
  examples/agent-sandbox-rl/examples/run_snapshot_demo.py
  examples/agent-sandbox-rl/tests/test_preflight.py
  examples/agent-sandbox-rl/tests/test_snapshots.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
