Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

Needed to delete file to change name to lower case.
  Roadmap.md
Due: none

deleted file
  Roadmap.md
Due: none

Added back Roadmap file.
  roadmap.md
Due: none

feat(langchain): support direct uploads and path policy hardening
  clients/python/langchain-agent-sandbox/langchain_agent_sandbox/backend.py
  clients/python/langchain-agent-sandbox/tests/test_backend.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(langchain): address policy guidance and example manifest comments
  clients/python/langchain-agent-sandbox/README.md
  examples/langchain-deepagents/README.md
  examples/langchain-deepagents/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(langchain): add LangChain DeepAgents backend adapter
  clients/python/langchain-agent-sandbox/README.md
  clients/python/langchain-agent-sandbox/langchain_agent_sandbox/__init__.py
  clients/python/langchain-agent-sandbox/langchain_agent_sandbox/backend.py
  clients/python/langchain-agent-sandbox/pyproject.toml
  clients/python/langchain-agent-sandbox/tests/test_backend.py
  clients/python/langchain-agent-sandbox/uv.lock
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(langchain): migrate to k8s-agent-sandbox package name
  clients/python/langchain-agent-sandbox/langchain_agent_sandbox/__init__.py
  clients/python/langchain-agent-sandbox/pyproject.toml
  clients/python/langchain-agent-sandbox/uv.lock
  examples/langchain-deepagents/pyproject.toml
  examples/langchain-deepagents/uv.lock
  test/e2e/clients/python/test_e2e_langchain_backend.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sandbox-client): harden reconnect and claim cleanup
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/test_sandbox_client_unit.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(sandbox-client): add claim_name, delete_on_exit, and reconnect support
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(backend): inherit SandboxBackendProtocol and fix _to_internal for root_dir=/
  clients/python/langchain-agent-sandbox/langchain_agent_sandbox/backend.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(examples): add LangChain DeepAgents example
  examples/README.md
  examples/langchain-deepagents/.deepagents/skills/data-analysis/SKILL.md
  examples/langchain-deepagents/.deepagents/skills/file-organizer/SKILL.md
  examples/langchain-deepagents/.deepagents/skills/python-script/SKILL.md
  examples/langchain-deepagents/README.md
  examples/langchain-deepagents/main.py
  examples/langchain-deepagents/pyproject.toml
  examples/langchain-deepagents/run-test-kind.sh
  examples/langchain-deepagents/sandbox-template.yaml
  examples/langchain-deepagents/uv.lock
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(langchain): add e2e tests for LangChain backend adapter
  test/e2e/README.md
  test/e2e/clients/python/test_e2e_langchain_backend.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(langchain): filter ./ and ../ entries in ls_info
  clients/python/langchain-agent-sandbox/langchain_agent_sandbox/backend.py
  clients/python/langchain-agent-sandbox/tests/test_backend.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(langchain): tighten policy resolution and upload timeout
  clients/python/langchain-agent-sandbox/README.md
  clients/python/langchain-agent-sandbox/langchain_agent_sandbox/backend.py
  clients/python/langchain-agent-sandbox/tests/test_backend.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update list and delete methods
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/test_podsnapshot_client.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix test errors.
  examples/python-runtime-sandbox/sandbox_kernel_manager.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(makefile): ensure consistent IMAGE_TAG across build/deploy steps
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: prevent tag mismatch by centralizing calculation
  dev/tools/deploy-to-kube
  dev/tools/push-images
  dev/tools/shared/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: update hardcoded image tag limitation
  dev/tools/shared/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add interactive mode for restore and restoring from a specific snapshot
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/trace_manager.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Enable Go race detector in test scripts and update dev docs
  dev/tools/test-e2e
  dev/tools/test-unit
  docs/development.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update Python SDK Readme
  clients/python/agentic-sandbox-client/README.md
Due: none

KEP for sandbox warmpool to create sandboxes
  docs/keps/127-1to1-sandbox-and-pod/README.md
  docs/keps/127-1to1-sandbox-and-pod/kep.yaml
Due: none

feat: add GitHub Actions workflow linters
  .github/workflows/ci.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add constants
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

PodSanpshotSandboxClient Class
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/test_podsnapshot_client.py
  clients/python/agentic-sandbox-client/python-counter-template.yaml
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add snapshot method
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/test_podsnapshot_client.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: use devops-actions/actionlint wrapper with proper permissions
  .github/workflows/ci.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update Import statements
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: remove pull-requests write permission for safety
  .github/workflows/ci.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor: centralize image tag logic and remove redundant arguments
  Makefile
  dev/tools/deploy-to-kube
  dev/tools/push-images
  dev/tools/shared/utils.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix data races detected by race detector in e2e tests
  test/e2e/chromesandbox_test.go
  test/e2e/framework/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Generate native k8s clients
  api/v1alpha1/doc.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/sandbox_types.go
  codegen.go
  dev/tools/client-gen-go.sh
  extensions/api/v1alpha1/doc.go
  extensions/api/v1alpha1/groupversion_info.go
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/sandboxtemplate_types.go
  extensions/api/v1alpha1/sandboxwarmpool_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: remove old commented TestReconcilePod block
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

api: export SandboxNameHashLabel constant
  api/v1alpha1/sandbox_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: fix formatting
  api/v1alpha1/sandbox_types.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Adds ProgressDeadlineSeconds to the Sandbox
  api/v1alpha1/sandbox_types.go
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Adds minimum progress deadline seconds of 0
  api/v1alpha1/sandbox_types.go
  controllers/sandbox_controller.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  test/e2e/shutdown_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Reverts Lifecycle to inline
  api/v1alpha1/sandbox_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
