Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

Address Janet's comments.
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  controllers/suspension_server.go
  controllers/suspension_server_test.go
  docs/auto_suspension.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: go-lint-fix.
  test/e2e/mode_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: add detailed conditions for auto suspension vs manual suspension.
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  controllers/suspension_server.go
  controllers/suspension_server_test.go
  docs/api.md
  docs/auto_suspension.md
  test/e2e/mode_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Rebase the router changes.
  controllers/suspension_server_test.go
  sandbox-router/cache/cache.go
  sandbox-router/config/config.go
  sandbox-router/proxy/resolve.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address comments around API naming.
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  controllers/suspension_server.go
  controllers/suspension_server_test.go
  docs/api.md
  docs/auto_suspension.md
  examples/hermes-agents-as-a-service/05-simple-sandbox-auto-suspension.yaml
  examples/hermes-agents-as-a-service/README.md
  examples/kata-gke-sandbox/sandbox-kata-auto-suspension.yaml
  examples/openclaw-gvisor-sandbox/README.md
  examples/openclaw-gvisor-sandbox/openclaw-sandbox-auto-suspension.yaml
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/templates/deployment.yaml
  k8s/auto-suspension.yaml
  k8s/controller.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/extensions.controller.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  olm/config/manager/manager.yaml
  olm/config/rbac/support.yaml
  sandbox-router/proxy/ext_proc.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(rl): submit all resource types as individual futures in teardown
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/tests/test_fleet.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore(sandbox-client): remove leftover internal review-note comment
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: replace console.* with an injectable Logger
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/trace-manager.test.ts
  clients/typescript/agentic-sandbox-client/src/files/filesystem.ts
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/logger.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
  clients/typescript/agentic-sandbox-client/src/trace-manager.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(api): mirror backing pod's PodScheduled condition into Sandbox status
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  test/e2e/basic_test.go
  test/e2e/framework/predicates/sandbox.go
  test/e2e/mode_test.go
  test/e2e/shutdown_test.go
  test/e2e/volumeclaimtemplate_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples(envd-sandbox): run user code as non-root via defaultUser
  examples/envd-sandbox/Dockerfile
  examples/envd-sandbox/README.md
  examples/envd-sandbox/test_client.go
  examples/envd-sandbox/test_client.py
  examples/envd-sandbox/test_client.sh
  examples/envd-sandbox/test_client.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(helm): clarify warm-pool grace/recheck values are unset by default
  helm/README.md
Due: none

feat(warmpool): configurable readiness grace period and unschedulable re-check interval
  cmd/agent-sandbox-controller/main.go
  docs/configuration.md
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
  helm/README.md
  helm/templates/_controller-args.tpl
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

review: positive-duration flag wording; pin warm-pool flag defaults
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add NeMo Gym sandbox provider integration (agent_sandbox)
  clients/integrations/nemo-gym/README.md
  clients/integrations/nemo-gym/configs/agent_sandbox.yaml
  clients/integrations/nemo-gym/nemo_gym_k8s_agent_sandbox/__init__.py
  clients/integrations/nemo-gym/nemo_gym_k8s_agent_sandbox/provider.py
  clients/integrations/nemo-gym/pyproject.toml
  clients/integrations/nemo-gym/tests/unit/test_provider.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(sandboxwarmpool): add Available status condition and observedGeneration
  docs/api.md
  extensions/api/v1beta1/sandboxwarmpool_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  test/e2e/extensions/warmpool_status_condition_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(helm): merge ServiceMonitor labels to avoid duplicate keys
  helm/templates/servicemonitor.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(helm): add support for image pull secrets
  helm/README.md
  helm/templates/deployment.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: use positive-duration wording for warm-pool flags
  docs/configuration.md
Due: none

Address further comments.
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  controllers/suspension_server.go
  controllers/suspension_server_test.go
  docs/auto_suspension.md
  examples/kata-gke-sandbox/README.md
  examples/openclaw-gvisor-sandbox/README.md
  examples/openclaw-gvisor-sandbox/openclaw-sandbox-auto-suspension.yaml
  helm/templates/networkpolicy-controller.yaml
  k8s/auto-suspension.yaml
  k8s/controller.yaml
  sandbox-router/cache/cache.go
  sandbox-router/proxy/ext_proc.go
  sandbox-router/proxy/resolve.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: lint.
  controllers/sandbox_controller.go
  controllers/suspension_server_test.go
  olm/config/rbac/support.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

helm: set service.name and reference it in metrics
  helm/README.md
  helm/templates/_helpers.tpl
  helm/templates/prometheusrule.yaml
  helm/templates/service.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Apply suggestions from code review
  helm/README.md
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

add OWNERS file in olm/
  olm/OWNERS
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add ConfigMap-based controller config override package
  internal/config/config.go
  internal/config/config_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(helm): add ConfigMap template with auto-rollout on change
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: wire ConfigMap overrides into controller startup
  cmd/agent-sandbox-controller/main.go
  k8s/controller.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: watch ConfigMap via API and restart on change
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/manageroptions.go
  helm/templates/role.yaml
  internal/config/watcher.go
  internal/config/watcher_test.go
  k8s/controller.yaml
  olm/config/rbac/support.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

olm: re-generate bundle
  olm/bundle/manifests/agent-sandbox-config_v1_configmap.yaml
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(olm): ship empty ConfigMap in bundle and document config in CSV
  olm/config/manager/configmap.yaml
  olm/config/manager/kustomization.yaml
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

apply lint feedbacks and gofmt
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/manageroptions.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/watcher.go
  internal/config/watcher_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

apply coderabbit feedback
  cmd/agent-sandbox-controller/main.go
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/values.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/config/watcher.go
  internal/config/watcher_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: add website pages for 18 examples missing site entries
  site/content/docs/use-cases/examples/agent-sandbox-rl/_index.md
  site/content/docs/use-cases/examples/apf-insulation/_index.md
  site/content/docs/use-cases/examples/containarium-ssh-sandbox/_index.md
  site/content/docs/use-cases/examples/demo-cilium-egress/_index.md
  site/content/docs/use-cases/examples/gke-swap/_index.md
  site/content/docs/use-cases/examples/hermes-agent/_index.md
  site/content/docs/use-cases/examples/hpa-swp-scaling/_index.md
  site/content/docs/use-cases/examples/irsa-simulation-localstack/_index.md
  site/content/docs/use-cases/examples/kata-aks/_index.md
  site/content/docs/use-cases/examples/keda-scale-to-zero/_index.md
  site/content/docs/use-cases/examples/kueue-agent-sandbox/_index.md
  site/content/docs/use-cases/examples/latebind-storage-gke-sandbox/_index.md
  site/content/docs/use-cases/examples/mcp-server-sandbox/_index.md
  site/content/docs/use-cases/examples/nono-sandbox/_index.md
  site/content/docs/use-cases/examples/quickstart/_index.md
  site/content/docs/use-cases/examples/ray-integration/_index.md
  site/content/docs/use-cases/examples/sandboxed-tools/_index.md
  site/content/docs/use-cases/examples/warmpool-quickstart/_index.md
Due: none

examples(pi-code-agent): add Pi coding agent sandbox example
  examples/pi-code-agent/Dockerfile
  examples/pi-code-agent/README.md
  examples/pi-code-agent/run-test-kind.sh
  examples/pi-code-agent/sandbox.yaml
  site/content/docs/use-cases/examples/pi-code-agent/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: repair invalid first-observed-at and harden VCT against e2e races
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  test/e2e/volumeclaimtemplate_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address bot review feedback on NeMo Gym provider
  clients/integrations/nemo-gym/nemo_gym_k8s_agent_sandbox/provider.py
  clients/integrations/nemo-gym/pyproject.toml
  clients/integrations/nemo-gym/tests/unit/test_provider.py
  dev/tools/test-unit
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(rl): sweep claims before deleting warmpools and templates during teardown
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/tests/test_fleet.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(rl): address PR review comments for deep merge and teardown concurrency
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_resources.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: remove trailing space in .gitignore for TypeScript client dist
  .gitignore
Due: none

test(benchmarks): extend kops cluster validation timeout to 15m
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: add NeMo Gym integration page to the site
  site/content/docs/use-cases/examples/nemo-gym/_index.md
  site/hugo.yaml
Due: presubmit-test-autogen-up-to-date

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
