Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

Remove pod name annotation usage in controllers and tests
  controllers/sandbox_controller_test.go
  controllers/writebehind_coalesce_test.go
  examples/sandboxed-tools/main.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  internal/metrics/sandbox_collector_test.go
  test/e2e/extensions/pythonruntime_test.go
  test/e2e/extensions/warmpool_sandbox_watcher_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Clean up redundant pod name tests in Go and Python SDKs
  clients/go/sandbox/sandbox_test.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandbox.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update quickstart guides to wait on SandboxClaim and resolve adopted Sandbox
  examples/quickstart/README.md
  examples/quickstart/gvisor.md
  examples/quickstart/kata-containers.md
Due: none

Remove POD_NAME_ANNOTATION from Python SDK and RL examples
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Remove redundant TestOpen_PodNameMatchesSandboxName in Go SDK
  clients/go/sandbox/sandbox_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update docs, scripts, and examples to remove pod-name annotation lookups
  docs/security/threat_model.md
  examples/agent-sandbox-rl/docs/design.md
  examples/aider-sandbox/README.md
  examples/hermes-agents-as-a-service/README.md
  examples/hermes-agents-as-a-service/run-test-kind.sh
  examples/openclaw-gvisor-sandbox/README.md
  examples/openclaw-gvisor-sandbox/run-test-kind.sh
  examples/quickstart/README.md
  examples/quickstart/gvisor.md
  examples/quickstart/kata-containers.md
  internal/rawpatch/rawpatch_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Remove unused get_sandbox mock in test_sandboxclient
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix e2e test imports and format test files
  controllers/writebehind_coalesce_test.go
  internal/rawpatch/rawpatch_test.go
  test/e2e/extensions/pythonruntime_test.go
  test/e2e/extensions/warmpool_sandbox_watcher_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update get_pod_name docstrings in Python SDK
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

revert clearPodNameAnnotation and annotation pod name lookup deletions for backwards compatibility
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

update generated go docs
  docs/go_sdk_reference.md
Due: none

revert podname annotation deletions to support backwards compatability
  api/v1alpha1/sandbox_types.go
  api/v1beta1/sandbox_types.go
  clients/go/sandbox/k8s.go
  clients/go/sandbox/sandbox_test.go
  clients/go/sandbox/types.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix comment typo
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

add podname annotation write regression guard
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

adjust comments
  clients/go/sandbox/types.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox): update TestReconcilePod cases for #1423 claim UID label
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

revert unnecessary deletions
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

regenerate docs
  docs/go_sdk_reference.md
Due: none

lint files, fix typo, and adjust sandbox controller test verifications for new behavior
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
  controllers/sandbox_controller_test.go
  examples/quickstart/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

adjust comments for clarity, modify testcase to test new podname annotation behavior
  api/v1alpha1/sandbox_types.go
  api/v1beta1/sandbox_types.go
  clients/go/sandbox/types.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

revert Deprecation prefix podnameannotation var name change
  api/v1alpha1/sandbox_types.go
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

remove random added line
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: honor empty legacy pod-name annotation as unset in SDKs
  clients/go/sandbox/k8s.go
  clients/go/sandbox/sandbox_test.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add aditya-shantanu to sandbox-router OWNERS and add packages OWNERS
  packages/OWNERS
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

AGENTS.md: refine the unit-test guideline
  AGENTS.md
Due: none

examples/sandboxed-tools: add fake 'eliza' LLM for testing
  examples/sandboxed-tools/README.md
  examples/sandboxed-tools/main.go
  examples/sandboxed-tools/pkg/llm/fake.go
  examples/sandboxed-tools/pkg/llm/fake_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

AGENTS.md: describe how to structure PRs and commits
  AGENTS.md
Due: none

add template column to warm sandbox
  extensions/api/v1beta1/sandboxwarmpool_types.go
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(controller): add --watch-namespaces flag for namespace-scoped RBAC
  cmd/agent-sandbox-controller/cacheoptions.go
  cmd/agent-sandbox-controller/cacheoptions_test.go
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refactor(burst): simplify latency zones to green/grey/cold
  test/e2e/extensions/README.md
  test/e2e/extensions/runtime_class_burst_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Sharpen AI review instructions: front-load, drop marginal findings
  .coderabbit.yaml
  .github/copilot-instructions.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test-unit: run Go unit tests in nested modules
  dev/tools/test-unit
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(helm): disable commit signing in scratch git repos
  dev/tools/verify_chart_version_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci(helm): address review comments
  .github/workflows/ci.yml
  dev/tools/verify-chart-version
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci(helm): fall back to local base branch tip
  dev/tools/verify-chart-version
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci(helm): scope the chart version check to its own workflow
  .github/workflows/chart-version.yml
  .github/workflows/ci.yml
  dev/tools/verify-chart-version
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: wrap provider_options validation errors in AgentSandboxCreateError
  clients/integrations/nemo-gym/nemo_gym_k8s_agent_sandbox/provider.py
  clients/integrations/nemo-gym/tests/unit/test_provider.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Move OWNERS under packages/sandboxd for finer granularity
  packages/sandboxd/OWNERS
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(ci): declare kubeadm v1beta4 apiVersion in create-kind-cluster
  dev/tools/create-kind-cluster
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

SDK(sandboxd examples): address review feedback (quoting, output formatting, resources, doc path)
  examples/sandboxd-sandbox/client/README.md
  examples/sandboxd-sandbox/client/main.go
  examples/sandboxd-sandbox/deploy/README.md
  examples/sandboxd-sandbox/deploy/a-runtime-image.yaml
  examples/sandboxd-sandbox/deploy/b-inject-binary.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
