Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

Update SDK for podsnapshot
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/snapshot_engine.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: update README to include API Behavior Reference section
  README.md
  docs/Api behavior.md
Due: none

Update ReadMe
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/README.md
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore : modified api behavior file name
  docs/api-behavior.md
Due: none

Get pod name annotation
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/snapshot_engine.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: added comments in sandbox_types.go file and removed the api-behavior file
  README.md
  api/v1alpha1/sandbox_types.go
  docs/api-behavior.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

address Copilot comments
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: adopt safe-to-evict=on-completion for claimed sandbox pods
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix rebase conflicts
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

make safe-to-evict annotation configurable in SandboxClaim
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

use string instead of bool for safeToEvict in CRD
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update readme
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/snapshot_engine.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

metrics: add claimed label to agent_sandboxes metric
  internal/metrics/metrics.go
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

squash commits, only add helm charts
  codegen.go
  helm/Chart.yaml
  helm/README.md
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  helm/templates/_controller-args.tpl
  helm/templates/_helpers.tpl
  helm/templates/clusterrolebinding-extensions.yaml
  helm/templates/clusterrolebinding.yaml
  helm/templates/deployment.yaml
  helm/templates/extensions-rbac.generated.yaml
  helm/templates/namespace.yaml
  helm/templates/rbac.generated.yaml
  helm/templates/service.yaml
  helm/templates/serviceaccount.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

codegen to pickup the latest go type
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  helm/templates/extensions-rbac.generated.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

metrics: add agent_sandbox_claims metric for claim states
  cmd/agent-sandbox-controller/main.go
  internal/metrics/metrics.go
  internal/metrics/sandboxclaim_collector.go
  internal/metrics/sandboxclaim_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: implement warm pool eviction using cluster-autoscaler annotation with global and per-pool overrides
  cmd/agent-sandbox-controller/main.go
  extensions/api/v1alpha1/sandboxwarmpool_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

add moficodes to docsite approver
  site/OWNERS
Due: presubmit-test-autogen-up-to-date

docs: fix e2e benchmark test command
  docs/testing.md
Due: none

address copilot suggestions
  config.yaml
  docs/api.md
  docs/crd-ref-docs.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address comments
  .github/workflows/release.yml
  dev/tools/auto-tag
  dev/tools/generate-release-notes
  dev/tools/tag-promote-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address comments by co-pilot
  examples/hpa-swp-scaling/README.md
  examples/hpa-swp-scaling/create-claim.py
  examples/hpa-swp-scaling/hpa.yaml
  examples/hpa-swp-scaling/sandboxwarmpool.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor: flatten connector nesting and include port discovery in latency metric
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: add metrics usage examples to README
  clients/python/agentic-sandbox-client/README.md
Due: none

chore: address review comments
  examples/policy/kyverno/.chainsaw-tests/bad-clusterrolebinding-sa-group-all.yaml
  examples/policy/kyverno/.chainsaw-tests/bad-rolebinding-sa-group-ns.yaml
  examples/policy/kyverno/.chainsaw-tests/chainsaw-test.yaml
  examples/policy/kyverno/.chainsaw-tests/no-subjects-rolebinding.yaml
  examples/policy/kyverno/README.md
  examples/policy/kyverno/prevent-sandbox-sa-binding.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: restrict pod's filtering
  examples/policy/kyverno/README.md
  examples/policy/kyverno/prevent-sandbox-sa-binding.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

resolve copilot comments
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

make analytics-tool a proper section under guides (#633)
  site/content/docs/guides/analytics-tool/overview.md
Due: none

feat: add workspace resource overrides to sandbox claims
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

operator-sdk: add the operator-sdk generated configs
  operator-sdk/.gitignore
  operator-sdk/Dockerfile
  operator-sdk/Makefile
  operator-sdk/PROJECT
  operator-sdk/README.md
  operator-sdk/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  operator-sdk/config/crd/bases/extensions.agents.x-k8s.io_sandboxclaims.yaml
  operator-sdk/config/crd/bases/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  operator-sdk/config/crd/bases/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  operator-sdk/config/crd/kustomization.yaml
  operator-sdk/config/default/kustomization.yaml
  operator-sdk/config/manager/kustomization.yaml
  operator-sdk/config/manager/manager.yaml
  operator-sdk/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  operator-sdk/config/manifests/kustomization.yaml
  operator-sdk/config/network-policy/allow-metrics-traffic.yaml
  operator-sdk/config/network-policy/kustomization.yaml
  operator-sdk/config/prometheus/kustomization.yaml
  operator-sdk/config/prometheus/monitor.yaml
  operator-sdk/config/rbac/kustomization.yaml
  operator-sdk/config/rbac/role.yaml
  operator-sdk/config/rbac/role_binding.yaml
  operator-sdk/config/rbac/service_account.yaml
  operator-sdk/config/samples/agents_v1alpha1_sandbox.yaml
  operator-sdk/config/samples/kustomization.yaml
  operator-sdk/config/scorecard/bases/config.yaml
  operator-sdk/config/scorecard/kustomization.yaml
  operator-sdk/config/scorecard/patches/basic.config.yaml
  operator-sdk/config/scorecard/patches/olm.config.yaml
  operator-sdk/watches.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator-sdk: add snippet to sync with helm/
  operator-sdk/Makefile
  operator-sdk/README.md
  operator-sdk/hack/sync-helm-assets.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator-sdk: add extensions flag into the bundle
  operator-sdk/Makefile
  operator-sdk/config/manifests-extensions/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator-sdk: add bundle folder
  operator-sdk/bundle.Dockerfile
  operator-sdk/bundle/manifests/agent-sandbox-operator-controller-manager-metrics-service_v1_service.yaml
  operator-sdk/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  operator-sdk/bundle/manifests/agents.x-k8s.io_sandboxes.yaml
  operator-sdk/bundle/manifests/extensions.agents.x-k8s.io_sandboxclaims.yaml
  operator-sdk/bundle/manifests/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  operator-sdk/bundle/manifests/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  operator-sdk/bundle/metadata/annotations.yaml
  operator-sdk/bundle/tests/scorecard/config.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

metrics: fix formatting in sandboxclaim_collector_test.go
  internal/metrics/sandboxclaim_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

metrics: address Copilot comments on SandboxClaim metric
  internal/metrics/metrics.go
  internal/metrics/sandboxclaim_collector.go
  internal/metrics/sandboxclaim_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

metrics: replace claimed label with owned_by on agent_sandboxes metric
  internal/metrics/metrics.go
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

metrics: address Copilot comments on PR 711
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

metrics: fix linter issues on PR 711
  internal/metrics/metrics.go
  internal/metrics/sandbox_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Added PR template
  .github/pull_request_template.md
Due: none

Add a KEP to discuss the status field of Sandbox.
  api/v1alpha1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/keps/119-sandbox-state/README.md
  docs/keps/119-sandbox-state/kep.yaml
  test/e2e/basic_test.go
  test/e2e/replicas_test.go
  test/e2e/shutdown_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test
