Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

test: fix watch hang on clean close; scope router YAML substitution
  test/e2e/clients/typescript/framework/context.ts
  test/e2e/clients/typescript/test-e2e-typescript-sdk.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: secure Node.js tarball download
  dev/tools/shared/node.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: honor kubeconfig for TypeScript e2e initial GET
  test/e2e/clients/typescript/framework/context.ts
  test/e2e/clients/typescript/framework/predicates.ts
  test/e2e/clients/typescript/package-lock.json
  test/e2e/clients/typescript/package.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: block HTTP redirects in TypeScript client to prevent SSRF
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/constants.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: add typecheck npm script
  clients/typescript/agentic-sandbox-client/package.json
  clients/typescript/agentic-sandbox-client/tsconfig.test.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: add initial GET before watch in e2e waitForObject
  test/e2e/clients/typescript/framework/context.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: update dependencies in package-lock.json
  clients/typescript/agentic-sandbox-client/package-lock.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: redact command args from OTel spans in TypeScript client
  clients/typescript/agentic-sandbox-client/src/__tests__/command-executor.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/computer-use.test.ts
  clients/typescript/agentic-sandbox-client/src/commands/command-executor.ts
  clients/typescript/agentic-sandbox-client/src/extensions/computer-use.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: send X-Sandbox-Timeout header in TypeScript client request()
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: mark agentic-sandbox-client as private in package.json
  clients/typescript/agentic-sandbox-client/package.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

address comments on python density harness
  examples/gke-swap/python-density/run_pythonsandbox_density_test.sh
  test/e2e/extensions/pythonsandbox_density_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

addressed latest coderabbit comment
  test/e2e/extensions/pythonsandbox_density_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

extract shared density helpers, separate logging parser, and other misc comments
  examples/gke-swap/python-density/README.md
  examples/gke-swap/python-density/parse_telemetry.py
  examples/gke-swap/python-density/run_pythonsandbox_density_test.sh
  test/e2e/extensions/chromesandbox_density_test.go
  test/e2e/extensions/density_helpers_test.go
  test/e2e/extensions/pythonsandbox_density_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refine telemetry parser error handling and enforce dataset prestaging validation
  examples/gke-swap/python-density/README.md
  examples/gke-swap/python-density/parse_telemetry.py
  examples/gke-swap/python-density/run_pythonsandbox_density_test.sh
  test/e2e/extensions/density_helpers_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test(e2e): allow router access in TypeScript SDK sandbox template
  test/e2e/clients/typescript/test-manifests/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python): do not replay POST requests after a server error
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feature: add management api to sandbox router
  sandbox-router/cmd/main.go
  sandbox-router/config/config.go
  sandbox-router/config/flags.go
  sandbox-router/management/client.go
  sandbox-router/management/client_test.go
  sandbox-router/management/doc.md
  sandbox-router/management/handler.go
  sandbox-router/management/handler_test.go
  sandbox-router/management/models.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: delete TTL claims with existing lifecycle
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: clarify claim TTL initialization semantics
  docs/api.md
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxclaim_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(helm): add opt-in Prometheus monitoring resources
  helm/README.md
  helm/templates/prometheusrule.yaml
  helm/templates/servicemonitor.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add loading of images with extra tags to kind load docker-image
  dev/tools/push-images
  dev/tools/push_images_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Use cluster_name fucntion parameter instead of args. Fix typo in test case comment
  dev/tools/push-images
  dev/tools/push_images_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf-test: extract metrics scraper and add pass/fail validation
  dev/ci/presubmits/shared/scrape_controller_metrics.py
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address follow-up review comments on latest commit
  site/content/docs/performance-assessment/_index.md
Due: none

docs: add performance tuning guide for high-throughput deployments
  docs/configuration.md
  docs/performance-tuning.md
Due: none

perf(sandbox): opt-in coalescing of recoverable metadata writes via RequeueAfter deferral
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  controllers/writebehind_coalesce_test.go
  controllers/writebehind_requeue.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(rebase): pass nil writeDeferral in upstream-added test call to reconcileChildResources
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(perf-tuning): incorporate GKE live benchmark results
  docs/performance-tuning.md
Due: none

initial commit
  clients/integrations/mcp-server/README.md
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/server.py
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/tools/__init__.py
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/tools/get_sandbox_status.py
  clients/integrations/mcp-server/tests/unit/test_tools/test_get_sandbox_status.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: pin biome.json schema to installed biome version
  clients/typescript/agentic-sandbox-client/biome.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(perf-tuning): correct benchmark data, confirm sustained config optimal
  docs/performance-tuning.md
Due: none

fix: relax otlp-grpc exporter peer dependency range
  clients/typescript/agentic-sandbox-client/package-lock.json
  clients/typescript/agentic-sandbox-client/package.json
  test/e2e/clients/typescript/package-lock.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

raise CancelledError - copilot comment
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/tools/get_sandbox_status.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf-test: addressing coderabbit review
  dev/ci/presubmits/shared/scrape_controller_metrics.py
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: stamp sandbox first-observed time before child reconcile
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: alert on controller up metric absent
  helm/templates/prometheusrule.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf-test: calibrate default scale tier to 50 QPS and 500 claims for 7-CPU runners
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf-test: scale default tier to 100 QPS and 1000 claims
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf-test: set default scale tier to 75 QPS and 750 claims
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf-test: set default scale tier to 100 QPS with 50 workers
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
