Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

tests: switch wait from polling to watch for more accurate timings
  test/e2e/framework/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: switch wait from polling to watch for more accurate timings
  test/e2e/framework/client.go
  test/e2e/framework/context.go
  test/e2e/shutdown_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: capture per-test logs into artifacts
  test/e2e/framework/context.go
  test/e2e/framework/logs.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

WIP: gather logs in artifats
  dev/tools/create-kind-cluster
  dev/tools/test-e2e
  test/e2e/chromesandbox_test.go
  test/e2e/framework/client.go
  test/e2e/framework/context.go
  test/e2e/framework/logs.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

WIP: watchset
  test/e2e/chromesandbox_test.go
  test/e2e/extensions/pythonruntime_test.go
  test/e2e/framework/client.go
  test/e2e/framework/context.go
  test/e2e/framework/predicates/conditions.go
  test/e2e/framework/predicates/metadata.go
  test/e2e/framework/predicates/predicates.go
  test/e2e/framework/predicates/sandbox.go
  test/e2e/framework/watchset.go
  test/e2e/replicas_test.go
  test/e2e/shutdown_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

versionbump: update go version to 1.25.7
  Dockerfile
  dev/tools/go.mod
  examples/chrome-sandbox/Dockerfile
  examples/chrome-sandbox/go.mod
  go.mod
  site/go.mod
  tools.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: add periodic to update prow configuration
  dev/ci/periodics/update-prow-configuration
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Implementrun_stateful method.
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/test_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Implement execute_command_stateful method.
  examples/python-runtime-sandbox/Dockerfile
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/requirements.in
  examples/python-runtime-sandbox/requirements.txt
  examples/python-runtime-sandbox/tester.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix run_stateful method by removing the comment.
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix test names.
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/tester.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Change the endpoint name.
  examples/python-runtime-sandbox/main.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add pre-flight check to avoid overwriting releases by accident
  dev/tools/tag-promote-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update python version and decouple completely
  .github/workflows/pypi-publish.yml
  Makefile
  clients/python/agentic-sandbox-client/pyproject.toml
  dev/tools/release-python
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update prefix
  .github/workflows/pypi-publish.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix comments.
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/tester.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add unit tests and address comments
  clients/python/agentic-sandbox-client/agentic_sandbox/constants.py
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/test_podsnapshot_extension.py
  clients/python/agentic-sandbox-client/test_podsnapshot_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update test
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/test_podsnapshot_client.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

enable leader elect, add LeaderElectionNamespace and LeaderElectionID
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: add node_modules/
  .gitignore
Due: none

feat(clients/ts): initialize TypeScript client with config and types
  clients/typescript/agentic-sandbox-client/package-lock.json
  clients/typescript/agentic-sandbox-client/package.json
  clients/typescript/agentic-sandbox-client/src/constants.ts
  clients/typescript/agentic-sandbox-client/src/types.ts
  clients/typescript/agentic-sandbox-client/tsconfig.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): implement core `SandboxClient` and tracing manager
  clients/typescript/agentic-sandbox-client/src/index.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/trace-manager.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts): add ComputerUse extension for agentic tasks
  clients/typescript/agentic-sandbox-client/src/extensions/computer-use.ts
  clients/typescript/agentic-sandbox-client/src/extensions/index.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(e2e/ts): add end-to-end tests for typescript sdk
  dev/tools/test-e2e
  test/e2e/clients/typescript/framework/context.ts
  test/e2e/clients/typescript/framework/predicates.ts
  test/e2e/clients/typescript/package-lock.json
  test/e2e/clients/typescript/package.json
  test/e2e/clients/typescript/test-e2e-typescript-sdk.test.ts
  test/e2e/clients/typescript/test-manifests/sandbox-template.yaml
  test/e2e/clients/typescript/test-manifests/sandbox-warmpool.yaml
  test/e2e/clients/typescript/tsconfig.json
  test/e2e/clients/typescript/vitest.config.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Feature: Support Sandbox Pause/Resume capabilities, on pause pod will be terminated and resumed pod will be recreated
  .claude/settings.local.json
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/test_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Feature: Support Sandbox Pause/Resume capabilities, on pause pod will be terminated and resumed pod will be recreated
  .claude/settings.local.json
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(clients/ts): add unit tests and configure vitest for sdk
  clients/typescript/agentic-sandbox-client/package-lock.json
  clients/typescript/agentic-sandbox-client/package.json
  clients/typescript/agentic-sandbox-client/src/__tests__/computer-use.test.ts
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/vitest.config.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor(test/e2e): improve path handling and update lockfiles
  clients/typescript/agentic-sandbox-client/package-lock.json
  test/e2e/clients/typescript/framework/context.ts
  test/e2e/clients/typescript/package-lock.json
  test/e2e/clients/typescript/test-e2e-typescript-sdk.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor(clients/ts): improve error handling, logging, and otel integration
  clients/typescript/agentic-sandbox-client/package-lock.json
  clients/typescript/agentic-sandbox-client/package.json
  clients/typescript/agentic-sandbox-client/src/extensions/computer-use.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
  clients/typescript/agentic-sandbox-client/src/trace-manager.ts
  dev/tools/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: Correct KRO helm chart location
  dev/tools/install-kro
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: Added missing examples to README
  examples/README.md
Due: none

Updates deploy-to-kube script to give the options of deploying the controller with extensions installed
  dev/tools/deploy-to-kube
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Updates the Makefile to use the new flag
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Uses metadata name to identify controller instead of file name
  dev/tools/deploy-to-kube
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

.
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
