Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

perf-test: set default scale tier to 75 QPS and 750 claims
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: document controller worker tunables in scalability test header
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update clean up in sweep runner and add new data in readme
  examples/gke-swap/python-density/README.md
  examples/gke-swap/python-density/run_pythonsandbox_density_test.sh
  test/e2e/extensions/pythonsandbox_density_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

address comments
  examples/gke-swap/python-density/README.md
  test/e2e/extensions/pythonsandbox_density_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refactor: move extensions/examples content into examples/
  AGENTS.md
  README.md
  examples/README.md
  examples/kata-aks/README.md
  examples/kata-aks/agent/Dockerfile
  examples/kata-aks/agent/agent.py
  examples/kata-aks/agent/requirements.txt
  examples/kata-aks/client/main.go
  examples/kata-aks/router.yaml
  examples/kata-aks/sandboxclaim.yaml
  examples/kata-aks/sandboxtemplate.yaml
  examples/kata-aks/sandboxwarmpool.yaml
  examples/quickstart/README.md
  examples/warmpool-quickstart/README.md
  examples/warmpool-quickstart/llm.yaml
  examples/warmpool-quickstart/sandbox-claim.yaml
  examples/warmpool-quickstart/sandboxtemplate.yaml
  examples/warmpool-quickstart/sandboxwarmpool.yaml
  examples/warmpool-quickstart/secure-sandboxtemplate.yaml
  extensions/examples/OWNERS
  extensions/examples/README.md
  site/data/link_replacements.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address CodeRabbit review comments on moved examples
  examples/kata-aks/router.yaml
  examples/warmpool-quickstart/llm.yaml
  examples/warmpool-quickstart/sandbox-claim.yaml
  examples/warmpool-quickstart/sandboxtemplate.yaml
  examples/warmpool-quickstart/sandboxwarmpool.yaml
  site/data/link_replacements.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

owners: add aditya-shantanu and shruti6991 to extensions/controllers/OWNERS
  extensions/controllers/OWNERS
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(rl): address PR review comments for container merge and unwarm replica release
  examples/agent-sandbox-rl/agent_sandbox_rl/async_fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_fleet.py
  examples/agent-sandbox-rl/tests/test_resources.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf-test: improve cleanup trap and failure reporting order
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: escape dots in warmpool-quickstart link replacement regex
  site/data/link_replacements.yaml
Due: presubmit-test-autogen-up-to-date

fix: correct relative link depth in kata-aks/README.md after directory move
  examples/kata-aks/README.md
Due: none

perf-test: anchor metric regex to start of line to prevent comment false matches
  dev/ci/presubmits/shared/scrape_controller_metrics.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf-test: match whole le label with word boundary and add unit tests
  dev/ci/presubmits/shared/scrape_controller_metrics.py
  dev/ci/presubmits/shared/test_scrape_controller_metrics.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: add dev-ci-presubmits-shared to PYTHON_TEST_SUITES in test-unit runner
  dev/ci/presubmits/shared/test_scrape_controller_metrics.py
  dev/tools/test-unit
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

sandboxd sdk: fix CI failures from the sdk modification to use sandboxd
  clients/go/sandbox/testmain_test.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_command_executor.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
  examples/sandboxd-sandbox/sandbox-template.yaml
  test/e2e/extensions/sandboxd_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox): clear timeout timer in close() cleanup races
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sandbox-client): reuse raceWithTimeout for orphaned claim rollback
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: regenerate SDK reference for sandboxd runtime APIs
  docs/go_sdk_reference.md
  docs/python_sdk_reference.md
Due: none

sandboxd sdk: address review + fix license headers on generated _proto packages
  clients/go/sandbox/files.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/__init__.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/__init__.py
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandboxd sdk: address CodeRabbit review (error wrap, staleness fixes, vendored stubs, docs)
  clients/go/sandbox/commands.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/process_pb2.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/process_pb2.pyi
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/process_pb2_grpc.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/files/filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_filesystem.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxd.py
  clients/python/agentic-sandbox-client/pyproject.toml
  docs/go_sdk_reference.md
  examples/sandboxd-sandbox/sandbox-template.yaml
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/spec/buf.gen.python.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

kep: finalize the KEP-1348 startup observability draft
  docs/keps/1348-observe-sandboxclaim-startup-from-status/README.md
  docs/keps/1348-observe-sandboxclaim-startup-from-status/kep.yaml
Due: none

kep: drop the pre-numbered KEP directory moved into 1348-observe-sandboxclaim-startup-from-status
  docs/keps/NNNN-observe-sandboxclaim-startup-from-status/README.md
  docs/keps/NNNN-observe-sandboxclaim-startup-from-status/kep.yaml
Due: none

docs(perf-tuning): add --sandbox-write-behind-window from merged #1252
  docs/performance-tuning.md
Due: none

docs(perf-tuning): mark worker counts and cache-label-selectors as estimated
  docs/performance-tuning.md
Due: none

SDK(sandboxd): resolve bot comments
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

owners: remove extensions/OWNERS (covered by extensions/controllers/OWNERS)
  extensions/OWNERS
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(perf-tuning): validate worker counts and cache-label-selectors with dedicated benchmark
  docs/performance-tuning.md
Due: none

docs(perf-tuning): remove cluster name from benchmark section, keep findings only
  docs/performance-tuning.md
Due: none

feat(controller): add auto-suspension reconciler and idle timeout support
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/agent-sandbox-controller/main.go
  controllers/auto_suspension_controller.go
  controllers/auto_suspension_controller_test.go
  go.mod
  go.sum
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/controller.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/extensions.controller.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

review: Address coderabbit, nitfridman and aditya's comments.
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/agent-sandbox-controller/main.go
  controllers/auto_suspension_controller.go
  controllers/auto_suspension_controller_test.go
  dev/tools/deploy-to-kube
  dev/tools/release
  docs/auto_suspension.md
  examples/openclaw-gvisor-sandbox/README.md
  examples/openclaw-gvisor-sandbox/openclaw-sandbox-auto-suspension.yaml
  helm/README.md
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/templates/_controller-args.tpl
  helm/templates/networkpolicy-suspension.yaml
  helm/values.yaml
  k8s/auto-suspension.yaml
  k8s/controller.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/extensions.controller.yaml
  sandbox-router/cache/cache.go
  sandbox-router/cmd/main.go
  sandbox-router/config/config.go
  sandbox-router/config/flags.go
  sandbox-router/proxy/ext_proc.go
  sandbox-router/proxy/resolve.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: add auto-suspension user guide and OpenClaw idle-resume example
  README.md
  docs/auto_suspension.md
  examples/openclaw-gvisor-sandbox/README.md
  examples/openclaw-gvisor-sandbox/openclaw-sandbox-auto-suspension.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Adress coderabbit comments.
  controllers/auto_suspension_controller.go
  docs/auto_suspension.md
  examples/openclaw-gvisor-sandbox/README.md
  sandbox-router/proxy/ext_proc.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

build(tools): add auto-suspension overlay support to deploy-kind, release, and helm
  Makefile
  dev/tools/create-kind-cluster
  dev/tools/deploy-to-kube
  dev/tools/push-images
  dev/tools/release
  helm/README.md
  helm/templates/_controller-args.tpl
  helm/templates/deployment.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(router): add Envoy Gateway ext_proc proxy for traffic-triggered resume
  k8s/auto-suspension.yaml
  sandbox-router/Dockerfile
  sandbox-router/cmd/main.go
  sandbox-router/config/config.go
  sandbox-router/config/flags.go
  sandbox-router/proxy/ext_proc.go
  sandbox-router/proxy/ext_proc_test.go
  sandbox-router/proxy/headers.go
  sandbox-router/proxy/resolve.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: lint presubmit failures.
  controllers/auto_suspension_controller.go
  controllers/auto_suspension_controller_test.go
  olm/config/rbac/support.yaml
  sandbox-router/proxy/ext_proc.go
  sandbox-router/proxy/headers.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: lint-olm.
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  olm/config/manager/manager.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add kata container example for auto suspension.
  examples/kata-gke-sandbox/README.md
  examples/kata-gke-sandbox/kata-runtime.yaml
  examples/kata-gke-sandbox/sandbox-kata-auto-suspension.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: Aditya's comments.
  controllers/auto_suspension_controller.go
  helm/templates/networkpolicy-controller.yaml
  k8s/auto-suspension.yaml
  k8s/controller.yaml
  olm/config/network-policy/allow-suspension-traffic.yaml
  olm/config/network-policy/allow-system-traffic.yaml
  olm/config/network-policy/kustomization.yaml
  sandbox-router/proxy/ext_proc.go
  sandbox-router/proxy/ext_proc_test.go
  sandbox-router/proxy/headers.go
  sandbox-router/proxy/headers_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address coderabbit comments part 2
  Makefile
  cmd/agent-sandbox-controller/main.go
  controllers/auto_suspension_controller.go
  controllers/auto_suspension_controller_test.go
  dev/tools/deploy-to-kube
  docs/api.md
  k8s/controller.yaml
  olm/config/network-policy/allow-suspension-traffic.yaml
  olm/config/network-policy/kustomization.yaml
  olm/config/rbac/support.yaml
  sandbox-router/config/config.go
  sandbox-router/config/config_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add auto supension and resume example for hermes agent running in a sandbox.
  examples/hermes-agents-as-a-service/05-simple-sandbox-auto-suspension.yaml
  examples/hermes-agents-as-a-service/README.md
  examples/kata-gke-sandbox/README.md
  examples/openclaw-gvisor-sandbox/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
