Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

sandboxd: implement portable backend hybrid daemon (Part 2 of 3)
  Makefile
  dev/tools/push-images
  go.mod
  go.sum
  packages/sandboxd/Dockerfile
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/cmd/sandboxd/main.go
  packages/sandboxd/pkg/pathutil/sandbox.go
  packages/sandboxd/pkg/pathutil/sandbox_test.go
  packages/sandboxd/pkg/pathutil/testmain_test.go
  packages/sandboxd/pkg/processmanager/managed_process.go
  packages/sandboxd/pkg/processmanager/manager.go
  packages/sandboxd/pkg/processmanager/manager_test.go
  packages/sandboxd/pkg/processmanager/testmain_test.go
  packages/sandboxd/pkg/server/filesystem.go
  packages/sandboxd/pkg/server/filesystem_test.go
  packages/sandboxd/pkg/server/integration_test.go
  packages/sandboxd/pkg/server/process.go
  packages/sandboxd/pkg/server/process_test.go
  packages/sandboxd/pkg/server/server.go
  packages/sandboxd/pkg/server/testmain_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

review: assert managedFields are actually stripped by DefaultTransform
  cmd/agent-sandbox-controller/cacheoptions_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandbox-router: harden scoped-token authorizer per review
  sandbox-router/README.md
  sandbox-router/authz/scopedtoken.go
  sandbox-router/authz/scopedtoken_test.go
  sandbox-router/cmd/main.go
  sandbox-router/config/config_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandbox-router: also reject X-Sandbox-UID in scoped-token mode
  sandbox-router/README.md
  sandbox-router/authz/scopedtoken.go
  sandbox-router/authz/scopedtoken_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples: add router-scoped-mcp-sandbox
  examples/README.md
  examples/router-scoped-mcp-sandbox/Dockerfile
  examples/router-scoped-mcp-sandbox/README.md
  examples/router-scoped-mcp-sandbox/client.py
  examples/router-scoped-mcp-sandbox/mcp_server.py
  examples/router-scoped-mcp-sandbox/mint-token/main.go
  examples/router-scoped-mcp-sandbox/requirements.txt
  examples/router-scoped-mcp-sandbox/run-test-kind.sh
  examples/router-scoped-mcp-sandbox/sandbox-box-b.yaml
  examples/router-scoped-mcp-sandbox/sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/router-scoped-mcp-sandbox: fix host reachability and review nits
  examples/router-scoped-mcp-sandbox/README.md
  examples/router-scoped-mcp-sandbox/client.py
  examples/router-scoped-mcp-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/router-scoped-mcp-sandbox: fix Sandbox manifests against live CRD
  examples/router-scoped-mcp-sandbox/sandbox-box-b.yaml
  examples/router-scoped-mcp-sandbox/sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/router-scoped-mcp-sandbox: wait on Sandbox Ready, not pod labels
  examples/router-scoped-mcp-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/router-scoped-mcp-sandbox: apply router RBAC in run-test-kind.sh
  examples/router-scoped-mcp-sandbox/run-test-kind.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

examples/router-scoped-mcp-sandbox: route by DNS via a headless Service
  examples/router-scoped-mcp-sandbox/README.md
  examples/router-scoped-mcp-sandbox/sandbox-box-b.yaml
  examples/router-scoped-mcp-sandbox/sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

resolve bot comments:
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

resolve copilot code
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

metrics(controller): make client-side API transport queueing observable
  cmd/agent-sandbox-controller/main.go
  internal/metrics/transport.go
  internal/metrics/transport_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandbox-router: exclude unclaimed warm-pool pods from name index; don't evict on connection refused
  sandbox-router/README.md
  sandbox-router/cache/cache.go
  sandbox-router/cache/cache_test.go
  sandbox-router/proxy/proxy.go
  sandbox-router/proxy/proxy_integration_test.go
  sandbox-router/proxy/retry.go
  sandbox-router/proxy/retry_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address comments
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

update Makefile to 0.5.2 default
  olm/Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: prepare CSV config for community-operators submission
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/samples/agents_v1beta1_sandbox.yaml
  olm/config/samples/extensions_v1beta1_sandboxclaim.yaml
  olm/config/samples/extensions_v1beta1_sandboxtemplate.yaml
  olm/config/samples/extensions_v1beta1_sandboxwarmpool.yaml
  olm/config/samples/kustomization.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: add v1alpha1 owned CRD entries to CSV config
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: drive transport past the 100-stream cap in the kindnet presubmit
  dev/ci/presubmits/benchmarks-kops-gcp-kindnet
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: apply coderabbit/copilot fixes
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/samples/agents_v1beta1_sandbox.yaml
  olm/config/samples/extensions_v1beta1_sandboxtemplate.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

olm: update bundle
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

e2e: add runtime-class-aware warm pool benchmarks
  test/e2e/extensions/README.md
  test/e2e/extensions/runtime_class_test.go
  test/e2e/extensions/warm-pool-benchmark-slides.md
  test/e2e/framework/client.go
  test/e2e/framework/nodes.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(benchmarks): pass --controller-args with = so dash-leading values parse
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: pass --controller-args with = so dash-prefixed values parse
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-test: keep the transport experiment on the 8-core control plane
  dev/ci/presubmits/benchmarks-kops-gcp-kindnet
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address comment
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-test: raise the benchmark control plane to n2-standard-16
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-report: add client-side Metric Explorer page
  test/stress/generate-report/generate_report.py
  test/stress/generate-report/static/metrics-explorer.js
  test/stress/generate-report/static/report.css
  test/stress/generate-report/templates/base.html
  test/stress/generate-report/templates/metrics.html
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

log a warning if custom filenames are supplied while --manage-webhook-certs=true
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-test: serve only the beta sandbox APIs
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(rl): add warm+recycle tunix GRPO training recipe
  examples/agent-sandbox-rl/examples/rl_integration.md
Due: none

fix(sandboxclaim): never abandon a committed adoption assignment on a stale-view patch failure; optimistic lock on the adoption patch
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

prototype(sandboxclaim): optimistic lock on claim status patch; in-pass adoption-conflict retry; AdoptionConflict condition
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test(sandboxclaim): pin #940 regression to exactly-once histogram sample counts
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

perf(controller): dedicated watch connection + HTTP/2 API connection sharding
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/transport.go
  cmd/agent-sandbox-controller/transport_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

review: accurate HTTP/2 stream-cap docs, lazy-dial wording, reject pre-set WrapTransport
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/transport.go
  cmd/agent-sandbox-controller/transport_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

review: correct HTTP/2 stream-limit attribution and watch-connection rationale per justinsb
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/transport.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

review: reword ReleaseOnCancel safety comment to match main() deferred cleanup
  cmd/agent-sandbox-controller/manageroptions.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(controller): release leader lease on graceful shutdown
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/manageroptions.go
  cmd/agent-sandbox-controller/manageroptions_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(client/go): close TOCTOU race in GetSandbox registry lookup
  clients/go/sandbox/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
