Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

Address the comments.
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/tester.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: stateless random-failover router for Claude Fleet warm pool
  clients/python/agentic-sandbox-client/sandbox-router/requirements.in
  clients/python/agentic-sandbox-client/sandbox-router/requirements.txt
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update prefix to trigger the github action workflow
  .github/workflows/pypi-publish.yml
  Makefile
  dev/tools/release-python
  dev/tools/shared/git_ops.py
  dev/tools/tag-promote-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

tests: switch wait from polling to watch for more accurate timings
  test/e2e/framework/client.go
  test/e2e/framework/context.go
  test/e2e/shutdown_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: retry updates with MustUpdateObject
  test/e2e/framework/client.go
  test/e2e/replicas_test.go
  test/e2e/shutdown_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: make predicates printable
  test/e2e/framework/client.go
  test/e2e/framework/predicates/conditions.go
  test/e2e/framework/predicates/metadata.go
  test/e2e/framework/predicates/predicates.go
  test/e2e/framework/predicates/sandbox.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

ci: auto-install Node.js
  dev/ci/presubmits/test-e2e
  dev/tools/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Build and test in two different jobs
  .github/workflows/pypi-publish.yml
  dev/tools/release-python
  dev/tools/shared/git_ops.py
  dev/tools/tag-promote-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix expiry cleanup for adopted sandbox pods
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Prevent warm pool PVC leaks on pod creation failure
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address nits
  .gitignore
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: fix error logs for sandbox creation
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(sandbox-client): add claim_name, delete_on_exit, and reconnect support
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(langchain): add LangChain DeepAgents backend adapter
  clients/python/langchain-agent-sandbox/README.md
  clients/python/langchain-agent-sandbox/langchain_agent_sandbox/__init__.py
  clients/python/langchain-agent-sandbox/langchain_agent_sandbox/backend.py
  clients/python/langchain-agent-sandbox/pyproject.toml
  clients/python/langchain-agent-sandbox/tests/test_backend.py
  clients/python/langchain-agent-sandbox/uv.lock
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(langchain): add e2e tests for LangChain backend adapter
  test/e2e/README.md
  test/e2e/clients/python/test_e2e_langchain_backend.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(examples): add LangChain DeepAgents example
  examples/README.md
  examples/langchain-deepagents/.deepagents/skills/data-analysis/SKILL.md
  examples/langchain-deepagents/.deepagents/skills/file-organizer/SKILL.md
  examples/langchain-deepagents/.deepagents/skills/python-script/SKILL.md
  examples/langchain-deepagents/README.md
  examples/langchain-deepagents/main.py
  examples/langchain-deepagents/pyproject.toml
  examples/langchain-deepagents/run-test-kind.sh
  examples/langchain-deepagents/sandbox-template.yaml
  examples/langchain-deepagents/uv.lock
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Simplify status method.
  clients/python/agentic-sandbox-client/agentic_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: Add E2E test for SandboxWarmPool template updates
  test/e2e/extensions/warmpool_template_update_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Create a flag to ignore the client and examples directories to speed up controller only builds for development
  .dockerignore
  dev/tools/push-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

creates dockerignore file to speed up dev builds
  .dockerignore
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Alphabetically orders the directories and adds a TODO
  dev/tools/push-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address comments.
  dev/load-test/README.md
  dev/load-test/agent-sandbox-load-test.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address comments
  clients/python/agentic-sandbox-client/agentic_sandbox/constants.py
  clients/python/agentic-sandbox-client/agentic_sandbox/extensions/__init__.py
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/test_podsnapshot_client.py
  clients/python/agentic-sandbox-client/python-counter-template.yaml
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Enable persistent storage metadata, List and delete snapshots
  clients/python/agentic-sandbox-client/agentic_sandbox/constants.py
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Change in term: Update Checkpoint to Snapshot
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/test_podsnapshot_client.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update Makefile
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update if statement
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Generated files
  api/v1alpha1/zz_generated.deepcopy.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Updated tests
  controllers/sandbox_controller_test.go
  test/e2e/shutdown_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Adds ProgressDeadlineSeconds to the Sandbox
  api/v1alpha1/sandbox_types.go
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Reverts Lifecycle to inline
  api/v1alpha1/sandbox_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Adds minimum progress deadline seconds of 0
  api/v1alpha1/sandbox_types.go
  controllers/sandbox_controller.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: added VAP example to enforce security defaults for podTemplate spec
  examples/policy/vap/README.md
  examples/policy/vap/secure-sandbox-binding.yaml
  examples/policy/vap/secure-sandbox-policy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: Update sandbox status with phase
  api/v1alpha1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  test/e2e/basic_test.go
  test/e2e/replicas_test.go
  test/e2e/shutdown_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: gather kubelet/containerd logs in artifats
  dev/tools/create-kind-cluster
  test/e2e/chromesandbox_test.go
  test/e2e/framework/client.go
  test/e2e/framework/componentlogs.go
  test/e2e/framework/testlogs.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update Python SDK ReadMe
  clients/python/agentic-sandbox-client/README.md
Due: none

tests: create MustUpdateObject helper
  test/e2e/framework/client.go
  test/e2e/framework/context.go
  test/e2e/replicas_test.go
  test/e2e/shutdown_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update reconcilePod to sync labels from Sandbox PodTemplate and handle existing Pods
  controllers/sandbox_controller.go
  test/e2e/artifacts/TestRunChromeSandbox/test.log
  test/e2e/artifacts/TestSandboxReplicas/test.log
  test/e2e/artifacts/TestSandboxShutdownTime/test.log
  test/e2e/artifacts/TestSimpleSandbox/test.log
  test/e2e/extensions/artifacts/TestRunPythonRuntimeSandbox/test.log
  test/e2e/extensions/artifacts/TestRunPythonRuntimeSandboxClaim/test.log
  test/e2e/extensions/artifacts/TestRunPythonRuntimeSandboxWarmpool/test.log
  test/e2e/extensions/artifacts/TestWarmPoolSandboxWatcher/test.log
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix pod label synchronization issue (#42)
  api/v1alpha1/sandbox_types.go
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add is_restored
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/agentic_sandbox/gke_extensions/test_podsnapshot_client.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
