Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

add moficodes to docsite approver (#714)
  site/OWNERS
Due: presubmit-test-autogen-up-to-date

reorder pages, remove duplicate (#717)
  site/content/docs/filesystem/_index.md
  site/content/docs/filesystem/list-files/_index.md
  site/content/docs/filesystem/read-write/_index.md
  site/content/docs/filesystem/upload-download/_index.md
  site/content/docs/getting_started/_index.md
  site/content/docs/getting_started/overview/_index.md
  site/content/docs/go-client/_index.md
  site/content/docs/guides/analytics-tool/_index.md
  site/content/docs/python-client/_index.md
  site/content/docs/runtime-templates/_index.md
  site/content/docs/sandbox/custom_sandbox/custom_environment/_index.md
  site/content/docs/sandbox/custom_sandbox/image/_index.md
  site/content/docs/sandbox/lifecycle/_index.md
  site/content/docs/sandbox/metrics/_index.md
  site/content/docs/sandbox/snapshots/_index.md
  site/content/docs/use-cases/_index.md
  site/content/docs/use-cases/gvisor-isolation/_index.md
  site/content/docs/use-cases/kata-containers-isolation/_index.md
  site/content/docs/volumes/_index.md
  site/data/link_replacements.yaml
Due: presubmit-test-autogen-up-to-date

Add example to integrate HPA with warmpool (#605)
  examples/hpa-swp-scaling/README.md
  examples/hpa-swp-scaling/create-claim.py
  examples/hpa-swp-scaling/hpa.yaml
  examples/hpa-swp-scaling/pod-monitoring.yaml
  examples/hpa-swp-scaling/python-sandbox-template.yaml
  examples/hpa-swp-scaling/sandboxwarmpool.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: add a kyverno policy example (#682)
  examples/policy/kyverno/.chainsaw-tests/bad-rolebinding.yaml
  examples/policy/kyverno/.chainsaw-tests/barepod.yaml
  examples/policy/kyverno/.chainsaw-tests/chainsaw-test.yaml
  examples/policy/kyverno/.chainsaw-tests/good-rolebinding.yaml
  examples/policy/kyverno/.chainsaw-tests/setup-other-sa.yaml
  examples/policy/kyverno/.chainsaw-tests/setup-rbac.yaml
  examples/policy/kyverno/.chainsaw-tests/setup-sa.yaml
  examples/policy/kyverno/.chainsaw-tests/setup-sandbox.yaml
  examples/policy/kyverno/README.md
  examples/policy/kyverno/prevent-sandbox-sa-binding.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix: Enable goleak and fix memory leaks in extensions/controllers (#692)
  extensions/controllers/queue/simple_sandbox_queue.go
  extensions/controllers/queue/simple_sandbox_queue_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/testmain_test.go
  go.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: fix e2e benchmark test command (#715)
  docs/testing.md
Due: none

feat: implement sandbox_client_discovery_latency_ms metric (#381)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/metrics.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_metrics.py
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update HPA example doc (#723)
  examples/README.md
  examples/hpa-swp-scaling/README.md
Due: none

Added PR template (#722)
  .github/pull_request_template.md
Due: none

Skip untracked files for repo state check when the env is Github Actions (#726)
  dev/tools/shared/git_ops.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: implement automated release workflow (#542)
  .github/workflows/release.yml
  Makefile
  dev/tools/auto-tag
  dev/tools/generate-release-notes
  dev/tools/release
  dev/tools/tag-promote-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

benchmarks: better boskos tracking; push to gcr.io (#693)
  dev/tools/go.mod
  dev/tools/go.sum
  dev/tools/resourcectl/main.go
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update Python SDK for Podsnapshot v1 version (#709)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/snapshot_engine.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update apiVersion to v1beta2 for kueue-agent-sandbox (#737)
  examples/kueue-agent-sandbox/README.md
Due: none

Add fork token for workflow (#728)
  .github/workflows/release.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

benchmarks: extract results into CSV format (#725)
  dev/tools/go.mod
  dev/tools/go.sum
  dev/tools/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Docs page for Golang quickstart (#730)
  site/content/docs/getting_started/go-sdk-quickstart/_index.md
Due: none

chore: hardening Kyverno sample policy (#719)
  examples/policy/kyverno/.chainsaw-tests/bad-clusterrolebinding-sa-group-all.yaml
  examples/policy/kyverno/.chainsaw-tests/bad-rolebinding-sa-group-ns.yaml
  examples/policy/kyverno/.chainsaw-tests/bad-rolebinding-sa-user.yaml
  examples/policy/kyverno/.chainsaw-tests/chainsaw-test.yaml
  examples/policy/kyverno/.chainsaw-tests/no-subjects-rolebinding.yaml
  examples/policy/kyverno/README.md
  examples/policy/kyverno/prevent-sandbox-sa-binding.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Automate Release workflow update (#741)
  .github/workflows/release.yml
  Makefile
  dev/tools/auto-tag
  dev/tools/generate-release-notes
  dev/tools/shared/git_ops.py
  dev/tools/tag-promote-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

create volumes guide and update structure (#731)
  site/content/docs/volumes/_index.md
  site/content/docs/volumes/gcsfuse-csi/_index.md
  site/content/docs/volumes/volume-claim-template/_index.md
  site/content/docs/volumes/volume-claim-template/source/Dockerfile
  site/content/docs/volumes/volume-claim-template/source/server.py
  site/content/docs/volumes/volume-claim-template/source/template.yaml
Due: presubmit-test-autogen-up-to-date

fix: change requested body streaming (#733)
  clients/python/agentic-sandbox-client/sandbox-router/requirements.in
  clients/python/agentic-sandbox-client/sandbox-router/requirements.txt
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

documentation: network policy management doc (#743)
  examples/policy/network-policy-management/README.md
  examples/policy/network-policy-management/nw_diagram.svg
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: add release automation guide and update PR template (#748)
  .github/pull_request_template.md
  docs/development.md
  docs/release.md
Due: none

docs: update Copilot instructions with specific gotchas and CLA warning (#768)
  .github/copilot-instructions.md
Due: none

add api documentation (#247)
  .github/workflows/check-api-docs.yml
  Makefile
  docs/api.md
  docs/crd-ref-docs.yaml
  docs/development.md
  site/content/docs/api/_index.md
  site/hugo.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add AI agent skills and guidelines (#766)
  .agents/skills/dev-rules/SKILL.md
  .agents/skills/k8s-api-conventions/SKILL.md
  .agents/skills/k8s-api-conventions/references/api-conventions.md
  CONTRIBUTING.md
  docs/development.md
Due: none

Add Hermes Agent Sandbox example with persistence and custom skills (#774)
  .gitignore
  examples/README.md
  examples/hermes-agent/README.md
  examples/hermes-agent/chat_hermes.py
  examples/hermes-agent/k8s-developer.md
  examples/hermes-agent/sandbox.yaml
  examples/hermes-agent/test_hermes.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Enable Scheduled release and use Vertex AI for Gemini Notes (#783)
  .github/workflows/release.yml
  dev/tools/generate-release-notes
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Preserve sandbox selector label when replicas is 0 (#754)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
  controllers/sandbox_controller.go
  test/e2e/replicas_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

remove duplicate folder (#790)
  getting_started/_index.md
  getting_started/python-sdk-quickstart/_index.md
Due: none

support automatic service creation opt-in (#775)
  api/v1alpha1/sandbox_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  test/e2e/basic_test.go
  test/e2e/volumeclaimtemplate_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Agents.md (#707)
  AGENTS.md
Due: none

Fix package shadowing in controllers (#805)
  .gitignore
  controllers/sandbox_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: catch memory leaks and reduce per-scrape allocations (#769)
  clients/go/sandbox/client_test.go
  clients/go/sandbox/files_test.go
  clients/go/sandbox/sandbox_test.go
  clients/go/sandbox/testmain_test.go
  clients/go/sandbox/tracing_test.go
  controllers/sandbox_controller_test.go
  controllers/testmain_test.go
  internal/metrics/metrics_test.go
  internal/metrics/sandbox_collector.go
  internal/metrics/testmain_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: service creationg opt-in follow-up (#800)
  api/v1alpha1/sandbox_types.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
  docs/api.md
  extensions/api/v1alpha1/sandboxtemplate_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Create a shared utility for generating hash of a sandbox's TemplateRef name (#763)
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxtemplate_controller.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/utils.go
  extensions/controllers/utils_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Use gvisor in openclaw example (#475)
  examples/openclaw-sandbox/README.md
  examples/openclaw-sandbox/openclaw-sandbox.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci: declare contents: read on check-api-docs and check (#796)
  .github/workflows/check-api-docs.yml
  .github/workflows/check.yml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add CLUSTER_DOMAIN environment variable to the agent sandbox router (#803)
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: cover warm pool secure defaults (#811)
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test
