Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

test/e2e: bound the RBAC-denial scan and fail loudly on zero controller pods
  helm/Chart.yaml
  test/e2e/extensions/testmain_test.go
  test/e2e/framework/rbacdenials.go
  test/e2e/testmain_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/envd-sandbox: verify the pinned tag resolves to the expected commit
  examples/envd-sandbox/Dockerfile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: use jq-free release tag resolution for router and prerequisites
  sandbox-router/deploy/README.md
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: none

ci(e2e): scope push-images to required test images during cluster setup
  dev/ci/presubmits/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf(sandbox): requeue without error when namespace is terminating
  controllers/errors.go
  controllers/errors_test.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(e2e): unblock failing e2e presubmits by repinning envd after e2b repo rename (#1620)
  examples/envd-sandbox/Dockerfile
  examples/envd-sandbox/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci(e2e): scope push-images to required test images during cluster setup (#1623)
  dev/ci/presubmits/test-e2e
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: note v1.0.3+ requirement and ref=main fallback for remote router install
  sandbox-router/deploy/README.md
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: none

flake-report: take the last column-ID segment and treat flaky cells as test failures
  dev/tools/flake-report
  dev/tools/flake_report_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(flake-report): stop counting aborted, clone-failed, and pre-test-broken runs as infra
  dev/tools/flake-report
  dev/tools/flake_report_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

flake-report: verify merge conflicts before blaming stale PRs; drop aborted cells everywhere
  dev/tools/flake-report
  dev/tools/flake_report_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(flake-report): stop counting aborted, clone-failed, and pre-test-broken runs as infra (#1626)
  dev/tools/flake-report
  dev/tools/flake_report_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: address review feedback on router deployment and security warning
  sandbox-router/README.md
  sandbox-router/deploy/README.md
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: none

examples/sandboxed-tools: pluggable toolsets + gemini-cli toolset in Go (#1586)
  dev/tools/push-images
  examples/sandboxed-tools/README.md
  examples/sandboxed-tools/cmd/geminicli-toolbox/main.go
  examples/sandboxed-tools/cmd/sandboxed-tools-cli/main.go
  examples/sandboxed-tools/images/geminicli-toolbox/Dockerfile
  examples/sandboxed-tools/pkg/agent/agent.go
  examples/sandboxed-tools/pkg/tools/limited_writer.go
  examples/sandboxed-tools/pkg/tools/limited_writer_test.go
  examples/sandboxed-tools/pkg/toolsets/basic/basic.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/prompt.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/shell.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/glob.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/glob_match.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/glob_match_test.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/grep.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/list_directory.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/read_file.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/read_many_files.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/replace.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/toolbox.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/toolbox_test.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolbox/write_file.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/tools.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/tools_test.go
  examples/sandboxed-tools/pkg/toolsets/geminicli/toolset.go
  examples/sandboxed-tools/pkg/toolsets/toolsets.go
  examples/sandboxed-tools/pkg/toolsets/toolsets_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

revert(dev): do not modify generate-release-notes and add local clone fallback to install doc
  dev/tools/generate-release-notes
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

bench: raise etcd backend quota to 8GiB
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: simplify installation in README with latest release downloads
  README.md
Due: none

examples/gemini-cu-sandbox: move to python 3.14 and recompile requirements
  examples/gemini-cu-sandbox/Dockerfile
  examples/gemini-cu-sandbox/requirements.in
  examples/gemini-cu-sandbox/requirements.txt
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

review: keep the default path identical to main; track every outstanding pre-write rv
  controllers/sandbox_controller.go
  controllers/status_writes.go
  controllers/status_writes_test.go
  docs/configuration.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: use double-slash kustomize remote target syntax
  sandbox-router/deploy/README.md
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: none

ci: unify olm golangci-lint config with dev/tools/.golangci.yaml (#1592)
  dev/tools/.golangci.yaml
  olm/.golangci.yml
  olm/Makefile
  olm/hack/sync-k8s-manifests/main.go
  olm/test/e2e/e2e_suite_test.go
  olm/test/e2e/e2e_test.go
  olm/test/utils/utils.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

deploy: set router image to v1.0.2 in kustomization and deploy from main
  sandbox-router/deploy/README.md
  sandbox-router/deploy/kustomization.yaml
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: remove redundant note and clarify benefits of optional router manifests
  sandbox-router/deploy/README.md
Due: none

docs: provide remote URLs for optional router components
  sandbox-router/deploy/README.md
Due: none

fix(deploy): pin sandbox-router image to v1.0.2 in deployment.yaml
  olm/config/sandbox-router/deployment.yaml
  sandbox-router/deploy/README.md
  sandbox-router/deploy/deployment.yaml
  sandbox-router/deploy/kustomization.yaml
  sandbox-router/dev/smoke-test/run.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: make image tag guidance version-agnostic in deploy README
  sandbox-router/deploy/README.md
Due: none

feat(deploy): consolidate core sandbox-router manifests into sandbox-router.yaml
  examples/vscode-sandbox/README.md
  olm/config/sandbox-router/deployment.yaml
  olm/config/sandbox-router/kustomization.yaml
  olm/config/sandbox-router/pdb.yaml
  olm/config/sandbox-router/rbac-tokenreview.yaml
  olm/config/sandbox-router/rbac.yaml
  olm/config/sandbox-router/sandbox-router.yaml
  olm/config/sandbox-router/service.yaml
  olm/config/sandbox-router/serviceaccount.yaml
  sandbox-router/README.md
  sandbox-router/deploy/README.md
  sandbox-router/deploy/deployment.yaml
  sandbox-router/deploy/kustomization.yaml
  sandbox-router/deploy/pdb.yaml
  sandbox-router/deploy/rbac-tokenreview.yaml
  sandbox-router/deploy/rbac.yaml
  sandbox-router/deploy/sandbox-router.yaml
  sandbox-router/deploy/service.yaml
  sandbox-router/deploy/serviceaccount.yaml
  sandbox-router/dev/smoke-test/run.sh
  site/content/docs/getting_started/install_prerequisites/_index.md
  site/content/docs/use-cases/gvisor-isolation/_index.md
  site/content/docs/use-cases/kata-containers-isolation/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(e2e/ts): harden port-forward helper and Ready predicate
  test/e2e/clients/typescript/framework/predicates.ts
  test/e2e/clients/typescript/test-e2e-sandboxd-interop.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(clients/ts,sandboxd): wire TS proto codegen for sandboxd and verify gRPC-over-port-forward interop
  clients/typescript/agentic-sandbox-client/biome.json
  clients/typescript/agentic-sandbox-client/package-lock.json
  clients/typescript/agentic-sandbox-client/package.json
  clients/typescript/agentic-sandbox-client/src/_proto/README.md
  clients/typescript/agentic-sandbox-client/src/_proto/process/v1/process_pb.ts
  clients/typescript/agentic-sandbox-client/tsconfig.json
  packages/sandboxd/spec/buf.gen.typescript.yaml
  packages/sandboxd/spec/generate.go
  test/e2e/clients/typescript/framework/predicates.ts
  test/e2e/clients/typescript/package-lock.json
  test/e2e/clients/typescript/package.json
  test/e2e/clients/typescript/test-e2e-sandboxd-interop.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: document remote apply in vscode-sandbox and isolation guides
  examples/vscode-sandbox/README.md
  site/content/docs/use-cases/gvisor-isolation/_index.md
  site/content/docs/use-cases/kata-containers-isolation/_index.md
Due: none

docs: address review comments on manifests references, TLS checklist, and remote apply
  sandbox-router/README.md
  sandbox-router/deploy/README.md
  sandbox-router/dev/smoke-test/README.md
Due: none

fix(e2e/ts): probe gRPC readiness before sandboxd Execute calls
  test/e2e/clients/typescript/test-e2e-sandboxd-interop.test.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

kwok presubmit: gate on worker startup, bound readiness probes, test the gate CLI
  dev/ci/presubmits/shared/test_scrape_controller_metrics.py
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Harden the kwok scalability presubmit against invisible gate failures and transient infra errors
  dev/ci/presubmits/shared/scrape_controller_metrics.py
  dev/ci/presubmits/shared/test_scrape_controller_metrics.py
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Harden the kwok scalability presubmit against invisible gate failures and transient infra errors (#1624)
  dev/ci/presubmits/shared/scrape_controller_metrics.py
  dev/ci/presubmits/shared/test_scrape_controller_metrics.py
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(controller): stop hot-looping on Sandboxes whose derived Service name is too long
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

nitpick fixes
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: use separate port_forward_start to preserve readiness timeout budget
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: include namespace in LocalTunnel router-not-found errors
  clients/python/agentic-sandbox-client/README.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
