Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

stress-test: capture apiserver CPU profiles during throughput levels
  test/stress/main.go
  test/stress/phases.go
  test/stress/pprof.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-report: render CPU profile flame graphs client-side
  test/stress/generate-report/download_results.py
  test/stress/generate-report/generate_report.py
  test/stress/generate-report/static/flamegraph.js
  test/stress/generate-report/static/report.css
  test/stress/generate-report/templates/base.html
  test/stress/generate-report/templates/pprof.html
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(sandboxclaim): exempt safe-to-evict annotation from domain validation
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: mention safe-to-evict exemption in additionalPodMetadata
  docs/api.md
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxclaim_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

add more unit tests for validating AutoscalerSafeToEvict values
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandboxclaim): drop strict enum check for safe-to-evict annotation
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address PR #615 review feedback on additionalPodMetadata validation and naming
  docs/api.md
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

updated the unit tests
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

gate webhook implementation
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-test: enable cilium-agent Prometheus metrics on the kOps cluster
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add optional TTL for pools and claims
  extensions/api/v1alpha1/sandboxclaim_conversion.go
  extensions/api/v1alpha1/sandboxclaim_conversion_test.go
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/sandboxwarmpool_conversion.go
  extensions/api/v1alpha1/sandboxwarmpool_conversion_test.go
  extensions/api/v1alpha1/sandboxwarmpool_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxwarmpool_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  internal/lifecycle/expiry.go
  internal/lifecycle/expiry_test.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-report: add Cilium CNI page and endpoint-create rate-limit finding
  test/stress/generate-report/generate_report.py
  test/stress/generate-report/templates/base.html
  test/stress/generate-report/templates/cilium.html
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(extensions): warm-adopt sandboxes owned by pre-v1beta1 warm pools
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Export sandbox-name-hash label to api/v1beta1
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  sandbox-router/cache/cache.go
  sandbox-router/cache/cache_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(metrics): attribute owned_by for pre-v1beta1 owner references
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add opt-in Sandbox podFailurePolicy Recreate for Failed pods
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  docs/keps/729-opt-in-pod-recreation-on-failure/README.md
  docs/keps/729-opt-in-pod-recreation-on-failure/kep.yaml
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  site/content/docs/sandbox/lifecycle/_index.md
  site/content/docs/volumes/volume-claim-template/_index.md
  test/e2e/pod_failure_policy_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

perf: optimize NameHash with bit-manipulation and remove duplicate call
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  test/e2e/basic_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix lint
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

ci: add CNI-parameterized benchmark job scripts under dev/ci
  dev/ci/periodics/benchmarks-kops-gcp-cilium
  dev/ci/periodics/benchmarks-kops-gcp-kindnet
  dev/ci/presubmits/benchmarks-kops-gcp-cilium
  dev/ci/presubmits/benchmarks-kops-gcp-kindnet
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci: surface owner reference apiVersion parse errors in isAdoptable
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add dev/ci/presubmits/test-scalability helper script
  dev/ci/presubmits/test-scalability
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

address review feedback on --enable-webhook logging
  cmd/agent-sandbox-controller/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test(migration): cover warm adoption from a pre-upgrade warm pool
  dev/tools/test-migration.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

TOC fix.
  docs/keps/1174-agent-sandbox-gateway/README.md
Due: none

Fix kep inconsistencies.
  docs/keps/1174-agent-sandbox-gateway/README.md
Due: none

agents: add test-pyramid skill for unit/E2E test rebalancing
  .agents/skills/test-pyramid/SKILL.md
Due: none

Address coderabbit comments.
  docs/keps/1174-agent-sandbox-gateway/README.md
  examples/auto-resume-sandbox/ERROR
  examples/auto-resume-sandbox/[builder
  examples/auto-resume-sandbox/cmd/gateway/main.go
  examples/auto-resume-sandbox/cmd/suspension-manager/main.go
  examples/auto-resume-sandbox/manifests/common/gateway-deployment.yaml
  examples/auto-resume-sandbox/manifests/envoy-gateway/namespaces.yaml
  examples/auto-resume-sandbox/manifests/envoy-gateway/tenant-a-infra.yaml
  examples/auto-resume-sandbox/manifests/envoy-gateway/tenant-a-sandboxes.yaml
  examples/auto-resume-sandbox/manifests/envoy-gateway/tenant-b-infra.yaml
  examples/auto-resume-sandbox/manifests/envoy-gateway/tenant-b-sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Address copilot comments.
  examples/auto-resume-sandbox/Dockerfile
  examples/auto-resume-sandbox/ERROR
  examples/auto-resume-sandbox/Makefile
  examples/auto-resume-sandbox/[builder
  examples/auto-resume-sandbox/cmd/gateway/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

agents: address review feedback on test-pyramid skill
  .agents/skills/test-pyramid/SKILL.md
Due: none

Update name from sandbox-gateway to sandbox-state-informer.
  docs/keps/1174-agent-sandbox-gateway/README.md
  examples/auto-resume-sandbox/Dockerfile
  examples/auto-resume-sandbox/Makefile
  examples/auto-resume-sandbox/README.md
  examples/auto-resume-sandbox/cmd/state-informer/main.go
  examples/auto-resume-sandbox/manifests/common/state-informer-deployment.yaml
  examples/auto-resume-sandbox/manifests/envoy-gateway/tenant-a-infra.yaml
  examples/auto-resume-sandbox/manifests/envoy-gateway/tenant-b-infra.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

lint fix.
  examples/auto-resume-sandbox/cmd/state-informer/main.go
  examples/auto-resume-sandbox/cmd/suspension-manager/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

metric: remove warmpool_name label from claim latency histograms
  extensions/controllers/sandboxclaim_controller.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: add randomized fuzz cases to TestNameHash_Correctness
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress-test: raise Cilium client-side rate limits
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/stress/generate-report/generate_report.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-report: add system-wide rate limiting page and findings
  test/stress/generate-report/generate_report.py
  test/stress/generate-report/templates/base.html
  test/stress/generate-report/templates/ratelimits.html
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-report: select cilium wait and processing bottlenecks independently
  test/stress/generate-report/generate_report.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress-report: extract metrics_by_phase / metrics_timeseries helpers
  test/stress/generate-report/generate_report.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agents: address review feedback on test-pyramid skill inventory/verify steps
  .agents/skills/test-pyramid/SKILL.md
Due: none

fix(python): make AsyncSandbox.terminate() idempotent
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
