Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

sandboxd sdk: bind 0.0.0.0 and resolve open review comments
  Makefile
  clients/go/sandbox/files.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandboxd_test.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  examples/sandboxd-sandbox/sandbox-template.yaml
  packages/sandboxd/USER_GUIDE.md
  packages/sandboxd/cmd/sandboxd/main.go
  test/e2e/extensions/sandboxd_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

address review: remove conditions, scope to observedGeneration
  docs/api.md
  extensions/api/v1beta1/sandboxwarmpool_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  test/e2e/extensions/warmpool_status_condition_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: scope bare RuntimeError handling to the exec call site
  clients/integrations/nemo-gym/nemo_gym_k8s_agent_sandbox/provider.py
  clients/integrations/nemo-gym/pyproject.toml
  clients/integrations/nemo-gym/tests/unit/test_provider.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: explain the inherited requires-python floor in the README
  clients/integrations/nemo-gym/README.md
Due: none

docs: use absolute links in the integration README
  clients/integrations/nemo-gym/README.md
Due: none

docs: make the Python-floor note precise and durable
  clients/integrations/nemo-gym/README.md
Due: none

fix: guard WarmPoolNotFound on Ready=False condition
  clients/typescript/agentic-sandbox-client/src/__tests__/sandbox-client.test.ts
  clients/typescript/agentic-sandbox-client/src/sandbox-client.ts
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: document that the package is not yet distributed
  clients/typescript/agentic-sandbox-client/README.md
Due: none

regenerate Python gRPC stubs and Go SDK reference docs
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/process_pb2.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/process_pb2.pyi
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/process_pb2_grpc.py
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test: verify health endpoint stays responsive during long-running execute
  test/e2e/extensions/pythonruntime_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(python): clarify Sandbox/AsyncSandbox terminate() idempotency docs
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(sandboxclaim): bounded requeue for createSandbox AlreadyExists cache lag (#1042)
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandboxclaim): raise cacheLagRequeueDelay 50ms->200ms to bound AlreadyExists churn
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

helm: rename prometheusrule rules->additionalGroups
  helm/README.md
  helm/templates/prometheusrule.yaml
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

controllers: backoff Failed pod recreation (Deployment pattern)
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  docs/keps/729-opt-in-pod-recreation-on-failure/README.md
  site/content/docs/sandbox/lifecycle/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

metric: move sandbox lifecycle metric state into status
  api/v1alpha1/sandbox_conversion.go
  api/v1alpha1/sandbox_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

initial commit
  clients/python/agentic-sandbox-client/test_async_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

address copilot comments
  clients/python/agentic-sandbox-client/test_async_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

doc: Mention the need for storage class
  site/content/docs/volumes/volume-claim-template/_index.md
Due: none

fix: enforce strict Sandbox-to-Pod mapping
  api/v1beta1/sandbox_types.go
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: stabilize multiple Pod condition message
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandboxd sdk: restore license headers on regenerated gRPC stubs
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/process_pb2.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/process_pb2_grpc.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

test(python): cover full retry method allowlist
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

sandboxd sdk: fix lint (slices.Contains) + de-hedge remaining docs
  Makefile
  clients/go/sandbox/files.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
  docs/python_sdk_reference.md
  examples/sandboxd-sandbox/sandbox-template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandboxd sdk: make generate-go-docs portable (drop pipefail)
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

add template column to warm sandbox
  extensions/api/v1beta1/sandboxwarmpool_types.go
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  olm/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  olm/bundle/manifests/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(warmpool): prevent SandboxClaim from adopting stale sandboxes under Recreate
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refactor(api): move enum validation markers from fields to type definitions
  api/v1alpha1/sandbox_types.go
  api/v1beta1/sandbox_types.go
  docs/api.md
  extensions/api/v1alpha1/sandboxtemplate_types.go
  extensions/api/v1beta1/sandboxtemplate_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

remove ConditionType CEL by codereview
  api/v1alpha1/sandbox_types.go
  api/v1beta1/sandbox_types.go
  docs/api.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples/multi-cluster-fleet: fleet planner Python package
  examples/multi-cluster-fleet/.gitignore
  examples/multi-cluster-fleet/ARCHITECTURE.md
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/__init__.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/budget.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/cli.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/fleet_member.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/hubauth.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/hubcheck.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/inventory.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/objectstore.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/placement.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/planner.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/publisher.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/registry_rewrite.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/resolver.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/sizing.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/trainer.py
  examples/multi-cluster-fleet/python/pyproject.toml
  examples/multi-cluster-fleet/python/tests/__init__.py
  examples/multi-cluster-fleet/python/tests/test_budget.py
  examples/multi-cluster-fleet/python/tests/test_hubauth.py
  examples/multi-cluster-fleet/python/tests/test_inventory.py
  examples/multi-cluster-fleet/python/tests/test_placement.py
  examples/multi-cluster-fleet/python/tests/test_planner.py
  examples/multi-cluster-fleet/python/tests/test_publisher.py
  examples/multi-cluster-fleet/python/tests/test_resolver.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

ci test
  examples/multi-cluster-fleet/python/tests/__init__.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Simplify install steps and add missing replacements
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: none

Use kubectl rollout status instead of wait, deploy router in namespace agent-sandbox-system
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: none

Fix typos, enhance comments
  site/content/docs/getting_started/install_prerequisites/_index.md
Due: none

kep: clarify v1alpha1 startup status preservation guarantees
  docs/keps/1348-observe-sandboxclaim-startup-from-status/README.md
Due: none

feat: add optional TTL for pools and claims
  docs/api.md
  extensions/api/v1alpha1/sandboxclaim_conversion.go
  extensions/api/v1alpha1/sandboxclaim_conversion_test.go
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1alpha1/sandboxwarmpool_conversion.go
  extensions/api/v1alpha1/sandboxwarmpool_conversion_test.go
  extensions/api/v1alpha1/sandboxwarmpool_types.go
  extensions/api/v1alpha1/zz_generated.deepcopy.go
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxwarmpool_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  internal/lifecycle/expiry.go
  internal/lifecycle/expiry_test.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxclaims.yaml
  olm/config/crd/bases/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

addressed bot feedback
  examples/multi-cluster-fleet/ARCHITECTURE.md
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/__init__.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/budget.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/cli.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/fleet_member.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/hubcheck.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/inventory.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/placement.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/planner.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/publisher.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/resolver.py
  examples/multi-cluster-fleet/python/agent_sandbox_fleet/trainer.py
  examples/multi-cluster-fleet/python/tests/test_budget.py
  examples/multi-cluster-fleet/python/tests/test_fleet_member.py
  examples/multi-cluster-fleet/python/tests/test_inventory.py
  examples/multi-cluster-fleet/python/tests/test_placement.py
  examples/multi-cluster-fleet/python/tests/test_planner.py
  examples/multi-cluster-fleet/python/tests/test_publisher.py
  examples/multi-cluster-fleet/python/tests/test_resolver.py
  examples/multi-cluster-fleet/python/tests/test_trainer.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

moved out of examples into its own top level folder
  fleet/.gitignore
  fleet/ARCHITECTURE.md
  fleet/python/agent_sandbox_fleet/__init__.py
  fleet/python/agent_sandbox_fleet/budget.py
  fleet/python/agent_sandbox_fleet/cli.py
  fleet/python/agent_sandbox_fleet/fleet_member.py
  fleet/python/agent_sandbox_fleet/hubauth.py
  fleet/python/agent_sandbox_fleet/hubcheck.py
  fleet/python/agent_sandbox_fleet/inventory.py
  fleet/python/agent_sandbox_fleet/objectstore.py
  fleet/python/agent_sandbox_fleet/placement.py
  fleet/python/agent_sandbox_fleet/planner.py
  fleet/python/agent_sandbox_fleet/publisher.py
  fleet/python/agent_sandbox_fleet/registry_rewrite.py
  fleet/python/agent_sandbox_fleet/resolver.py
  fleet/python/agent_sandbox_fleet/sizing.py
  fleet/python/agent_sandbox_fleet/trainer.py
  fleet/python/pyproject.toml
  fleet/python/tests/__init__.py
  fleet/python/tests/test_budget.py
  fleet/python/tests/test_fleet_member.py
  fleet/python/tests/test_hubauth.py
  fleet/python/tests/test_inventory.py
  fleet/python/tests/test_placement.py
  fleet/python/tests/test_planner.py
  fleet/python/tests/test_publisher.py
  fleet/python/tests/test_resolver.py
  fleet/python/tests/test_trainer.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
