Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

refact(go): stop work scheduling fast on cancellations and use independent poll context
  clients/go/sandbox/client.go
  clients/go/sandbox/integration_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update Note
  site/content/docs/sandbox/snapshots/_index.md
Due: none

address comment
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

.github/copilot-instructions.md: add Project Toolchain, Lint Policy, Scope of Review
  .github/copilot-instructions.md
Due: none

Update test
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: skip warm pool sandboxes without a backing pod
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxclaim_pod_exclusivity_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: condense warm pool adoption comments
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: mark namespace adoption candidate networked
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: update NetworkPolicy documentation
  examples/policy/network-policy-management/README.md
Due: none

Add warning for invalid timestamp in ps resource
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/snapshot_engine.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: review comments
  clients/go/gke_extensions/snapshots/engine.go
  clients/go/gke_extensions/snapshots/engine_test.go
  clients/go/gke_extensions/snapshots/sandbox.go
  clients/go/gke_extensions/snapshots/sandbox_test.go
  clients/go/gke_extensions/snapshots/utils.go
  clients/go/gke_extensions/snapshots/utils_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(python-sdk): transition config patching to localized scope and implement self-healing E2E tar setups
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_bearer_token_patch.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/utils.py
  test/e2e/clients/python/test_incluster_compatibility.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: address Copilot nits on adoption filter
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: comments
  clients/go/gke_extensions/snapshots/client.go
  clients/go/gke_extensions/snapshots/client_test.go
  clients/go/gke_extensions/snapshots/sandbox.go
  clients/go/gke_extensions/snapshots/sandbox_test.go
  clients/go/gke_extensions/snapshots/utils.go
  clients/go/gke_extensions/snapshots/utils_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test: use ptr helper for owner reference
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add workspace resource overrides to sandbox claims
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: update workspace resource API docs
  docs/api.md
Due: none

Add applyconfig generation and NewClientset for fake clientsets
  clients/k8s/applyconfiguration/api/v1beta1/embeddedobjectmetadata.go
  clients/k8s/applyconfiguration/api/v1beta1/lifecycle.go
  clients/k8s/applyconfiguration/api/v1beta1/persistentvolumeclaimtemplate.go
  clients/k8s/applyconfiguration/api/v1beta1/podmetadata.go
  clients/k8s/applyconfiguration/api/v1beta1/podtemplate.go
  clients/k8s/applyconfiguration/api/v1beta1/sandbox.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxspec.go
  clients/k8s/applyconfiguration/api/v1beta1/sandboxstatus.go
  clients/k8s/applyconfiguration/internal/internal.go
  clients/k8s/applyconfiguration/utils.go
  clients/k8s/clientset/versioned/fake/clientset_generated.go
  clients/k8s/clientset/versioned/typed/api/v1beta1/fake/fake_sandbox.go
  clients/k8s/clientset/versioned/typed/api/v1beta1/sandbox.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/envvar.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/lifecycle.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/networkpolicyspec.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxclaim.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxclaimspec.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxclaimstatus.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxstatus.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxtemplate.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxtemplateref.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxtemplatespec.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxwarmpool.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxwarmpoolspec.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxwarmpoolstatus.go
  clients/k8s/extensions/applyconfiguration/api/v1beta1/sandboxwarmpoolupdatestrategy.go
  clients/k8s/extensions/applyconfiguration/internal/internal.go
  clients/k8s/extensions/applyconfiguration/utils.go
  clients/k8s/extensions/clientset/versioned/fake/clientset_generated.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1beta1/fake/fake_sandboxclaim.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1beta1/fake/fake_sandboxtemplate.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1beta1/fake/fake_sandboxwarmpool.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1beta1/sandboxclaim.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1beta1/sandboxtemplate.go
  clients/k8s/extensions/clientset/versioned/typed/api/v1beta1/sandboxwarmpool.go
  dev/tools/client-gen-go.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refactor(python-client): replace k8s_helper factory kwarg with KubernetesConfig model
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/models.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper_injection.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper_injection.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: satisfy generated docs and lint
  docs/api.md
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refact(go): address PR review comments on loop cancellation comment, coordinated signal close, and clean build-tagged testmain
  clients/go/sandbox/client.go
  clients/go/sandbox/client_test.go
  clients/go/sandbox/testmain_integration_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address workspace resource review nits
  docs/api.md
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Print stderr warning on atexit cleanup failure instead of silently ignoring
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refact(go): address PR reviews on Close context safety, auto-cleanup event logging and integration TestMain documentation
  clients/go/sandbox/client.go
  clients/go/sandbox/testmain_integration_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

refact(go): return existing stop handler and safe unlock log values on EnableAutoCleanup duplicate calls
  clients/go/sandbox/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(e2e): migrate E2E sandbox template to standard safe string.Template variables
  test/e2e/clients/python/test_incluster_compatibility.py
  test/e2e/clients/python/test_manifests/sandbox_template.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

resolve copilot comments
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix SandboxClaim label recovery adopting warm sandbox from wrong template
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: restrict SandboxClaim additional metadata to prevent unintended policy opting
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  k8s/extensions.controller.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix comments
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/templates/extensions-rbac.generated.yaml
  k8s/extensions-rbac.generated.yaml
  k8s/extensions.controller.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix unit tests
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: example on how to run a RayJob with Agent Sandbox via direct PodIP
  examples/ray-integration/direct-proxy/README.md
  examples/ray-integration/direct-proxy/manifest.yaml
  examples/ray-integration/direct-proxy/ray-autopilot-setup.yaml
  examples/ray-integration/direct-proxy/ray-standard-setup.yaml
  examples/ray-integration/direct-proxy/rbac.yaml
  examples/ray-integration/direct-proxy/rl_production_loop.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: implement warm pool eviction using cluster-autoscaler annotation with global override
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(client): document SDK redirection blocking security model and test non-redirect 3xx handling in sync and async connectors
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

KEP to discuss mutually exclusive fields in sandboxclaim.
  docs/keps/208-mutually-exclusive-field-in-sandboxclaim/README.md
  docs/keps/208-mutually-exclusive-field-in-sandboxclaim/kep.yaml
Due: none

feat(go-client): add optional cleanup on program termination
  clients/go/sandbox/client.go
  clients/go/sandbox/client_cleanup_integration_test.go
  clients/go/sandbox/client_test.go
  clients/go/sandbox/example_test.go
  clients/go/sandbox/options.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(go-client): address automated review feedback on CleanupOnSignal
  clients/go/sandbox/client.go
  clients/go/sandbox/client_cleanup_integration_test.go
  clients/go/sandbox/client_test.go
  clients/go/sandbox/example_test.go
  clients/go/sandbox/options.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

update roadmap to include H2 plans
  roadmap.md
Due: none

Make pure warmpool ref as the preferred solution.
  docs/keps/208-mutually-exclusive-field-in-sandboxclaim/README.md
Due: none

nit toc-update fix.
  docs/keps/208-mutually-exclusive-field-in-sandboxclaim/README.md
Due: none
