Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

build: add missing fix-api-docs Makefile target
  Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

refactor(api): move enum validation markers from fields to type definitions
  api/v1alpha1/sandbox_types.go
  api/v1beta1/sandbox_types.go
  docs/api.md
  extensions/api/v1alpha1/sandboxtemplate_types.go
  extensions/api/v1beta1/sandboxtemplate_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fine tuning the test
  dev/ci/presubmits/test-e2e-scalability-kwok
  test/benchmarks/config/agent-sandbox-continuous-burst.yaml
  test/benchmarks/config/agent-sandbox-rapid-burst.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(warmpool): configurable readiness grace period and unschedulable re-check interval
  cmd/agent-sandbox-controller/main.go
  docs/configuration.md
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
  helm/README.md
  helm/templates/_controller-args.tpl
  helm/values.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

e2e: populate schedule/runtime breakdown for warm claims, fix green zone
  test/e2e/extensions/README.md
  test/e2e/extensions/milestone_tracker_test.go
  test/e2e/extensions/runtime_class_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

perf-test: addressing coderabbitai comments
  dev/ci/presubmits/test-e2e-scalability-kwok
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(helm): clarify warm-pool grace/recheck values are unset by default
  helm/README.md
Due: none

fix: address code review findings for idle lifecycle
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: use annotation to track idle-triggered suspensions and surface errors
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add idle lifecycle policy for automatic sandbox suspend/delete (#849)
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  internal/lifecycle/expiry.go
  internal/lifecycle/expiry_test.go
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: detect resume from intermediate suspended state
  controllers/sandbox_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: address code review findings and CI failures for idle lifecycle
  api/v1beta1/sandbox_types.go
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
  docs/api.md
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  olm/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tests: add a phase for testing with lots of pods, and reduce cost
  dev/ci/periodics/benchmarks-kops-gcp-cilium
  dev/ci/periodics/benchmarks-kops-gcp-kindnet
  dev/ci/presubmits/benchmarks-kops-gcp-cilium
  test/benchmarks/scenarios/benchmarks-kops-gcp/run
  test/stress/generate-report/download_results.py
  test/stress/main.go
  test/stress/phase.go
  test/stress/phaseconfig_test.go
  test/stress/phases.go
  test/stress/pprof.go
  test/stress/sustained.go
  test/stress/sustained_test.go
  test/stress/tracker.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandboxclaim): duplicate startup-latency metrics and stale-status overwrites via optimistic-locked status writes
  cmd/agent-sandbox-controller/main.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add OWNERS file for sandbox-router
  sandbox-router/OWNERS
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

e2e: fix watch livelock, refill verification, and README column drift
  test/e2e/extensions/README.md
  test/e2e/extensions/milestone_tracker_test.go
  test/e2e/extensions/runtime_class_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

review: rename goal to wait_target, drop change-narration comments
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

stress: document abort-on-first-failure FAIL shape in warm-pool scenario README
  test/benchmarks/scenarios/benchmarks-kops-gcp-warmpool/README.md
Due: none

stress: default the overcreate scenario to the standard small image
  test/benchmarks/scenarios/benchmarks-kops-gcp-warmpool/README.md
  test/benchmarks/scenarios/benchmarks-kops-gcp-warmpool/run
  test/stress/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: use neutral label prefixes for kata and restore KUBECONFIG export
  examples/gke-swap/runtimes/gVisor/README.md
  examples/gke-swap/runtimes/kata/README.md
  examples/gke-swap/runtimes/kata/deploy_cluster.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: clarify repo scope in README.md
  README.md
Due: none

docs: expand security threat model
  README.md
  docs/security/threat_model.md
Due: none

docs: threat model updates for SandboxTemplate/WarmPool enforcement
  docs/security/threat_model.md
Due: none

remove ConditionType CEL by codereview
  api/v1alpha1/sandbox_types.go
  api/v1beta1/sandbox_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

stress: distinguish invariant semantics from repro sensitivity in warm-pool README
  test/benchmarks/scenarios/benchmarks-kops-gcp-warmpool/README.md
Due: none

fix: honor controller-only image selection
  dev/tools/push-images
  dev/tools/push_images_test.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: fix recycle config/hooks fingerprint false-positive
  examples/agent-sandbox-rl/agent_sandbox_rl/recycle.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: add performance report template
  examples/agent-sandbox-rl/performance_reports/.gitignore
  examples/agent-sandbox-rl/performance_reports/REPORT_TEMPLATE.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: add sandbox recycling (reset-and-reuse)
  .gitignore
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/__init__.py
  examples/agent-sandbox-rl/agent_sandbox_rl/observability.py
  examples/agent-sandbox-rl/agent_sandbox_rl/recycle.py
  examples/agent-sandbox-rl/docs/design.md
  examples/agent-sandbox-rl/docs/strategies.md
  examples/agent-sandbox-rl/tests/test_recycle.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: persistent exec session + git-only reset for recycling
  examples/agent-sandbox-rl/agent_sandbox_rl/__init__.py
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/agent_sandbox_rl/recycle.py
  examples/agent-sandbox-rl/tests/test_recycle.py
  examples/agent-sandbox-rl/tests/test_session.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: harden recycling for non-git images and exec failures
  examples/agent-sandbox-rl/agent_sandbox_rl/recycle.py
  examples/agent-sandbox-rl/tests/test_recycle.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

perf(rl): count_pods via limit=1 + remainingItemCount, not a full list
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_pr1232_fixes.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(rl): correct CHANGELOG breaker claim re: apiserver 429s
  examples/agent-sandbox-rl/CHANGELOG.md
Due: none

fix(rl): address PR #1232 review — make safeguards actually fire
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/agent_sandbox_rl/reaper.py
  examples/agent-sandbox-rl/agent_sandbox_rl/recycle.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/docs/strategies.md
  examples/agent-sandbox-rl/tests/test_pr1232_fixes.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: address PR review — session open timeout + qualify teardown docs
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: address PR #1232 review — argv quoting, pristine anchor, session timeout
  examples/agent-sandbox-rl/agent_sandbox_rl/handles.py
  examples/agent-sandbox-rl/agent_sandbox_rl/recycle.py
  examples/agent-sandbox-rl/tests/test_recycle.py
  examples/agent-sandbox-rl/tests/test_session.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: examples — recycling recipe + run_swebench_recycle.py
  examples/agent-sandbox-rl/examples/rl_integration.md
  examples/agent-sandbox-rl/examples/run_swebench_recycle.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-rl: sharded recycle + runaway safeguards (circuit breaker, reaper, advisory)
  examples/agent-sandbox-rl/CHANGELOG.md
  examples/agent-sandbox-rl/README.md
  examples/agent-sandbox-rl/agent_sandbox_rl/__init__.py
  examples/agent-sandbox-rl/agent_sandbox_rl/async_fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/config.py
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
  examples/agent-sandbox-rl/agent_sandbox_rl/exceptions.py
  examples/agent-sandbox-rl/agent_sandbox_rl/fleet.py
  examples/agent-sandbox-rl/agent_sandbox_rl/reaper.py
  examples/agent-sandbox-rl/agent_sandbox_rl/recycle.py
  examples/agent-sandbox-rl/agent_sandbox_rl/resources.py
  examples/agent-sandbox-rl/tests/test_fleet.py
  examples/agent-sandbox-rl/tests/test_recycle.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
