Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

owners(clients): add aditya-shantanu as approver
  clients/OWNERS
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agents: address review feedback on test-pyramid skill
  .agents/skills/test-pyramid/SKILL.md
Due: none

agents: add test-pyramid skill for unit/E2E test rebalancing
  .agents/skills/test-pyramid/SKILL.md
Due: none

agents: address review feedback on test-pyramid skill inventory/verify steps
  .agents/skills/test-pyramid/SKILL.md
Due: none

agents(test-pyramid): fix E2E inventory phrasing and broaden Python unit path
  .agents/skills/test-pyramid/SKILL.md
Due: none

refactor(warmpool): read mirrored PodScheduled instead of fetching the Pod
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_overcreation_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandboxd): kill process group on context cancellation to prevent orphan leaks
  packages/sandboxd/pkg/server/process.go
  packages/sandboxd/pkg/server/process_test.go
  packages/sandboxd/pkg/server/server.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

controller, olm: remove conversion webhook infrastructure
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/manageroptions.go
  cmd/agent-sandbox-controller/tls.go
  cmd/agent-sandbox-controller/tls_test.go
  controllers/sandbox_controller.go
  helm/templates/_controller-args.tpl
  helm/templates/deployment.yaml
  helm/templates/rbac.generated.yaml
  helm/templates/role.yaml
  helm/templates/rolebinding.yaml
  helm/templates/webhook-service.yaml
  helm/values.yaml
  k8s/controller.yaml
  k8s/extensions.controller.yaml
  k8s/kustomization.yaml
  k8s/rbac.generated.yaml
  olm/Makefile
  olm/config/manager/manager.yaml
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/rbac/role.yaml
  olm/config/rbac/support.yaml
  olm/hack/strip-csv-webhookdefs
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

python-runtime-sandbox: make the base directory configurable
  examples/python-runtime-sandbox/README.md
  examples/python-runtime-sandbox/main.py
  examples/python-runtime-sandbox/test_main.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: add READMEs for clients, integrations, and generated k8s clientset
  clients/README.md
  clients/integrations/README.md
  clients/k8s/README.md
Due: none

address comment
  clients/integrations/mcp-server/k8s_agent_sandbox_mcp_server/tools/get_sandbox_status.py
  clients/integrations/mcp-server/tests/unit/test_tools/test_get_sandbox_status.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs: add reinforcement learning (RL) use case to README
  README.md
  examples/README.md
Due: none

addressed bugs
  fleet/python/agent_sandbox_fleet/fleet_member.py
  fleet/python/agent_sandbox_fleet/placement.py
  fleet/python/agent_sandbox_fleet/planner.py
  fleet/python/tests/test_fleet_member.py
  fleet/python/tests/test_placement.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: probe deadline_s=None polls until stable instead of failing fast
  clients/integrations/nemo-gym/configs/agent_sandbox.yaml
  clients/integrations/nemo-gym/nemo_gym_k8s_agent_sandbox/provider.py
  clients/integrations/nemo-gym/pyproject.toml
  clients/integrations/nemo-gym/tests/unit/test_provider.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Remove pod name annotation usage in controllers and tests
  controllers/sandbox_controller_test.go
  controllers/writebehind_coalesce_test.go
  examples/sandboxed-tools/main.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  internal/metrics/sandbox_collector_test.go
  test/e2e/extensions/pythonruntime_test.go
  test/e2e/extensions/warmpool_sandbox_watcher_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Remove PodNameAnnotation from Go SDK and docs
  clients/go/sandbox/k8s.go
  clients/go/sandbox/sandbox_test.go
  clients/go/sandbox/tracing_test.go
  clients/go/sandbox/types.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Remove POD_NAME_ANNOTATION from Python SDK and RL examples
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  examples/agent-sandbox-rl/agent_sandbox_rl/constants.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update docs, scripts, and examples to remove pod-name annotation lookups
  docs/security/threat_model.md
  examples/agent-sandbox-rl/docs/design.md
  examples/aider-sandbox/README.md
  examples/hermes-agents-as-a-service/README.md
  examples/hermes-agents-as-a-service/run-test-kind.sh
  examples/openclaw-gvisor-sandbox/README.md
  examples/openclaw-gvisor-sandbox/run-test-kind.sh
  examples/quickstart/README.md
  examples/quickstart/gvisor.md
  examples/quickstart/kata-containers.md
  internal/rawpatch/rawpatch_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: clean up client-gen-go variables and manageroptions comment
  cmd/agent-sandbox-controller/manageroptions.go
  dev/tools/client-gen-go.sh
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(examples): switch chrome-sandbox to debian 12 and re-add --no-first-run flag
  examples/chrome-sandbox/Dockerfile
  examples/chrome-sandbox/scripts/start-chrome
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

sandboxd sdk: regenerate python stub to protobuf gencode 7.36.0 (match CI)
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/_proto/process/v1/process_pb2.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(examples): switch chrome-sandbox to debian 12 and re-add --no-first-run flag (#1411)
  examples/chrome-sandbox/Dockerfile
  examples/chrome-sandbox/scripts/start-chrome
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(sandbox-router): add opt-in path-based routing for browser-facing traffic
  sandbox-router/README.md
  sandbox-router/config/config.go
  sandbox-router/config/flags.go
  sandbox-router/proxy/pathroute.go
  sandbox-router/proxy/pathroute_test.go
  sandbox-router/proxy/proxy.go
  sandbox-router/proxy/websocket_integration_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

controller, olm: remove conversion webhook infrastructure (#1404)
  cmd/agent-sandbox-controller/main.go
  cmd/agent-sandbox-controller/manageroptions.go
  cmd/agent-sandbox-controller/tls.go
  cmd/agent-sandbox-controller/tls_test.go
  controllers/sandbox_controller.go
  dev/tools/client-gen-go.sh
  examples/chrome-sandbox/Dockerfile
  examples/chrome-sandbox/scripts/start-chrome
  helm/templates/_controller-args.tpl
  helm/templates/deployment.yaml
  helm/templates/rbac.generated.yaml
  helm/templates/role.yaml
  helm/templates/rolebinding.yaml
  helm/templates/webhook-service.yaml
  helm/values.yaml
  k8s/controller.yaml
  k8s/extensions.controller.yaml
  k8s/kustomization.yaml
  k8s/rbac.generated.yaml
  olm/Makefile
  olm/config/manager/manager.yaml
  olm/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  olm/config/rbac/role.yaml
  olm/config/rbac/support.yaml
  olm/hack/strip-csv-webhookdefs
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

test-migration: remove v1alpha1 to v1beta1 upgrade harness
  dev/ci/periodics/test-migration
  dev/tools/migrate.sh
  dev/tools/test-migration.py
  helm/files/migrate.sh
  test/migration/testdata/v0.4.6/extensions.yaml
  test/migration/testdata/v0.4.6/helm-v0.4.6.tar.gz
  test/migration/testdata/v0.4.6/manifest.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

docs(sdk): point Python and Go client docs to Go sandbox-router
  clients/go/README.md
  clients/python/agentic-sandbox-client/README.md
Due: none

Update
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs: standardize Gateway Mode terminology across SDK options and examples
  clients/go/sandbox/integration_test.go
  clients/go/sandbox/options.go
  docs/go_sdk_reference.md
  examples/vscode-sandbox/README.md
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

docs(go-sdk): standardize on Direct URL Mode naming
  clients/go/README.md
  clients/go/sandbox/options.go
  docs/go_sdk_reference.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update quickstart guides to wait on SandboxClaim and resolve adopted Sandbox
  examples/quickstart/README.md
  examples/quickstart/gvisor.md
  examples/quickstart/kata-containers.md
Due: none

test-migration: remove v1alpha1 to v1beta1 upgrade harness (#1414)
  dev/ci/periodics/test-migration
  dev/tools/migrate.sh
  dev/tools/test-migration.py
  helm/files/migrate.sh
  test/migration/testdata/v0.4.6/extensions.yaml
  test/migration/testdata/v0.4.6/helm-v0.4.6.tar.gz
  test/migration/testdata/v0.4.6/manifest.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Remove unused get_sandbox mock in test_sandboxclient
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

SDK(sandboxd examples): add sandboxd SDK quickstart + A/B deployment topologies
  examples/sandboxd-sandbox/client/README.md
  examples/sandboxd-sandbox/client/main.go
  examples/sandboxd-sandbox/deploy/README.md
  examples/sandboxd-sandbox/deploy/a-runtime-image.yaml
  examples/sandboxd-sandbox/deploy/b-inject-binary.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix e2e test imports and format test files
  controllers/writebehind_coalesce_test.go
  internal/rawpatch/rawpatch_test.go
  test/e2e/extensions/pythonruntime_test.go
  test/e2e/extensions/warmpool_sandbox_watcher_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Clean up redundant pod name tests in Go and Python SDKs
  clients/go/sandbox/sandbox_test.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandbox.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Remove redundant TestOpen_PodNameMatchesSandboxName in Go SDK
  clients/go/sandbox/sandbox_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update get_pod_name docstrings in Python SDK
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: allow Go sandbox-router in default NetworkPolicy
  examples/policy/network-policy-management/README.md
  extensions/controllers/sandboxtemplate_controller.go
  extensions/controllers/sandboxtemplate_controller_test.go
  sandbox-router/deploy/README.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): preserve escaped path routing and propagate identity to observability
  sandbox-router/README.md
  sandbox-router/config/config_test.go
  sandbox-router/observability/access_log.go
  sandbox-router/observability/access_log_test.go
  sandbox-router/observability/context.go
  sandbox-router/observability/context_test.go
  sandbox-router/observability/metrics.go
  sandbox-router/observability/tracing.go
  sandbox-router/observability/tracing_test.go
  sandbox-router/proxy/pathroute.go
  sandbox-router/proxy/pathroute_integration_test.go
  sandbox-router/proxy/pathroute_test.go
  sandbox-router/proxy/proxy.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sandbox-router): fix lint, add malformed-encoding case, run regression under test-unit
  sandbox-router/observability/access_log_test.go
  sandbox-router/observability/tracing_test.go
  sandbox-router/proxy/helpers_test.go
  sandbox-router/proxy/pathroute_encoding_test.go
  sandbox-router/proxy/pathroute_test.go
  sandbox-router/proxy/proxy_integration_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
