Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

Fix retained expired SandboxClaim cleanup for adopted sandboxes
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

for review: Skip sandbox scan when status-recorded sandbox is deleted
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Ensure SandboxTemplate controller verifies ownership of NetworkPolicy resources
  extensions/controllers/sandboxtemplate_controller.go
  extensions/controllers/sandboxtemplate_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix DoS vulnerability in metrics collection
  cmd/agent-sandbox-controller/main.go
  controllers/sandbox_controller.go
  internal/metrics/metrics.go
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix CEL validation.
  extensions/api/v1beta1/sandboxclaim_types.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Default SDK-created sandboxes to 12h TTL
  clients/go/sandbox/k8s.go
  clients/go/sandbox/options.go
  clients/go/sandbox/sandbox_test.go
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/constants.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_lifecycle.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_lifecycle_integration.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/utils.py
  site/content/docs/getting_started/sdk_reference/_index.md
  site/content/docs/sandbox/lifecycle/_index.md
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Update API version
  dev/load-test/cluster-loader-sandbox.yaml
  dev/load-test/test-recipes/rapid-burst-test.yaml
  dev/load-test/test-recipes/templates/cluster-loader-hpa.yaml
  dev/load-test/test-recipes/templates/cluster-loader-sandbox-claim.yaml
  dev/load-test/test-recipes/templates/cluster-loader-sandbox-template.yaml
  dev/load-test/test-recipes/templates/cluster-loader-warmpool.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

controllers: prevent sandbox-name-hash label override
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Sanitize git version info in Docker build args
  Dockerfile
  dev/tools/push-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix e2e python test.
  test/e2e/clients/python/test_e2e_python_sdk.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(python-client): allow injecting K8sHelper / AsyncK8sHelper into client factories
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_k8s_helper_injection.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_k8s_helper_injection.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Adds `cleanup=True` support to `AsyncSandboxClient`
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: use explicit None checks and guard injected ApiClient from close
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: clarify atexit comment in AsyncSandboxClient
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix e2e test
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix copilot comments
  extensions/controllers/sandboxtemplate_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

pin kubernetes_asyncio to <35.0.0 in optional-dependencies to avoid watch.py circular import bug
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Improve expired retained SandboxClaim cleanup lookup and test coverage
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

go format
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix lint
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(python-sdk): pin kubernetes_asyncio<34.0.0 and clear venv in test-unit to fix import error
  clients/python/agentic-sandbox-client/pyproject.toml
  dev/tools/test-unit
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Pin kubernetes_asyncio below 34
  clients/python/agentic-sandbox-client/pyproject.toml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

controllers: clear stale status.selector when sandbox has no pod
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fix sed command in agent router readme
  clients/python/agentic-sandbox-client/sandbox-router/README.md
Due: none

Fix invalid reference in documentation to IMAGE_PLACEHOLDER
  clients/python/agentic-sandbox-client/sandbox-router/README.md
Due: none

Fix variable name in replacement documentation
  clients/python/agentic-sandbox-client/sandbox-router/README.md
Due: none

migrating controller-runtime version
  api/v1beta1/groupversion_info.go
  api/v1beta1/sandbox_types.go
  api/v1beta1/zz_generated.deepcopy.go
  clients/go/sandbox/tunnel.go
  clients/k8s/clientset/versioned/fake/clientset_generated.go
  clients/k8s/extensions/clientset/versioned/fake/clientset_generated.go
  clients/k8s/extensions/informers/externalversions/factory.go
  clients/k8s/extensions/informers/externalversions/internalinterfaces/factory_interfaces.go
  clients/k8s/informers/externalversions/factory.go
  clients/k8s/informers/externalversions/internalinterfaces/factory_interfaces.go
  extensions/api/v1beta1/groupversion_info.go
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxtemplate_types.go
  extensions/api/v1beta1/sandboxwarmpool_types.go
  go.mod
  go.sum
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  tools.mod
  tools.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

update make gen
  clients/k8s/extensions/informers/externalversions/api/v1beta1/sandboxclaim.go
  clients/k8s/extensions/informers/externalversions/api/v1beta1/sandboxtemplate.go
  clients/k8s/extensions/informers/externalversions/api/v1beta1/sandboxwarmpool.go
  clients/k8s/informers/externalversions/api/v1beta1/sandbox.go
  dev/tools/test-unit
  extensions/api/v1beta1/zz_generated.deepcopy.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

doc: add ray integatration example
  examples/ray-integration/README.md
  examples/ray-integration/ray-autopilot-setup.yaml
  examples/ray-integration/rl_poc_local.py
  examples/ray-integration/rl_poc_prod.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

doc: walkthrough on Sandbox NodeLocal DNS with NetworkPolicy
  examples/policy/network-policy-management/dns_poc_walkthrough.md
Due: none

Add note
  dev/load-test/test-recipes/README-rapid-burst.md
Due: none

chore: replace deprecated utcnow call
  dev/tools/push-images
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat(vap): support trusted init-containers
  examples/policy/vap/README.md
  examples/policy/vap/policy_test.go
  examples/policy/vap/secure-sandbox-policy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(vap): match both v1alpha1 and v1beta1 sandbox API versions
  examples/policy/vap/secure-sandbox-policy.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: update go to 1.26.3
  Dockerfile
  dev/tools/go.mod
  examples/chrome-sandbox/Dockerfile
  examples/chrome-sandbox/go.mod
  go.mod
  site/go.mod
  tools.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: create skill to bump golang version
  .agents/skills/bump-go-version/SKILL.md
  .agents/skills/bump-go-version/scripts/find-files
  .agents/skills/bump-go-version/scripts/get-latest-go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

chore: use major versions in go.mod go directives
  .agents/skills/bump-go-version/SKILL.md
  dev/tools/go.mod
  examples/chrome-sandbox/go.mod
  go.mod
  site/go.mod
  tools.mod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

examples: we can create sandboxes only for the duration of a tool call
  examples/sandboxed-tools/README.md
  examples/sandboxed-tools/main.go
  examples/sandboxed-tools/pkg/llm/client.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Refactor the Sandbox Template hash generation to include the namespace
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxtemplate_controller.go
  extensions/controllers/sandboxtemplate_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  extensions/controllers/utils.go
  extensions/controllers/utils_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

tweaks after review
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxwarmpool_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test
