Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

presubmit-test-autogen-up-to-date:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - dev/ci/presubmits/test-autogen-up-to-date
      resources:
        limits:
          cpu: 1
  ...

presubmit-agent-sandbox-unit-test:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/test-unit
      resources:
        requests:
          cpu: 2
          memory: 4Gi
        limits:
          cpu: 2
          memory: 4Gi

presubmit-agent-sandbox-lint-go:
  decorate: true
  spec:
    containers:
    - image: public.ecr.aws/docker/library/golang:1.24
      command:
      - dev/ci/presubmits/lint-go
      resources:
        requests:
          cpu: 4
          memory: 8Gi
        limits:
          cpu: 4
          memory: 8Gi

presubmit-agent-sandbox-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
      command:
      - runner.sh
      - dev/ci/presubmits/test-e2e
  ...

use `getattr` over `hasattr`
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

robust the test
  clients/python/agentic-sandbox-client/test_request_exceptions.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

more tests
  clients/python/agentic-sandbox-client/test_request_exceptions.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

linter issues fixed
  controllers/sandbox_controller_test.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxtemplate_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Small changes to address reviewer comments
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Document prow process managed outside of repo
  docs/development.md
Due: none

Add more info about PRs
  docs/development.md
Due: none

clarify text
  docs/development.md
Due: none

revert nit
  dev/ci/presubmits/lint-go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

address review comments
  extensions/controllers/sandboxclaim_controller.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

address review comments
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

added namespace and used early returns
  extensions/controllers/sandboxclaim_controller.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: format
  internal/metrics/metrics_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: update comment for Selector field in SandboxWarmPoolStatus
  extensions/api/v1alpha1/sandboxwarmpool_types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat: add KEP-0174 for metadata propagation
  docs/keps/174-metadata-propagation/README.md
  docs/keps/174-metadata-propagation/kep.yaml
Due: none

change Name to name in sandboxclaim_types.go
  dev/tools/.custom-gcl.yaml
  dev/tools/go.mod
  dev/tools/go.sum
  extensions/api/v1alpha1/sandboxclaim_types.go
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

resolve vulnerabilty issues
  go.mod
  go.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: verify pod ownership before operating on annotated pods
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

chore: add e2e test artifacts and venv to .gitignore
  .gitignore
Due: none

refactor: address PR #419 reviewer feedback from @vicentefb
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: generalize ownership check and harden handleSandboxExpiry
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: extract resolvePodName helper to fix warm pool pod leak on expiry
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: enforce service spec on adoption and add Owner.UID to rejection logs
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: add ownership verification to reconcilePVCs (CWE-863)
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: add ownership verification to reconcileService (CWE-863)
  controllers/sandbox_controller.go
  controllers/sandbox_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

add claim benchmark
  test/e2e/chromesandbox_claim_test.go
  test/e2e/chromesandbox_test.go
  test/e2e/utils.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

remove parallelism env variable
  test/e2e/chromesandbox_claim_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

add comment
  test/e2e/chromesandbox_claim_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

pr feedback
  test/e2e/chromesandbox_claim_test.go
  test/e2e/chromesandbox_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix: improve test-autogen-up-to-date logging to show which fix script is running
  dev/ci/presubmits/test-autogen-up-to-date
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

feat: add fix-gomod presubmit script to verify go modules are tidy
  dev/tools/fix-gomod
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix: run go mod tidy across all modules
  dev/tools/go.mod
  go.mod
  go.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

address reviewer feedback: refactor metrics and fix dependency coupling
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Resolve conflicts.
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

sandboxclaim fix TemplateNotFound (#444)
  extensions/controllers/sandboxclaim_controller.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

PSS list delete
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/test_podsnapshot_client.py
  clients/python/agentic-sandbox-client/python-counter-template.yaml
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Add unique label to pooled pods
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Fixes for comment resolution
  docs/api.md
  site/content/docs/api/_index.md
  site/hugo.yaml
Due: presubmit-test-autogen-up-to-date

Fixes for comment resolution
  examples/analytics-tool/README.md
Due: none

Update unit test
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot.md
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/podsnapshot_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/test_podsnapshot_client.py
  clients/python/agentic-sandbox-client/test_podsnapshot_extension.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Path conditions:
  presubmit-test-autogen-up-to-date: unless all of: ^docs/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-unit-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
  presubmit-agent-sandbox-lint-go: any of: ^.*\.go$|^go\.(mod|sum)$|^dev/ci/presubmits/lint-go$
  presubmit-agent-sandbox-e2e-test: unless all of: ^(docs|site)/|\.md$|^(\.gitignore|LICENSE|netlify\.toml|OWNERS)$
