Repository kubernetes-sigs/agent-sandbox: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml:

presubmits:
  kubernetes-sigs/agent-sandbox:
  - name: presubmit-test-autogen-up-to-date
    cluster: eks-prow-build-cluster
    # Skip ONLY config/metadata, docs/ and md files, but will run for site/.
    skip_if_only_changed: "^docs/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-service-account: 'true'
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - dev/ci/presubmits/test-autogen-up-to-date
        resources:
          limits:
            cpu: 1
            memory: 4Gi
          requests:
            cpu: 1
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-test-autogen-up-to-date
      description: presubmit-test-autogen-up-to-date
      testgrid-num-columns-recent: '30'
  - name: presubmit-agent-sandbox-unit-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/test-unit
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 2
            memory: 4Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-unit-test
  - name: presubmit-agent-sandbox-lint-go
    cluster: eks-prow-build-cluster
    run_if_changed: "^.*\\.go$|^go\\.(mod|sum)$|^dev/ci/presubmits/lint-go$"
    decorate: true
    spec:
      containers:
      - image: public.ecr.aws/docker/library/golang:1.24
        command:
        - dev/ci/presubmits/lint-go
        resources:
          requests:
            cpu: 4
            memory: 8Gi
          limits:
            cpu: 4
            memory: 8Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-lint-go
  - name: presubmit-agent-sandbox-e2e-test
    cluster: eks-prow-build-cluster
    skip_if_only_changed: "^(docs|site)/|\\.md$|^(\\.gitignore|LICENSE|netlify\\.toml|OWNERS)$"
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20251209-72d275a594-master
        command:
        - runner.sh
        - dev/ci/presubmits/test-e2e
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 7
            memory: 14Gi
          limits:
            cpu: 7
            memory: 14Gi
    annotations:
      testgrid-dashboards: sig-apps-agent-sandbox
      testgrid-tab-name: presubmit-e2e-test

Address nit and add ut
  api/v1beta1/groupversion_info.go
  controllers/sandbox_controller_test.go
  extensions/api/v1beta1/groupversion_info.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  extensions/controllers/sandboxclaim_pod_exclusivity_test.go
  extensions/controllers/sandboxwarmpool_controller.go
  extensions/controllers/sandboxwarmpool_controller_test.go
  internal/metrics/sandbox_collector.go
  internal/metrics/sandbox_collector_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

address coderabbit comments.
  api/v1alpha1/doc.go
  codegen.go
  dev/tools/sort-crd-versions
  docs/api.md
  extensions/api/v1alpha1/doc.go
  helm/crds/agents.x-k8s.io_sandboxes.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  k8s/crds/agents.x-k8s.io_sandboxes.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

updates to the proto definition
  packages/sandboxd/spec/admin/admin.pb.go
  packages/sandboxd/spec/admin/admin.proto
  packages/sandboxd/spec/admin/admin_grpc.pb.go
  packages/sandboxd/spec/filesystem/filesystem.pb.go
  packages/sandboxd/spec/filesystem/filesystem.proto
  packages/sandboxd/spec/filesystem/filesystem_grpc.pb.go
  packages/sandboxd/spec/generate.go
  packages/sandboxd/spec/jupyter/jupyter.pb.go
  packages/sandboxd/spec/jupyter/jupyter.proto
  packages/sandboxd/spec/jupyter/jupyter_grpc.pb.go
  packages/sandboxd/spec/process/process.pb.go
  packages/sandboxd/spec/process/process.proto
  packages/sandboxd/spec/process/process_grpc.pb.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sdk): close connector on suspend to avoid stale IP routing
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Guard outer stderr print with sys.stderr is not None check
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Update docstrings to reflect stderr warnings instead of silent suppression
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

.
  packages/sandboxd/spec/filesystem/filesystem.pb.go
  packages/sandboxd/spec/filesystem/filesystem.proto
  packages/sandboxd/spec/jupyter/jupyter.pb.go
  packages/sandboxd/spec/jupyter/jupyter.proto
  packages/sandboxd/spec/process/process.pb.go
  packages/sandboxd/spec/process/process.proto
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(go-sdk): propagate request timeouts through sandbox-router
  clients/go/sandbox/commands_test.go
  clients/go/sandbox/connector.go
  clients/go/sandbox/files_test.go
  clients/go/sandbox/types.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(router): apply request timeout via httpx request extensions
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(router): bound backend connect timeout
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(go-sdk): cap propagated timeout by per-attempt limit
  clients/go/sandbox/commands_test.go
  clients/go/sandbox/connector.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(python-sdk): validate propagated router timeout values
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(python-sdk): propagate request timeouts through sandbox-router
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/connector.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_connector.py
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-operator: add doc to maintain operator manifests
  agent-sandbox-operator/README.md
Due: none

agent-sandbox-operator: delete controller image dockerfile
  agent-sandbox-operator/Dockerfile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

agent-sandbox-operator: run dev/tools/fix-boilerplate dev/tools/fix-gomod
  agent-sandbox-operator/.devcontainer/post-install.sh
  agent-sandbox-operator/go.mod
  agent-sandbox-operator/hack/sync-k8s-manifests/main.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

operator: automatically copy files from k8s/ into operator/
  agent-sandbox-operator/Makefile
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: standard bundle directory
  agent-sandbox-operator/bundle.Dockerfile
  agent-sandbox-operator/bundle/manifests/agent-sandbox-controller_v1_service.yaml
  agent-sandbox-operator/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  agent-sandbox-operator/bundle/manifests/agents.x-k8s.io_sandboxes.yaml
  agent-sandbox-operator/bundle/manifests/extensions.agents.x-k8s.io_sandboxclaims.yaml
  agent-sandbox-operator/bundle/manifests/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  agent-sandbox-operator/bundle/manifests/extensions.agents.x-k8s.io_sandboxwarmpools.yaml
  agent-sandbox-operator/bundle/metadata/annotations.yaml
  agent-sandbox-operator/bundle/tests/scorecard/config.yaml
  agent-sandbox-operator/config/crd/bases/agents.x-k8s.io_sandboxes.yaml
  agent-sandbox-operator/config/manager/manager.yaml
  agent-sandbox-operator/config/rbac/extensions_role.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: update go and tools.mod
  agent-sandbox-operator/.devcontainer/devcontainer.json
  agent-sandbox-operator/go.mod
  agent-sandbox-operator/go.sum
  tools.mod
  tools.sum
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: add icon
  agent-sandbox-operator/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  agent-sandbox-operator/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  agent-sandbox-operator/config/manifests/icon.png
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

operator: apply coderabbit minor fixes
  agent-sandbox-operator/README.md
  agent-sandbox-operator/bundle/manifests/agent-sandbox-operator.clusterserviceversion.yaml
  agent-sandbox-operator/bundle/tests/scorecard/config.yaml
  agent-sandbox-operator/config/manifests/bases/agent-sandbox-operator.clusterserviceversion.yaml
  agent-sandbox-operator/config/network-policy/allow-metrics-traffic.yaml
  agent-sandbox-operator/config/prometheus/monitor.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Fix compound adjective hyphenation in recipe table
  site/content/docs/guides/performance-assessment/_index.md
Due: none

sandbox-router: add WebSocket idle timeout and per-client connection limits
  clients/python/agentic-sandbox-client/sandbox-router/README.md
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.yaml
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

sandbox-router: proxy WebSocket traffic to sandbox pods
  clients/python/agentic-sandbox-client/sandbox-router/README.md
  clients/python/agentic-sandbox-client/sandbox-router/requirements.in
  clients/python/agentic-sandbox-client/sandbox-router/requirements.txt
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
  clients/python/agentic-sandbox-client/sandbox-router/test_sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

sandbox-router: redact logs before printing
  clients/python/agentic-sandbox-client/sandbox-router/sandbox_router.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

fix(extensions): record correct launch type and pod condition for SandboxClaim cold starts
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

fix(sdk): addressed guard connector close on suspend and resume to avoid crashes
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/sandbox_with_snapshot_support.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/gke_extensions/snapshots/test/unit/test_sandbox_with_snapshot_support.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Storage config via sandboxclaim
  extensions/api/v1beta1/sandboxclaim_types.go
  extensions/api/v1beta1/sandboxtemplate_types.go
  extensions/api/v1beta1/zz_generated.deepcopy.go
  extensions/controllers/sandboxclaim_controller.go
  extensions/controllers/sandboxclaim_controller_test.go
  helm/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  helm/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
  k8s/crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

SDK updates for vct through sandboxclaim
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/async_sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/k8s_helper.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/sandbox_client.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_async_sandboxclient.py
  clients/python/agentic-sandbox-client/k8s_agent_sandbox/test/unit/test_sandboxclient.py
  clients/python/agentic-sandbox-client/python-sandbox-template.yaml
  clients/python/agentic-sandbox-client/python-sandbox-warmpool.yaml
  clients/python/agentic-sandbox-client/test_client.py
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

Address coderabbit comments.
  dev/tools/sort-crd-versions
  docs/api.md
  extensions/api/v1alpha1/groupversion_info.go
  extensions/api/v1alpha1/sandboxclaim_types.go
  extensions/api/v1beta1/groupversion_info.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

feat(release): enhance automated release notes generation with pre-release notices and explicit breaking changes
  dev/tools/generate-release-notes
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test

update api docs
  docs/api.md
Due: none

Revert unrelated changes in Dockerfile and test
  examples/chrome-sandbox/Dockerfile
  test/e2e/extensions/shutdown_policy_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

Add docstring note on redirect handling in SendRequest
  clients/go/sandbox/connector.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

.agents/skills: address triage-issues review feedback (round 2)
  .agents/skills/triage-issues/SKILL.md
Due: none

.agents/skills: document roadmap-change reconciliation in triage skill
  .agents/skills/triage-issues/SKILL.md
Due: none

resourcectl: best-effort Boskos release on state-write failure; use t.Setenv in tests
  dev/tools/resourcectl/main.go
  dev/tools/resourcectl/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

resourcectl: tolerate already-exited heartbeat in cleanup; fix flaky helper sleep
  dev/tools/resourcectl/main.go
  dev/tools/resourcectl/main_test.go
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-lint-go, presubmit-agent-sandbox-e2e-test

headers: fix empty-component matching, reduce DP space to O(M), add unit tests
  dev/tools/shared/headers.py
  dev/tools/shared/headers_test.py
  dev/tools/test-unit
Due: presubmit-test-autogen-up-to-date, presubmit-agent-sandbox-unit-test, presubmit-agent-sandbox-e2e-test
