Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

improve formatted output of `make` or `make help`
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

AzureMachinePoolMachine: track concurrent deletes
  azure/scope/strategies/machinepool_deployments/machinepool_deployment_strategy.go
  azure/scope/strategies/machinepool_deployments/machinepool_deployment_strategy_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

remove Windows dockershim MachinePool CI config
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/prow-machine-pool-windows/kustomization.yaml
  templates/test/ci/prow-machine-pool-windows/patches/windows-tmp-folder.yaml
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

don’t validate AKS timesync during capz E2E
  go.mod
  test/e2e/azure_test.go
  test/e2e/azure_timesync.go
  test/e2e/workloads/nsenter/daemonset.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

don’t check pre-release versions against known capi images
  test/e2e/e2e_suite_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Support specifying golang version for CI Sometimes we need to specify golang version without changing variants in test-infra repo.
  hack/ensure-go.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix(templates): add identity ref patch to kustomize
  templates/cluster-template-system-assigned-identity.yaml
  templates/cluster-template-user-assigned-identity.yaml
  templates/flavors/system-assigned-identity/kustomization.yaml
  templates/flavors/user-assigned-identity/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add node-role.kubernetes.io/control-plane tolerations and taints
  hack/log/log-dump-daemonset.yaml
  templates/addons/metrics-server/metrics-server.yaml
  templates/addons/metrics-server/patches/control-plane-toleration.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  test/e2e/conformance_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update make targets to grep control plane role
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add control-plane NoSchedule tolerations on calico deployments
  templates/addons/calico-ipv6.yaml
  templates/addons/calico-ipv6/kustomization.yaml
  templates/addons/calico-ipv6/patches/control-plane-tolerations.yaml
  templates/addons/calico.yaml
  templates/addons/calico/kustomization.yaml
  templates/addons/calico/patches/control-plane-tolerations.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump CAPI version to v1.1.2
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add AzureClusterTemplate
  PROJECT
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/conversion_test.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
  api/v1beta1/azurecluster_validation.go
  api/v1beta1/azurecluster_validation_test.go
  api/v1beta1/azureclustertemplate_conversion.go
  api/v1beta1/azureclustertemplate_default.go
  api/v1beta1/azureclustertemplate_default_test.go
  api/v1beta1/azureclustertemplate_types.go
  api/v1beta1/azureclustertemplate_validation.go
  api/v1beta1/azureclustertemplate_validation_test.go
  api/v1beta1/azureclustertemplate_webhook.go
  api/v1beta1/azureclustertemplate_webhook_test.go
  api/v1beta1/types.go
  api/v1beta1/types_class.go
  api/v1beta1/types_template.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  azure/scope/machine_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_azureclustertemplates.yaml
  config/crd/patches/webhook_in_azureclustertemplates.yaml
  config/webhook/manifests.yaml
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

:warning: Windows Clusters & dockershim deprecated
  docs/book/src/topics/windows.md
Due: none

Bump CAPI version to v1.1.2
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add control-plane toleration to calico specs
  templates/addons/calico-ipv6.yaml
  templates/addons/calico.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

use kubernetes 1.22 for e2e exp
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

use AKS 1.22 for e2e exp
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

passing custom headers to cluster and node pool create/update requests
  azure/defaults.go
  azure/scope/managedcontrolplane.go
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
  azure/services/agentpools/client.go
  azure/services/agentpools/mock_agentpools/agentpools_mock.go
  azure/services/managedclusters/client.go
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/managedclusters_test.go
  azure/services/managedclusters/mock_managedclusters/client_mock.go
  azure/services/managedclusters/mock_managedclusters/managedclusters_mock.go
  config/webhook/manifests.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1beta1/azuremanagedcluster_webhook.go
  exp/api/v1beta1/azuremanagedcluster_webhook_test.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  main.go
  util/maps/maps.go
  util/maps/maps_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Change version skew listing to a link to CAPI docs
  README.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update opentelemetry-go to v1.4.0
  go.mod
  go.sum
  hack/observability/opentelemetry/chart/Chart.yaml
  hack/observability/opentelemetry/chart/templates/_helpers.tpl
  hack/observability/opentelemetry/chart/templates/ingress.yaml
  hack/observability/opentelemetry/chart/templates/pdb.yaml
  hack/observability/opentelemetry/chart/values.yaml
  hack/observability/opentelemetry/fetch-otel-resources.sh
  pkg/ot/metrics.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

remove redundant VMSS name substring suffix
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Dump Pod events for CI
  hack/log/log-dump.sh
  test/e2e/e2e_suite_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Don't default RoleAssignmentName on machine templates
  api/v1beta1/azuremachine_webhook_test.go
  api/v1beta1/azuremachinetemplate_webhook.go
  api/v1beta1/azuremachinetemplate_webhook_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Added quiet mode
  .github/workflows/lint-docs.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

add support for spot instances in AKS
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/agentpools/agentpools.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  templates/test/ci/cluster-template-prow-aks-multi-tenancy.yaml
  templates/test/ci/prow-aks-multi-tenancy/patches/aks-agentpool1.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

chore(golangci-lint): add stylecheck linter
  .golangci.yml
  exp/api/v1beta1/azuremachinepool_test.go
  exp/api/v1beta1/azuremachinepool_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_default.go
  exp/api/v1beta1/azuremanagedcontrolplane_default_test.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

test cluster flavors: required, optional, experimental
  Makefile
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

use api server lb pointer for default
  api/v1beta1/azureclustertemplate_default.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix kubebuilder annotation for azureclustertemplate
  api/v1beta1/azureclustertemplate_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

dont return error if there are no validation errors
  api/v1beta1/azureclustertemplate_validation.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update AKS test version to v1.22
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Don't use error.Errorf in controllers to avoid showing stack traces in logs
  controllers/azurecluster_controller.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/azuremachine_controller.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepoolmachine_controller.go
  exp/controllers/azuremanagedcontrolplane_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Allow for workflow of skipping conformance tests
  docs/book/src/developers/development.md
  test/e2e/conformance_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update Calico to v3.22.0
  templates/addons/calico-ipv6.yaml
  templates/addons/calico-ipv6/kustomization.yaml
  templates/addons/calico.yaml
  templates/addons/calico/kustomization.yaml
  templates/addons/calico/patches/remove-aws-reference.yaml
  templates/addons/windows/calico/calico.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Only show applicable conditions for AzureClusters and AzureMachines
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/services/availabilitysets/availabilitysets.go
  azure/services/availabilitysets/availabilitysets_test.go
  azure/services/bastionhosts/bastionhosts.go
  azure/services/bastionhosts/bastionhosts_test.go
  azure/services/disks/disks.go
  azure/services/disks/disks_test.go
  azure/services/groups/groups.go
  azure/services/groups/groups_test.go
  azure/services/inboundnatrules/inboundnatrules.go
  azure/services/inboundnatrules/inboundnatrules_test.go
  azure/services/loadbalancers/loadbalancers.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/natgateways/natgateways.go
  azure/services/natgateways/natgateways_test.go
  azure/services/networkinterfaces/networkinterfaces.go
  azure/services/networkinterfaces/networkinterfaces_test.go
  azure/services/routetables/routetables.go
  azure/services/routetables/routetables_test.go
  azure/services/subnets/spec_test.go
  azure/services/subnets/subnets.go
  azure/services/subnets/subnets_test.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/services/virtualnetworks/mock_virtualnetworks/virtualnetworks_mock.go
  azure/services/virtualnetworks/virtualnetworks.go
  azure/services/virtualnetworks/virtualnetworks_test.go
  azure/services/vnetpeerings/vnetpeerings.go
  azure/services/vnetpeerings/vnetpeerings_test.go
  controllers/azurecluster_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Use git to clone the repo
  docs/book/src/developers/development.md
Due: none
