Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Path conditions:
  pull-cluster-api-provider-azure-test: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-e2e: (unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$) or (any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$))
  pull-cluster-api-provider-azure-e2e-aks: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-provider-azure-conformance: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-workload-upgrade: any of: go.mod|templates\/test|^scripts\/|test\/e2e|Makefile
  pull-cluster-api-provider-azure-apiversion-upgrade: any of: ^(test\/e2e\/(config\/azure-dev\.yaml|data\/shared\/v1beta1_provider\/metadata\.yaml)|azure\/scope\/.*)$
  pull-cluster-api-provider-azure-ci-entrypoint: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-conformance-custom-builds: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Adding IPVersion to load balancer frontend config
  api/v1beta1/types.go
  api/v1beta1/types_class.go
  azure/scope/cluster.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/loadbalancers/spec.go
  azure/services/loadbalancers/spec_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  docs/book/src/self-managed/api-server-endpoint.md
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

[release-1.26] Mark AzureMachinePool NotReady when VMSS provisioning fails (#6540)
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Validate against duplicate private link names
  internal/webhooks/azurecluster_validation.go
  internal/webhooks/azurecluster_validation_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Additional private link NAT IP validation
  internal/webhooks/azurecluster_validation.go
  internal/webhooks/azurecluster_validation_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Remove year from copyright header
  azure/services/privatelinks/client.go
  azure/services/privatelinks/mock_privatelinks/doc.go
  azure/services/privatelinks/privatelinks.go
  azure/services/privatelinks/privatelinks_test.go
  azure/services/privatelinks/spec.go
  azure/services/privatelinks/spec_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Refactor privatelinks service based on ASO
  api/v1beta1/types.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  azure/services/privatelinks/client.go
  azure/services/privatelinks/mock_privatelinks/privatelinks_mock.go
  azure/services/privatelinks/privatelinks.go
  azure/services/privatelinks/privatelinks_test.go
  azure/services/privatelinks/spec.go
  azure/services/privatelinks/spec_test.go
  controllers/azurecluster_reconciler.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add PrivateLinksReadyCondition to owned conditions
  azure/scope/cluster.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add private link name to example
  docs/book/src/self-managed/api-server-endpoint.md
Due: none

Fix test data to set owner field
  azure/services/privatelinks/spec_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Validate that all auto approved subscriptions are specified in allowed subscriptions
  internal/webhooks/azurecluster_validation.go
  internal/webhooks/azurecluster_validation_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add PrivateLinkService to ASO managed CRDs
  config/aso/kustomization.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump golangci-lint to v2.12.2 and quiet new findings
  .custom-gcl.yml
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  azure/scope/identity_test.go
  controllers/helpers_test.go
  internal/webhooks/azuremachine_validation.go
  pkg/ot/traces.go
  test/.golangci.yml
  test/e2e/azure_kuberay.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Enable managedFields interning with fieldsv1string build tag
  Dockerfile
  Makefile
  Tiltfile
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Adding IPVersion to load balancer frontend config
  api/v1beta1/types.go
  api/v1beta1/types_class.go
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/loadbalancers/spec.go
  azure/services/loadbalancers/spec_test.go
  azure/services/networkinterfaces/spec.go
  azure/services/networkinterfaces/spec_test.go
  azure/services/scalesets/spec.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  docs/book/src/self-managed/api-server-endpoint.md
  internal/api/v1beta1/azurecluster_default.go
  internal/webhooks/azurecluster_validation.go
  internal/webhooks/azurecluster_validation_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Simplify PrivateLink service to fit ASO interface
  azure/services/privatelinks/spec.go
  azure/services/privatelinks/spec_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Move more validation into the webhook
  azure/services/privatelinks/spec.go
  internal/webhooks/azurecluster_validation.go
  internal/webhooks/azurecluster_validation_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add RBAC permissions for PrivateLinks
  config/rbac/role.yaml
  controllers/azurecluster_controller.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Remove subscriptions from generated Parameters when removed from the spec.
  azure/services/privatelinks/spec.go
  azure/services/privatelinks/spec_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: address [It] Workload cluster creation when Creating a highly available cluster with Azure CNI v1 [REQUIRED] can create 3 control-plane nodes and 2 Linux worker nodes [Azure CNI v1]
  test/e2e/cni.go
  test/e2e/cni_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Try to rebuild VMs that failed to provision
  azure/services/virtualmachines/spec.go
  azure/services/virtualmachines/spec_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

test(e2e): verify Kueue-admitted RayJob
  test/e2e/azure_kuberay.go
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: fallback to AKS "latest" version
  test/e2e/aks_versions.go
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/helpers.go
  test/e2e/internal/kubeversion/kubeversion.go
  test/e2e/internal/kubeversion/kubeversion_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

use ASO hub/storage version for ARO-HCP typed reads, drop v1api20251223preview
  azure/scope/arocontrolplane.go
  azure/scope/arocontrolplane_test.go
  exp/api/controlplane/v1beta2/arocontrolplane_webhook_test.go
  exp/api/v1beta2/aromachinepool_webhook_test.go
  exp/controllers/arocontrolplane_reconciler.go
  exp/controllers/arocontrolplane_reconciler_test.go
  exp/controllers/aromachinepool_providerid_test.go
  exp/controllers/aromachinepool_reconciler.go
  main.go
  pkg/mutators/arocontrolplane.go
  pkg/mutators/aromachinepool.go
  pkg/mutators/aromachinepool_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

bump ASO fork to v2.19.0-hcpclusters.1
  Makefile
  config/aso/crds.yaml
  config/aso/kustomization.yaml
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

bump ARO-HCP api = remove 2024-*-preview and add 2026-06-30-preview
  config/aso/crds.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix CI branch-to-build mapping for main → backplane-5.1
  .github/workflows/ffwd-branch.yaml
  .github/workflows/pr-capi-tests.yaml
  .github/workflows/upstream-sync.yml
  .tekton/cluster-api-provider-azure-mce-50-pull-request.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

add .github/CODEOWNERS to match stolostron/azure-service-operator
  .github/CODEOWNERS
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump Azure Service Operator to v2.20.0
  config/aso/kustomization.yaml
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

TEMP: skip other [OPTIONAL] e2e tests to isolate Azure Linux 4 spec
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

test/e2e: add optional Azure Linux 4 cluster e2e test
  templates/test/ci/cluster-template-prow-azl4.yaml
  templates/test/ci/cluster-template-prow-ci-version-azl4.yaml
  templates/test/ci/prow-azl4/kustomization.yaml
  templates/test/ci/prow-azl4/patches/azuremachinetemplate-azl4-image.yaml
  templates/test/ci/prow-azl4/patches/cloud-provider-azure-cacertdir.yaml
  templates/test/ci/prow-azl4/patches/cloud-provider-azure-ci-cacertdir.yaml
  templates/test/ci/prow-azl4/patches/controller-manager.yaml
  templates/test/ci/prow-azl4/patches/disable-vm-bootstrap-extension.yaml
  templates/test/ci/prow-azl4/patches/kubeadm-config-template-azl4.yaml
  templates/test/ci/prow-azl4/patches/remove-marketplace-image.yaml
  templates/test/ci/prow-ci-version-azl4/kustomization.yaml
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Default azure-cni-v1, spot, and custom-vnet e2e templates to Azure Linux 4
  templates/test/ci/cluster-template-prow-azure-cni-v1.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-spot.yaml
  templates/test/ci/patches/azl4-azuremachinetemplate-image.yaml
  templates/test/ci/patches/azl4-cloud-provider-azure-cacertdir.yaml
  templates/test/ci/patches/azl4-cloud-provider-azure-ci-cacertdir.yaml
  templates/test/ci/patches/azl4-kubeadmconfigtemplate-setup.yaml
  templates/test/ci/patches/azl4-kubeadmcontrolplane-setup.yaml
  templates/test/ci/patches/azl4-remove-marketplace-image.yaml
  templates/test/ci/prow-azure-cni-v1/kustomization.yaml
  templates/test/ci/prow-custom-vnet/kustomization.yaml
  templates/test/ci/prow-spot/kustomization.yaml
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Revert azure-cni-v1 prow template to Ubuntu (default OS)
  templates/test/ci/cluster-template-prow-azure-cni-v1.yaml
  templates/test/ci/prow-azure-cni-v1/kustomization.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

docs: add downstream fork context index (docs/DOWNSTREAM.md)
  docs/DOWNSTREAM.md
Due: none

fix: correct branch model table in docs/DOWNSTREAM.md
  docs/DOWNSTREAM.md
Due: none
