Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-azure-e2e-aks:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      command:
      - runner.sh
  ...

pull-cluster-api-provider-azure-capi-e2e:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      command:
      - runner.sh
  ...

pull-cluster-api-provider-azure-conformance:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      command:
      - runner.sh
  ...

pull-cluster-api-provider-azure-conformance-with-ci-artifacts:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      command:
      - runner.sh
  ...

pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      command:
      - runner.sh
  ...

pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      command:
      - runner.sh
  ...

pull-cluster-api-provider-azure-windows-with-ci-artifacts:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20241230-3006692a6f-1.29
      command:
      - runner.sh
  ...

fix custom registry name
  templates/addons/cluster-api-helm/calico.yaml
  templates/test/ci/cluster-template-prow-apiserver-ilb.yaml
  templates/test/ci/cluster-template-prow-ci-version-dra.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-edgezone.yaml
  templates/test/ci/cluster-template-prow-flatcar-sysext.yaml
  templates/test/ci/cluster-template-prow-flatcar.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-flex.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-spot.yaml
  templates/test/ci/cluster-template-prow-topology.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-dra.yaml
  templates/test/dev/cluster-template-custom-builds-load.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-scale-in.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-md-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-node-drain.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

include dash?
  templates/addons/cluster-api-helm/calico.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

re-run generate
  templates/test/ci/cluster-template-prow-ci-version-md-and-mp.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix security vulnerability (#5638)
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Don't use images from MCR
  templates/addons/cluster-api-helm/calico-dual-stack.yaml
  templates/addons/cluster-api-helm/calico-ipv6.yaml
  templates/addons/cluster-api-helm/calico.yaml
  templates/addons/windows/calico/calico.yaml
  templates/test/ci/cluster-template-prow-apiserver-ilb.yaml
  templates/test/ci/cluster-template-prow-ci-version-dra.yaml
  templates/test/ci/cluster-template-prow-ci-version-dual-stack.yaml
  templates/test/ci/cluster-template-prow-ci-version-ipv6.yaml
  templates/test/ci/cluster-template-prow-ci-version-md-and-mp.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-clusterclass-ci-rke2.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-dual-stack.yaml
  templates/test/ci/cluster-template-prow-edgezone.yaml
  templates/test/ci/cluster-template-prow-flatcar-sysext.yaml
  templates/test/ci/cluster-template-prow-flatcar.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-flex.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-spot.yaml
  templates/test/ci/cluster-template-prow-topology.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-dra.yaml
  templates/test/dev/cluster-template-custom-builds-load-dra.yaml
  templates/test/dev/cluster-template-custom-builds-load.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-scale-in.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-md-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-node-drain.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump CAPI to v1.11.0-alpha.0
  Makefile
  Tiltfile
  docs/book/src/developers/getting-started-with-capi-operator.md
  go.mod
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Moved AzureASOManaged API to v1beta1
  api/v1beta1/azureasomanagedcluster_types.go
  api/v1beta1/azureasomanagedcluster_webhook.go
  api/v1beta1/azureasomanagedclustertemplate_types.go
  api/v1beta1/azureasomanagedcontrolplane_types.go
  api/v1beta1/azureasomanagedcontrolplane_webhook.go
  api/v1beta1/azureasomanagedcontrolplanetemplate_types.go
  api/v1beta1/azureasomanagedmachinepool_types.go
  api/v1beta1/azureasomanagedmachinepool_webhook.go
  api/v1beta1/azureasomanagedmachinepooltemplate_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepooltemplates.yaml
  config/webhook/manifests.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

resolving Jon's comments
  api/v1alpha1/azureasomanagedcluster_webhook.go
  api/v1alpha1/azureasomanagedcontrolplane_webhook.go
  api/v1alpha1/azureasomanagedmachinepool_webhook.go
  api/v1beta1/azureasomanagedcluster_types.go
  api/v1beta1/azureasomanagedcluster_webhook.go
  api/v1beta1/azureasomanagedclustertemplate_types.go
  api/v1beta1/azureasomanagedcontrolplane_types.go
  api/v1beta1/azureasomanagedcontrolplane_webhook.go
  api/v1beta1/azureasomanagedcontrolplanetemplate_types.go
  api/v1beta1/azureasomanagedmachinepool_types.go
  api/v1beta1/azureasomanagedmachinepool_webhook.go
  api/v1beta1/azureasomanagedmachinepooltemplate_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepooltemplates.yaml
  config/webhook/manifests.yaml
  controllers/agentpooladopt_controller.go
  controllers/agentpooladopt_controller_test.go
  controllers/azureasomanagedcluster_controller.go
  controllers/azureasomanagedcluster_controller_test.go
  controllers/azureasomanagedcontrolplane_controller.go
  controllers/azureasomanagedcontrolplane_controller_test.go
  controllers/azureasomanagedmachinepool_controller.go
  controllers/azureasomanagedmachinepool_controller_test.go
  controllers/managedclusteradopt_controller.go
  controllers/resource_reconciler.go
  controllers/resource_reconciler_test.go
  main.go
  pkg/mutators/azureasomanagedcontrolplane.go
  pkg/mutators/azureasomanagedmachinepool.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Match AzureASOManaged references on group and kind, not version
  controllers/agentpooladopt_controller.go
  controllers/azureasomanagedcluster_controller.go
  controllers/azureasomanagedcluster_controller_test.go
  controllers/azureasomanagedcontrolplane_controller.go
  controllers/azureasomanagedcontrolplane_controller_test.go
  controllers/azureasomanagedmachinepool_controller.go
  controllers/azureasomanagedmachinepool_controller_test.go
  controllers/managedclusteradopt_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Skip rest of ci-entrypoint when cluster create fails
  hack/create-dev-cluster.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Collect kube-apiserver logs from node
  test/e2e/azure_logcollector.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add ability to disable creation of dns zone for unmanaged installs
  api/v1beta1/types_class.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/cluster.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add audience for FIC create
  scripts/kind-with-registry.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: nil pointer when deleting MachinePool
  azure/scope/machinepool.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update all the kubernetes versions to 1.32
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update test/e2e/config/azure-dev.yaml
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update all the kubernetes versions to 1.32
  Makefile
  Tiltfile
  docs/book/src/developers/development.md
  docs/book/src/managed/managedcluster.md
  hack/create-dev-cluster.sh
  templates/flavors/README.md
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Use a 1.31 version that exists
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

ARO ... define structures
  PROJECT
  config/crd/bases/infrastructure.cluster.x-k8s.io_aroclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_arocontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_aromachinepools.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_aroclusters.yaml
  config/crd/patches/cainjection_in_arocontrolplanes.yaml
  config/crd/patches/cainjection_in_aromachinepools.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  exp/api/v1beta1/arocluster_types.go
  exp/api/v1beta1/arocontrolplane_types.go
  exp/api/v1beta1/aromachinepool_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  exp/controllers/arocluster_controller.go
  exp/controllers/arocontrolplane_controller.go
  exp/controllers/aromachinepool_controller.go
  feature/feature.go
  go.mod
  go.sum
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

chore(deps): bump tj-actions/changed-files to v46.0.5
  .github/workflows/release.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump CAPI to v1.9.8
  Makefile
  Tiltfile
  docs/book/src/getting-started.md
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add Aro-hcp proposal
  docs/proposals/20250425-aro-hcp.md
Due: none

Remove expected etcd, coredns version from upgrade tests
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

Remove upstream image references
  templates/addons/calico-dual-stack/values.yaml
  templates/addons/calico-ipv6/values.yaml
  test/e2e/data/infrastructure-azure/v1.18.2/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.18.2/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.19.1/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.19.1/cluster-template-prow.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update all the kubernetes versions to 1.32 (#5528)
  Makefile
  Tiltfile
  docs/book/src/developers/development.md
  docs/book/src/managed/managedcluster.md
  hack/create-dev-cluster.sh
  templates/addons/calico-dual-stack/values.yaml
  templates/addons/calico-ipv6/values.yaml
  templates/flavors/README.md
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1.18.2/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.18.2/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.19.1/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.19.1/cluster-template-prow.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Replace docker.io with quay for calico
  templates/addons/calico.yaml
  templates/addons/calico/kustomization.yaml
  templates/addons/calico/patches/replace-docker-with-quay.yaml
  templates/test/ci/cluster-template-prow-private.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

More reverts
  templates/addons/calico-dual-stack/values.yaml
  templates/addons/calico-ipv6/values.yaml
  templates/addons/cluster-api-helm/calico-dual-stack.yaml
  templates/addons/cluster-api-helm/calico-ipv6.yaml
  templates/test/ci/cluster-template-prow-ci-version-dual-stack.yaml
  templates/test/ci/cluster-template-prow-ci-version-ipv6.yaml
  templates/test/ci/cluster-template-prow-dual-stack.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Try manually editing template
  templates/addons/calico/calico-vxlan.yaml
  templates/addons/calico/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Work around tigera-operator validation/defaulting race
  templates/addons/cluster-api-helm/calico.yaml
  templates/test/ci/cluster-template-prow-apiserver-ilb.yaml
  templates/test/ci/cluster-template-prow-ci-version-dra.yaml
  templates/test/ci/cluster-template-prow-ci-version-md-and-mp.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-clusterclass-ci-rke2.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-edgezone.yaml
  templates/test/ci/cluster-template-prow-flatcar-sysext.yaml
  templates/test/ci/cluster-template-prow-flatcar.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-flex.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-spot.yaml
  templates/test/ci/cluster-template-prow-topology.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-dra.yaml
  templates/test/dev/cluster-template-custom-builds-load-dra.yaml
  templates/test/dev/cluster-template-custom-builds-load.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/data/infrastructure-azure/v1.18.2/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.18.2/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.19.1/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.19.1/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-scale-in.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-md-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-node-drain.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add wait-nodes-ready interval
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

Path conditions:
  pull-cluster-api-provider-azure-e2e: (unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$) or (any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$))
  pull-cluster-api-provider-azure-e2e-aks: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-provider-azure-conformance: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-windows-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-apiversion-upgrade: any of: ^(test\/e2e\/(config\/azure-dev\.yaml|data\/shared\/v1beta1_provider\/metadata\.yaml)|azure\/scope\/.*)$
  pull-cluster-api-provider-azure-ci-entrypoint: any of: ^scripts\/|^hack/|templates\/test
  pull-cluster-api-provider-azure-conformance-custom-builds: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-windows-custom-builds: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
