Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

pull-cluster-api-provider-azure-e2e-windows-dockershim:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

pull-cluster-api-provider-azure-e2e-exp:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

Cleanup go install script
  scripts/go_install.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add patch for ipv6 calico config
  templates/addons/calico-ipv6.yaml
  templates/addons/calico-ipv6/kustomization.yaml
  templates/addons/calico-ipv6/patches/calico-config.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add warning to docs about reference image availability
  docs/book/src/topics/custom-images.md
Due: none

Remove logs in Makefile for debugging image push job
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Use list-v2 option for generating release notes
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Fix no resource type "nodes" error msg
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

enableUltraSSD for agentpool support
  azure/services/agentpools/agentpools.go
  azure/services/managedclusters/managedclusters.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Make security groups reconcile/delete async
  azure/scope/cluster.go
  azure/services/securitygroups/client.go
  azure/services/securitygroups/mock_securitygroups/client_mock.go
  azure/services/securitygroups/mock_securitygroups/doc.go
  azure/services/securitygroups/mock_securitygroups/securitygroups_mock.go
  azure/services/securitygroups/securitygroups.go
  azure/services/securitygroups/securitygroups_test.go
  azure/services/securitygroups/spec.go
  azure/services/securitygroups/spec_test.go
  azure/types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

added enabledUltraDisks support
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

ultradisk plumbing
  azure/scope/managedcontrolplane.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

upgrade to golangci-lint v1.44.2
  Makefile
  azure/services/loadbalancers/client.go
  exp/controllers/azuremanagedmachinepool_reconciler_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Update Calico to v3.22.1
  templates/addons/calico-ipv6.yaml
  templates/addons/calico.yaml
  templates/addons/windows/calico/calico.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

enable/disable AKS cluster add-ons
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  templates/cluster-template-aks-multi-tenancy.yaml
  templates/flavors/aks-multi-tenancy/cluster-template.yaml
  templates/test/ci/cluster-template-prow-aks-multi-tenancy.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Fetch calico manifests from release artifacts
  .gitignore
  Makefile
  templates/addons/calico-ipv6/calico-policy-only.yaml
  templates/addons/calico-ipv6/kustomization.yaml
  templates/addons/calico/calico-vxlan.yaml
  templates/addons/calico/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Fix the issue when ControlPlaneEndpoint was not updated on AzureManagedControlPlane correctly.
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/managedclusters_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Remove AKS AAD flavor
  templates/cluster-template-aks-aad.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Remove AKS multi-tenancy flavor
  templates/flavors/aks-multi-tenancy/azure-cluster-identity.yaml
  templates/flavors/aks-multi-tenancy/cluster-template.yaml
  templates/flavors/aks-multi-tenancy/kustomization.yaml
  templates/flavors/aks-multi-tenancy/patches/azurecluster-identity-ref.yaml
  templates/test/ci/cluster-template-prow-aks-multi-tenancy.yaml
  templates/test/ci/cluster-template-prow-aks.yaml
  templates/test/ci/prow-aks/kustomization.yaml
  templates/test/ci/prow-aks/patches/addons.yaml
  templates/test/ci/prow-aks/patches/aks-agentpool0.yaml
  templates/test/ci/prow-aks/patches/aks-agentpool1.yaml
  templates/test/ci/prow-aks/patches/aks-agentpool2.yaml
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Use a list for Azure services in AzureCluster and AzureMachine reconcilers
  azure/interfaces.go
  azure/mock_azure/azure_mock.go
  azure/services/agentpools/agentpools.go
  azure/services/availabilitysets/availabilitysets.go
  azure/services/bastionhosts/bastionhosts.go
  azure/services/disks/disks.go
  azure/services/groups/groups.go
  azure/services/groups/groups_test.go
  azure/services/inboundnatrules/inboundnatrules.go
  azure/services/loadbalancers/loadbalancers.go
  azure/services/managedclusters/managedclusters.go
  azure/services/natgateways/natgateways.go
  azure/services/networkinterfaces/networkinterfaces.go
  azure/services/privatedns/privatedns.go
  azure/services/publicips/publicips.go
  azure/services/roleassignments/roleassignments.go
  azure/services/routetables/routetables.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesetvms/scalesetvms.go
  azure/services/securitygroups/securitygroups.go
  azure/services/subnets/subnets.go
  azure/services/tags/tags.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualnetworks/virtualnetworks.go
  azure/services/vmextensions/vmextensions.go
  azure/services/vmssextensions/vmssextensions.go
  azure/services/vnetpeerings/vnetpeerings.go
  controllers/azurecluster_reconciler.go
  controllers/azuremachine_reconciler.go
  controllers/azuremachine_reconciler_test.go
  exp/controllers/azuremachinepool_controller_unit_test.go
  exp/controllers/azuremachinepool_reconciler.go
  exp/controllers/azuremachinepool_reconciler_test.go
  exp/controllers/azuremanagedcontrolplane_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add IsManaged to service reconciler interface
  azure/errors.go
  azure/interfaces.go
  azure/mock_azure/azure_mock.go
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/scope/machinepoolmachine.go
  azure/scope/managedcontrolplane.go
  azure/services/availabilitysets/availabilitysets.go
  azure/services/bastionhosts/bastionhosts.go
  azure/services/disks/disks.go
  azure/services/groups/groups.go
  azure/services/groups/groups_test.go
  azure/services/inboundnatrules/inboundnatrules.go
  azure/services/loadbalancers/loadbalancers.go
  azure/services/managedclusters/managedclusters.go
  azure/services/natgateways/natgateways.go
  azure/services/natgateways/natgateways_test.go
  azure/services/networkinterfaces/networkinterfaces.go
  azure/services/privatedns/privatedns.go
  azure/services/publicips/publicips.go
  azure/services/roleassignments/roleassignments.go
  azure/services/routetables/routetables.go
  azure/services/scalesets/scalesets.go
  azure/services/securitygroups/securitygroups.go
  azure/services/subnets/subnets.go
  azure/services/tags/tags.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualnetworks/virtualnetworks.go
  azure/services/virtualnetworks/virtualnetworks_test.go
  azure/services/vmextensions/vmextensions.go
  azure/services/vmssextensions/vmssextensions.go
  azure/services/vnetpeerings/vnetpeerings.go
  controllers/azurecluster_reconciler.go
  controllers/azurecluster_reconciler_test.go
  controllers/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

add Eventually() to retryable k8s E2E operations
  test/e2e/aks.go
  test/e2e/azure_failuredomains.go
  test/e2e/azure_gpu.go
  test/e2e/azure_lb.go
  test/e2e/azure_machinepool_drain.go
  test/e2e/azure_privatecluster.go
  test/e2e/helpers.go
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/job/job.go
  test/e2e/kubernetes/namespace/namespace.go
  test/e2e/kubernetes/networkpolicy/networkpolicy.go
  test/e2e/kubernetes/node/node.go
  test/e2e/kubernetes/pod/pod.go
  test/e2e/log.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

feat: use force delete when deleting VMs
  azure/services/virtualmachines/client.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

E2E: waiting for services to be deleted before proceeding
  test/e2e/azure_lb.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Install nfs-common package for CI test
  templates/cluster-template-external-cloud-provider.yaml
  templates/flavors/external-cloud-provider/patches/external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

E2E: disable flaky machinepoolmachine drain test
  test/e2e/azure_machinepool_drain.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

docs: fix kustomizelinux dead link in development.md
  docs/book/src/developers/development.md
Due: none

e2e: wait 5 mins for LB create
  test/e2e/azure_lb.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

chore(golangci-lint): add use quiet mode in docs
  .github/workflows/lint-docs.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add custom directories and UI buttons to Tilt flavors
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Use clusterctl for variable substitution
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Hack on using env variables for substitution
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Clean comments
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Refresh owners file
  OWNERS
  OWNERS_ALIASES
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

feat: add dual-stack support
  Makefile
  docs/book/src/topics/dual-stack.md
  templates/addons/calico-dual-stack.yaml
  templates/addons/calico-dual-stack/kustomization.yaml
  templates/addons/calico-dual-stack/patches/calico-config.yaml
  templates/cluster-template-dual-stack.yaml
  templates/flavors/dual-stack/kustomization.yaml
  templates/flavors/dual-stack/machine-deployment.yaml
  templates/flavors/dual-stack/patches/controlplane-azuremachinetemplate.yaml
  templates/flavors/dual-stack/patches/dual-stack.yaml
  templates/flavors/dual-stack/patches/kubeadm-controlplane.yaml
  templates/test/ci/cluster-template-prow-dual-stack.yaml
  templates/test/ci/prow-dual-stack/kustomization.yaml
  test/e2e/azure_lb.go
  test/e2e/azure_machinepool_drain.go
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/kubernetes/deployment/deployment.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

fix outbound lb conversion for v1alpha3 clusters
  api/v1alpha3/azurecluster_conversion.go
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Refactor substitutions to use env vars
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: enable ilb test with IPv6
  test/e2e/azure_lb.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
