Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Path conditions:
  pull-cluster-api-provider-azure-e2e: (unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$) or (any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$))
  pull-cluster-api-provider-azure-e2e-aks: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-provider-azure-conformance: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-windows-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-apiversion-upgrade: any of: ^(test\/e2e\/(config\/azure-dev\.yaml|data\/shared\/v1beta1_provider\/metadata\.yaml)|azure\/scope\/.*)$
  pull-cluster-api-provider-azure-ci-entrypoint: any of: ^scripts\/|^hack/|templates\/test
  pull-cluster-api-provider-azure-conformance-custom-builds: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-windows-custom-builds: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Bump CAPI to v1.10.0-rc.0
  api/v1alpha1/azureasomanagedcluster_webhook.go
  api/v1alpha1/azureasomanagedcontrolplane_webhook.go
  api/v1alpha1/azureasomanagedmachinepool_webhook.go
  api/v1beta1/azurecluster_webhook.go
  api/v1beta1/azureclusteridentity_webhook.go
  api/v1beta1/azureclustertemplate_webhook.go
  api/v1beta1/azuremachinetemplate_webhook.go
  api/v1beta1/azuremanagedcluster_webhook.go
  api/v1beta1/azuremanagedclustertemplate_webhook.go
  exp/api/v1beta1/azuremachinepoolmachine_webhook.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

fix e2e tests
  test/e2e/aks_versions.go
  test/e2e/azure_edgezone.go
  test/e2e/azure_selfhosted.go
  test/e2e/azure_test.go
  test/e2e/capi_test.go
  test/e2e/cni.go
  test/e2e/common.go
  test/e2e/conformance_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

make generate
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepoolmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix more tests
  api/v1beta1/azurecluster_webhook.go
  api/v1beta1/azurecluster_webhook_test.go
  azure/scope/cluster_test.go
  controllers/helpers_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix unit tests
  api/v1beta1/azurecluster_webhook_test.go
  api/v1beta1/azureclusteridentity_webhook_test.go
  api/v1beta1/azureclustertemplate_webhook_test.go
  api/v1beta1/azuremachinetemplate_webhook_test.go
  api/v1beta1/azuremanagedcluster_webhook_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump golangci-lint to v2.1.2
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  Makefile
  api/v1beta1/azureimage_validation.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/azuremanagedmachinepool_webhook.go
  azure/scope/machinepool.go
  azure/services/aksextensions/spec.go
  azure/services/scalesets/spec.go
  hack/lint-azure-latest.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump golangci GitHub action to v7.0.0
  .github/workflows/pr-golangci-lint.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Acknowledge all ASO resources before creating
  controllers/azureasomanagedcluster_controller.go
  controllers/azureasomanagedcluster_controller_test.go
  controllers/azureasomanagedcontrolplane_controller.go
  controllers/azureasomanagedcontrolplane_controller_test.go
  controllers/azureasomanagedmachinepool_controller.go
  controllers/azureasomanagedmachinepool_controller_test.go
  controllers/resource_reconciler.go
  controllers/resource_reconciler_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

fixup! Acknowledge all ASO resources before creating
  controllers/azureasomanagedcluster_controller.go
  controllers/azureasomanagedcontrolplane_controller.go
  controllers/azureasomanagedmachinepool_controller.go
  controllers/resource_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

azure/services/loadbalancers: Remove deprecated field NumberOfProbes
  azure/services/loadbalancers/spec.go
  azure/services/loadbalancers/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: support ClusterCacheTracker
  config/manager/manager.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add flag to disable bootstrap extension and improve error message
  api/v1beta1/azuremachine_types.go
  api/v1beta1/azuremachine_webhook.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/defaults.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/services/virtualmachines/spec.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

✨ Allow more permissive extensibility for securityRules and additional CP LoadBalancers (#5525)
  api/v1beta1/types.go
  api/v1beta1/types_template.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/loadbalancers/spec.go
  azure/services/loadbalancers/spec_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
  docs/book/src/self-managed/custom-vnet.md
  templates/cluster-template-clusterclass-rke2.yaml
  templates/flavors/clusterclass-rke2/azure-cluster-template.yaml
  templates/flavors/clusterclass-rke2/azure-machine-template-controlplane.yaml
  templates/flavors/clusterclass-rke2/azure-machine-template-worker.yaml
  templates/flavors/clusterclass-rke2/clusterclass.yaml
  templates/flavors/clusterclass-rke2/kustomization.yaml
  templates/flavors/clusterclass-rke2/rke2-config-template.yaml
  templates/flavors/clusterclass-rke2/rke2-controlplane-template.yaml
  templates/test/ci/cluster-template-prow-clusterclass-ci-rke2.yaml
  templates/test/ci/cluster-template-prow-topology-rke2.yaml
  templates/test/ci/prow-clusterclass-ci-rke2/ccm-patch.yaml
  templates/test/ci/prow-clusterclass-ci-rke2/kustomization.yaml
  templates/test/ci/prow-clusterclass-ci-rke2/patches.yaml
  templates/test/ci/prow-clusterclass-ci-rke2/rke2-config-template.yaml
  templates/test/ci/prow-clusterclass-ci-rke2/variables.yaml
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Rebuild nicSpec on provisioning failed status
  azure/services/async/async.go
  azure/services/networkinterfaces/spec.go
  azure/services/networkinterfaces/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

use anonymous function to get a copy of fakeStaticPrivateIPNICSpec in the test spec
  azure/services/networkinterfaces/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

NIC should be try to fix itself when it is in ProvisioningFailed State (#5569)
  azure/services/async/async.go
  azure/services/networkinterfaces/spec.go
  azure/services/networkinterfaces/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add make aks-reset target to clean up AKS clusters
  scripts/aks-reset.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add aks-reset target to Makefile
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Make aks-reset.sh executable
  scripts/aks-reset.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

aks-reset commit
  scripts/aks-reset.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

removed extra lines
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

test cla
  scripts/aks-reset.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

postCreateOrUpdateResourceHook checkpoint, still getting error
  api/v1beta1/azurecluster_webhook.go
  azure/services/subnets/subnets.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Network status logic, no immutable error
  api/v1beta1/azurecluster_types.go
  api/v1beta1/types.go
  azure/scope/cluster.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

avoid setting FailureReason/FailureMessage
  exp/controllers/azuremachinepoolmachine_controller.go
  exp/controllers/azuremachinepoolmachine_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

MachinePool: avoid SetNotReady during normal processing
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

only update subnet spec if status CIDRs not empty
  azure/services/subnets/subnets.go
  azure/services/subnets/subnets_test.go
  azure/services/virtualnetworks/virtualnetworks.go
  azure/services/virtualnetworks/virtualnetworks_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

remove setting SUBSCRIPTION_TYPE
  Tiltfile
  docs/book/src/developers/tilt-with-aks-as-mgmt-ilb.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

update docs
  docs/book/src/developers/tilt-with-aks-as-mgmt-ilb.md
Due: none

add aks-cleanup to reuse an existing AKS Cluster as mgmt cluster
  Makefile
  scripts/reuse-existing-aks-cluster.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

amend! Acknowledge all ASO resources before creating
  api/v1alpha1/azureasomanagedcluster_types.go
  api/v1alpha1/azureasomanagedcontrolplane_types.go
  api/v1alpha1/azureasomanagedmachinepool_types.go
  controllers/resource_reconciler.go
  controllers/resource_reconciler_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim
