Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Path conditions:
  pull-cluster-api-provider-azure-test: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-e2e: (unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$) or (any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$))
  pull-cluster-api-provider-azure-e2e-aks: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-provider-azure-conformance: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-workload-upgrade: any of: go.mod|templates\/test|^scripts\/|test\/e2e|Makefile
  pull-cluster-api-provider-azure-apiversion-upgrade: any of: ^(test\/e2e\/(config\/azure-dev\.yaml|data\/shared\/v1beta1_provider\/metadata\.yaml)|azure\/scope\/.*)$
  pull-cluster-api-provider-azure-ci-entrypoint: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-conformance-custom-builds: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

TEMP: skip other [OPTIONAL] e2e tests to isolate Azure Linux 4 spec
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump Azure Service Operator from v2.16.0 to v2.16.1
  config/aso/crds.yaml
  config/aso/kustomization.yaml
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

fix: add main and backplane-5.x branches to weekly security scan (ARO-26962) (#252)
  .github/workflows/weekly-security-scan.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: add missing branches to security and CI workflows (ARO-26962) (#253)
  .github/workflows/codeql.yml
  .github/workflows/cover.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

test/e2e: make collectPodLogs log dump best-effort
  test/e2e/azure_clusterproxy.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

ARO-26765: Fix AROMachinePool node matching using HyperShift labels - Sync backplane-2.17 to main (#257)
  exp/controllers/aromachinepool_providerid_test.go
  exp/controllers/aromachinepool_reconciler.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add CI check to block PRs targeting backplane branches (#254)
  .github/workflows/protect-backplane-branches.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Remove backplane-5* from scanning workflows (#255)
  .github/workflows/codeql.yml
  .github/workflows/cover.yaml
  .github/workflows/weekly-security-scan.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Disable VM Bootstrap Extension by default
  api/v1beta1/azuremachine_types.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  exp/api/v1beta1/azuremachinepool_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  internal/exp/webhooks/azuremachinepool_webhook.go
  internal/exp/webhooks/azuremachinepool_webhook_test.go
  internal/webhooks/azuremachine_webhook.go
  internal/webhooks/azuremachine_webhook_test.go
  templates/test/ci/prow-azl3/patches/disable-vm-bootstrap-extension.yaml
  test/e2e/azure_vmextensions.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add release notes for v1.24.1
  CHANGELOG/v1.24.1.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add release notes for v1.23.2
  CHANGELOG/v1.23.2.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

ARO-27204: Harden getBaseDomainPrefix error handling and improve test coverage (#265)
  exp/controllers/aromachinepool_providerid_test.go
  exp/controllers/aromachinepool_reconciler.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add release notes for v1.24.1 (#6323)
  CHANGELOG/v1.24.1.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add upstream sync workflow for CAPZ (ARO-27205) (#264)
  .github/workflows/upstream-sync.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

ARO-26781 - add aditional tags for konflug builds (#266)
  .tekton/cluster-api-provider-azure-mce-217-push.yaml
  .tekton/cluster-api-provider-azure-mce-50-pull-request.yaml
  .tekton/cluster-api-provider-azure-mce-50-push.yaml
  .tekton/cluster-api-provider-azure-mce-51-pull-request.yaml
  .tekton/cluster-api-provider-azure-mce-51-push.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: Add tests for zone-redundant load balancers
  azure/scope/cluster_test.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/loadbalancers/spec_test.go
  internal/webhooks/azurecluster_webhook_test.go
  test/e2e/azure_privatecluster.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

templates: Add zone-redundant LB config to private cluster flavor
  templates/cluster-template-private.yaml
  templates/flavors/private/patches/private-lb.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/prow-private/patches/vnet-peerings.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add AvailabilityZones field to LoadBalancerSpec
  api/v1beta1/types.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/cluster.go
  azure/services/loadbalancers/spec.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  internal/webhooks/azurecluster_webhook.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

docs: Add load balancer zone redundancy documentation
  docs/book/src/SUMMARY.md
  docs/book/src/self-managed/load-balancer-zone-redundancy.md
Due: none

Add support for zone-redundant load balancers (#5944)
  api/v1beta1/types.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/loadbalancers/spec.go
  azure/services/loadbalancers/spec_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  docs/book/src/SUMMARY.md
  docs/book/src/self-managed/load-balancer-zone-redundancy.md
  internal/webhooks/azurecluster_webhook.go
  internal/webhooks/azurecluster_webhook_test.go
  templates/cluster-template-private.yaml
  templates/flavors/private/patches/private-lb.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/prow-private/patches/vnet-peerings.yaml
  test/e2e/azure_privatecluster.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

feat: SkipMachinePoolModelReconciliation
  azure/scope/machinepool.go
  azure/scope/strategies/machinepool_deployments/machinepool_deployment_strategy.go
  feature/feature.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Extract shared ReconcileAll/DeleteAll helpers to reduce service boilerplate
  azure/mock_reconciler/doc.go
  azure/mock_reconciler/reconciler_mock.go
  azure/reconcile.go
  azure/reconcile_test.go
  azure/services/disks/disks.go
  azure/services/inboundnatrules/inboundnatrules.go
  azure/services/loadbalancers/loadbalancers.go
  azure/services/networkinterfaces/networkinterfaces.go
  azure/services/publicips/publicips.go
  azure/services/routetables/routetables.go
  azure/services/securitygroups/securitygroups.go
  azure/services/vnetpeerings/vnetpeerings.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

review feedback
  azure/scope/machinepool.go
  azure/scope/strategies/machinepool_deployments/machinepool_deployment_strategy.go
  azure/scope/strategies/machinepool_deployments/machinepool_deployment_strategy_test.go
  feature/feature.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

additional test scenario and documentation
  azure/scope/machinepool_test.go
  docs/book/src/self-managed/machinepools.md
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: use SYNC_PAT for upstream sync workflow (#274)
  .github/workflows/upstream-sync.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

ARO-26748: add PR check triggering capi-tests after Konflux build (#279)
  .github/workflows/pr-capi-tests.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: use full Konflux check name with 'Red Hat Konflux /' prefix
  .github/workflows/pr-capi-tests.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump Azure Service Operator from v2.16.1 to v2.17.0
  azure/scope/managedcontrolplane.go
  azure/services/fleetsmembers/fleetsmembers.go
  azure/services/fleetsmembers/spec.go
  azure/services/fleetsmembers/spec_test.go
  config/aso/crds.yaml
  config/aso/kustomization.yaml
  controllers/azuremanagedcontrolplane_controller_test.go
  go.mod
  go.sum
  main.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Remove dead code
  azure/defaults.go
  controllers/helpers.go
  go.mod
  pkg/cloudtest/cloudtest.go
  pkg/record/recorder.go
  util/identity/defaults.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Default azure-cni-v1, spot, and custom-vnet e2e templates to Azure Linux 4
  templates/test/ci/cluster-template-prow-azure-cni-v1.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-spot.yaml
  templates/test/ci/patches/azl4-azuremachinetemplate-image.yaml
  templates/test/ci/patches/azl4-cloud-provider-azure-cacertdir.yaml
  templates/test/ci/patches/azl4-cloud-provider-azure-ci-cacertdir.yaml
  templates/test/ci/patches/azl4-kubeadmconfigtemplate-setup.yaml
  templates/test/ci/patches/azl4-kubeadmcontrolplane-setup.yaml
  templates/test/ci/patches/azl4-remove-marketplace-image.yaml
  templates/test/ci/prow-azure-cni-v1/kustomization.yaml
  templates/test/ci/prow-custom-vnet/kustomization.yaml
  templates/test/ci/prow-spot/kustomization.yaml
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Make the apiversion-upgrade management cluster HA
  go.mod
  test/e2e/capi_test.go
  test/e2e/clusterctl_upgrade.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

harden git workflows
  .github/workflows/codeql.yml
  .github/workflows/cover.yaml
  .github/workflows/lint-docs.yaml
  .github/workflows/pr-golangci-lint.yaml
  .github/workflows/weekly-security-scan.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

dependabot(deps): bump go.opentelemetry.io/otel from 1.43.0 to 1.44.0
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp
