Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

create separate context for clusterctl upgrade tests
  test/e2e/capi_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

add v1alpha4 -> v1beta1 upgrade test
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-prow.yaml
  test/e2e/data/shared/v1alpha4/metadata.yaml
  test/e2e/data/shared/v1alpha4_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

update capi to v1.0.1
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

don't ignore v1alpha4 test templates
  .gitignore
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

e2e: Only check for valid image if version is a semver version
  test/e2e/e2e_suite_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

add support for autoscaling in azuremanagedmachinepools
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/agentpools/agentpools.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add additional debugging info
  go.sum
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/filename
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

availability zones support for managedclusters
  azure/scope/managedcontrolplane.go
  azure/services/agentpools/agentpools.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Support multiple CIDR blocks and multiple subnets in AzureManagedControlPlane
  azure/scope/managedcontrolplane.go
  azure/services/agentpools/agentpools_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/api/v1alpha4/azuremanagedcontrolplane_types.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  exp/api/v1beta1/azuremanagedcontrolplane_default.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Update kubectl hack/tools version to v1.22.4
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Fix AAD pod identity integration for sovereign clouds
  azure/scope/identity.go
  azure/scope/identity_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix simple typo
  azure/services/vnetpeerings/vnetpeerings.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Create in-tree-cloud-provider.yaml
  templates/flavors/in-tree-cloud-provider/patches/in-tree-cloud-provider.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Create cluster-template-in-tree-cloud-provider.yaml
  templates/cluster-template-in-tree-cloud-provider.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

test templates
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/prow/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Switch external cloud provider test to in tree
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Replace all occurrences of ToNot(HaveOccurred())
  azure/regional_baseuri_test.go
  azure/scope/clients_test.go
  azure/scope/cluster_test.go
  azure/scope/machinepool_test.go
  azure/scope/machinepoolmachine_test.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesetvms/scalesetvms_test.go
  controllers/azurecluster_controller_test.go
  exp/controllers/azuremachinepoolmachine_controller_test.go
  test/e2e/azure_machinepool_drain.go
  test/e2e/azure_privatecluster.go
  test/e2e/azure_selfhosted.go
  test/e2e/azure_test.go
  test/e2e/capi_test.go
  test/e2e/conformance_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

update code cov action to v2
  .github/workflows/cover.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update dev guide to include missing env variables .
  docs/book/src/developers/development.md
Due: none

stop using capi kubernetes-drain
  azure/scope/machinepoolmachine.go
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Derive API server LB DNS name from user-defined private DNS zone name
  azure/defaults.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update dev guide to include missing env variables.
  .tiltignore
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add image promotion make target
  Makefile
  docs/book/src/developers/releasing.md
  hack/get-project-maintainers.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Update release-notes to v0.12.0
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Make disk delete async
  api/v1beta1/conditions_consts.go
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/services/disks/client.go
  azure/services/disks/disks.go
  azure/services/disks/disks_test.go
  azure/services/disks/mock_disks/client_mock.go
  azure/services/disks/mock_disks/disks_mock.go
  azure/services/disks/mock_disks/doc.go
  azure/services/disks/spec.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

remove usage of realpath in scripts
  Makefile
  hack/create-identity-secret.sh
  hack/install-cert-manager.sh
  hack/log/log-dump.sh
  scripts/ci-apidiff.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  scripts/kind-with-registry.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

wip: make publicips reconcile async
  azure/publicip_spec.go
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/services/publicips/client.go
  azure/services/publicips/mock_publicips/client_mock.go
  azure/services/publicips/mock_publicips/publicips_mock.go
  azure/services/publicips/publicips.go
  azure/services/publicips/publicips_test.go
  azure/types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

wip: implement create or update async and implement public ip spec parameters method
  azure/publicip_spec.go
  azure/publicip_spec_test.go
  azure/services/publicips/client.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

rename publicip_spec_test.go to spec_test.go
  azure/services/publicips/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

wip: add todo about zones
  azure/services/publicips/spec.go
  azure/services/publicips/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

wip: add tests and implementation for Parameters method and add some TODOs
  azure/services/publicips/publicip_spec_test.go
  azure/services/publicips/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

move public ip spec to publicips package
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/services/publicips/mock_publicips/publicips_mock.go
  azure/services/publicips/publicip_spec_test.go
  azure/services/publicips/publicips.go
  azure/services/publicips/publicips_test.go
  azure/services/publicips/spec.go
  azure/types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

add todo for parallelizing tests in publicips spec test
  azure/services/publicips/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

remove todo for CreateOrUpdateAsync test
  azure/services/publicips/client.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

use the location, cluster name and additional tags from ip spec to construct the azure public ip address in Parameters method
  azure/services/publicips/spec.go
  azure/services/publicips/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

add test for machine scope AdditionalTags method
  azure/scope/machine.go
  azure/scope/machine_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

add location, cluster name and additional tags field to public ip spec and add / update some todos
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/services/publicips/client.go
  azure/services/publicips/publicips.go
  azure/services/publicips/publicips_test.go
  azure/services/publicips/spec.go
  azure/services/publicips/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

add zones field to public ip spec and use zones field to construct the azure public ip address in Parameters method
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/services/publicips/publicips_test.go
  azure/services/publicips/spec.go
  azure/services/publicips/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim
