Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Path conditions:
  pull-cluster-api-provider-azure-test: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-e2e: (unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$) or (any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$))
  pull-cluster-api-provider-azure-e2e-aks: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-provider-azure-conformance: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-workload-upgrade: any of: go.mod|templates\/test|^scripts\/|test\/e2e|Makefile
  pull-cluster-api-provider-azure-apiversion-upgrade: any of: ^(test\/e2e\/(config\/azure-dev\.yaml|data\/shared\/v1beta1_provider\/metadata\.yaml)|azure\/scope\/.*)$
  pull-cluster-api-provider-azure-ci-entrypoint: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-conformance-custom-builds: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

fix: use absolute path for KUBERAY_SOURCE_DIR
  scripts/ci-build-kuberay-operator.sh
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Increase Helm install timeout from 5m to 10m for source charts
  test/e2e/azure_kuberay.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fix NativeScheduling e2e: add kuberay build script and remove ACR credential provider dependency
  .gitignore
  scripts/ci-build-kuberay-operator.sh
  scripts/ci-e2e.sh
  templates/test/ci/cluster-template-prow-ci-version-native-scheduling.yaml
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add detailed diagnostics for Helm install failures
  test/e2e/azure_kuberay.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: verify gang scheduling all-or-nothing behavior on scale up/down
  test/e2e/azure_kuberay.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: verify pods carry schedulingGroup references to PodGroups
  test/e2e/azure_kuberay.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump native scheduling API to scheduling.k8s.io/v1alpha3
  templates/test/ci/cluster-template-prow-ci-version-native-scheduling.yaml
  test/e2e/azure_kuberay.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: simplify and deduplicate KubeRay e2e test code
  test/e2e/azure_kuberay.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: validate Workload/PodGroup spec fields and cleanup cascade
  test/e2e/azure_kuberay.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Drop removed GangScheduling feature gate from scheduler
  templates/test/ci/cluster-template-prow-ci-version-native-scheduling.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: address code review findings in KubeRay e2e tests
  templates/test/ci/cluster-template-prow-ci-version-native-scheduling.yaml
  test/e2e/azure_kuberay.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add negative test: verify no Workload/PodGroup without annotation
  test/e2e/azure_kuberay.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump Ray and KubeRay e2e test versions to latest releases
  test/e2e/azure_kuberay.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: validate API server LB private IP is unchanged on update (#6389)
  internal/webhooks/azurecluster_validation.go
  internal/webhooks/azurecluster_validation_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: validate API server LB private IP is unchanged on update
  internal/webhooks/azurecluster_validation.go
  internal/webhooks/azurecluster_validation_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Rename KubeRay scheduling gate and annotation to K8sWorkloadScheduling
  test/e2e/azure_kuberay.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Detach ASO agent pools during AKS cluster deletion
  controllers/azuremanagedmachinepool_controller.go
  controllers/azuremanagedmachinepool_controller_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

normalize VMSS Flex resource ID
  azure/scope/machine.go
  azure/scope/machine_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Test ASO agent pool detachment during cluster deletion
  controllers/azuremanagedmachinepool_controller_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: make inbound NAT rule cases parallel-safe
  azure/services/inboundnatrules/inboundnatrules_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump CAPI to v1.13.4
  Makefile
  Tiltfile
  docs/book/src/developers/getting-started-with-capi-operator.md
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump cert-manager to v1.20.3
  Tiltfile
  hack/install-cert-manager.sh
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

switch to reusing pause helper at deletion
  controllers/azuremanagedmachinepool_controller.go
  controllers/azuremanagedmachinepool_controller_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update test metadata and versions for CAPZ v1.26.0
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1.26.0/cluster-template-aks.yaml
  test/e2e/data/infrastructure-azure/v1.26.0/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.26.0/cluster-template-prow.yaml
  test/e2e/data/shared/v1beta1_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fix lint and vet findings surfaced by the Go 1.26 bump
  .github/workflows/pr-golangci-lint.yaml
  api/v1alpha1/azureasomanagedcluster_types.go
  api/v1alpha1/azureasomanagedclustertemplate_types.go
  api/v1alpha1/azureasomanagedcontrolplane_types.go
  api/v1alpha1/azureasomanagedcontrolplanetemplate_types.go
  api/v1alpha1/azureasomanagedmachinepool_types.go
  api/v1alpha1/azureasomanagedmachinepooltemplate_types.go
  api/v1alpha1/groupversion_info.go
  azure/services/scalesets/spec.go
  controllers/asosecret_controller.go
  controllers/azurecluster_controller.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/azuremachine_controller.go
  controllers/azuremanagedcontrolplane_controller.go
  exp/api/v1beta1/azuremachinepool_types.go
  exp/api/v1beta1/azuremachinepoolmachine_types.go
  exp/api/v1beta1/groupversion_info.go
  exp/controllers/azuremachinepool_controller.go
  internal/test/matchers/gomega/matchers.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump Azure Service Operator to v2.20.0
  Dockerfile
  config/aso/kustomization.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Detach ASO agent pools during AKS cluster deletion (#6447)
  controllers/azuremanagedmachinepool_controller.go
  controllers/azuremanagedmachinepool_controller_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim
