Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

pull-cluster-api-provider-azure-e2e-windows-dockershim:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

pull-cluster-api-provider-azure-e2e-exp:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

update capi to v1.0.0 for v1beta1 changes
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

update v1alpha3 type to use v1beta1 as hub
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/azureclusteridentity_conversion.go
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/azuremachine_types.go
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha3/conversion_test.go
  api/v1alpha3/doc.go
  api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha3/azuremachinepool_conversion.go
  exp/api/v1alpha3/azuremanagedcluster_conversion.go
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/conversion.go
  exp/api/v1alpha3/conversion_test.go
  exp/api/v1alpha3/doc.go
  exp/api/v1alpha3/zz_generated.conversion.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

update common labels and metadata
  config/crd/kustomization.yaml
  metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Default LeaderElectionResourceLock to leases
  config/rbac/leader_election_role.yaml
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add [Excluded:WindowsDocker] tag to gingko skip
  test/e2e/data/kubetest/upstream-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

update doc references to v1beta1
  docs/book/src/developers/jobs.md
  docs/book/src/roadmap.md
  docs/book/src/topics/api-server-endpoint.md
  docs/book/src/topics/cloud-provider-config.md
  docs/book/src/topics/control-plane-outbound-lb.md
  docs/book/src/topics/custom-dns.md
  docs/book/src/topics/custom-images.md
  docs/book/src/topics/custom-vnet.md
  docs/book/src/topics/data-disks.md
  docs/book/src/topics/failure-domains.md
  docs/book/src/topics/flannel.md
  docs/book/src/topics/machinepools.md
  docs/book/src/topics/managedcluster.md
  docs/book/src/topics/multitenancy.md
  docs/book/src/topics/node-outbound-lb.md
  docs/book/src/topics/os-disk.md
  docs/book/src/topics/spot-vms.md
  docs/book/src/topics/ssh-access.md
  docs/book/src/topics/vm-identity.md
  docs/proposals/20210716-async-azure-resource-creation-deletion.md
Due: none

lower the extension timeout to notify earlier
  azure/defaults.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: install cluster-api v1.0.0 in makefile and tilt
  Makefile
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Create spec, service, tests, and docs for virtual network peering
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
  api/v1beta1/azurecluster_validation.go
  api/v1beta1/types.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/defaults.go
  azure/scope/cluster.go
  azure/services/privatedns/privatedns.go
  azure/services/privatedns/privatedns_test.go
  azure/services/virtualnetworks/virtualnetworks.go
  azure/services/vnetpeerings/client.go
  azure/services/vnetpeerings/mock_vnetpeerings/client_mock.go
  azure/services/vnetpeerings/mock_vnetpeerings/doc.go
  azure/services/vnetpeerings/mock_vnetpeerings/vnetpeerings_mock.go
  azure/services/vnetpeerings/vnetpeerings.go
  azure/services/vnetpeerings/vnetpeerings_test.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  controllers/azurecluster_reconciler.go
  controllers/azurecluster_reconciler_test.go
  docs/book/src/topics/custom-vnet.md
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/prow-custom-vnet/patches/custom-vnet.yaml
  templates/test/ci/prow-private/kustomization.yaml
  templates/test/ci/prow-private/patches/custom-vnet.yaml
  templates/test/ci/prow-private/patches/vnet-peerings.yaml
  test/e2e/azure_privatecluster.go
  test/e2e/azure_test.go
  test/e2e/common.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Upgrade aad-pod-identity to v1.8.5
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Upgrade azure-sdk-for-go to v58.1.0
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Upgrade go-autorest to v0.11.21
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Upgrade ginkgo to v1.16.5
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Upgrade google/uuid to v1.3.0
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Align kubectl install and CI scripts to use local bin folder
  Makefile
  hack/create-identity-secret.sh
  hack/install-cert-manager.sh
  hack/log/log-dump.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  scripts/kind-with-registry.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Upgrade opentelemetry dependencies
  go.mod
  go.sum
  pkg/ot/metrics.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Update hack/tools dependencies
  Makefile
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/zz_generated.conversion.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepoolmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Upgrade hashicorp/go-retryablehttp to v0.7.0
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Update Makefile
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

fix tests in bastion_hosts_test.go file
  azure/services/bastionhosts/bastionhosts_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add metadata to machine object for propagation
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azuremachinetemplate_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/azuremachinetemplate_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Align kubectl install and CI scripts to use local bin folder (#1683)
  Makefile
  hack/create-identity-secret.sh
  hack/install-cert-manager.sh
  hack/log/log-dump.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  scripts/kind-with-registry.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add machine set support for availability sets
  azure/scope/machine.go
  azure/scope/machine_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Revert "Align kubectl install and CI scripts to use local bin folder (#1683)"
  Makefile
  hack/create-identity-secret.sh
  hack/install-cert-manager.sh
  hack/log/log-dump.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  scripts/kind-with-registry.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add supported versions link
  docs/book/src/topics/getting-started.md
Due: none

Update getting-started.md
  docs/book/src/topics/getting-started.md
Due: none

Add Windows Containerd documentation
  docs/book/src/topics/windows.md
Due: none

Block wireserver for containers via calico
  templates/addons/windows/calico/calico.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add base templates for Containerd
  Makefile
  Tiltfile
  azure/defaults.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/machinepool.go
  templates/addons/calico-resource-set.yaml
  templates/addons/windows/calico/calico.yaml
  templates/addons/windows/calico/kube-proxy-windows.yaml
  templates/addons/windows/flannel/flannel.yaml
  templates/addons/windows/flannel/kube-proxy-windows.yaml
  templates/addons/windows/kustomization.yaml
  templates/cluster-template-machinepool-windows-containerd.yaml
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-windows-containerd.yaml
  templates/flavors/base-windows-containerd/cluster.yaml
  templates/flavors/base-windows-containerd/kubeadm-control-plane.yaml
  templates/flavors/machinepool-windows-containerd/kustomization.yaml
  templates/flavors/machinepool-windows-containerd/machine-pool-deployment-windows.yaml
  templates/flavors/windows-containerd/kustomization.yaml
  templates/flavors/windows-containerd/machine-deployment-windows.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
  templates/test/ci/prow-machine-pool-windows/kustomization.yaml
  templates/test/ci/prow-windows/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add k8s CI verison support
  templates/addons/windows/calico/kube-proxy-windows.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/patches/windows-kubeproxy-ci.yaml
  templates/test/ci/prow-ci-version/kustomization.yaml
  templates/test/ci/prow-ci-version/patches/kubeadm-bootstrap-windows.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version-windows.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-worker-counts.yaml
  templates/test/ci/prow-machine-pool-ci-version/kustomization.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/kubeadm-bootstrap-windows.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version-windows.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-worker-counts.yaml
  templates/test/ci/prow/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/config/azure-dev.yaml
  test/e2e/conformance_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add Windows to Existing e2e tests
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/patches/windows-tmp-folder.yaml
  templates/test/ci/prow-ci-version/kustomization.yaml
  templates/test/ci/prow-machine-pool/kustomization.yaml
  templates/test/ci/prow/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/azure_failuredomains.go
  test/e2e/azure_logcollector.go
  test/e2e/azure_test.go
  test/e2e/azure_timesync.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add Defender exclusion for Calico
  templates/cluster-template-machinepool-windows-containerd.yaml
  templates/cluster-template-windows-containerd.yaml
  templates/flavors/machinepool-windows-containerd/machine-pool-deployment-windows.yaml
  templates/flavors/windows-containerd/machine-deployment-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Signed-off-by: Mark Rossetti <marosset@microsoft.com>
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
