Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

pull-cluster-api-provider-azure-test:
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-1.32
      command:
      - runner.sh
      args:
      - bash
      - -c
      - 'result=0
  
        ./scripts/ci-test-coverage.sh || result=$?
  
        cp coverage.* ${ARTIFACTS}
  
  ...

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-1.32
      command:
      - runner.sh
      args:
  ...

pull-cluster-api-provider-azure-e2e-aks:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-1.32
      command:
      - runner.sh
  ...

pull-cluster-api-provider-azure-capi-e2e:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-1.32
      command:
      - runner.sh
  ...

pull-cluster-api-provider-azure-conformance:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-1.32
      command:
      - runner.sh
  ...

pull-cluster-api-provider-azure-conformance-with-ci-artifacts:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-1.32
      command:
      - runner.sh
  ...

pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-1.32
      command:
      - runner.sh
  ...

pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-community: 'true'
  spec:
    serviceAccountName: azure
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20260108-6ef4f0b08f-1.32
      command:
      - runner.sh
  ...

Upgrade golangci-lint to v2.5.0
  .github/workflows/pr-golangci-lint.yaml
  azure/scope/identity_test.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Upgrade golangci-lint to v2.7.0 and fix surfaced lint findings
  .custom-gcl.yml
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  api/v1beta1/azureclusteridentity_types.go
  api/v1beta1/tags.go
  api/v1beta1/types.go
  azure/scope/cluster.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  test/.golangci.yml
  test/e2e/common.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump Go toolchain to v1.24.13
  go.mod
  hack/ensure-go.sh
  hack/tools/go.mod
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add CAPZ cluster debug skill
  .claude/skills/debug-capz-k8s/SKILL.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add e2e test specs for Kuberay
  test/e2e/azure_kuberay.go
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Placate linters
  test/e2e/azure_kuberay.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add machine taint flavor and bump to 1.12.3
  Makefile
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-md-taints/kustomization.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-md-taints/md.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump to newer patch versions
  Makefile
  Tiltfile
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

bump old caaph version
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

ARO-24514: Make identityRef optional and remove Azure SDK from AROMachinePool
  azure/scope/arocontrolplane.go
  azure/scope/aromachinepool.go
  azure/services/keyvaults/keyvault.go
  config/crd/bases/controlplane.cluster.x-k8s.io_arocontrolplanes.yaml
  docs/proposals/20250425-aro-hcp.md
  exp/api/controlplane/v1beta2/arocontrolplane_types.go
  exp/api/controlplane/v1beta2/arocontrolplane_webhook.go
  exp/controllers/arocontrolplane_reconciler.go
  exp/controllers/aromachinepool_controller.go
  exp/controllers/aromachinepool_controller_test.go
  exp/controllers/aromachinepool_reconciler.go
  main.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

ARO-24893 - ARO-HCP: Support spec.azureName for KeyVault resources (Adobe customer request)
  azure/scope/arocontrolplane.go
  azure/scope/arocontrolplane_test.go
  azure/scope/aromachinepool.go
  azure/scope/aromachinepool_test.go
  azure/services/keyvaults/keyvault.go
  azure/services/keyvaults/keyvault_test.go
  azure/services/keyvaults/mock_keyvault/keyvault_mock.go
  config/crd/bases/controlplane.cluster.x-k8s.io_arocontrolplanes.yaml
  docs/proposals/20250425-aro-hcp.md
  exp/api/controlplane/v1beta2/arocontrolplane_types.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

fix vmss model with plan
  azure/converters/vmss.go
  azure/converters/vmss_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add renovate.json to configure MintMaker dependency PRs (ARO-24895) (#86)
  renovate.json
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump CAPI to v1.12.3 (#6127)
  Makefile
  Tiltfile
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepooltemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepoolmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepooltemplates.yaml
  controllers/asosecret_controller_test.go
  controllers/azureasomanagedmachinepool_controller.go
  controllers/helpers.go
  docs/book/src/developers/getting-started-with-capi-operator.md
  docs/book/src/developers/releasing.md
  go.mod
  go.sum
  pkg/mutators/azureasomanagedcontrolplane.go
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-md-taints/kustomization.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-md-taints/md.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/e2e_suite_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

no-op to run test
  api/v1beta1/azuremanagedmachinepool_webhook.go
  azure/credential_cache_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Remove Windows VMSS test
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add ARO HCP proposal for CAPZ support
  docs/proposals/20250425-aro-hcp.md
Due: none

Bump CAPI to v1.11.6
  Makefile
  Tiltfile
  docs/book/src/developers/getting-started-with-capi-operator.md
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1.20.5/cluster-template-aks.yaml
  test/e2e/data/infrastructure-azure/v1.20.5/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.20.5/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.21.2/cluster-template-aks.yaml
  test/e2e/data/infrastructure-azure/v1.21.2/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.21.2/cluster-template-prow.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump CAAPH to v0.6.0
  Makefile
  Tiltfile
  docs/book/src/developers/getting-started-with-capi-operator.md
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1_addon_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Revert "Update default Azure VM SKU to Standard_B2s_v2"
  Tiltfile
  controllers/helpers_test.go
  docs/book/src/developers/development.md
  docs/book/src/getting-started-with-aks.md
  docs/book/src/self-managed/custom-vnet.md
  docs/book/src/self-managed/failure-domains.md
  docs/book/src/self-managed/gpu.md
  docs/book/src/self-managed/spot-vms.md
  docs/book/src/self-managed/trusted-launch-for-vms.md
  docs/book/src/topics/workload-identity.md
  hack/create-dev-cluster.sh
  scripts/aks-as-mgmt.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  templates/flavors/README.md
  templates/test/ci/cluster-template-prow-clusterclass-ci-default.yaml
  templates/test/ci/cluster-template-prow-clusterclass-ci-rke2.yaml
  templates/test/ci/prow-clusterclass-ci-default/variables.yaml
  templates/test/ci/prow-clusterclass-ci-rke2/variables.yaml
  test/e2e/data/availableZonesPerLocation.json
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

increase timeout
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Re-add australiaeast
  hack/util.sh
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add curl fallback when az command fails
  templates/test/dev/cluster-template-custom-builds-dra.yaml
  templates/test/dev/cluster-template-custom-builds-load-dra.yaml
  templates/test/dev/cluster-template-custom-builds-load.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool-load-dra.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool-load.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool-windows.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds-windows.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds-windows/patches/kubeadm-bootstrap.yaml
  templates/test/dev/custom-builds-windows/patches/kubeadm-controlplane-bootstrap.yaml
  templates/test/dev/custom-builds/patches/kubeadm-bootstrap.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

ci: Re-add australiaeast to test regions (#6135)
  hack/util.sh
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix regions
  hack/util.sh
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

refactor
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

rotation policy never
  config/certmanager/certificate.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Wait for webhook ca injection
  test/e2e/e2e_suite_test.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add static version mapping for EOL Kubernetes releases
  docs/book/src/developers/development.md
  hack/util.sh
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

increase CAPI remote connection grace period to fix HA upgrade flake
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

azure: support system-assigned managed identity
  azure/scope/identity.go
  azure/scope/identity_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

bump go.opentelemetry.io/otel from 1.39.0 to 1.41.0
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Path conditions:
  pull-cluster-api-provider-azure-test: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-e2e: (unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$) or (any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$))
  pull-cluster-api-provider-azure-e2e-aks: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-provider-azure-conformance: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-workload-upgrade: any of: go.mod|templates\/test|^scripts\/|test\/e2e|Makefile
  pull-cluster-api-provider-azure-apiversion-upgrade: any of: ^(test\/e2e\/(config\/azure-dev\.yaml|data\/shared\/v1beta1_provider\/metadata\.yaml)|azure\/scope\/.*)$
  pull-cluster-api-provider-azure-ci-entrypoint: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-conformance-custom-builds: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
