Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Path conditions:
  pull-cluster-api-provider-azure-test: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-e2e: (unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$) or (any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$))
  pull-cluster-api-provider-azure-e2e-aks: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-provider-azure-conformance: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-workload-upgrade: any of: go.mod|templates\/test|^scripts\/|test\/e2e|Makefile
  pull-cluster-api-provider-azure-apiversion-upgrade: any of: ^(test\/e2e\/(config\/azure-dev\.yaml|data\/shared\/v1beta1_provider\/metadata\.yaml)|azure\/scope\/.*)$
  pull-cluster-api-provider-azure-ci-entrypoint: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-conformance-custom-builds: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

fix: bump moby dependencies for CVE-2026-41567
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add release notes for v1.26.0
  CHANGELOG/v1.26.0.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update security scanner to supported branches
  .github/workflows/weekly-security-scan.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Address willie-yao review comments
  docs/proposals/20250425-aro-hcp.md
Due: none

Update test metadata and versions for CAPZ v1.26.0
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1.26.0/cluster-template-aks.yaml
  test/e2e/data/infrastructure-azure/v1.26.0/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.26.0/cluster-template-prow.yaml
  test/e2e/data/shared/v1beta1_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump golangci-lint to v2.12.2 and quiet new findings
  .custom-gcl.yml
  .github/workflows/pr-golangci-lint.yaml
  .golangci.yml
  azure/scope/identity_test.go
  controllers/helpers_test.go
  internal/webhooks/azuremachine_validation.go
  pkg/ot/traces.go
  test/.golangci.yml
  test/e2e/azure_kuberay.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Enable managedFields interning with fieldsv1string build tag
  Dockerfile
  Makefile
  Tiltfile
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump Azure Service Operator to v2.20.0
  config/aso/kustomization.yaml
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add MultiKueue e2e test
  docs/book/src/developers/jobs.md
  scripts/ci-e2e.sh
  test/e2e/azure_multikueue.go
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fix lint and vet findings surfaced by the Go 1.26 bump
  .github/workflows/pr-golangci-lint.yaml
  api/v1alpha1/azureasomanagedcluster_types.go
  api/v1alpha1/azureasomanagedclustertemplate_types.go
  api/v1alpha1/azureasomanagedcontrolplane_types.go
  api/v1alpha1/azureasomanagedcontrolplanetemplate_types.go
  api/v1alpha1/azureasomanagedmachinepool_types.go
  api/v1alpha1/azureasomanagedmachinepooltemplate_types.go
  api/v1alpha1/groupversion_info.go
  azure/services/scalesets/spec.go
  controllers/asosecret_controller.go
  controllers/azurecluster_controller.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/azuremachine_controller.go
  controllers/azuremanagedcontrolplane_controller.go
  exp/api/v1beta1/azuremachinepool_types.go
  exp/api/v1beta1/azuremachinepoolmachine_types.go
  exp/api/v1beta1/groupversion_info.go
  exp/controllers/azuremachinepool_controller.go
  internal/test/matchers/gomega/matchers.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

fix: bump moby dependencies for CVE-2026-41567 (#6431)
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add ARO HCP proposal for CAPZ support (#6134)
  docs/proposals/20250425-aro-hcp.md
Due: none

fix: bump golang.org/x/crypto to v0.52.0 for CVE-2026-39835
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

ci: bump codecov-action v5.5.2 → v7.0.0
  .github/workflows/cover.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: bump golang.org/x/net to v0.55.0 for CVE-2026-27136
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

feat: support MIN_WINDOWS_WORKER_MACHINE_COUNT for graceful degradation in CI
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

deps: bump golang.org/x/net to v0.55.0 in hack/tools
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

TEST: build clusterctl that skips unrelated CRDs in ListResources
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Fix e2e test scheme: use v1beta2 AzureASO/AzureCluster types
  test/e2e/aks_maintenance_configuration.go
  test/e2e/azure_privatecluster.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Preserve hub-only status fields across v1beta1 conversion roundtrip
  api/v1beta1/azureasomanagedcluster_conversion.go
  api/v1beta1/azureasomanagedcontrolplane_conversion.go
  api/v1beta1/azureasomanagedmachinepool_conversion.go
  api/v1beta1/azurecluster_conversion.go
  api/v1beta1/azureclusteridentity_conversion.go
  api/v1beta1/azuremachine_conversion.go
  api/v1beta1/azuremanagedcluster_conversion.go
  api/v1beta1/azuremanagedcontrolplane_conversion.go
  api/v1beta1/azuremanagedmachinepool_conversion.go
  api/v1beta1/fuzz_test.go
  exp/api/v1beta1/azuremachinepool_conversion.go
  exp/api/v1beta1/azuremachinepoolmachine_conversion.go
  exp/api/v1beta1/conversion_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Sort failure domains deterministically in v1beta1 map-to-slice conversion
  api/v1beta1/conversion.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump Go toolchain to v1.25.12
  go.mod
  hack/ensure-go.sh
  hack/tools/go.mod
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Give ASO CRD migration a writeable filesystem for Tilt
  hack/observability/kustomization.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump Ray and KubeRay e2e test versions to latest releases
  test/e2e/azure_kuberay.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add e2e test for KubeRay NativeWorkloadScheduling on self-managed K8s 1.36+
  templates/test/ci/cluster-template-prow-ci-version-native-scheduling.yaml
  test/e2e/azure_kuberay.go
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fix kuberay build trigger to match Prow GINKGO_FOCUS=KubeRay
  scripts/ci-e2e.sh
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

TEMP: skip existing KubeRay tests to isolate NativeScheduling spec
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: use --set instead of --set-string for Helm featureGates boolean values
  test/e2e/azure_kuberay.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim

Restore CCM build and azure-ci label for NativeScheduling tests
  scripts/ci-e2e.sh
  templates/test/ci/cluster-template-prow-ci-version-native-scheduling.yaml
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-test, pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-with-ci-artifacts-dra, pull-cluster-api-provider-azure-e2e-workload-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim
