Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Path conditions:
  pull-cluster-api-provider-azure-e2e: (unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$) or (any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$))
  pull-cluster-api-provider-azure-e2e-aks: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-provider-azure-conformance: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-windows-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-apiversion-upgrade: any of: ^(test\/e2e\/(config\/azure-dev\.yaml|data\/shared\/v1beta1_provider\/metadata\.yaml)|azure\/scope\/.*)$
  pull-cluster-api-provider-azure-ci-entrypoint: any of: ^scripts\/|^hack/|templates\/test
  pull-cluster-api-provider-azure-conformance-custom-builds: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-windows-custom-builds: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Bump QPS to 10x
  test/clusterloader2/overrides/scheduler_throughput.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump to 10000 qps
  test/clusterloader2/overrides/scheduler_throughput.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add copy of load testing template
  test/clusterloader2/testing/load/config.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Try increasing QPS and burst
  test/clusterloader2/testing/load/config.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

avoid setting FailureReason/FailureMessage
  exp/controllers/azuremachinepoolmachine_controller.go
  exp/controllers/azuremachinepoolmachine_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add release notes for v1.18.3
  CHANGELOG/v1.18.3.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add release notes for v1.19.2
  CHANGELOG/v1.19.2.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add e2e test for RKE2 ClusterClass
  api/v1beta1/types.go
  api/v1beta1/types_template.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/cluster.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
  docs/book/src/self-managed/custom-vnet.md
  templates/cluster-template-clusterclass-rke2.yaml
  templates/flavors/clusterclass-rke2/azure-cluster-template.yaml
  templates/flavors/clusterclass-rke2/azure-machine-template-controlplane.yaml
  templates/flavors/clusterclass-rke2/azure-machine-template-worker.yaml
  templates/flavors/clusterclass-rke2/clusterclass.yaml
  templates/flavors/clusterclass-rke2/kustomization.yaml
  templates/flavors/clusterclass-rke2/rke2-config-template.yaml
  templates/flavors/clusterclass-rke2/rke2-controlplane-template.yaml
  templates/test/ci/cluster-template-prow-clusterclass-ci-rke2.yaml
  templates/test/ci/cluster-template-prow-topology-rke2.yaml
  templates/test/ci/prow-clusterclass-ci-rke2/ccm-patch.yaml
  templates/test/ci/prow-clusterclass-ci-rke2/kustomization.yaml
  templates/test/ci/prow-clusterclass-ci-rke2/patches.yaml
  templates/test/ci/prow-clusterclass-ci-rke2/rke2-config-template.yaml
  templates/test/ci/prow-clusterclass-ci-rke2/variables.yaml
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add tests for SetControlPlaneSecurityRules
  api/v1beta1/types.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

Try bumping qps
  test/clusterloader2/testing/load/config.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump CAPI to v1.10.0-beta.0
  Makefile
  Tiltfile
  api/v1beta1/azurecluster_webhook.go
  api/v1beta1/azureclusteridentity_webhook.go
  api/v1beta1/azureclustertemplate_webhook.go
  api/v1beta1/azuremanagedcluster_webhook.go
  api/v1beta1/azuremanagedclustertemplate_webhook.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepooltemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepoolmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepooltemplates.yaml
  config/rbac/role.yaml
  docs/book/src/getting-started.md
  exp/api/v1beta1/azuremachinepoolmachine_webhook.go
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump ASO to v2.12.0
  Makefile
  config/aso/crds.yaml
  config/aso/kustomization.yaml
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump Go toolchain to v1.23.7
  Dockerfile
  Tiltfile
  go.mod
  hack/tools/go.mod
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump CAPI to v1.10.0-rc.0
  Makefile
  Tiltfile
  docs/book/src/getting-started.md
  go.mod
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Fix linter complaints
  api/v1beta1/azurecluster_webhook.go
  api/v1beta1/azureclusteridentity_webhook.go
  api/v1beta1/azureclustertemplate_webhook.go
  api/v1beta1/azuremanagedcluster_webhook.go
  api/v1beta1/azuremanagedclustertemplate_webhook.go
  azure/scope/cluster_test.go
  controllers/helpers_test.go
  exp/api/v1beta1/azuremachinepoolmachine_webhook.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Update unit test function sigs
  api/v1beta1/azurecluster_webhook_test.go
  api/v1beta1/azureclusteridentity_webhook_test.go
  api/v1beta1/azureclustertemplate_webhook_test.go
  api/v1beta1/azuremanagedcluster_webhook_test.go
  azure/scope/cluster_test.go
  controllers/helpers_test.go
  test/e2e/aks_versions.go
  test/e2e/azure_edgezone.go
  test/e2e/azure_selfhosted.go
  test/e2e/azure_test.go
  test/e2e/capi_test.go
  test/e2e/cni.go
  test/e2e/common.go
  test/e2e/conformance_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump cloud-provider-azure to v1.32.3
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add v1.10 to test metadata.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump CAPI to v1.10.0-beta.1
  Makefile
  Tiltfile
  docs/book/src/getting-started.md
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

make modules
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump Go toolchain to v1.23.8
  Dockerfile
  Tiltfile
  go.mod
  hack/tools/go.mod
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

azure/services/loadbalancers: Remove deprecated field NumberOfProbes
  azure/services/loadbalancers/spec.go
  azure/services/loadbalancers/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Try bumping replicas of deployment to 50000
  test/clusterloader2/overrides/scheduler_throughput.yaml
  test/clusterloader2/testing/load/config.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix Webhooks and linter errors
  api/v1beta1/azurecluster_webhook.go
  api/v1beta1/azurecluster_webhook_test.go
  api/v1beta1/azureclusteridentity_webhook.go
  api/v1beta1/azureclusteridentity_webhook_test.go
  api/v1beta1/azureclustertemplate_webhook.go
  api/v1beta1/azureclustertemplate_webhook_test.go
  api/v1beta1/azuremanagedcluster_webhook.go
  api/v1beta1/azuremanagedcluster_webhook_test.go
  api/v1beta1/azuremanagedclustertemplate_webhook.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/cluster_test.go
  controllers/helpers_test.go
  exp/api/v1beta1/azuremachinepoolmachine_webhook.go
  test/logger.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

update KubeconfigPath for collecting logs
  test/e2e/azure_selfhosted.go
  test/e2e/common.go
  test/logger.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

update webhooks for the sake of consistency
  api/v1beta1/azuremachine_webhook.go
  api/v1beta1/azuremachinetemplate_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/azuremanagedcontrolplanetemplate_webhook.go
  api/v1beta1/azuremanagedmachinepool_webhook.go
  api/v1beta1/azuremanagedmachinepooltemplate_webhook.go
  exp/api/v1beta1/azuremachinepool_webhook.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add LB units for additonal ports
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/loadbalancers/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Init defaulters/validators with source struct
  api/v1beta1/azurecluster_webhook.go
  api/v1beta1/azureclusteridentity_webhook.go
  api/v1beta1/azureclustertemplate_webhook.go
  api/v1beta1/azuremanagedcluster_webhook.go
  api/v1beta1/azuremanagedclustertemplate_webhook.go
  exp/api/v1beta1/azuremachinepoolmachine_webhook.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Use crddoc tool to generate CRD documentation
  docs/book/install-and-build.sh
Due: none

Add folder to test dir for custom clusterloader2 configs
  test/clusterloader2/overrides/scheduler_throughput.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Increase timeout for RKE2 CP wait
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim
