Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Path conditions:
  pull-cluster-api-provider-azure-e2e: (unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$) or (any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$))
  pull-cluster-api-provider-azure-e2e-aks: unless all of: ^docs/|^\.github/|\.md$|^(\.codespellignore|LICENSE|OWNERS|OWNERS_ALIASES|PROJECT|SECURITY_CONTACTS|Tiltfile|Makefile|metadata\.yaml|netlify\.toml|tilt-provider\.json)$
  pull-cluster-api-provider-azure-capi-e2e: any of: test\/e2e\/capi_test.go|scripts\/ci-e2e.sh|^go.mod
  pull-cluster-api-provider-azure-conformance: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-windows-with-ci-artifacts: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-apiversion-upgrade: any of: ^(test\/e2e\/(config\/azure-dev\.yaml|data\/shared\/v1beta1_provider\/metadata\.yaml)|azure\/scope\/.*)$
  pull-cluster-api-provider-azure-ci-entrypoint: any of: ^scripts\/|^hack/|templates\/test
  pull-cluster-api-provider-azure-conformance-custom-builds: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-windows-custom-builds: any of: test\/e2e\/conformance_test.go|templates\/test|^scripts\/|conformance.mk
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

azure: Implement zone-redundant load balancer support
  azure/scope/cluster.go
  azure/services/loadbalancers/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

webhook: Add validation for load balancer zone immutability
  api/v1beta1/azurecluster_webhook.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: Add unit tests for zone-redundant load balancers
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/loadbalancers/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

docs: Add load balancer zone redundancy documentation
  docs/book/src/SUMMARY.md
  docs/book/src/self-managed/load-balancer-zone-redundancy.md
Due: none

manifests: Update generated CRD for LoadBalancerSpec zones
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: Add E2E test for zone-redundant load balancers
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fix bash syntax for make cleanup-workload-identity
  Makefile
  hack/util.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Retry more error conditions in ILB e2e test
  test/e2e/azure_apiserver_ilb.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Preload cert-manager images for e2e tests
  scripts/ci-conformance.sh
  scripts/ci-e2e-lib.sh
  scripts/ci-e2e.sh
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

debug
  test/e2e/azure_test.go
  test/e2e/conformance_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

more debug
  e2e.mk
  test/e2e/azure_test.go
  test/e2e/e2e_suite_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

faster tests
  test/e2e/azure_test.go
  test/e2e/conformance_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

watch cert-manager logs
  test/e2e/e2e_suite_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update kubelet restart script in Windows templates
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-windows-apiserver-ilb.yaml
  templates/cluster-template-windows.yaml
  templates/flavors/machinepool-windows/machine-pool-deployment-windows.yaml
  templates/flavors/windows-apiserver-ilb/machine-deployment-windows.yaml
  templates/flavors/windows/machine-deployment-windows.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows.yaml
  templates/test/ci/cluster-template-prow-clusterclass-ci-default.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/cluster-template-prow-windows.yaml
  templates/test/ci/prow-clusterclass-ci-default/windows.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool-windows.yaml
  templates/test/dev/cluster-template-custom-builds-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update default aks mgmt version to v1.33.2
  scripts/aks-as-mgmt.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump CAPI to v1.11.0-rc.1
  Makefile
  Tiltfile
  docs/book/src/developers/getting-started-with-capi-operator.md
  go.mod
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump to v1.11.0
  Makefile
  Tiltfile
  docs/book/src/developers/getting-started-with-capi-operator.md
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Using v1beta1conditions and patch
  .golangci.yml
  api/v1beta1/zz_generated.deepcopy.go
  azure/converters/resourcehealth.go
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  azure/scope/machinepoolmachine.go
  azure/scope/machinepoolmachine_test.go
  azure/scope/managedcontrolplane.go
  azure/scope/managedmachinepool.go
  azure/services/resourcehealth/mock_resourcehealth/resourcehealth_mock.go
  azure/services/resourcehealth/resourcehealth.go
  azure/services/resourcehealth/resourcehealth_test.go
  controllers/azureasomanagedcluster_controller.go
  controllers/azureasomanagedcontrolplane_controller.go
  controllers/azureasomanagedmachinepool_controller.go
  controllers/azurecluster_controller.go
  controllers/azuremachine_controller.go
  controllers/azuremanagedcluster_controller.go
  controllers/azuremanagedcontrolplane_controller_test.go
  controllers/azuremanagedmachinepool_controller.go
  controllers/helpers.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  exp/controllers/azuremachinepoolmachine_controller.go
  test/e2e/aks_byo_node.go
  test/e2e/aks_fleets_member.go
  test/e2e/aks_marketplace.go
  test/e2e/aks_public_ip_prefix.go
  test/e2e/aks_spot.go
  test/e2e/common.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump to v1.11.1
  Makefile
  Tiltfile
  docs/book/src/developers/getting-started-with-capi-operator.md
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Update tools and make generate
  .golangci.yml
  Makefile
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepooltemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepoolmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepooltemplates.yaml
  config/rbac/role.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Local deprecated utils, in progress
  .golangci.yml
  azure/scope/machine.go
  controllers/asosecret_controller.go
  controllers/azureasomanagedcluster_controller.go
  controllers/azureasomanagedcontrolplane_controller.go
  controllers/azureasomanagedmachinepool_controller.go
  controllers/azurecluster_controller.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/azuremachine_controller.go
  controllers/azuremanagedcluster_controller.go
  controllers/azuremanagedcontrolplane_controller.go
  controllers/azuremanagedmachinepool_controller.go
  controllers/helpers.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepoolmachine_controller.go
  exp/controllers/helpers.go
  pkg/mutators/azureasomanagedcontrolplane.go
  test/e2e/azure_logcollector.go
  util/v1beta1/clusters.go
  util/v1beta1/helpers.go
  util/v1beta1/machinepools.go
  util/v1beta1/machines.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

make binaries target working
  azure/scope/machinepool.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/helpers.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepoolmachine_controller.go
  exp/controllers/helpers.go
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump CAPI to v1.11.2
  Makefile
  Tiltfile
  docs/book/src/developers/getting-started-with-capi-operator.md
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump old CAPI test upgrade version to v1.10.7
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update source for flatcar sysexts
  docs/book/src/self-managed/flatcar.md
  templates/cluster-template-flatcar-sysext.yaml
  templates/flavors/flatcar-sysext/machine-deployment.yaml
  templates/flavors/flatcar-sysext/patches/kubeadm-controlplane.yaml
  templates/test/ci/cluster-template-prow-flatcar-sysext.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Use v1beta2 for Cluster+MachinePool in e2e
  test/e2e/aks.go
  test/e2e/aks_adopt.go
  test/e2e/aks_autoscaler.go
  test/e2e/aks_azure_cluster_autoscaler.go
  test/e2e/aks_byo_node.go
  test/e2e/aks_clusterclass.go
  test/e2e/aks_fleets_member.go
  test/e2e/aks_machinepools.go
  test/e2e/aks_marketplace.go
  test/e2e/aks_node_labels.go
  test/e2e/aks_node_taints.go
  test/e2e/aks_patches.go
  test/e2e/aks_public_ip_prefix.go
  test/e2e/aks_spot.go
  test/e2e/aks_tags.go
  test/e2e/aks_upgrade.go
  test/e2e/azure_apiserver_ilb.go
  test/e2e/azure_edgezone.go
  test/e2e/azure_failuredomains.go
  test/e2e/azure_logcollector.go
  test/e2e/azure_machinepools.go
  test/e2e/azure_privatecluster.go
  test/e2e/azure_securitygroups.go
  test/e2e/azure_selfhosted.go
  test/e2e/azure_vmextensions.go
  test/e2e/capi_test.go
  test/e2e/cloud-provider-azure.go
  test/e2e/common.go
  test/e2e/kubernetes/deployment/deployment.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add zone redundancy to private cluster API server load balancer
  templates/cluster-template-private.yaml
  templates/flavors/private/patches/private-lb.yaml
  templates/test/ci/cluster-template-prow-private.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Delete removed --pod-infra-container-image kubelet flag
  templates/cluster-template-machinepool-windows.yaml
  templates/flavors/machinepool-windows/machine-pool-deployment-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Ensure no new AKS LBs are created w/ Basic SKU
  api/v1beta1/azuremanagedcontrolplane_types.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/azuremanagedcontrolplanetemplate_webhook.go
  api/v1beta1/azuremanagedcontrolplanetemplate_webhook_test.go
  api/v1beta1/types_class.go
  azure/scope/managedcontrolplane.go
  azure/services/managedclusters/spec.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanetemplates.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-apiversion-upgrade, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update RBAC for 1.33 kubernetes with finalizer owned enforced feature gate
  config/rbac/role.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update test templates to community gallery images
  templates/test/ci/cluster-template-prow-ci-version-dra.yaml
  templates/test/ci/cluster-template-prow-ci-version-dual-stack.yaml
  templates/test/ci/cluster-template-prow-ci-version-ipv6.yaml
  templates/test/ci/cluster-template-prow-ci-version-md-and-mp.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/patches/control-plane-image-ci-version.yaml
  templates/test/ci/prow-ci-version-windows/patches/machine-deployment-ci-version-control-plane.yaml
  templates/test/ci/prow-ci-version-windows/patches/machine-deployment-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version-control-plane.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/ci/prow-machine-pool-ci-version-windows/patches/machine-pool-ci-version.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  templates/test/dev/cluster-template-custom-builds-dra.yaml
  templates/test/dev/cluster-template-custom-builds-load-dra.yaml
  templates/test/dev/cluster-template-custom-builds-load.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool-load-dra.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool-load.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool-windows.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds-windows.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds-load/monitoring/patches/machine-deployment-pr-version.yaml
  templates/test/dev/custom-builds-machine-pool-windows/patches/custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/patches/custom-builds.yaml
  templates/test/dev/custom-builds-windows/patches/machine-deployment-pr-version.yaml
  templates/test/dev/custom-builds/patches/machine-deployment-pr-version.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update Windows test templates to community gallery images
  docs/book/src/developers/development.md
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  templates/test/ci/cluster-template-prow-ci-version-windows.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version-windows.yaml
  templates/test/ci/prow-ci-version-windows/patches/machine-deployment-ci-version-windows.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version-windows.yaml
  templates/test/ci/prow-machine-pool-ci-version-windows/patches/machine-pool-ci-version-windows.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version-windows.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool-windows.yaml
  templates/test/dev/cluster-template-custom-builds-windows.yaml
  templates/test/dev/custom-builds-machine-pool-windows/patches/machine-pool-deployment-pr-version-windows.yaml
  templates/test/dev/custom-builds-machine-pool/patches/machine-pool-deployment-pr-version-windows.yaml
  templates/test/dev/custom-builds-windows/patches/machine-deployment-pr-version-windows.yaml
  templates/test/dev/custom-builds/patches/machine-deployment-pr-version-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-conformance, pull-cluster-api-provider-azure-conformance-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-ipv6-with-ci-artifacts, pull-cluster-api-provider-azure-conformance-dual-stack-with-ci-artifacts, pull-cluster-api-provider-azure-windows-with-ci-artifacts, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-conformance-custom-builds, pull-cluster-api-provider-azure-windows-custom-builds, pull-cluster-api-provider-azure-e2e-windows-dockershim

docs: fix typo in custom-vnet.md from groupIds to groupIDs
  docs/book/src/self-managed/custom-vnet.md
Due: none

Bump Go toolchain to v1.24.10
  go.mod
  hack/ensure-go.sh
  hack/tools/go.mod
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-aks, pull-cluster-api-provider-azure-capi-e2e, pull-cluster-api-provider-azure-ci-entrypoint, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp
