Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

pull-cluster-api-provider-azure-e2e-windows-dockershim:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

pull-cluster-api-provider-azure-e2e-exp:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

Increase wait for service timeout
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update docs on custom vnet creation
  docs/book/src/topics/custom-vnet.md
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update nvidia GPU operator to v1.9.1
  hack/fetch-nvidia-resources.sh
  templates/cluster-template-nvidia-gpu.yaml
  templates/flavors/nvidia-gpu/gpu-operator-components.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

add support for aks node labels
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/agentpools/agentpools.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add enum validation for subnet roles and a role for bastion subnets
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
  api/v1beta1/tags.go
  api/v1beta1/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  templates/test/ci/prow-private/patches/bastion.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Make vnets reconcile/delete async
  azure/scope/cluster.go
  azure/scope/managedcontrolplane.go
  azure/services/virtualnetworks/client.go
  azure/services/virtualnetworks/mock_virtualnetworks/client_mock.go
  azure/services/virtualnetworks/mock_virtualnetworks/doc.go
  azure/services/virtualnetworks/mock_virtualnetworks/virtualnetworks_mock.go
  azure/services/virtualnetworks/spec.go
  azure/services/virtualnetworks/virtualnetworks.go
  azure/services/virtualnetworks/virtualnetworks_test.go
  azure/types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add Getter interface for getting resources in other services
  azure/services/async/interfaces.go
  azure/services/async/mock_async/async_mock.go
  azure/services/availabilitysets/availabilitysets.go
  azure/services/availabilitysets/availabilitysets_test.go
  azure/services/availabilitysets/client.go
  azure/services/availabilitysets/mock_availabilitysets/client_mock.go
  azure/services/networkinterfaces/client.go
  azure/services/networkinterfaces/mock_networkinterfaces/client_mock.go
  azure/services/roleassignments/roleassignments.go
  azure/services/roleassignments/roleassignments_test.go
  azure/services/virtualmachines/client.go
  azure/services/virtualmachines/mock_virtualmachines/client_mock.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/services/virtualnetworks/client.go
  azure/services/virtualnetworks/mock_virtualnetworks/client_mock.go
  azure/services/virtualnetworks/virtualnetworks.go
  azure/services/virtualnetworks/virtualnetworks_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: remove sub id from azure managed cluster docs
  docs/book/src/topics/managedcluster.md
Due: none

Use updated images
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/prow-ci-version-windows-containerd-2022/patches/windows-image-update.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Remove failure domains dead link in docs
  docs/book/src/topics/failure-domains.md
Due: none

use aks-managed-poolName also for vmss match
  exp/controllers/azuremanagedmachinepool_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

fix: docs for aks sku tier
  docs/book/src/topics/managedcluster.md
Due: none

Add jackfrancis to reviewers
  OWNERS_ALIASES
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

[release-0.5] update capi references to v0.4.7
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

[release-1.0] update capi references to v1.0.4, v0.4.7, v0.3.25
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

[release-1.1] update capi references to v1.0.4
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Update KCP upgrade tests to use worker count 0
  test/e2e/capi_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update CAPI to v1.1.0
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Bump k8s upgrade to version to 1.23
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

remove machinepool-specific test templates
  docs/book/src/topics/vm-identity.md
  templates/cluster-template-machinepool-multiple-subnets.yaml
  templates/cluster-template-machinepool-system-assigned-identity.yaml
  templates/cluster-template-machinepool-user-assigned-identity.yaml
  templates/flavors/machinepool-multiple-subnets/kustomization.yaml
  templates/flavors/machinepool-multiple-subnets/machine-pool-deployment.yaml
  templates/flavors/machinepool-multiple-subnets/patches/azurecluster-subnets.yaml
  templates/flavors/machinepool-multiple-subnets/patches/machine-pool-subnet.yaml
  templates/flavors/machinepool-system-assigned-identity/kustomization.yaml
  templates/flavors/machinepool-system-assigned-identity/machine-pool-deployment.yaml
  templates/flavors/machinepool-system-assigned-identity/patches/system-assigned-identity.yaml
  templates/flavors/machinepool-user-assigned-identity/kustomization.yaml
  templates/flavors/machinepool-user-assigned-identity/machine-pool-deployment.yaml
  templates/flavors/machinepool-user-assigned-identity/patches/user-assigned-identity.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Removed unneeded nolint comments
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/azureclusteridentity_conversion.go
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha4/azurecluster_conversion.go
  api/v1alpha4/azureclusteridentity_conversion.go
  api/v1alpha4/azuremachine_conversion.go
  api/v1alpha4/azuremachinetemplate_conversion.go
  exp/api/v1alpha3/azuremachinepool_conversion.go
  exp/api/v1alpha3/azuremanagedcluster_conversion.go
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/azuremachinepool_conversion.go
  exp/api/v1alpha4/azuremachinepoolmachine_conversion.go
  exp/api/v1alpha4/azuremanagedcluster_conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add missing conversion funcs
  api/v1alpha3/azureclusteridentity_conversion.go
  api/v1alpha4/azureclusteridentity_conversion.go
  exp/api/v1alpha3/azuremachinepool_conversion.go
  exp/api/v1alpha3/azuremanagedcluster_conversion.go
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/azuremachinepool_conversion.go
  exp/api/v1alpha4/azuremachinepoolmachine_conversion.go
  exp/api/v1alpha4/azuremanagedcluster_conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Simplified and standardized conversion code
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/azureclusteridentity_conversion.go
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha4/azurecluster_conversion.go
  api/v1alpha4/azureclusteridentity_conversion.go
  api/v1alpha4/azuremachine_conversion.go
  api/v1alpha4/azuremachinetemplate_conversion.go
  exp/api/v1alpha3/azuremachinepool_conversion.go
  exp/api/v1alpha3/azuremanagedcluster_conversion.go
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/azuremachinepool_conversion.go
  exp/api/v1alpha4/azuremachinepoolmachine_conversion.go
  exp/api/v1alpha4/azuremanagedcluster_conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Wait for Windows nodes (if any) in ci-entrpoint.sh
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

use a regional base uri for making VMSS requests
  azure/defaults_test.go
  azure/regional_baseuri.go
  azure/regional_baseuri_test.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

dont add localhost entry for private dns
  templates/cluster-template-private.yaml
  templates/flavors/private/kustomization.yaml
  templates/flavors/private/patches/apiserver-host-dns.yaml
  templates/test/ci/cluster-template-prow-private.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

add verify-conversions target
  Makefile
  api/v1alpha3/azureclusteridentity_conversion.go
  api/v1alpha4/azureclusteridentity_conversion.go
  exp/api/v1alpha3/azuremachinepool_conversion.go
  exp/api/v1alpha3/azuremanagedcluster_conversion.go
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/azuremachinepool_conversion.go
  exp/api/v1alpha4/azuremachinepoolmachine_conversion.go
  exp/api/v1alpha4/azuremanagedcluster_conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

refactor azure cluster types to separate out fields shared by multiple azure clusters
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_types.go
  api/v1beta1/types.go
  api/v1beta1/types_class.go
  api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

update v1alpha4 to v1beta1 conversion with embedded types
  api/v1alpha4/azurecluster_conversion.go
  api/v1alpha4/zz_generated.conversion.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

update v1alpha3 to v1beta1 conversion with embedded types
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/conversion_test.go
  api/v1alpha3/zz_generated.conversion.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

update azure cluster refereces with embedded types
  api/v1beta1/azurecluster_default_test.go
  api/v1beta1/azurecluster_validation_test.go
  api/v1beta1/azurecluster_webhook_test.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  azure/scope/machine_test.go
  azure/scope/managedcontrolplane.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesetvms/scalesetvms_test.go
  azure/services/subnets/subnets_test.go
  controllers/azurejson_machine_controller_test.go
  controllers/azurejson_machinepool_controller_test.go
  controllers/azurejson_machinetemplate_controller_test.go
  controllers/azuremachine_controller_test.go
  controllers/helpers_test.go
  exp/controllers/azuremachinepoolmachine_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

add make target for verify-book-link
  .gitignore
  Makefile
  docs/book/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  third_party/japaric-trust/LICENSE-APACHE
  third_party/japaric-trust/crate_install.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Don't ignore kubeconfig directory in git
  .gitignore
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

don't fail E2E on security scan failures
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update opentelemetry-go to v1.3.0
  go.mod
  go.sum
  hack/observability/opentelemetry/chart/Chart.yaml
  hack/observability/opentelemetry/chart/README.md
  hack/observability/opentelemetry/chart/templates/_config.tpl
  hack/observability/opentelemetry/chart/templates/_pod.tpl
  hack/observability/opentelemetry/chart/templates/pdb.yaml
  hack/observability/opentelemetry/chart/values.yaml
  hack/observability/opentelemetry/fetch-otel-resources.sh
  hack/observability/opentelemetry/values.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add jsturtevant to reviewers
  OWNERS_ALIASES
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
