Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

pull-cluster-api-provider-azure-e2e-windows-dockershim:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

pull-cluster-api-provider-azure-e2e-exp:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

Update make target when ccm test Linux and Windows tests should only build images they needed instead of build everything.
  scripts/ci-build-azure-ccm.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Apidiff test runs only if the changes are in api/ and exp/api/
  Makefile
  scripts/ci-apidiff.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

fix: add scope as requirement to docs
  docs/book/src/topics/getting-started.md
  docs/book/src/topics/managedcluster.md
Due: none

Testing apidiff job for failure cases
  exp/api/v1alpha4/conversion_test.go
  exp/api/v1beta1/dummy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Revert "Apidiff test runs only if the changes are in api/ and exp/api/"
  Makefile
  scripts/ci-apidiff.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add e2e test for cluster with no outbound internet access
  test/e2e/azure_privatecluster.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

e2e: use helm to install out-of-tree cloud-provider-azure
  .gitignore
  Makefile
  Tiltfile
  docs/book/src/developers/kubernetes-developers.md
  docs/book/src/topics/cloud-provider-config.md
  go.mod
  go.sum
  hack/create-dev-cluster.sh
  scripts/ci-build-azure-ccm.sh
  scripts/ci-entrypoint.sh
  templates/cluster-template-external-cloud-provider.yaml
  templates/flavors/external-cloud-provider/ccm-resource-set.yaml
  templates/flavors/external-cloud-provider/cloud-controller-manager.yaml
  templates/flavors/external-cloud-provider/cloud-node-manager.yaml
  templates/flavors/external-cloud-provider/kustomization.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  test/e2e/azure_test.go
  test/e2e/cloud-provider-azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Use k8s 1.23.5 and allow vnet outbound traffic
  test/e2e/azure_privatecluster.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Delete long running operation state when resource is not found
  azure/services/async/async.go
  azure/services/async/async_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Create resource group with custom user tags
  azure/services/groups/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Allow AzureCloud for apiserver
  test/e2e/azure_privatecluster.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fetch calico manifests from release artifacts
  .gitignore
  Makefile
  templates/addons/calico-ipv6/calico-policy-only.yaml
  templates/addons/calico-ipv6/kustomization.yaml
  templates/addons/calico/calico-vxlan.yaml
  templates/addons/calico/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Get Windows container images from ghcr.io instead of docker.io
  templates/addons/windows/calico/calico.yaml
  templates/addons/windows/calico/kube-proxy-windows.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/prow-ci-version/patches/kubeadm-bootstrap-windows.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/kubeadm-bootstrap-windows.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/patches/kubeadm-bootstrap-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: timeout log collection operations
  test/e2e/azure_logcollector.go
  test/e2e/retry.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Make VM extension reconcile async and move VMSS extension into scaleset service
  api/v1beta1/conditions_consts.go
  azure/scope/cluster_test.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  azure/services/scalesets/mock_scalesets/scalesets_mock.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesets/vmssextension_spec.go
  azure/services/vmextensions/client.go
  azure/services/vmextensions/mock_vmextensions/client_mock.go
  azure/services/vmextensions/mock_vmextensions/doc.go
  azure/services/vmextensions/mock_vmextensions/vmextensions_mock.go
  azure/services/vmextensions/spec.go
  azure/services/vmextensions/vmextensions.go
  azure/services/vmextensions/vmextensions_test.go
  azure/services/vmssextensions/client.go
  azure/services/vmssextensions/mock_vmssextensions/client_mock.go
  azure/services/vmssextensions/mock_vmssextensions/doc.go
  azure/services/vmssextensions/mock_vmssextensions/vmssextensions_mock.go
  azure/services/vmssextensions/vmssextensions.go
  azure/services/vmssextensions/vmssextensions_test.go
  azure/types.go
  exp/controllers/azuremachinepool_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

test: don’t panic during log collection
  test/e2e/azure_logcollector.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Convert admin kubeconfig to user kubeconfig
  azure/services/managedclusters/client.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

ci: enabling containerd log collection on windows for more cluster templates
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/patches/windows-enable-containerd-logger.yaml
  templates/test/ci/prow-ci-version/kustomization.yaml
  templates/test/ci/prow/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: use distinct windows machine-pool template for automated testing
  scripts/ci-entrypoint.sh
  templates/test/ci/cluster-template-prow-machine-pool-windows.yaml
  templates/test/ci/prow-machine-pool-ci-version/kustomization.yaml
  templates/test/ci/prow-machine-pool-windows/kustomization.yaml
  templates/test/dev/custom-builds-machine-pool/kustomization.yaml
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fix Azure docs dead link
  docs/book/src/topics/vm-identity.md
Due: none

Add Jont828 to reviewers
  OWNERS_ALIASES
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add support for Service Principal with Certificate auth using AAD pod identity
  api/v1beta1/azureclusteridentity_types.go
  api/v1beta1/types.go
  azure/scope/identity.go
  azure/scope/identity_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  docs/book/src/topics/multitenancy.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Implement gMSA in conformance tests
  .gitignore
  docs/book/src/developers/development.md
  scripts/ci-conformance.sh
  scripts/gmsa/ci-gmsa.sh
  scripts/gmsa/domain.init.tmpl
  scripts/gmsa/setup-gmsa.sh
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/patches/windows-gmsa-identity.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version-windows.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/patches/machine-deployment-pr-version-windows.yaml
  test/e2e/azure_logcollector.go
  test/e2e/config/azure-dev.yaml
  test/e2e/conformance_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/gmsa.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Use a specific template for gMSA
  templates/test/ci/cluster-template-prow-ci-version-gmsa.yaml
  templates/test/ci/cluster-template-prow-gmsa.yaml
  templates/test/ci/patches/windows-gmsa-identity.yaml
  templates/test/ci/prow-ci-version-gmsa/kustomization.yaml
  templates/test/ci/prow-ci-version-gmsa/patches/machine-identity.yaml
  templates/test/ci/prow-ci-version-gmsa/patches/vnet-peering.yaml
  test/e2e/config/azure-dev.yaml
  test/e2e/conformance_test.go
  test/e2e/gmsa.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: Updating azure_logcollector.go to reflect containerd runtime on Windows
  test/e2e/azure_logcollector.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: fix wait.PollImmediate so it actually retries after errors
  test/e2e/retry.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Apply suggestions from code review
  test/e2e/azure_logcollector.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fix case of userAssignedIdentityID in JSON serialization
  controllers/helpers.go
  controllers/helpers_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: Updating azure_logcollector.go to reflect containerd runtime on Windows (#2260)
  test/e2e/azure_logcollector.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

docs/book/src/developers: fix typo GINKO_FOCUS -> GINKGO_FOCUS
  docs/book/src/developers/development.md
Due: none

azure: fix bootstrap extension command error path for bash
  azure/defaults.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

update nvidia gpu operator to 1.10.1
  hack/fetch-nvidia-resources.sh
  templates/cluster-template-nvidia-gpu.yaml
  templates/flavors/nvidia-gpu/clusterpolicy-crd.yaml
  templates/flavors/nvidia-gpu/gpu-operator-components.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix for tags update and delete op
  azure/services/managedclusters/managedclusters.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add MHC as mitigation against cloudbase init bug
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/patches/mhc-windows.yaml
  templates/test/ci/prow/kustomization.yaml
  templates/test/ci/prow/mhc-windows.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Handle compression at docs.github.com when checking markdown links
  .markdownlinkcheck.json
  docs/book/src/developers/releasing.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fix a copied code comment
  test/e2e/azure_net_pol.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
