Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

pull-cluster-api-provider-azure-e2e-windows-dockershim:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

pull-cluster-api-provider-azure-e2e-exp:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211005-ca067fbd9f-1.21
      command:
  ...

Bump to latest kubernetes patch version
  hack/create-dev-cluster.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Use "registry.k8s.io" for Kubernetes artifacts
  Makefile
  docs/Makefile
  docs/book/src/topics/gpu.md
  templates/cluster-template-nvidia-gpu.yaml
  templates/flavors/nvidia-gpu/gpu-operator-components.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/patches/control-plane-kubeadm-boostrap-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/kubeadm-bootstrap.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/patches/kubeadm-controlplane-bootstrap.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

render updates to windows templates
  templates/test/ci/cluster-template-prow-ci-version-windows.yaml
  templates/test/dev/cluster-template-custom-builds-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

add support for AdditionalCapabilities and UltraSSDEnabled
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azuremachine_conversion.go
  api/v1alpha4/azuremachinetemplate_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/azuremachine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/machine.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/virtualmachines/spec.go
  azure/services/virtualmachines/spec_test.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  docs/book/src/topics/data-disks.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: tag images when using latest
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/patches/control-plane-kubeadm-boostrap-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/kubeadm-bootstrap.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/patches/kubeadm-controlplane-bootstrap.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

update Windows templates
  templates/test/ci/cluster-template-prow-ci-version-windows.yaml
  templates/test/dev/cluster-template-custom-builds-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

switching from strings.Title to cases.Title
  go.mod
  pkg/record/recorder.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

fix: data disk validation of caching options for Ultra disks
  api/v1beta1/azuremachine_default.go
  api/v1beta1/azuremachine_default_test.go
  api/v1beta1/azuremachine_validation.go
  api/v1beta1/azuremachine_validation_test.go
  docs/book/src/topics/data-disks.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

adding OSType support to AzureManagedMachinePool
  azure/converters/managedagentpool.go
  azure/converters/managedagentpool_test.go
  azure/scope/managedcontrolplane_test.go
  azure/scope/managedmachinepool.go
  azure/scope/managedmachinepool_test.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  templates/test/ci/cluster-template-prow-aks.yaml
  templates/test/ci/prow-aks/patches/aks-pool2.yaml
  test/e2e/azure_logcollector.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

update ci & other scripts to use installed kind@v0.14.0
  Makefile
  Tiltfile
  docs/book/src/developers/development.md
  hack/ensure-kind.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  scripts/kind-with-registry.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

add oot csi driver e2e
  templates/cluster-template-external-cloud-provider.yaml
  templates/flavors/external-cloud-provider/patches/external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  test/e2e/azure_csidriver.go
  test/e2e/azure_test.go
  test/e2e/cloud-provider-azure.go
  test/e2e/helpers.go
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/pvc/pvc.go
  test/e2e/kubernetes/storageclass/storageclass.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump k8s version used by apiversion-upgrade job
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update clusterctl to v0.4.8 for v1alpha4 tests
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

use kustomize installed from makefile and remove unused install script
  hack/ensure-kustomize.sh
  hack/gen-flavors.sh
  hack/kustomize-sub.sh
  scripts/ci-configmap.sh
  scripts/ci-conformance.sh
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

initial commit for using envtest
  Makefile
  scripts/fetch_ext_bins.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

ci: standardize make directories
  hack/create-custom-cloud-provider-config.sh
  hack/create-identity-secret.sh
  hack/get-project-maintainers.sh
  hack/install-cert-manager.sh
  scripts/ci-apidiff.sh
  scripts/ci-build.sh
  scripts/ci-configmap.sh
  scripts/ci-test-coverage.sh
  scripts/ci-test.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

tests for conversion from previous API versions
  api/v1alpha3/webhook_suite_test.go
  api/v1alpha3/webhook_test.go
  exp/api/v1alpha3/webhook_suite_test.go
  exp/api/v1alpha3/webhook_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

removing healthcheck which interfers with cloudbase patch
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/patches/mhc-windows.yaml
  templates/test/ci/prow-ci-version-windows-containerd-2022/kustomization.yaml
  templates/test/ci/prow-ci-version-windows-containerd-2022/patches/drop-mhc.yaml
  templates/test/ci/prow/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: remotely retrieve VHD images once
  test/e2e/e2e_suite_test.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update default interface handling, add tests
  api/v1beta1/types.go
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/services/networkinterfaces/spec.go
  azure/services/networkinterfaces/spec_test.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  exp/api/v1alpha4/azuremachinepool_conversion.go
  exp/api/v1beta1/azuremachinepool_types.go
  exp/api/v1beta1/azuremachinepool_webhook.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

fix loadbalancer on scalesets
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump Cluster API Visualizer version
  hack/observability/cluster-api-visualizer/chart/values.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

adding default-path volume mount
  config/default/aad-pod-identity-deployment.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Makefile: put Calico manifest into artifacts directory and cache them
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Revert "Use setup-envtest instead of fetch_ext_bins"
  Makefile
  scripts/fetch_ext_bins.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Fix setup envtest on arm64
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Fix apiversion upgrade test
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Make publicips reconcile/delete async
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/services/publicips/client.go
  azure/services/publicips/mock_publicips/client_mock.go
  azure/services/publicips/mock_publicips/publicips_mock.go
  azure/services/publicips/publicips.go
  azure/services/publicips/publicips_test.go
  azure/services/publicips/spec.go
  azure/services/publicips/spec_test.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

bump aad-pod-identity to v1.8.9
  config/default/aad-pod-identity-deployment.yaml
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add 1.4 release to metadata.yaml
  metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

docs: clarify Load Balancer types and private cluster
  docs/book/src/topics/api-server-endpoint.md
Due: none

test: E2E configuration changes to address flakes
  hack/util.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/patches/azurecluster-gpu.yaml
  templates/test/ci/prow-nvidia-gpu/kustomization.yaml
  test/e2e/azure_privatecluster.go
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fix outbound LB Public IP names
  azure/scope/cluster.go
  azure/scope/cluster_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Make ssh key optional
  azure/scope/managedcontrolplane.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/api/v1alpha4/azuremanagedcontrolplane_types.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  exp/api/v1beta1/azuremanagedcontrolplane_default.go
  exp/api/v1beta1/azuremanagedcontrolplane_default_test.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

test: standardize ControlPlaneWaiters
  test/e2e/aks.go
  test/e2e/azure_test.go
  test/e2e/cloud-provider-azure.go
  test/e2e/common.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Support disable local accounts
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/zz_generated.conversion.go
  azure/scope/managedcontrolplane.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_types.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add support for public IP tags
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/azurecluster_validation.go
  api/v1beta1/types.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/converters/publicips.go
  azure/converters/publicips_test.go
  azure/scope/cluster.go
  azure/services/publicips/spec.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fix Cluster labels in OOT cloud provider templates
  templates/cluster-template-external-cloud-provider.yaml
  templates/flavors/external-cloud-provider/patches/external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

network plugin validation for ostype=windows
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)
