Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

update nvidia gpu operator to 1.10.1
  hack/fetch-nvidia-resources.sh
  templates/cluster-template-nvidia-gpu.yaml
  templates/flavors/nvidia-gpu/clusterpolicy-crd.yaml
  templates/flavors/nvidia-gpu/gpu-operator-components.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fix automatically found typos and related spelling
  CONTRIBUTING.md
  api/v1alpha4/conditions_consts.go
  api/v1beta1/azurecluster_validation_test.go
  api/v1beta1/conditions_consts.go
  azure/scope/cluster_test.go
  azure/scope/identity.go
  azure/scope/machinepoolmachine.go
  azure/scope/machinepoolmachine_test.go
  azure/services/bastionhosts/azurebastion_spec.go
  azure/services/natgateways/natgateways.go
  azure/services/scalesetvms/client.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  docs/book/src/developers/development.md
  docs/book/src/developers/kubernetes-developers.md
  docs/book/src/topics/windows.md
  docs/proposals/20201214-bootstrap-failure-detection.md
  docs/proposals/20210716-async-azure-resource-creation-deletion.md
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
  exp/api/v1alpha4/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  hack/observability/prometheus/resources/bundle.yaml
  hack/util.sh
  scripts/ci-build-kubernetes.sh
  templates/flavors/aks/cluster-template.yaml
  templates/test/ci/cluster-template-prow-identity-from-env.yaml
  templates/test/dev/cluster-template-custom-builds-windows.yaml
  templates/test/dev/custom-builds-windows/patches/custom-builds-windows.yaml
  test/e2e/aks.go
  test/e2e/azure_selfhosted.go
  test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-prow.yaml
  test/e2e/kubernetes/node/node.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Don't add Health check to WS2022
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/prow-ci-version-windows-containerd-2022/kustomization.yaml
  templates/test/ci/prow-ci-version-windows-containerd-2022/patches/drop-mhc.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update metadata.yaml to include v1.3 release
  metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update release doc to add metadata.yaml as a step
  docs/book/src/developers/releasing.md
Due: none

Add codespell GitHub Action
  .codespellignore
  .github/workflows/codespell.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

api/v1beta1/azureimage_validation.go: fix typo in function name
  api/v1beta1/azureimage_validation.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Use MSI ClientID as userAssignedIdentityID in azure.json
  azure/services/identities/client.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  go.mod
  go.sum
  templates/test/ci/cluster-template-prow-dual-stack.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/prow-dual-stack/kustomization.yaml
  templates/test/ci/prow-dual-stack/patches/azure-machine-template-control-plane.yaml
  templates/test/ci/prow-dual-stack/patches/azure-machine-template.yaml
  templates/test/ci/prow-external-cloud-provider/kustomization.yaml
  templates/test/ci/prow-external-cloud-provider/patches/azure-machine-template-control-plane.yaml
  templates/test/ci/prow-external-cloud-provider/patches/azure-machine-template.yaml
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Upgrade to calico 1.23.0
  Makefile
  templates/addons/calico-dual-stack.yaml
  templates/addons/calico-ipv6.yaml
  templates/addons/calico-ipv6/calico-policy-only.yaml
  templates/addons/calico.yaml
  templates/addons/calico/calico-vxlan.yaml
  templates/addons/windows/calico/calico.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-dual-stack.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

c
  Makefile
  Tiltfile
  api/v1alpha4/types.go
  api/v1alpha4/zz_generated.deepcopy.go
  azure/scope/managedcontrolplane.go
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
  azure/services/managedclusters/client.go
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/managedclusters_test.go
  azure/services/managedclusters/mock_managedclusters/managedclusters_mock.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/azuremanagedmachinepool_types.go
  exp/api/v1alpha3/conversion_test.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/api/v1alpha4/azuremanagedcontrolplane_default.go
  exp/api/v1alpha4/azuremanagedcontrolplane_default_test.go
  exp/api/v1alpha4/azuremanagedcontrolplane_types.go
  exp/api/v1alpha4/azuremanagedcontrolplane_webhook.go
  exp/api/v1alpha4/azuremanagedcontrolplane_webhook_test.go
  exp/api/v1alpha4/azuremanagedmachinepool_types.go
  exp/api/v1alpha4/azuremanagedmachinepool_webhook.go
  exp/api/v1alpha4/azuremanagedmachinepool_webhook_test.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Fix apiserver cloud-provider arg for external cloud-provider
  templates/cluster-template-external-cloud-provider.yaml
  templates/flavors/external-cloud-provider/patches/external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Support using a customized template outside CAPZ repo A customized template can be one on the host or a link.
  Makefile
  docs/book/src/developers/development.md
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Sleep and wait for workload cluster to be ready
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Upgrade to calico 3.23.0
  Makefile
  templates/addons/calico-dual-stack.yaml
  templates/addons/calico-ipv6/calico-policy-only.yaml
  templates/addons/calico.yaml
  templates/addons/calico/calico-vxlan.yaml
  templates/addons/windows/calico/calico.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

docs: add upstream test maintenance criteria to release doc
  docs/book/src/developers/releasing.md
Due: none

Simplify use of tar in scripts for compatibility
  hack/observability/jaeger/fetch-jaeger-resources.sh
  hack/observability/opentelemetry/fetch-otel-resources.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fixed broken link for Windows flavor template
  docs/book/src/topics/windows.md
Due: none

Re-use get_random_region
  hack/util.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Use same generate_ssh_key across files
  hack/create-dev-cluster.sh
  hack/util.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Create util for checking azure envs
  hack/create-dev-cluster.sh
  hack/util.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Updated to resolve conflict with PR2292
  docs/book/src/topics/windows.md
Due: none

Make requirements clearer for role
  docs/book/src/topics/identities-use-cases.md
Due: none

ci: support external-cloud-provider plus latest k8s releases
  scripts/ci-entrypoint.sh
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/prow-external-cloud-provider-ci-version/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

generalize helm install during E2E testing
  test/e2e/cloud-provider-azure.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix broken link for Windows flavor template (#2312)
  docs/book/src/topics/windows.md
Due: none

Make managedcluster reconcile and delete async
  azure/defaults.go
  azure/interfaces.go
  azure/mock_azure/azure_mock.go
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/scope/managedmachinepool.go
  azure/scope/managedmachinepool_test.go
  azure/services/agentpools/agentpools_test.go
  azure/services/bastionhosts/spec.go
  azure/services/managedclusters/client.go
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/managedclusters_test.go
  azure/services/managedclusters/mock_managedclusters/client_mock.go
  azure/services/managedclusters/mock_managedclusters/doc.go
  azure/services/managedclusters/mock_managedclusters/managedclusters_mock.go
  azure/services/managedclusters/spec.go
  azure/services/managedclusters/spec_test.go
  azure/services/subnets/mock_subnets/subnets_mock.go
  azure/services/subnets/subnets.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/controllers/azuremanagedcontrolplane_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Add patch for ipv6 calico config
  templates/addons/calico-ipv6.yaml
  templates/addons/calico-ipv6/kustomization.yaml
  templates/addons/calico-ipv6/patches/calico-config.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

test: fix wait.PollImmediate so it actually retries after errors
  test/e2e/retry.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Check configmap existence before creation
  Makefile
  scripts/ci-configmap.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

[release-1.3] ci: support external-cloud-provider plus latest k8s releases
  scripts/ci-entrypoint.sh
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/prow-external-cloud-provider-ci-version/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim
