Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-windows-dockershim: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)

Update and verify go modules in hack/tools
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

go get golang.org/x/tools@v0.1.12
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

go mod tidy -compat=1.17
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

enforce lowercase providerID RG to match cloud-provider-azure
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  util/azure/azure.go
  util/azure/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

fix
  azure/scope/managedcontrolplane.go
  azure/types.go
  config/default/manager_image_patch.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

bug fix
  azure/services/agentpools/agentpools.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

make generate
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/zz_generated.conversion.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Cherry pick node pool tag changes
  azure/scope/managedcontrolplane.go
  azure/services/agentpools/agentpools.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  exp/api/v1alpha3/azuremanagedmachinepool_types.go
  exp/api/v1alpha4/azuremanagedmachinepool_types.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Update support link
  docs/book/src/developers/releasing.md
  docs/book/src/topics/getting-started.md
Due: none

fix webhook (#24)
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Watch Cluster for changes in AzureJSONMachineTemplate, AzureJSONMachine, and AzureJSONMachinePool controllers
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Update deprecated annotation to `kubectl.kubernetes.io/default-container`
  config/manager/manager.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Remove UseExperimentalRetryJoin from reference templates
  templates/cluster-template-aad.yaml
  templates/flavors/aad/machine-deployment.yaml
  templates/flavors/aad/patches/kubeadm-controlplane.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/patches/control-plane-kubeadm-boostrap-ci-version.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/patches/machine-deployment-pr-version.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
  test/e2e/data/infrastructure-azure/v1alpha3/cluster-template-prow.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fix hack/tools imports so "make modules" works
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

add name and owner tags to NICs
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/services/networkinterfaces/spec.go
  azure/services/networkinterfaces/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix typo for clusterctl generate cluster command
  templates/flavors/README.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

update the node labels for AKS nodepools
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

add ability to specify custom DNS settings for VM
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azuremachine_conversion.go
  api/v1alpha4/azuremachinetemplate_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/azuremachine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/services/networkinterfaces/spec.go
  azure/services/networkinterfaces/spec_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Bump CAPI to v1.2.1
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

update min K8s ver of workload cluster upgrade
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Fix spelling errors pointed out by Codespell
  controllers/helpers.go
  hack/observability/prometheus/resources/bundle.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Temporarily change broken private cluster test to optional
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Revert "Temporarily set broken private cluster test to optional"
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Add initial test structure
  azure/converters/spotinstances_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Added test for loadbalancers converter
  azure/converters/loadbalancers_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

AKS: enable isVnetManaged, add caching
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/subnets/subnets.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: MachinePool ephemeral osDisk support
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix: set evictionPolicy Delete when Spot & Ephemeral OsDisk
  azure/converters/spotinstances.go
  azure/converters/spotinstances_test.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/virtualmachines/spec.go
  azure/services/virtualmachines/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

fix error getting activity logs in e2e for managed clusters
  test/e2e/azure_clusterproxy.go
  test/e2e/azure_logcollector.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Refactor ci-apidiff to only look for breaking changes in api/ and exp/api/
  Makefile
  scripts/ci-apidiff.sh
  scripts/go_install.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

setting reg keys to create process dumps when HNS crashes and update log collection to copy them
  go.mod
  go.sum
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/patches/windows-collect-hns-crashes.yaml
  templates/test/ci/prow/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/azure_logcollector.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Updated the check for updating machinepool when using autoscalar
  azure/const.go
  azure/scope/managedmachinepool.go
  azure/services/agentpools/agentpools.go
  config/rbac/role.yaml
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp

Update README for office hours time changes
  README.md
  SUPPORT.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Implemented test for vm converter, removed unused error from converter
  azure/converters/vm.go
  azure/converters/vm_test.go
  azure/services/virtualmachines/virtualmachines.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Standardize go imports in test/e2e files
  test/e2e/aks.go
  test/e2e/azure_clusterproxy.go
  test/e2e/azure_csidriver.go
  test/e2e/azure_lb.go
  test/e2e/azure_logcollector.go
  test/e2e/azure_machinepool_drain.go
  test/e2e/azure_net_pol.go
  test/e2e/azure_selfhosted.go
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/conformance_test.go
  test/e2e/helpers.go
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/networkpolicy/networkpolicy.go
  test/e2e/kubernetes/pod/pod.go
  test/e2e/kubernetes/pvc/pvc.go
  test/e2e/kubernetes/storageclass/storageclass.go
  test/logger.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim

Restore lint check for go comments
  .golangci.yml
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/azureclusteridentity_conversion.go
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha4/azurecluster_conversion.go
  api/v1alpha4/azuremachine_conversion.go
  api/v1alpha4/azuremachinetemplate_conversion.go
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azureclustertemplate_webhook.go
  api/v1beta1/types.go
  api/v1beta1/types_template.go
  azure/converters/subnets.go
  azure/scope/cluster.go
  azure/scope/machine.go
  azure/scope/managedcontrolplane.go
  azure/scope/managedmachinepool.go
  azure/services/groups/groups.go
  azure/services/privatedns/record_spec.go
  azure/services/publicips/client.go
  azure/services/virtualnetworks/virtualnetworks.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  exp/api/v1alpha3/azuremachinepool_conversion.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  internal/test/env/env.go
  internal/test/matchers/gomega/matchers.go
  internal/test/matchers/gomock/matchers.go
  internal/test/record/logger.go
  pkg/cloudtest/cloudtest.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-windows-dockershim, pull-cluster-api-provider-azure-e2e-exp
