Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-godeps

Path conditions:
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

remove sizerange from cleanup
  test/e2e/storage/testsuites/base.go
Due: none

Set ProviderID when running kubemark node
  pkg/kubemark/hollow_kubelet.go
Due: none

remove stale OutOfDisk condition from kubelet side
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
Due: pull-kubernetes-local-e2e-containerized

kuberuntime manager skips recording identical events
  pkg/kubelet/images/BUILD
  pkg/kubelet/images/image_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
Due: pull-kubernetes-local-e2e-containerized

Allow to specify external runtime health checkers
  pkg/kubelet/kubelet.go
  pkg/kubelet/runtime.go
Due: pull-kubernetes-local-e2e-containerized

Simplify and refactor logic of checks
  cmd/kubeadm/app/preflight/checks.go
Due: none

Allow kubemark to conditionally disrupt kubelet runtime
  cmd/kubemark/BUILD
  cmd/kubemark/hollow-node.go
  pkg/kubemark/BUILD
  pkg/kubemark/disruptor.go
  pkg/kubemark/hollow_kubelet.go
Due: none

Delete pods assigned to not existing nodes.
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
Due: none

reduce hard code to avoid more mistakes
  test/e2e/framework/service_util.go
Due: none

Kubelet: Fix volumemanager test race
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
Due: pull-kubernetes-local-e2e-containerized

fix some typos in /pkg/volume
  pkg/volume/fc/fc_util.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/volumepathhandler/volume_path_handler.go
Due: none

kubelet: add softAdmitHandler capabilities
  pkg/kubelet/BUILD
  pkg/kubelet/capabilities/BUILD
  pkg/kubelet/capabilities/capabilities.go
  pkg/kubelet/capabilities/capabilities_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/util.go
Due: pull-kubernetes-local-e2e-containerized

Add AttachDevice() to attach the device to a host
  pkg/volume/storageos/storageos.go
  pkg/volume/storageos/storageos_test.go
  pkg/volume/storageos/storageos_util.go
  pkg/volume/storageos/storageos_util_test.go
Due: none

Rename labels to match instrumentation guidelines
  pkg/kubelet/prober/prober_manager.go
  pkg/kubelet/prober/worker.go
  pkg/kubelet/server/server.go
Due: pull-kubernetes-local-e2e-containerized

bug: fix segfault when EnableServiceLinks is nil
  pkg/kubelet/kubelet_pods.go
Due: pull-kubernetes-local-e2e-containerized

API change: adding storage version hash
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
Due: pull-kubernetes-godeps

generated BUILD generated proto
  api/openapi-spec/swagger.json
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.pb.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.proto
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types_swagger_doc_generated.go
Due: pull-kubernetes-godeps

Update doc for k8s.io/code-generator/cmd/conversion-gen
  build/root/Makefile.generated_files
  staging/src/k8s.io/code-generator/cmd/conversion-gen/main.go
Due: pull-kubernetes-cross, pull-kubernetes-godeps

e2e: reject unknown providers
  test/e2e/framework/provider.go
  test/e2e/framework/test_context.go
Due: none

fix golint failure for pkg/controller/deployment/util
  hack/.golint_failures
  pkg/controller/deployment/util/deployment_util.go
  pkg/controller/deployment/util/hash_test.go
Due: none

Cleanup of phases
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/join.go
  cmd/kubeadm/app/cmd/phases/workflow/runner.go
Due: none

Do writes in init container before trying reads
  test/e2e/storage/testsuites/subpath.go
Due: none

use ControllerClientBuilder in k8s.io/cloud-provider for AWS/GCE cloud providers
  pkg/cloudprovider/providers/aws/aws.go
  pkg/cloudprovider/providers/gce/BUILD
  pkg/cloudprovider/providers/gce/gce.go
Due: none

test/e2e/framework: validate external node IPs
  test/e2e/framework/util.go
Due: none

Structure manager info in api
  staging/src/k8s.io/apimachinery/pkg/apis/meta/fuzzer/fuzzer.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/meta.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/unstructured.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields_test.go
Due: pull-kubernetes-godeps

Renamed variables colliding with package names, and added TODOs on uncaught-errors
  cmd/kube-proxy/app/server.go
Due: none

a
  test/e2e/scalability/load.go
Due: none

TLS client config test fix
  staging/src/k8s.io/client-go/rest/transport.go
  staging/src/k8s.io/client-go/transport/transport.go
  test/e2e/scalability/load.go
Due: pull-kubernetes-godeps

migrate the rest reference of pkg/util/exec to k8s.io/utils/exec
  pkg/kubelet/container/runtime.go
  pkg/util/mount/mount.go
  test/test_owners.csv
Due: pull-kubernetes-local-e2e-containerized

abc
  test/e2e/scalability/load.go
Due: none

Fix bug
  test/e2e/storage/persistent_volumes-local.go
Due: none

Fix some error in returned message
  test/integration/scheduler_perf/scheduler_test.go
Due: none

Update cluster-proportional-autoscaler to 1.4.0 to use apps/v1
  cluster/addons/dns-horizontal-autoscaler/dns-horizontal-autoscaler.yaml
Due: pull-kubernetes-e2e-gke
