Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

reset backend and disableCatchAll to og value
  internal/ingress/controller/controller_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

[docs] Documentation for Oracle Cloud Infrastructure integration
  charts/ingress-nginx/README.md
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Proposing myself as an approver temporarily
  OWNERS
Due: none

allow proxy-ssl-* annotations without proxy-ssl-secret
  internal/ingress/annotations/proxyssl/main.go
  internal/ingress/annotations/proxyssl/main_test.go
  rootfs/etc/nginx/template/nginx.tmpl
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Fix buggy retry logic in syncIngress()
  internal/ingress/controller/controller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

syncIngress: change backoff factor to 1.2
  internal/ingress/controller/controller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

separated registry and repo in values.yaml and template
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

syncIngress: change backoff factor to 1.3
  internal/ingress/controller/controller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

syncIngress: flag for number of retries
  cmd/nginx/flags.go
  internal/ingress/controller/controller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Deploy GitHub Pages
  examples/customization/custom-configuration/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Deploy GitHub Pages
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
Due: none

ci: update kubernetes versions
  .github/workflows/ci.yaml
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/third-party-addons/modsecurity/index.html
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Remove localhost calls from external names
  .github/workflows/ci.yaml
  internal/ingress/controller/endpoints.go
  internal/ingress/controller/endpoints_test.go
  rootfs/etc/nginx/lua/balancer.lua
  rootfs/etc/nginx/lua/tcp_udp_balancer.lua
  rootfs/etc/nginx/template/nginx.tmpl
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test

Generate release v0.46
  TAG
Due: none

update changelog
  Changelog.md
Due: none

update the helm chart
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

update the docs for 46
  docs/deploy/index.md
Due: none

update version
  deploy/static/provider/aws/deploy-tls-termination.yaml
Due: none

update helm charts
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
Due: none

fix typos
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

fix version with gen script
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
Due: none
