Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

pull-ingress-nginx-boilerplate:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
  ...

pull-ingress-nginx-codegen:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - ./hack/verify-codegen.sh

pull-ingress-nginx-gofmt:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - ./hack/verify-gofmt.sh

pull-ingress-nginx-golint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - ./hack/verify-golint.sh

pull-ingress-nginx-lualint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - ./hack/verify-lualint.sh

pull-ingress-nginx-chart-lint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - ./hack/verify-chart-lint.sh

pull-ingress-nginx-test-lua:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - make
      - lua-test

pull-ingress-nginx-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - /bin/bash
      - -c
  ...

New annotation.
  docs/examples/affinity/cookie/README.md
  docs/user-guide/nginx-configuration/annotations.md
  internal/ingress/annotations/sessionaffinity/main.go
  internal/ingress/controller/controller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

High-level implementation of is_affinitized()
  rootfs/etc/nginx/lua/balancer.lua
  rootfs/etc/nginx/lua/balancer/ewma.lua
  rootfs/etc/nginx/lua/balancer/sticky.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

Affinitization works.
  rootfs/etc/nginx/lua/balancer.lua
  rootfs/etc/nginx/lua/balancer/chashsubset.lua
  rootfs/etc/nginx/lua/balancer/ewma.lua
  rootfs/etc/nginx/lua/balancer/resty.lua
  rootfs/etc/nginx/lua/balancer/sticky.lua
  rootfs/etc/nginx/lua/util/split.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

Make existing lua tests pass.
  rootfs/etc/nginx/lua/test/balancer_test.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

Tests for split.
  rootfs/etc/nginx/lua/test/util/split.lua
  rootfs/etc/nginx/lua/test/util/split_test.lua
  rootfs/etc/nginx/lua/util/split.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

Reformat lua code.
  rootfs/etc/nginx/lua/test/util/split_test.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

Reshuffle alt balancer tests.
  rootfs/etc/nginx/lua/test/balancer_test.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

Added test for chashsubset impl.
  rootfs/etc/nginx/lua/balancer.lua
  rootfs/etc/nginx/lua/test/balancer_test.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

Fix typo in docs
  docs/how-it-works.md
Due: none

Always reset balancer after ngx mocked.
  rootfs/etc/nginx/lua/test/balancer_test.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

Exposed get_balancer_by_upstream_name()
  rootfs/etc/nginx/lua/balancer.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

UTs for affinitized requests.
  rootfs/etc/nginx/lua/test/balancer_test.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

Follow same patterns as balancer UTs.
  rootfs/etc/nginx/lua/test/balancer/sticky_test.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

UTs for cookies
  rootfs/etc/nginx/lua/balancer/sticky.lua
  rootfs/etc/nginx/lua/test/balancer/sticky_test.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

Use same style across the board.
  rootfs/etc/nginx/lua/test/balancer/sticky_test.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

Documentation updates.
  docs/developer-guide/getting-started.md
Due: none

Make existing UTs pass.
  internal/ingress/controller/controller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Revert "feat: multiple-cors-allow-origin support (#7134)"
  docs/user-guide/nginx-configuration/annotations.md
  internal/ingress/annotations/cors/main.go
  internal/ingress/annotations/cors/main_test.go
  test/e2e/annotations/cors.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Added UTs for "sticky" canary behavior.
  internal/ingress/controller/controller_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Tests for annotations parser.
  internal/ingress/annotations/annotations_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Commented by default deprecated repository key/value pair
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add annotations for HPA
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/controller-hpa.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Revert "feat: multiple-cors-allow-origin support (#7134)" (#7168)
  docs/user-guide/nginx-configuration/annotations.md
  internal/ingress/annotations/cors/main.go
  internal/ingress/annotations/cors/main_test.go
  test/e2e/annotations/cors.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
Due: none

Upgrade Nginx to 1.20.1
  images/nginx/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

Upgrade Nginx to 1.20.1 (#7179)
  images/nginx/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

Update the sha for nginx 1.21.1
  images/nginx/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

Update the sha for nginx 1.21.1 (#7182)
  images/nginx/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

The actual sah256 sum for nginx 1.20.1
  images/nginx/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

The actual sah256 sum for nginx 1.20.1 (#7183)
  images/nginx/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

Fix typo in docs (#7061)
  docs/how-it-works.md
Due: none

Deploy GitHub Pages
  how-it-works/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Commented by default deprecated repository key/value pair (#7174)
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
