Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

pull-ingress-nginx-boilerplate:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
  ...

pull-ingress-nginx-codegen:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - ./hack/verify-codegen.sh

pull-ingress-nginx-gofmt:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - ./hack/verify-gofmt.sh

pull-ingress-nginx-golint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - ./hack/verify-golint.sh

pull-ingress-nginx-lualint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - ./hack/verify-lualint.sh

pull-ingress-nginx-chart-lint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - ./hack/verify-chart-lint.sh

pull-ingress-nginx-test-lua:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - make
      - lua-test

pull-ingress-nginx-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: k8s.gcr.io/ingress-nginx/e2e-test-runner:v20201029-g92de5212d@sha256:ab3e24d06a1cf152d39cb8c11f1c0dcbd99b20de0b183657e04d32c2d094c0bb
      command:
      - /bin/bash
      - -c
  ...

Update basic-usage.md
  docs/user-guide/basic-usage.md
Due: none

Don't ignore Getwd() error
  internal/ingress/controller/template/template_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Rewrite clean-nginx-conf.sh in Go to speed up admission webhook (#7076)
  go.mod
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  rootfs/Dockerfile
  rootfs/ingress-controller/clean-nginx-conf.sh
  rootfs/ingress-controller/indent.sh
  test/data/cleanConf.expected.conf
  test/data/cleanConf.src.conf
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update getting-started.md
  docs/developer-guide/getting-started.md
Due: none

ingress/tcp: add additional error logging on failed
  internal/ingress/controller/tcp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Fix doc for max-worker-open-files
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Add e2e test for rlimit_nofile
  test/e2e/settings/global_options.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Speed up admission hook by eliminating deep copy of Ingresses in CheckIngress
  internal/ingress/controller/location.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Fix MaxWorkerOpenFiles calculation on high cores nodes (#7107)
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/nginx.go
  test/e2e/settings/global_options.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

Add retries count arg, move retry logic into DownloadGeoLite2DB function
  cmd/nginx/flags.go
  cmd/nginx/flags_test.go
  docs/user-guide/cli-arguments.md
  internal/nginx/maxmind.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

ingress/tcp: add additional error logging on failed (#7208)
  internal/ingress/controller/tcp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add deploy for bizflycloud
  deploy/static/provider/bizflycloud/deploy.yaml
  deploy/static/provider/bizflycloud/kustomization.yaml
  docs/deploy/index.md
  hack/generate-deploy-scripts.sh
Due: pull-ingress-nginx-boilerplate

Reorder parameters in DownloadGeoLite2DB
  cmd/nginx/flags.go
  internal/nginx/maxmind.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

replacing master with main for k/k8s.io links
  RELEASE.md
Due: none

Updated v1beta1 to v1 as its deprecated
  docs/examples/affinity/cookie/ingress.yaml
  docs/examples/auth/client-certs/ingress.yaml
  docs/examples/customization/configuration-snippets/ingress.yaml
  docs/examples/customization/external-auth-headers/deploy/echo-service.yaml
  docs/examples/grpc/ingress.yaml
  docs/examples/tls-termination/README.md
  docs/user-guide/basic-usage.md
  docs/user-guide/fcgi-services.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/third-party-addons/opentracing.md
Due: none

Replace non-existent curl image
  docs/troubleshooting.md
Due: none

Remove hardcoded value
  internal/nginx/maxmind.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

replacing master with main for k/k8s.io links (#7307)
  RELEASE.md
Due: none

Handle named (non-numeric) ports correctly
  cmd/plugin/commands/ingresses/ingresses.go
  cmd/plugin/commands/ingresses/ingresses_test.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add configuration to disable external name service feature
  cmd/nginx/flags.go
  go.mod
  go.sum
  internal/ingress/controller/controller.go
  test/e2e/settings/disable_service_external_name.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Use v1 API contract.
  internal/ingress/controller/controller_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Fixed setup for SSL UTs.
  build/run-in-docker.sh
Due: pull-ingress-nginx-boilerplate

Add file containing stable release
  RELEASE.md
  stable.txt
Due: none

Add file containing stable release (#7313)
  RELEASE.md
  stable.txt
Due: none

Lower webhook timeout for digital ocean
  deploy/static/provider/do/deploy.yaml
Due: none

Set Digital Ocean value controller.admissionWebhooks.timeoutSeconds to 29
  hack/generate-deploy-scripts.sh
Due: pull-ingress-nginx-boilerplate

Add configuration to disable external name service feature (#7314)
  cmd/nginx/flags.go
  go.mod
  go.sum
  internal/ingress/controller/controller.go
  test/e2e/settings/disable_service_external_name.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Handle named (non-numeric) ports correctly (#7311)
  cmd/plugin/commands/ingresses/ingresses.go
  cmd/plugin/commands/ingresses/ingresses_test.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Updated v1beta1 to v1 as its deprecated (#7308)
  docs/examples/affinity/cookie/ingress.yaml
  docs/examples/auth/client-certs/ingress.yaml
  docs/examples/customization/configuration-snippets/ingress.yaml
  docs/examples/customization/external-auth-headers/deploy/echo-service.yaml
  docs/examples/grpc/ingress.yaml
  docs/examples/tls-termination/README.md
  docs/user-guide/basic-usage.md
  docs/user-guide/fcgi-services.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/third-party-addons/opentracing.md
Due: none

Deploy GitHub Pages
  examples/affinity/cookie/ingress.yaml
  examples/auth/client-certs/ingress.yaml
  examples/customization/configuration-snippets/ingress.yaml
  examples/customization/external-auth-headers/deploy/echo-service.yaml
  examples/grpc/ingress.yaml
  examples/tls-termination/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/basic-usage/index.html
  user-guide/fcgi-services/index.html
  user-guide/nginx-configuration/annotations/index.html
  user-guide/third-party-addons/opentracing/index.html
Due: none

use listen to ensure the port is free (#6990)
  internal/net/net.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

remove mercurial from build (#7031)
  images/nginx/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

Add a test
  test/e2e/annotations/modsecurity.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Fix definition order of modsecurity directives for controller to match PR 5315 (#6940)
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/modsecurity.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix: allow scope/tcp/udp configmap namespace to altered
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fix CI files
  .github/workflows/ci.yaml
  build/run-e2e-suite.sh
Due: pull-ingress-nginx-boilerplate

[Cherry Pick] - Add configuration to disable external name service feature (#7314) (#7321)
  .github/workflows/ci.yaml
  build/run-e2e-suite.sh
  cmd/nginx/flags.go
  go.mod
  go.sum
  internal/ingress/controller/controller.go
  test/e2e/settings/disable_service_external_name.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Path conditions:
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
