Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18, pull-ingress-nginx-e2e-helm-chart

pull-ingress-nginx-gofmt:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v04212020-5d67794f4
      command:
      - ./hack/verify-gofmt.sh
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-golint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v04212020-5d67794f4
      command:
      - ./hack/verify-golint.sh
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-lualint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v04212020-5d67794f4
      command:
      - ./hack/verify-lualint.sh
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-chart-lint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v04212020-5d67794f4
      command:
      - ./hack/verify-chart-lint.sh
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-test-lua:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v04212020-5d67794f4
      command:
      - make
      - lua-test
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v04212020-5d67794f4
      command:
      - /bin/bash
      - -c
      - GIT_COMMIT=${PULL_PULL_SHA} make cover
      env:
      - name: CODECOV_TOKEN
  ...

pull-ingress-nginx-e2e-1-15:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e-prow:v04212020-5d67794f4
      command:
      - /usr/local/bin/runner.sh
      args:
      - make
      - kind-e2e-test
      securityContext:
  ...

pull-ingress-nginx-e2e-1-16:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e-prow:v04212020-5d67794f4
      command:
      - /usr/local/bin/runner.sh
      args:
      - make
      - kind-e2e-test
      securityContext:
  ...

Use image promoter to push images to gcr
  Makefile
  cloudbuild.yaml
Due: none

add toleration support for admission webhooks
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Update index.yaml
  index.yaml
Due: none

Allow pulling images by digest
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/templates/default-backend-deployment.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update unit & e2e tests.
  internal/ingress/annotations/sslcipher/main_test.go
  test/e2e/annotations/sslciphers.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Add note about initial delay during first start
  docs/deploy/index.md
Due: none

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Add MaxMind GeoIP2 Anonymous IP support
  rootfs/etc/nginx/template/nginx.tmpl
Due: pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Deploy GitHub Pages
  sitemap.xml.gz
Due: none

Update go dependencies
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/cgroups.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/k8s.io/apimachinery/pkg/util/json/json.go
  vendor/k8s.io/apimachinery/pkg/util/wait/wait.go
  vendor/k8s.io/client-go/tools/clientcmd/client_config.go
  vendor/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
  vendor/k8s.io/cloud-provider/go.mod
  vendor/k8s.io/cloud-provider/go.sum
  vendor/k8s.io/code-generator/go.mod
  vendor/k8s.io/code-generator/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/config/config.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/dryrun.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/options.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/crd.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/helper.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/webhook.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/apiserver.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/arguments.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/etcd.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/process.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/tinyca.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Update nginx to 1.19.0
  images/nginx/Makefile
  images/nginx/rc.yaml
  images/nginx/rootfs/build.sh
Due: none

Update debian-base image
  build/images/ingress-controller/Dockerfile
  build/images/nginx/Dockerfile
  images/fastcgi-helloserver/rootfs/Dockerfile
Due: none

Update nginx image and go to 1.14.3
  Makefile
  build/images/ingress-controller/build-ingress-controller.sh
  build/images/nginx/build-nginx.sh
  build/run-in-docker.sh
  images/e2e/Dockerfile
  images/e2e/Makefile
  test/e2e-image/Dockerfile
Due: none

Add promethius annotations documentation
  docs/user-guide/monitoring.md
Due: none

fix oauth2-proxy image repository
  docs/examples/auth/oauth-external-auth/oauth2-proxy.yaml
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
Due: none

Add support for s390x
  images/nginx/Makefile
  images/nginx/rc.yaml
  images/nginx/rootfs/build.sh
Due: none

Path conditions:
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-1-15: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-16: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-17: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-18: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
