Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18, pull-ingress-nginx-e2e-helm-chart

pull-ingress-nginx-gofmt:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v04212020-5d67794f4
      command:
      - ./hack/verify-gofmt.sh
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-golint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v04212020-5d67794f4
      command:
      - ./hack/verify-golint.sh
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-lualint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v04212020-5d67794f4
      command:
      - ./hack/verify-lualint.sh
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-chart-lint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v04212020-5d67794f4
      command:
      - ./hack/verify-chart-lint.sh
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-test-lua:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v04212020-5d67794f4
      command:
      - make
      - lua-test
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v04212020-5d67794f4
      command:
      - /bin/bash
      - -c
      - GIT_COMMIT=${PULL_PULL_SHA} make cover
      env:
      - name: CODECOV_TOKEN
  ...

pull-ingress-nginx-e2e-1-15:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e-prow:v04212020-5d67794f4
      command:
      - /usr/local/bin/runner.sh
      args:
      - make
      - kind-e2e-test
      securityContext:
  ...

pull-ingress-nginx-e2e-1-16:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e-prow:v04212020-5d67794f4
      command:
      - /usr/local/bin/runner.sh
      args:
      - make
      - kind-e2e-test
      securityContext:
  ...

Enable TLSv1.3 by default
  internal/ingress/controller/config/config.go
  test/e2e/settings/tls.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Remove duplicate annotation parsing for annotationAffinityCookieChangeOnFailure
  internal/ingress/annotations/sessionaffinity/main.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Remove duplicate Cookie.ChangeOnFailure assertion
  internal/ingress/annotations/sessionaffinity/main_test.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

add http2 for insecure port
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/http2insecureport/main.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/template/template.go
  internal/ingress/types.go
  rootfs/etc/nginx/template/nginx.tmpl
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

Update build.sh
  images/nginx/rootfs/build.sh
Due: none

Add annotation ssl-prefer-server-ciphers.
  docs/user-guide/nginx-configuration/annotations.md
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/sslcipher/main.go
  internal/ingress/annotations/sslcipher/main_test.go
  internal/ingress/controller/controller.go
  internal/ingress/types.go
  internal/ingress/types_equals.go
  rootfs/etc/nginx/template/nginx.tmpl
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Fix error setting $service_name NGINX variable
  internal/ingress/controller/template/template.go
  test/e2e/ingress/multiple_rules.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

fix: add github actions to ingress nginx
  .github/workflows/build_push.yaml
Due: none

removing the memory utilization default
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add comments for sslcipher.Config struct.
  internal/ingress/annotations/sslcipher/main.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Update testcase for sslCipher.
  internal/ingress/annotations/sslcipher/main_test.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Deploy GitHub Pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Ability to separately disable access log in http and stream contexts Two new configuration options: `disable-http-access-log` `disable-stream-access-log`
  internal/ingress/controller/config/config.go
  rootfs/etc/nginx/template/nginx.tmpl
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Disable Access Log tests. Draft.
  test/e2e/annotations/disableaccesslog.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Check service If publish-service flag is defined
  cmd/nginx/main.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Deploy GitHub Pages
  sitemap.xml.gz
Due: none

Wait before any request to the ingress controller pod
  test/e2e/framework/framework.go
  test/e2e/lua/dynamic_configuration.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Use ingress-nginx-* naming in docs to match the default deployment
  docs/deploy/baremetal.md
  docs/deploy/index.md
  docs/examples/customization/configuration-snippets/README.md
  docs/examples/customization/custom-configuration/README.md
  docs/examples/customization/custom-configuration/configmap.yaml
  docs/examples/customization/custom-errors/README.md
  docs/examples/customization/custom-headers/README.md
  docs/examples/customization/custom-headers/configmap.yaml
  docs/examples/customization/ssl-dh-param/README.md
  docs/examples/customization/ssl-dh-param/configmap.yaml
  docs/user-guide/third-party-addons/opentracing.md
Due: none

Deploy GitHub Pages
  deploy/baremetal/index.html
  deploy/index.html
  examples/customization/configuration-snippets/index.html
  examples/customization/custom-configuration/configmap.yaml
  examples/customization/custom-configuration/index.html
  examples/customization/custom-errors/index.html
  examples/customization/custom-headers/configmap.yaml
  examples/customization/custom-headers/index.html
  examples/customization/ssl-dh-param/configmap.yaml
  examples/customization/ssl-dh-param/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/third-party-addons/opentracing/index.html
Due: none

Update configmap name in custom-headers/README.md
  docs/examples/customization/custom-headers/README.md
Due: none

Deploy GitHub Pages
  examples/customization/custom-headers/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Use image promoter to push images to gcr
  Makefile
  cloudbuild.yaml
Due: none

Path conditions:
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-1-15: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-16: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-17: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-18: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
