Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-1-15: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-16: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-17: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-18: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Deploy GitHub Pages
  development/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Add minor doc fixes to user guide and chart readme
  charts/ingress-nginx/README.md
  docs/user-guide/nginx-configuration/annotations.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add documentation for loading e2e tests without using minikube
  docs/development.md
Due: none

Deploy GitHub Pages
  development/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

[#4479] Add stream-snippet as a ConfigMap option
  .gitignore
  docs/development.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/settings/stream_snippet.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

admission: check ingress host path
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Add http-access-log-path and stream-access-log-path options in configMap
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/settings/access_log.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Update cloud-build configuration
  cloudbuild.yaml
Due: none

Deploy GitHub Pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Set missing USER in cloud-build
  cloudbuild.yaml
Due: none

Deploy GitHub Pages
  sitemap.xml.gz
Due: none

Add missing REPO_INFO en variable to cloud-build
  cloudbuild.yaml
Due: none

Increase cloud-build timeout
  cloudbuild.yaml
Due: none

Fix cloud-timeout setting
  cloudbuild.yaml
Due: none

Serve correct TLS certificate for requests with uppercase host
  rootfs/etc/nginx/lua/certificate.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
Due: none

Add URL to official grafana dashboards
  docs/user-guide/monitoring.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/monitoring/index.html
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

fix undefined variable $auth_cookie error when location is denied
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/auth.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Enable lj-releng tool to lint lua code.
  .luacheckrc
  hack/verify-lualint.sh
  rootfs/etc/nginx/lua/balancer.lua
  rootfs/etc/nginx/lua/balancer/chash.lua
  rootfs/etc/nginx/lua/balancer/chashsubset.lua
  rootfs/etc/nginx/lua/balancer/ewma.lua
  rootfs/etc/nginx/lua/balancer/resty.lua
  rootfs/etc/nginx/lua/balancer/round_robin.lua
  rootfs/etc/nginx/lua/balancer/sticky.lua
  rootfs/etc/nginx/lua/balancer/sticky_balanced.lua
  rootfs/etc/nginx/lua/balancer/sticky_persistent.lua
  rootfs/etc/nginx/lua/certificate.lua
  rootfs/etc/nginx/lua/configuration.lua
  rootfs/etc/nginx/lua/lua_ingress.lua
  rootfs/etc/nginx/lua/monitor.lua
  rootfs/etc/nginx/lua/plugins.lua
  rootfs/etc/nginx/lua/plugins/hello_world/main.lua
  rootfs/etc/nginx/lua/plugins/hello_world/test/main_test.lua
  rootfs/etc/nginx/lua/tcp_udp_balancer.lua
  rootfs/etc/nginx/lua/tcp_udp_configuration.lua
  rootfs/etc/nginx/lua/test/balancer/chash_test.lua
  rootfs/etc/nginx/lua/test/balancer/chashsubset_test.lua
  rootfs/etc/nginx/lua/test/balancer/ewma_test.lua
  rootfs/etc/nginx/lua/test/balancer/sticky_test.lua
  rootfs/etc/nginx/lua/test/balancer_test.lua
  rootfs/etc/nginx/lua/test/certificate_test.lua
  rootfs/etc/nginx/lua/test/configuration_test.lua
  rootfs/etc/nginx/lua/test/monitor_test.lua
  rootfs/etc/nginx/lua/test/run.lua
  rootfs/etc/nginx/lua/test/util_test.lua
  rootfs/etc/nginx/lua/util.lua
  rootfs/etc/nginx/lua/util/dns.lua
  rootfs/etc/nginx/lua/util/nodemap.lua
  rootfs/etc/nginx/lua/util/resolv_conf.lua
  rootfs/etc/nginx/lua/util/same_site.lua
  rootfs/etc/nginx/lua/util/split.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18
