Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-1-15: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-16: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-17: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-18: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Ensure webhook validation ingress has a PathTypePrefix
  internal/ingress/controller/controller.go
  internal/ingress/controller/store/store.go
  internal/k8s/main.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Release 0.31.1
  .github/ISSUE_TEMPLATE/bug_report.md
  Changelog.md
  Makefile
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  docs/deploy/index.md
  docs/deploy/upgrade.md
  docs/examples/psp/README.md
  docs/examples/static-ip/nginx-ingress-controller.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  sitemap.xml.gz
Due: none

Deploy GitHub Pages
  deploy/index.html
  deploy/upgrade/index.html
  examples/psp/index.html
  examples/static-ip/nginx-ingress-controller.yaml
  search/search_index.json
  sitemap.xml.gz
Due: none

Update index.yaml
  index.yaml
Due: none

Ensure alpine packages are up to date
  images/nginx/rootfs/Dockerfile
  rootfs/Dockerfile
Due: pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

lua sync non-external backends only when necessary: add force sync interval
  rootfs/etc/nginx/lua/balancer.lua
  rootfs/etc/nginx/lua/configuration.lua
  rootfs/etc/nginx/lua/tcp_udp_balancer.lua
  rootfs/etc/nginx/lua/tcp_udp_configuration.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

lua sync non-external backends only when necessary: fix typo & code style
  rootfs/etc/nginx/lua/configuration.lua
  rootfs/etc/nginx/lua/tcp_udp_balancer.lua
  rootfs/etc/nginx/lua/tcp_udp_configuration.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Case-insensitive TLS host matching
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
  user-guide/tls/index.html
Due: none

fix(Chart): Mismatch between values.yml and README.md
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fix helper for defaultbackend name
  charts/ingress-nginx/templates/_helpers.tpl
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Refactor ingress validation in webhook
  internal/admission/controller/main.go
  internal/admission/controller/main_test.go
  internal/admission/controller/server.go
  internal/admission/controller/server_test.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/store/store.go
  internal/k8s/main.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/basic-usage/index.html
Due: none

Remove noisy dns log
  rootfs/etc/nginx/lua/util/dns.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Wait before any request to the ingress controller pod
  test/e2e/framework/framework.go
  test/e2e/lua/dynamic_configuration.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Add support for multi-arch images
  Makefile
  build/images/ingress-controller/build-ingress-controller.sh
Due: none
