Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-1-15: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-16: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-17: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-18: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Prepare switch to gcr.io
  .github/workflows/ci.yaml
  Makefile
  build/dev-env.sh
  test/e2e-image/namespace-overlays/custom-health-check-path/values.yaml
  test/e2e-image/namespace-overlays/forwarded-port-headers/values.yaml
  test/e2e/run-chart-test.sh
  test/e2e/run.sh
  test/e2e/wait-for-nginx.sh
Due: none

Update TAG for 0.34.0
  TAG
Due: none

Fix version GIT_COMMIT reference
  cloudbuild.yaml
Due: none

Update helm chart for v0.34.0
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  test/e2e-image/namespace-overlays/custom-health-check-path/values.yaml
  test/e2e-image/namespace-overlays/forwarded-port-headers/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fix missing variable in run-chart-test script
  test/e2e/run-chart-test.sh
  test/e2e/wait-for-nginx.sh
Due: none

Update index.yaml
  index.yaml
Due: none

Release 0.34.0
  Changelog.md
  docs/deploy/index.md
Due: none

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Doc: Adding initial hardening guide
  docs/deploy/hardening-guide.md
  mkdocs.yml
Due: none

Update dev-env.sh script
  build/dev-env.sh
Due: none

Add metrics<request,upstream> 'host' label
  internal/ingress/metric/collectors/socket.go
  internal/ingress/metric/collectors/socket_test.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Update opentracing nginx module
  images/nginx/rootfs/build.sh
Due: none

Revert "use-regex annotation should be applied to only one Location"
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/rewrite.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Update go version
  images/test-runner/Makefile
Due: none

Update e2e-test-runner image
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
Due: none

Prepare for release v0.34.1
  TAG
Due: none

Add enable-real-ip
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/settings/enable_real_ip.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18
