Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18, pull-ingress-nginx-e2e-helm-chart

pull-ingress-nginx-gofmt:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v05312020-d250b97b4
      command:
      - ./hack/verify-gofmt.sh
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-golint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v05312020-d250b97b4
      command:
      - ./hack/verify-golint.sh
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-lualint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v05312020-d250b97b4
      command:
      - ./hack/verify-lualint.sh
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-chart-lint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v05312020-d250b97b4
      command:
      - ./hack/verify-chart-lint.sh
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-test-lua:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v05312020-d250b97b4
      command:
      - make
      - lua-test
      env:
      - name: DIND_TASKS
        value: 'false'

pull-ingress-nginx-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e:v05312020-d250b97b4
      command:
      - /bin/bash
      - -c
      - GIT_COMMIT=${PULL_PULL_SHA} make cover
      env:
      - name: CODECOV_TOKEN
  ...

pull-ingress-nginx-e2e-1-15:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e-prow:v05312020-7bd62f5c0
      command:
      - /usr/local/bin/runner.sh
      args:
      - make
      - kind-e2e-test
      securityContext:
  ...

pull-ingress-nginx-e2e-1-16:
  decorate: true
  labels:
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: quay.io/kubernetes-ingress-controller/e2e-prow:v05312020-7bd62f5c0
      command:
      - /usr/local/bin/runner.sh
      args:
      - make
      - kind-e2e-test
      securityContext:
  ...

Remove unused variables and verbose e2e logs
  Makefile
  build/run-e2e-suite.sh
  build/run-in-docker.sh
  docs/development.md
  go.sum
  hack/check-go-version.sh
  hack/update-codegen.sh
  hack/verify-all.sh
  hack/verify-codegen.sh
  test/e2e-image/Makefile
  test/e2e-image/e2e.sh
  test/e2e/annotations/affinity.go
  test/e2e/annotations/affinitymode.go
  test/e2e/annotations/fromtowwwredirect.go
  test/e2e/annotations/influxdb.go
  test/e2e/annotations/upstreamhashby.go
  test/e2e/defaultbackend/custom_default_backend.go
  test/e2e/defaultbackend/default_backend.go
  test/e2e/framework/fastcgi_helloserver.go
  test/e2e/framework/framework.go
  test/e2e/framework/grpc_fortune_teller.go
  test/e2e/framework/influxdb.go
  test/e2e/framework/k8s.go
  test/e2e/framework/test_context.go
  test/e2e/framework/util.go
  test/e2e/gracefulshutdown/shutdown.go
  test/e2e/gracefulshutdown/slow_requests.go
  test/e2e/lua/dynamic_certificates.go
  test/e2e/lua/dynamic_configuration.go
  test/e2e/security/request_smuggling.go
  test/e2e/servicebackend/service_externalname.go
  test/e2e/settings/ingress_class.go
  test/e2e/settings/ocsp/ocsp.go
  test/e2e/ssl/secret_update.go
  test/e2e/tcpudp/tcp.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Update README.md
  docs/examples/customization/custom-configuration/README.md
Due: none

Dynamic LB sync non-external backends only when necessary
  rootfs/etc/nginx/lua/balancer.lua
  rootfs/etc/nginx/lua/configuration.lua
  rootfs/etc/nginx/lua/tcp_udp_balancer.lua
  rootfs/etc/nginx/lua/tcp_udp_configuration.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Deploy GitHub Pages
  development/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy GitHub Pages
  sitemap.xml.gz
Due: none

Update kind node image version
  build/dev-env.sh
  test/e2e/run-chart-test.sh
  test/e2e/run.sh
Due: none

Update e2e configuration
  Makefile
  test/e2e/defaultbackend/ssl.go
  test/e2e/framework/deployment.go
  test/e2e/framework/framework.go
  test/e2e/framework/k8s.go
  test/e2e/framework/util.go
  test/e2e/gracefulshutdown/shutdown.go
  test/e2e/kind.yaml
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Update krew installation doc
  docs/kubectl-plugin.md
Due: none

Deploy GitHub Pages
  kubectl-plugin/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Add quoting to sysctls because numeric values need to be presented as strings
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

use correct nginx phase in docs
  rootfs/etc/nginx/lua/plugins/README.md
Due: pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

doc: update docs and fixed typos
  docs/development.md
  docs/user-guide/nginx-configuration/configmap.md
  rootfs/etc/nginx/lua/certificate.lua
  rootfs/etc/nginx/lua/plugins/README.md
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Use nginx image promoted from staging
  images/e2e/Makefile
Due: none

Extract version to file VERSION
  Makefile
  VERSION
Due: none

Switch to promoted e2e images in gcr
  Makefile
  build/run-in-docker.sh
  images/test-runner/Makefile
  images/test-runner/cloudbuild.yaml
  images/test-runner/rootfs/Dockerfile
  test/e2e-image/Dockerfile
  test/e2e/framework/deployment.go
  test/e2e/framework/fastcgi_helloserver.go
  test/e2e/settings/ocsp/ocsp.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Remove redundant health check to avoid liveness or readiness timeout
  internal/ingress/controller/checker.go
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Use UseForwardedPort flag to set X-Forwarded-Port header and set it to true by default
  internal/ingress/controller/config/config.go
  rootfs/etc/nginx/template/nginx.tmpl
Due: pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-1-15, pull-ingress-nginx-e2e-1-16, pull-ingress-nginx-e2e-1-17, pull-ingress-nginx-e2e-1-18

Add quoting to sysctls because numeric values need to be presented as strings (#5823)
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-1-15: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-16: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-17: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-1-18: any of: \.go$|^rootfs/
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
