Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Adding in the serviceAccount name
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update alpine to 3.13
  docs/examples/customization/sysctl/patch.json
  images/cfssl/rootfs/Dockerfile
  images/httpbin/rootfs/Dockerfile
  images/nginx/rootfs/Dockerfile
  images/nginx/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

Deploy GitHub Pages
  examples/customization/sysctl/patch.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Remove ClusterRole when scope option is enabled
  charts/ingress-nginx/templates/clusterrole.yaml
  charts/ingress-nginx/templates/controller-role.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update nginx image
  Makefile
  TAG
Due: none

docs: change backend-protocol if ssl-passthrough is enable
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Allow changing an internal service type
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/controller-service-internal.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add custom ScaledObject annotations
  charts/ingress-nginx/templates/controller-keda.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update kube-webhook-certgen image to v1.5.1
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release helm chart v3.21.0
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update static manifests
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Update e2e tests link markdown
  docs/e2e-tests.md
Due: none

Update go dependencies
  go.mod
  go.sum
Due: none

Deploy GitHub Pages
  e2e-tests/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

:bug: return error if tempconfig missing
  internal/ingress/controller/nginx.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update PemSHA field for default SSL certificate
  internal/ingress/controller/controller.go
  internal/ingress/sslcert.go
  internal/ingress/types.go
  internal/ingress/types_equals.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test
