Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

add missing slash, move comment
  triage/update_summaries.sh
Due: post-test-infra-push-triage

move --num_workers to config
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  triage/update_summaries.sh
Due: pull-test-infra-prow-checkconfig, post-test-infra-push-triage

Allow test-infra-oncall to bump images in wg-k8s-infra/trusted.
  config/jobs/kubernetes/wg-k8s-infra/trusted/OWNERS
Due: none

Decrease parallelism from 25 to 15 for ARM64 Conformance
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Due: pull-test-infra-prow-checkconfig

Update TestGrid for GoogleCloudPlatform
  config/testgrids/GoogleCloudPlatform/gen-config.yaml
Due: none

increase cores and timeout
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Due: pull-test-infra-prow-checkconfig

Fix image for periodic-kubernetes-bazel-build-canary
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Due: pull-test-infra-prow-checkconfig

Azure: update jobs to 1.19
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: pull-test-infra-prow-checkconfig

trigger: avoid double-triggering on `/ok-to-test
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/pull-request_test.go
Due: post-test-infra-push-prow

Migrate to periodic-kubernetes-bazel-test job variants to k8s-infra-prow-build
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Due: pull-test-infra-prow-checkconfig

Update Slack merge warning config to use the new fields
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

releng: Update milestoneappliers for 1.20
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

cluster-api-provider-aws: Cleanup jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Due: pull-test-infra-prow-checkconfig

Correct intervals for periodic-kubernetes-bazel-test jobs
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Due: pull-test-infra-prow-checkconfig

Rename whitelist/blacklist fields in plugin config.
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Fix links/paths in monitoring README
  config/prow/cluster/monitoring/README.md
Due: post-test-infra-deploy-prow

create new Prow cron job to update the vulnerability dashboard
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: pull-test-infra-prow-checkconfig

Stop ignoring mixins's jsonnetfile.lock.json
  config/prow/cluster/monitoring/mixins/.gitignore
  config/prow/cluster/monitoring/mixins/jsonnetfile.lock.json
Due: post-test-infra-deploy-prow

Fix grafonnet typos
  config/prow/cluster/monitoring/mixins/vendor/github.com/grafana/grafonnet-lib/grafonnet/heatmap_panel.libsonnet
  config/prow/cluster/monitoring/mixins/vendor/github.com/grafana/grafonnet-lib/grafonnet/stat_panel.libsonnet
Due: post-test-infra-deploy-prow

Fix kubernetes-mixin typo
  config/prow/cluster/monitoring/mixins/vendor/github.com/kubernetes-monitoring/kubernetes-mixin/dashboards/apiserver.libsonnet
Due: post-test-infra-deploy-prow

Allow for .yml files in vendored code
  config/tests/lint/config_lint_test.go
Due: none

Update plank dashboard to filter and group by more things
  config/prow/cluster/monitoring/mixins/grafana_dashboards/plank.jsonnet
Due: post-test-infra-deploy-prow

add lib2to3 and update code coverage image for odlm (#235)
  common/Makefile.common.mk
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/IBM.operand-deployment-lifecycle-manager.master.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Put Triage memoization behind a flag - False by default - Also clarify in the logging when memoization is actually happening
  triage/README.md
  triage/summarize/cluster.go
  triage/summarize/cluster_test.go
  triage/summarize/files.go
  triage/summarize/summarize.go
  triage/summarize/summarize_test.go
Due: post-test-infra-push-triage

Some alternative words or phrases
  config/jobs/kubernetes-csi/gen-jobs.sh
  experiment/migrate_testgrid_tabs.py
  gopherage/pkg/cov/filter.go
  gubernator/github_auth_test.py
  label_sync/main.go
  linkcheck/links.go
  rbe/install.sh
  robots/issue-creator/creator/creator_test.go
  robots/issue-creator/sources/triage-filer_test.go
  scenarios/kubernetes_janitor.py
Due: pull-test-infra-gubernator, post-test-infra-push-prow, post-test-infra-push-bootstrap

Accept suggestions
  experiment/migrate_testgrid_tabs.py
  linkcheck/links.go
Due: none

Update ingress-nginx postsubmit env-passthrough
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
Due: pull-test-infra-prow-checkconfig

Add k8s-staging-cluster-addons staging job
  config/jobs/image-pushing/k8s-staging-cluster-addons.yaml
Due: pull-test-infra-prow-checkconfig

Update config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: pull-test-infra-prow-checkconfig

Add sig-cli-master as dashboard for all jobs defined in sig-cli-config.yaml
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
Due: pull-test-infra-prow-checkconfig

image-builder: change Azure presubmit to run if capi directory has changed
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Due: pull-test-infra-prow-checkconfig

Kopsgce: create a bucket for our statestore, etc that we should be able to access.
  kubetest/BUILD.bazel
  kubetest/kops.go
Due: post-test-infra-push-kubekins-e2e

Sinker: Cleanup kubernetes reporter finalizer to prevent stuck pods
  config/prow/cluster/sinker_rbac.yaml
  prow/cmd/sinker/BUILD.bazel
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
  prow/crier/reporters/gcs/kubernetes/BUILD.bazel
  prow/crier/reporters/gcs/kubernetes/api/BUILD.bazel
  prow/crier/reporters/gcs/kubernetes/api/api.go
  prow/crier/reporters/gcs/kubernetes/reporter.go
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Update prow to v20200827-6d0d0726ec, and other images as necessary.
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/plank_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Kops - update gce-latest e2e job to use latest-experimental kubekins image
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
Due: pull-test-infra-prow-checkconfig

Add OWNERS file
  config/testgrids/kubernetes/sig-windows/OWNERS
Due: none
