Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-triage, post-test-infra-push-bazel, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-krte, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$

Add 'validate-all' test to k-sigs/image-builder
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

fix image-builder validate-all test
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Kops - Remove unused job-generation files
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/build_pipeline.py
Due: post-test-infra-upload-testgrid-config

Autobumper: support target branch name other than master branch
  prow/cmd/generic-autobumper/bumper/bumper.go
Due: post-test-infra-push-prow

Reduce cilium test frequency back to normal
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update K8s-Test-Images as needed
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Make gerrit adapter's job triggered comments link to results on deck.
  prow/config/config.go
  prow/config/prow-config-documented.yaml
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
Due: post-test-infra-push-prow

test: add daily runs for azuredisk-csi-driver against canary azure region
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-periodics-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

run only single az test in the begining
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-periodics-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update csi-driver-smb-config.yaml
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

increase filestore presubmit job timeout
  config/jobs/kubernetes-sigs/gcp-filestore-csi-driver/gcp-filestore-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

fix golint and test failure
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-periodics-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

add periodic dashboard
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-periodics-config.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Move DUMP_TO_GCS_ONLY env var to scalability presets
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-adhoc.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

image-builder: add prow job to build gcp images
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update Prow to v20210317-3053d84953
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

remove ocp 4.6 ipv6 job from assisted-installer view
  config/testgrids/openshift/assisted-installer.yaml
Due: post-test-infra-upload-testgrid-config

Add DO SSH private key to preset
  config/jobs/kubernetes/kops/kops-presets-do.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Bump to 1.16
  WORKSPACE
  config/BUILD.bazel
  go.sum
  load.bzl
  pkg/benchmarkjunit/BUILD.bazel
  prow/pubsub/subscriber/server.go
Due: post-test-infra-push-prow, post-test-infra-push-image-benchmarkjunit

Update TestGrid for GoogleCloudPlatform
  config/testgrids/GoogleCloudPlatform/gen-config.yaml
Due: post-test-infra-upload-testgrid-config

Skipping SCTPConnectivity tests
  config/jobs/kubernetes/sig-node/containerd.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add support for alternate default_decoration_configs format that allows defaulting by cluster. (#20656)
  config/tests/jobs/jobs_test.go
  prow/ANNOUNCEMENTS.md
  prow/cmd/checkconfig/main.go
  prow/cmd/deck/pr_history.go
  prow/cmd/deck/pr_history_test.go
  prow/cmd/plank/README.md
  prow/config/BUILD.bazel
  prow/config/config.go
  prow/config/config_test.go
  prow/config/prow-config-documented.yaml
  prow/crier/reporters/gcs/internal/util/util.go
  prow/crier/reporters/gcs/internal/util/util_test.go
  prow/crier/reporters/gcs/kubernetes/reporter_test.go
  prow/crier/reporters/gcs/reporter_test.go
  prow/getting_started_deploy.md
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
  releng/config-forker/BUILD.bazel
  releng/config-forker/main.go
  releng/config-forker/main_test.go
  testgrid/cmd/configurator/prow.go
  testgrid/cmd/configurator/prow_test.go
Due: post-test-infra-push-prow

Retry GetRepos() as for user when it fails for org
  prow/pluginhelp/hook/BUILD.bazel
  prow/pluginhelp/hook/hook.go
Due: post-test-infra-push-prow

stop specifying master branch in optional kubernetes kind presubmits
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

add structured logging CI job
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-kind-periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Don't use prod graph QL endpoint in integration test, some other clean ups
  prow/test/integration/fakeghserver/fakeghserver.go
  prow/test/integration/prow/cluster/hook_deployment.yaml
  prow/test/integration/prow/job-config.yaml
  prow/test/integration/setup-cluster.sh
  prow/test/integration/test/hook_test.go
Due: post-test-infra-push-prow

Update hmac tool to accept bot invitation
  prow/BUILD.bazel
  prow/cmd/botinvitationapprove/BUILD.bazel
  prow/cmd/botinvitationapprove/doc.go
  prow/cmd/botinvitationapprove/main.go
  prow/cmd/botinvitationapprove/main_test.go
  prow/cmd/hmac/BUILD.bazel
  prow/cmd/hmac/README.md
  prow/cmd/hmac/fakeghhook/fakeghhook.go
  prow/cmd/hmac/main.go
  prow/cmd/hmac/main_test.go
  prow/config/config.go
  prow/config/prow-config-documented.yaml
  prow/github/client.go
  prow/github/client_test.go
  prow/github/types.go
Due: post-test-infra-push-prow

Prow: add a tool automatically accepting org invitations
  prow/BUILD.bazel
  prow/cmd/botinvitationapprove/BUILD.bazel
  prow/cmd/botinvitationapprove/doc.go
  prow/cmd/botinvitationapprove/main.go
  prow/cmd/botinvitationapprove/main_test.go
  prow/github/client.go
  prow/github/types.go
Due: post-test-infra-push-prow

Edit the error handling of large requests
  kettle/stream.py
Due: post-test-infra-push-kettle

Kops - update GCE jobs to use cilium instead of calico
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Revert changes for kubetest2 experiments
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

and panic handling for comment handlers
  prow/hook/events.go
Due: post-test-infra-push-prow

create an assisted-installer ownership on assisted-installer and single-node related dashboards
  config/testgrids/openshift/assisted-installer/OWNERS
  config/testgrids/openshift/assisted-installer/assisted-installer.yaml
  config/testgrids/openshift/assisted-installer/single-node.yaml
Due: post-test-infra-upload-testgrid-config

pod-utils: add seme debug logging to censoring
  prow/sidecar/censor.go
Due: post-test-infra-push-prow

remove ocp 4.7 ipv6 job, as it's gonna be removed in a bit
  config/testgrids/openshift/assisted-installer.yaml
Due: post-test-infra-upload-testgrid-config

Update Prow to v20210318-ffb8032f91
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Update K8s-Test-Images as needed
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-kind-periodics.yaml
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

sidecar: emit debug logs by default
  prow/cmd/sidecar/main.go
Due: post-test-infra-push-prow

sidecar: place temp files on the same device
  prow/sidecar/censor.go
Due: post-test-infra-push-prow
