Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: maintenance-boskos-config-upload, maintenance-ci-testgrid-config-upload, pull-test-infra-gubernator, pull-test-infra-verify-tslint, pull-test-infra-verify-deps, pull-test-infra-verify-labels, post-test-infra-deploy-prow, post-test-infra-push-prow

maintenance-boskos-config-upload:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - runner.sh
      args:
      - ./boskos/update_prow_config.sh
      env:
      - name: PROW_SERVICE_ACCOUNT
  ...

maintenance-ci-testgrid-config-upload:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - runner.sh
      args:
      - ./testgrid/config-upload.sh
      resources:
        requests:
  ...

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:0.4
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

pull-test-infra-verify-tslint:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - ./hack/verify-tslint.sh

pull-test-infra-verify-deps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - runner.sh
      args:
      - ./hack/verify-deps.sh
      securityContext:
  ...

pull-test-infra-verify-labels:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - runner.sh
      args:
      - ./hack/verify-labels.sh
      securityContext:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190402-v0.1-35-g8b2d62a
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190329-811f7954b-master
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

Enable project plugin for Kubeflow.
  prow/plugins.yaml
Due: post-test-infra-push-prow

Don't enable project plugin yet since its not working.
  prow/plugins.yaml
Due: post-test-infra-push-prow

Add invalidcommitmsg plugin to hook
  prow/hook/BUILD.bazel
  prow/hook/plugins.go
Due: post-test-infra-push-prow

Bump prow from v20190411-f81d8b1a0 to v20190415-c700e7878
  config/jobs/kubernetes-sigs/kubespray/kubespray-fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/cmd/branchprotector/cronjob.yaml
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-deploy-prow, post-test-infra-push-prow

Initialize ConfigMap name in all cases
  prow/plugins/updateconfig/updateconfig.go
Due: post-test-infra-push-prow

properly quote the migrator test args
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-ci.yaml
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Due: none

kubernetes-csi: automatic testing with Prow
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/csi-lib-utils/csi-lib-utils-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Due: none

Added Default API and GraphQL Constants
  label_sync/main.go
  prow/cmd/tackle/main.go
  prow/flagutil/github.go
  prow/github/types.go
  prow/prstatus/prstatus.go
  robots/commenter/main.go
  robots/pr-labeler/main.go
Due: post-test-infra-push-prow

Revert "properly quote the migrator test args"
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-ci.yaml
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Due: none

Enable area/code-organization in k/enhancements
  label_sync/labels.md
  label_sync/labels.yaml
Due: pull-test-infra-verify-labels, post-test-infra-push-prow

k/kubeadm: add a presubmit verify job
  config/jobs/kubernetes/kubeadm/OWNERS
  config/jobs/kubernetes/kubeadm/kubeadm-presubmits.yaml
  prow/plugins.yaml
Due: post-test-infra-push-prow

Run tests for slack-infra.
  config/jobs/kubernetes-sigs/slack-infra/slack-infra-config.yaml
Due: none

Make Sidecar reupload artifacts when markerfiles are written after an interrupt.
  prow/sidecar/run.go
Due: post-test-infra-push-prow

Create phaino to run prowjobs locally.
  prow/BUILD.bazel
  prow/cmd/mkpj/main.go
  prow/cmd/phaino/BUILD.bazel
  prow/cmd/phaino/README.md
  prow/cmd/phaino/local.go
  prow/cmd/phaino/local_test.go
  prow/cmd/phaino/main.go
Due: post-test-infra-push-prow

Add do-not-merge/invalid-commit-message label
  label_sync/labels.md
  label_sync/labels.yaml
Due: pull-test-infra-verify-labels, post-test-infra-push-prow

Enable invalidcommitmsg plugin for k-sigs/contributor-playground
  prow/plugins.yaml
Due: post-test-infra-push-prow

Enable Prow for Kube-Batch
  config/jobs/kubernetes-sigs/kube-batch/OWNERS
  config/jobs/kubernetes-sigs/kube-batch/kube-batch-config.yaml
  prow/plugins.yaml
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload, post-test-infra-push-prow

Move the admission webhook in a freestanding service
  prow/BUILD.bazel
  prow/cmd/admission/BUILD.bazel
  prow/cmd/admission/admission.go
  prow/cmd/admission/admission_test.go
  prow/cmd/admission/dev.yaml
  prow/cmd/admission/main.go
  prow/cmd/admission/main_test.go
  prow/cmd/build/BUILD.bazel
  prow/cmd/build/dev.yaml
  prow/cmd/build/main.go
Due: post-test-infra-push-prow

Remove the service account from development deployment
  prow/cmd/admission/dev.yaml
Due: post-test-infra-push-prow

Add a new controller which creates a Tekton PipelineRun from a prow job
  prow/cmd/pipeline/BUILD.bazel
  prow/cmd/pipeline/controller.go
  prow/cmd/pipeline/controller_test.go
  prow/cmd/pipeline/dev.yaml
  prow/cmd/pipeline/main.go
  prow/cmd/pipeline/main_test.go
  prow/config/config.go
Due: post-test-infra-push-prow

Regenerate the code by running hack/update-codegen.sh script
  prow/apis/prowjobs/v1/BUILD.bazel
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/zz_generated.deepcopy.go
Due: post-test-infra-push-prow

Add the tektoncd/pipeline Go module
  go.mod
  go.sum
Due: pull-test-infra-verify-deps

Take start and completion time in consideration when updating the prow job status
  prow/cmd/pipeline/controller.go
  prow/cmd/pipeline/controller_test.go
Due: post-test-infra-push-prow

Rename the tekton agent to tekton-pipeline
  prow/apis/prowjobs/v1/types.go
Due: post-test-infra-push-prow

Allow namespace customisation for tekton-pipeline agent
  prow/config/config.go
Due: post-test-infra-push-prow

Update capz presubmits to use `latest-1.14` image
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Due: none

Bump prow from v20190415-c700e7878 to v20190416-efb77f1e2
  config/jobs/kubernetes-sigs/kubespray/kubespray-fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/cmd/branchprotector/cronjob.yaml
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-deploy-prow, post-test-infra-push-prow

Setup branch protection for legacy-cloud-providers
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-push-prow

Update Cluster API AWS presubmit images
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Due: none

Add show-hidden flag to deck
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
Due: post-test-infra-push-prow

Enable trigger plugin for client-go
  prow/plugins.yaml
Due: post-test-infra-push-prow

Add show-hidden to tide
  prow/cmd/deck/main.go
  prow/cmd/deck/tide.go
  prow/cmd/deck/tide_test.go
Due: post-test-infra-push-prow

Add showHidden to kube client
  prow/kube/client.go
  prow/kube/client_test.go
Due: post-test-infra-push-prow

Remove SetHiddenReposProvider from kube client as its unused
  prow/kube/client.go
  prow/kube/client_test.go
Due: post-test-infra-push-prow

Verify onky one of hidden-only and show-hidden is set
  prow/cmd/deck/main.go
Due: post-test-infra-push-prow

Update bazel
  prow/kube/BUILD.bazel
Due: post-test-infra-push-prow

Added labels for Portuguese and Indonesian language
  label_sync/labels.md
  label_sync/labels.yaml
Due: pull-test-infra-verify-labels, post-test-infra-push-prow

Update capz presubmits to use `latest-master` image
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Due: none

Update capz OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/OWNERS
Due: none

Path conditions:
  maintenance-boskos-config-upload: any of: ^boskos/.*$
  maintenance-ci-testgrid-config-upload: any of: ^testgrid/.*$
  pull-test-infra-gubernator: any of: gubernator|prow/config.yaml
  pull-test-infra-verify-tslint: any of: \.ts$
  pull-test-infra-verify-deps: any of: ^(go\.mod|go\.sum|WORKSPACE|BUILD\.bazel|hack/verify-deps\.sh|hack/update-deps\.sh|vendor/.*)$
  pull-test-infra-verify-labels: any of: ^label_sync/labels.yaml
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
