Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:v20200824-5d057db
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201030-914f29394d
      command:
      - /checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

post-test-infra-push-boskos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - boskos/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

fix PR comments
  testgrid/cmd/transfigure/cmd/transfigure.go
Due: none

Update README.md
  prow/README.md
Due: post-test-infra-push-prow

Address PR comments
  testgrid/cmd/transfigure/cmd/transfigure.go
Due: none

Contains changes to run the ginkgo external e2e test using the kubetest and the config change to integrate it with the CI pipeline
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  kubetest/aksengine.go
  kubetest/e2e.go
  kubetest/e2e/interfaces.go
  kubetest/e2e/runner.go
  kubetest/main.go
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-kubekins-e2e

Add RepoLink at refs on push event
  prow/plugins/trigger/push.go
  prow/plugins/trigger/push_test.go
Due: post-test-infra-push-prow

Show last 270 builds of 5k test in perf-dash
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update Prow to v20210112-5eaf960e10, Boskos to v20210106-ee7838a and K8s-Test-Images as needed
  config/jobs/kubernetes-sigs/service-apis/service-apis-config.yaml
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Update TestGrid for kyma
  config/testgrids/kyma/gen-config.yaml
Due: none

Add some debugging
  hack/bazel.sh
  prow/test/integration/setup-cluster.sh
  prow/test/integration/setup-prow.sh
  prow/test/integration/test.sh
  prow/test/integration/test/BUILD.bazel
  prow/test/integration/test/setup.go
  prow/test/integration/test/sinker_test.go
Due: post-test-infra-push-prow

Write sinker test in go
  prow/BUILD.bazel
  prow/test/integration/prow/cluster/100_namespace.yaml
  prow/test/integration/prow/cluster/200_ingress.yaml
  prow/test/integration/prow/cluster/sinker.yaml
  prow/test/integration/prow/config.yaml
  prow/test/integration/prow/job-config.yaml
  prow/test/integration/setup-cluster.sh
  prow/test/integration/setup-prow.sh
  prow/test/integration/test.sh
  prow/test/integration/test/BUILD.bazel
  prow/test/integration/test/setup.go
  prow/test/integration/test/sinker_test.go
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Changes for prow
  prow/test/integration/test.sh
Due: post-test-infra-push-prow

Try bazel tags for no remote exec
  prow/test/integration/test.sh
  prow/test/integration/test/BUILD.bazel
Due: post-test-infra-push-prow

Prow alert: make stale prow image alert configurable and set it to fire only when the staleness discovered a whole day
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
  config/prow/cluster/monitoring/mixins/lib/config_util.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/stale_alerts.libsonnet
Due: post-test-infra-deploy-prow

First pass; creating a new gce periodic for ubuntu
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Move test-infra oncall from individual alert message to global
  config/prow/cluster/monitoring/alertmanager-prow_secret.yaml
  config/prow/cluster/monitoring/mixins/prometheus/stale_alerts.libsonnet
Due: post-test-infra-deploy-prow

Unprotect the gh-pages in nfs-subdir-external-provisioner for helm chart release action
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Upgrade promethues and alertmanager to latest
  config/prow/cluster/monitoring/prow_alertmanager.yaml
  config/prow/cluster/monitoring/prow_prometheus.yaml
Due: post-test-infra-deploy-prow

Revert "Upgrade promethues and alertmanager to latest"
  config/prow/cluster/monitoring/prow_alertmanager.yaml
  config/prow/cluster/monitoring/prow_prometheus.yaml
Due: post-test-infra-deploy-prow

Allow jobs to skip_fetch_head and only fetch the base ref.
  prow/apis/prowjobs/v1/types.go
  prow/config/jobs.go
  prow/pjutil/BUILD.bazel
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
  prow/pod-utils/clone/BUILD.bazel
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Due: post-test-infra-push-prow

Fix pod name format
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Set container runtime to Docker for main e2e presubmit
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

prune deleted remote branches on git fetch
  prow/git/git.go
  prow/git/v2/interactor.go
Due: post-test-infra-push-prow

Make Golang job run on N1 worker machines
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

fix tests
  prow/git/v2/interactor_test.go
Due: post-test-infra-push-prow

Add experimental Golang job
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Migrate Network Pòlicy testjob to podutils
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

vulndash: remove debug logs from the job
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update KubeVirt TestGrid config.
  config/testgrids/kubevirt/gen-config.yaml
Due: none

Add jeremyrickard to sig-release-leads
  OWNERS_ALIASES
Due: none

prune deleted remote branches on git fetch (#20465)
  prow/git/git.go
  prow/git/v2/interactor.go
  prow/git/v2/interactor_test.go
Due: post-test-infra-push-prow

List app installations: Support pagination
  prow/github/client.go
Due: post-test-infra-push-prow

GitHub: Improve error message when PR creation fails
  prow/github/client.go
Due: post-test-infra-push-prow

Api end points changed, update
  kettle/deployment-staging.yaml
  kettle/deployment.yaml
Due: post-test-infra-push-kettle

Add rerun_auth_config for post-kubernetes-push-e2e-*-test-images
  config/jobs/image-pushing/k8s-staging-e2e-test-images.sh
  config/jobs/image-pushing/k8s-staging-e2e-test-images.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update based on code review feedback
  prow/test/integration/prow/cluster/200_ingress.yaml
  prow/test/integration/prow/cluster/sinker.yaml
  prow/test/integration/prow/job-config.yaml
  prow/test/integration/setup-cluster.sh
  prow/test/integration/setup-prow.sh
  prow/test/integration/test.sh
  prow/test/integration/test/BUILD.bazel
  prow/test/integration/test/setup.go
  prow/test/integration/test/sinker_test.go
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Use projected token source to dynamically refresh SA token
  prow/cmd/pipeline/main.go
  prow/flagutil/kubernetes_cluster_clients.go
  prow/kube/config.go
Due: post-test-infra-push-prow

Fix bash script autobumper to use new branch based EnsurePR
  hack/autodeps.sh
  prow/cmd/autobump/autobump.sh
  robots/pr-creator/main.go
  testgrid/cmd/transfigure/transfigure.sh
Due: post-test-infra-push-prow

Add check to make sure fork exists for autobump and if not create the fork
  experiment/autobumper/bumper/bumper.go
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
  prow/github/client.go
Due: post-test-infra-push-prow

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
