Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: maintenance-boskos-config-upload, maintenance-ci-testgrid-config-upload, pull-test-infra-gubernator, pull-test-infra-verify-tslint, pull-test-infra-verify-deps, pull-test-infra-verify-labels, post-test-infra-deploy-prow, post-test-infra-push-prow

Path conditions:
  maintenance-boskos-config-upload: any of: ^boskos/.*$
  maintenance-ci-testgrid-config-upload: any of: ^testgrid/.*$
  pull-test-infra-gubernator: any of: gubernator|prow/config.yaml
  pull-test-infra-verify-tslint: any of: \.ts$
  pull-test-infra-verify-deps: any of: ^(go\.mod|go\.sum|WORKSPACE|BUILD\.bazel|hack/verify-deps\.sh|hack/update-deps\.sh|vendor/.*)$
  pull-test-infra-verify-labels: any of: ^label_sync/labels.yaml
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/

Make reaper expiry duration configurable.
  boskos/reaper/reaper.go
Due: maintenance-boskos-config-upload

Make janitor more configurable. Use pflag instead of default flag library.
  boskos/common/common.go
  boskos/janitor/BUILD.bazel
  boskos/janitor/gcp_janitor.py
  boskos/janitor/janitor.go
  boskos/janitor/janitor_test.go
Due: maintenance-boskos-config-upload

Make boskos more configurable.
  boskos/boskos.go
Due: maintenance-boskos-config-upload

Cleanup flags and service account.
  boskos/boskos.go
  boskos/janitor/gcp_janitor.py
  boskos/janitor/janitor.go
Due: maintenance-boskos-config-upload

Simplify reaper expiry duration.
  boskos/reaper/reaper.go
Due: maintenance-boskos-config-upload

Fix service_account defaulting logic.
  boskos/janitor/gcp_janitor.py
Due: maintenance-boskos-config-upload

Modify janitor image to use gcp_janitor
  boskos/janitor/Dockerfile
Due: maintenance-boskos-config-upload

Bump boskos, janitor and reaper to v20190319-1a5a7d7fb.
  boskos/deployment.yaml
  boskos/janitor/deployment.yaml
  boskos/reaper/deployment.yaml
Due: maintenance-boskos-config-upload

update ci-cloud-provider-azure-master to run ccm e2e tests
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

Enable welcome plugin for k/community
  prow/plugins.yaml
Due: post-test-infra-push-prow

space
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

fix timeout validation error
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

Trigger postsubmits for branch names with a slash
  prow/github/types.go
  prow/plugins/slackevents/slackevents_test.go
  prow/plugins/trigger/push_test.go
Due: post-test-infra-push-prow

Add testgrid pages for PRs in cloud-provider-azure
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

boskos: Deploying a new Boskos janitor for AWS
  boskos/Makefile
  boskos/janitor/deployment.yaml
  maintenance/aws-janitor/cmd/aws-janitor-boskos/.gitignore
  maintenance/aws-janitor/cmd/aws-janitor-boskos/Dockerfile
  maintenance/aws-janitor/cmd/aws-janitor-boskos/Makefile
Due: maintenance-boskos-config-upload

boskos: Added multi-sweeps to Boskos AWS janitor
  maintenance/aws-janitor/cmd/aws-janitor-boskos/main.go
Due: none

Set up initial structure for 1.14 testgrid boards
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Bump prow from v20190314-e8134a3 to v20190319-41f8d7e
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-deploy-prow, post-test-infra-push-prow

Read the entire expected artifact from GCS.
  prow/spyglass/gcsartifact.go
  prow/spyglass/gcsartifact_test.go
Due: post-test-infra-push-prow

Stop enabling alph admission API in non-alpha PR job against 1.14
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
Due: none

Make hack/verify-config.sh output nicer to humans
  hack/verify-config.sh
Due: none

Move up/downgrade jobs from 1.14-all->1.14-upgrade
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Remove 1.14-blocking jobs from 1.14-all
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

make a transparent favicon for prow
  prow/cmd/deck/static/favicon.ico
Due: post-test-infra-push-prow

VMware Prow/Test-Grid Updates
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-presubmits.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Move gke jobs from 1.14-all to 1.14-informing
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Address feedback
  boskos/janitor/deployment.yaml
Due: maintenance-boskos-config-upload

Updated vSphere test-grid alert e-mails
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Bump Prow from 'v20190314-e8134a3' to 'v20190319-41f8d7e'.
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-deploy-prow, post-test-infra-push-prow

Address nits with gzipped configmap changes.
  prow/cmd/config-bootstrapper/main.go
  prow/plugins/BUILD.bazel
  prow/plugins/config_test.go
  prow/plugins/updateconfig/updateconfig.go
  prow/plugins/updateconfig/updateconfig_test.go
Due: post-test-infra-push-prow

Modify Reporter interface to support updation of job report status on aggregated report.
  prow/crier/controller.go
  prow/gerrit/reporter/reporter.go
  prow/gerrit/reporter/reporter_test.go
  prow/github/reporter/reporter.go
  prow/pubsub/reporter/reporter.go
  prow/pubsub/subscriber/subscriber.go
  prow/pubsub/subscriber/subscriber_test.go
Due: post-test-infra-push-prow

Update reporter logic to aggregate on same label, since now there can be multiple triggered jobs on a revision. This also now makes it possible to have different labels for different jobs.
  prow/gerrit/reporter/reporter.go
  prow/gerrit/reporter/reporter_test.go
Due: post-test-infra-push-prow

Unify FilterPresubmit logic and move to pjutil.
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/trigger.go
  prow/pjutil/filter.go
  prow/pjutil/filter_test.go
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/generic-comment_test.go
  prow/plugins/trigger/pull-request.go
Due: post-test-infra-push-prow

Move common filtering logic from trigger to pjutil.
  prow/pjutil/BUILD.bazel
  prow/pjutil/filter.go
  prow/pjutil/filter_test.go
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/generic-comment_test.go
  prow/plugins/trigger/pull-request.go
Due: post-test-infra-push-prow

Fix some comments and logging.
  prow/gerrit/adapter/trigger.go
  prow/gerrit/reporter/reporter.go
  prow/pjutil/filter.go
Due: post-test-infra-push-prow

Remove old revision filter.
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/trigger.go
Due: post-test-infra-push-prow

Update gerrit client to detect new messages on a change.
  prow/gerrit/client/client.go
  prow/gerrit/client/client_test.go
Due: post-test-infra-push-prow

Add filter based trigger logic to gerrit. Update adapter to use presubmit filters.
  prow/gerrit/adapter/BUILD.bazel
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/adapter/trigger.go
Due: post-test-infra-push-prow

Fix reporting logic for retriggered job. Add a couple of tests.
  prow/gerrit/adapter/adapter.go
  prow/gerrit/client/client_test.go
  prow/gerrit/reporter/reporter.go
  prow/gerrit/reporter/reporter_test.go
Due: post-test-infra-push-prow

Switch branchprotector and label_sync to run as periodic ProwJobs.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/cluster/BUILD.bazel
  prow/cmd/branchprotector/cronjob.yaml
  prow/plugins.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload, post-test-infra-deploy-prow, post-test-infra-push-prow
