Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Kops - allow newer k8s versions to be tested on kops-aws-k8s-1-20 job
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Fix logexporter's Dockerfile
  logexporter/cmd/Dockerfile
Due: none

Do not make logexporter logs public by default
  logexporter/cmd/main.go
Due: none

Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Due: none

Add default values for generic autobumper that work for k8s test-infra bump
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/autobump-config.yaml
  experiment/autobumper/BUILD.bazel
  experiment/autobumper/bumper/BUILD.bazel
  experiment/autobumper/bumper/bumper.go
  experiment/autobumper/bumper/bumper_test.go
  experiment/autobumper/main.go
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update TestGrid for knative
  config/testgrids/knative/gen-config.yaml
Due: none

Github flagutil: Add github apps private key to secret agent
  prow/flagutil/github.go
Due: post-test-infra-push-prow

Add branch protection for dev-1.21 and previous release branches
  config/prow/config.yaml
  config/prow/plugins.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

clonerefs: Use repo link from refs if available
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Due: post-test-infra-push-prow

Fix passing IMAGE_TYPE env var to env-passthrough
  config/jobs/image-pushing/k8s-staging-cri-tools.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Create a test-infra presubmit test job for interation testing prow
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove traceback from logging and clean up dataflow
  kettle/make_db.py
Due: post-test-infra-push-kettle

Add help_guidelines_url to plugin-config-documented.yaml
  prow/plugins/config.go
  prow/plugins/plugin-config-documented.yaml
Due: post-test-infra-push-prow

Use the new version of logexporter image
  logexporter/cluster/logexporter-daemonset.yaml
Due: none

Disable the adhoc-1000 test
  config/jobs/kubernetes/sig-scalability/sig-scalability-adhoc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Fix self-detection for github reporting when using apps auth
  prow/github/client.go
  prow/github/client_test.go
  prow/github/fakegithub/fakegithub.go
  prow/github/report/report.go
  prow/github/report/report_test.go
  prow/jenkins/controller.go
  prow/jenkins/controller_test.go
Due: post-test-infra-push-prow

test: added presubmit optional job for eks e2e tests
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update gcr.io/k8s-prow/ to v20201216-0c849b3bb1, gcr.io/k8s-staging-boskos/ to v20201215-12c1342, and gcr.io/k8s-testimages/, as needed
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

kops arm64 scenario: pass zone explicitly using kops-zones flag
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kops AWS CCM: run with kubernetes 1.19
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

etcdadm: create job to push builds to staging
  config/jobs/image-pushing/k8s-staging-etcdadm.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kops-grid: support extra dashboards for scenarios
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Prow integration test job: enable dind and use kubekins image
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

transfigure command
  testgrid/cmd/transfigure/cmd/transfigure.go
  testgrid/cmd/transfigure/main.go
Due: none

Update TestGrid for
  testgrid/cmd/transfigure/cmd/transfigure.go
Due: none

[Kettle] Limit days of builds to `all` table to avoid deadlock (#20091)
  kettle/make_db.py
  kettle/model.py
  kettle/update.py
Due: post-test-infra-push-kettle

update command description
  testgrid/cmd/transfigure/cmd/transfigure.go
Due: none

Create job to put generic autobumper in a container and automatically update it.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  experiment/autobumper/Dockerfile
  experiment/autobumper/cloudbuild.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

clonerefs: Use strings.Split instead of regex for getting clone path
  prow/pod-utils/clone/clone.go
Due: post-test-infra-push-prow

Prow integration test job use RBE
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kops - use kubetest's --kops-zones flag rather than kops' --zone flag
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kops - update periodic grid to test k8s 1.20 instead of 1.21.0-alpha.0
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Allow kube-router periodic test to run with newer versions of k8s
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Bump Flatcar version to 2605.10.0
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Skip RuntimeClasses tests for containerd
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

skip the flaky test
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kops - add testgrid dashboards for each kops version being tested
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/testgrids/kubernetes/kops/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Revert "Update cloud.google.com/go/storage to 1.12.0"
  go.mod
  go.sum
  repos.bzl
Due: none

Customize column header on testgrid for ppc64le conformance jobs
  config/testgrids/conformance/conformance-all.yaml
Due: none
