Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

[sig-node-containerd] Move containerd 1.3 jobs to 1.4
  config/jobs/kubernetes/sig-node/containerd.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Use go-canary image for Go 1.16
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kops - update debian stretch image
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Stop skipping the cluster info dump test since we attributed the job timeouts to prow job memory
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

[sig-node-containerd] Update to newer ubuntu version
  config/jobs/kubernetes/sig-node/containerd.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add trailing new line
  config/jobs/kubernetes/kops/kops-presets-do.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add credentials to access e2eprivate in GCE Windows tests (2004 and 20H2).
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

disable prowjob analysis via "disable_prowjob_analysis: true"
  config/testgrids/gardener/config.yaml
Due: none

[cpo] flipped disable_prowjob_analysis to true
  config/testgrids/kubernetes/sig-cloud-provider/openstack/config.yaml
Due: none

periodic job to catch unit test flakes
  config/jobs/kubernetes/sig-testing/make-test.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Change the gcs_prefix for ibm ppc64le testgrid k8s unit tests
  config/testgrids/conformance/conformance-all.yaml
Due: none

[sig-node-containerd] use newer ubuntu images
  config/jobs/kubernetes/sig-node/containerd.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Revert "Add experimental 100 nodes CI job based on podutils"
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Migrate scalability 100 nodes job to pod-utils
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

switch to rbac/v1
  config/prow-staging/cluster/crier_rbac.yaml
  config/prow-staging/cluster/deck_rbac.yaml
  config/prow-staging/cluster/hook_rbac.yaml
  config/prow-staging/cluster/horologium_rbac.yaml
  config/prow-staging/cluster/plank_rbac.yaml
  config/prow-staging/cluster/sinker_rbac.yaml
  config/prow-staging/cluster/tide_rbac.yaml
  config/prow/cluster/crier_rbac.yaml
  config/prow/cluster/deck_rbac.yaml
  config/prow/cluster/hook_rbac.yaml
  config/prow/cluster/horologium_rbac.yaml
  config/prow/cluster/prow_controller_manager_rbac.yaml
  config/prow/cluster/sinker_rbac.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_rbac.yaml
  config/prow/cluster/tide_rbac.yaml
  config/prow/experimental/controller_manager.yaml
  prow/test/integration/prow/cluster/crier.yaml
  prow/test/integration/prow/cluster/sinker.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Fix typo in the scalability 100 nodes CI job
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

[sig-node-containerd] newer k8s needs newer kubekins
  config/jobs/kubernetes/sig-node/containerd.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Skip stream of jobs that are excluded
  kettle/BUILD.bazel
  kettle/stream.py
  kettle/stream_test.py
Due: post-test-infra-push-kettle

Revert "Prometheus operator: update CRDs installation for version 0.45"
  config/prow/cluster/monitoring/BUILD.bazel
  config/prow/cluster/monitoring/prometheus_operator_deployment.yaml
  config/prow/cluster/monitoring/prometheus_operator_rbac.yaml
  config/prow/cluster/monitoring/prow_alertmanager.yaml
  config/prow/cluster/monitoring/prow_prometheus.yaml
  load.bzl
Due: post-test-infra-deploy-prow

Update Prow to v20210310-26726f9bd5
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Revert "Revert "Prometheus operator: update CRDs installation for version 0.45""
  config/prow/cluster/monitoring/BUILD.bazel
  config/prow/cluster/monitoring/prometheus_operator_deployment.yaml
  config/prow/cluster/monitoring/prometheus_operator_rbac.yaml
  config/prow/cluster/monitoring/prow_alertmanager.yaml
  config/prow/cluster/monitoring/prow_prometheus.yaml
  load.bzl
Due: post-test-infra-deploy-prow

Update TestGrid for knative
  config/testgrids/knative/gen-config.yaml
Due: none

Add operator branch to main jobs
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update google cloud apis
  kettle/Dockerfile
Due: post-test-infra-push-kettle

CAPZ: Update PR test GINKGO_SKIP
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Prometheus alert: reduce noise by not alerting on expected errors
  config/prow/cluster/monitoring/mixins/prometheus/ghproxy_alerts.libsonnet
Due: post-test-infra-deploy-prow

kubekins/krte: Build go1.16.1 variants
  images/kubekins-e2e/variants.yaml
Due: post-test-infra-push-kubekins-e2e

add ci-kubernetes-unit
  config/jobs/kubernetes/sig-testing/make-test.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

make test timeout is proportional to count
  config/jobs/kubernetes/sig-testing/make-test.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

releng: use registry for the staging project
  config/jobs/kubernetes/release/release-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Migrate SIG Scalability release blocking jobs to pod-utils
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update TestGrid for kyma
  config/testgrids/kyma/gen-config.yaml
Due: none

Migrate SIG Scalability cleanup CI job to pod-utils
  config/jobs/kubernetes/sig-scalability/sig-scalability-cleanup.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Migrate SIG Scalability experimental CI jobs to pod-utils
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Rollback node runtime config
  kubetest/e2e.go
Due: post-test-infra-push-kubekins-e2e

releng: pass the env REGISTRY to be replaced in the GCB job
  config/jobs/image-pushing/releng/k8s-staging-build-image.yaml
  config/jobs/kubernetes/release/release-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Prow bump: add an auto label to distinguish it from other bumps
  config/prow/autobump-config/prow-component-autobump-config.yaml
Due: none

prow.k8s.io bumping PR automatically merged
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig
