Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:0.4
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

post-test-infra-push-boskos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - boskos/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

post-test-infra-push-kettle:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - kettle/
      env:
  ...

Use release/stable marker for most Kops jobs
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Due: none

Temporarily backing up gcp regions to avoid janitor crash
  boskos/cmd/janitor/gcp_janitor.py
Due: post-test-infra-push-boskos, post-test-infra-push-kubekins-e2e

Spyglass display flakes
  prow/spyglass/lenses/dumplenses.go
  prow/spyglass/lenses/junit/lens.go
  prow/spyglass/lenses/junit/lens_test.go
  prow/spyglass/lenses/lenses_test.go
Due: post-test-infra-push-prow

Update boskos janitor deployment to mitigate gcloud issue
  prow/cluster/boskos-janitor.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Hook: Abort jobs for closed PRs
  prow/apis/prowjobs/v1/types.go
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/pull-request_test.go
  prow/plugins/trigger/trigger.go
Due: post-test-infra-push-prow

Plank and Jenkins agent: Handle aborted jobs
  prow/jenkins/controller.go
  prow/jenkins/controller_test.go
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
  prow/plank/BUILD.bazel
  prow/plank/controller.go
  prow/plank/controller_test.go
Due: post-test-infra-push-prow

tide: skip unknown context in kubernetes-sigs/cluster-api-provider-openstack
  config/prow/config.yaml
Due: pull-test-infra-gubernator

Add IPVS presubmit job based on pull-kubernetes-e2e-gce
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: none

Add unit tests and add UI
  prow/spyglass/lenses/dumplenses.go
  prow/spyglass/lenses/junit/junit.css
  prow/spyglass/lenses/junit/lens.go
  prow/spyglass/lenses/junit/lens_test.go
  prow/spyglass/lenses/junit/template.html
  prow/spyglass/lenses/lenses_test.go
Due: post-test-infra-push-prow

copy k/community OWNERS_ALIASES over
  OWNERS_ALIASES
Due: none

fix verify-owners failures
  OWNERS_ALIASES
  config/jobs/kubeflow/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/OWNERS
  config/jobs/kubernetes-sigs/kube-batch/OWNERS
  config/jobs/kubernetes-sigs/kubespray/OWNERS
  config/jobs/kubernetes-sigs/poseidon/OWNERS
  config/jobs/kubernetes-sigs/sig-storage-local-static-provisioner/OWNERS
  config/jobs/kubernetes-sigs/sig-windows/OWNERS
  config/jobs/kubernetes/cloud-provider-gcp/OWNERS
  prow/bugzilla/OWNERS
  prow/plugins/bugzilla/OWNERS
Due: post-test-infra-push-prow

Use correct target for verify-deps
  hack/verify-deps.sh
Due: none

remove OWNERS_ALIASES entries who aren't kubernetes members
  OWNERS_ALIASES
Due: none

Remove the deprecated allow_cancellations option
  prow/ANNOUNCEMENTS.md
  prow/cmd/jenkins-operator/README.md
  prow/cmd/plank/README.md
  prow/config/config.go
  prow/jenkins/controller.go
  prow/plank/controller.go
  prow/plank/controller_test.go
Due: post-test-infra-push-prow

Reducing frequency of Azure Windows release branch jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.15-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.16-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.17-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.18-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

Restore lenses, and copy/paste FakeArtifact into lens_test.go
  prow/spyglass/lenses/dumplenses.go
  prow/spyglass/lenses/junit/lens_test.go
  prow/spyglass/lenses/lenses_test.go
Due: post-test-infra-push-prow

Swithc Azure in-tree file/disk period jobs from release-1.18 to master
  config/jobs/kubernetes-sigs/sig-windows/release-1.18-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

Use bazel 2.2.0
  .bazelversion
Due: none

prow: label prowjob metrics with cluster
  prow/kube/metrics.go
Due: post-test-infra-push-prow

Update gofmt, bazel, and deps using bazel
  prow/spyglass/lenses/junit/BUILD.bazel
  prow/spyglass/lenses/junit/lens_test.go
Due: post-test-infra-push-prow

Make verify-owners limit trusted user checks.
  prow/plugins/verify-owners/verify-owners.go
Due: post-test-infra-push-prow

work in progress for phase 2 of hmac rotation.
  experiment/add-hook/BUILD.bazel
  experiment/add-hook/edit_hook.go
  experiment/add-hook/edit_hook_test.go
  prow/cmd/hook/hmac_rotation.go
  prow/flagutil/k8s_client.go
  prow/github/client.go
  prow/github/hmac.go
Due: post-test-infra-push-prow

Update ingress-nginx jobs to test v1.18
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Due: none

Revert "Merge pull request #16996 from stevekuznetsov/skuznets/cluster-label"
  prow/kube/metrics.go
Due: post-test-infra-push-prow

Revert "Merge pull request #17000 from stevekuznetsov/skuznets/revert-label"
  prow/kube/metrics.go
Due: post-test-infra-push-prow

prow: metrics: add cluster label to metrics
  prow/kube/metrics.go
Due: post-test-infra-push-prow

Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Due: none

Update cluster-api-provider-digitalocean OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/OWNERS
Due: none

Skip some steps that makes the azure kubemark test job fail unnessesarily.
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  kubetest/e2e.go
Due: post-test-infra-push-kubekins-e2e

Create label for digitalocean provider related issues
  label_sync/labels.md
  label_sync/labels.yaml
Due: post-test-infra-push-prow

onboard repo ibm-grafana-operator. (#152)
  prow/cluster/jobs/IBM/ibm-grafana-operator/IBM.ibm-grafana-operator.master.yaml
  prow/config.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

make storage migrator tests required
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-ci.yaml
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Due: none

testgrid config for arm64 conformance-stable tests
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Due: none

releng: Loosen blockade regex on kubernetes/release repo
  config/prow/plugins.yaml
Due: none

Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

[Scalability] Enable experimental Node Killer
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Due: none

Various updates based on first round of review comments
  prow/spyglass/lenses/junit/junit.css
  prow/spyglass/lenses/junit/lens.go
Due: post-test-infra-push-prow

Add load test job for iis container
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Due: none

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
