Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Decrease checkconfig heartbeat interval to 9 mins.
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
Due: pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow

Remove useless code
  prow/external-plugins/needs-rebase/plugin/plugin.go
Due: post-test-infra-push-prow

testgrid: Add redhat dashboards for master branch e2e presubmit jobs
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-presubmits-e2e-master-0.yaml
  config/testgrids/openshift/redhat-openshift-presubmits-e2e-master-1.yaml
  config/testgrids/openshift/redhat-openshift-presubmits-e2e-master-2.yaml
  config/testgrids/openshift/redhat-openshift-presubmits-e2e-master-3.yaml
  config/testgrids/openshift/redhat-openshift-presubmits-e2e-master-4.yaml
Due: none

config/prow: enable needs-triage for issues in k/kubectl
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Enable require-matching-label for k/kubectl and k/website
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

fix the modification time format in gcsweb tool
  gcsweb/cmd/gcsweb/gcsweb.go
  gcsweb/cmd/gcsweb/gcsweb_test.go
Due: none

prow/plugins: don't allow invalid keywords in PR titles
  prow/plugins/invalidcommitmsg/BUILD.bazel
  prow/plugins/invalidcommitmsg/invalidcommitmsg.go
  prow/plugins/invalidcommitmsg/invalidcommitmsg_test.go
  prow/plugins/retitle/BUILD.bazel
  prow/plugins/retitle/retitle.go
  prow/plugins/retitle/retitle_test.go
Due: post-test-infra-push-prow

delete docker conformance test group
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
  kettle/buckets.yaml
Due: post-test-infra-push-kettle

Use nightly aks-engine builds for windows + hyper-v isolated container periodics
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Due: pull-test-infra-prow-checkconfig

Hook: Add title to generic comment event
  prow/github/types.go
  prow/hook/events.go
Due: post-test-infra-push-prow

Clear env var so Azure e2e generates a local keypair
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

add presubmit job for dualstack
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Due: pull-test-infra-prow-checkconfig

Update prow to v20201008-84f802ee2a, and other images as necessary.
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/plank_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Hook: Generic comment event: Pass through CommentID
  prow/github/types.go
  prow/hook/events.go
Due: post-test-infra-push-prow

Deck: print debug instead of warning when prowjob not found
  prow/cmd/deck/main.go
Due: post-test-infra-push-prow

Hook: Don't print warning in the middle of retries
  prow/git/git.go
Due: post-test-infra-push-prow

ci-kubernetes-build-fast: create canary job to run in k8s-infra-prow-build cluster
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: pull-test-infra-prow-checkconfig

sig-network jobs should test conformance too
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Due: pull-test-infra-prow-checkconfig

Temporary increase memory for kubemark-500 job
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: pull-test-infra-prow-checkconfig

add optional ipvs presubmit job for dual stack
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Due: pull-test-infra-prow-checkconfig

Add jira plugin
  go.mod
  go.sum
  prow/BUILD.bazel
  prow/cmd/hook/BUILD.bazel
  prow/cmd/hook/main.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/jira.go
  prow/hook/plugin-imports/BUILD.bazel
  prow/hook/plugin-imports/plugin-imports.go
  prow/jira/BUILD.bazel
  prow/jira/jira.go
  prow/jira/jira_test.go
  prow/plugins/BUILD.bazel
  prow/plugins/jira/BUILD.bazel
  prow/plugins/jira/jira.go
  prow/plugins/jira/jira_test.go
  prow/plugins/plugins.go
  repos.bzl
Due: post-test-infra-push-prow

CAPZ: update conformance test k8s version to 1.18.9
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Due: pull-test-infra-prow-checkconfig

Update prow to v20201009-1504f659a7, and other images as necessary.
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/plank_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Sum heartbeat job metrics across plank pods.
  config/prow/cluster/monitoring/mixins/prometheus/plank_alerts.libsonnet
Due: post-test-infra-deploy-prow

Update containerd-master jobs
  jobs/e2e_node/containerd/containerd-master/image-config.yaml
Due: none

Remove unused verify job for containerd pulls
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Due: pull-test-infra-prow-checkconfig

Jira plugin: Preserve whitespaces when editing comments
  prow/plugins/jira/jira.go
  prow/plugins/jira/jira_test.go
Due: post-test-infra-push-prow

increase sig-network jobs timeouts
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Due: pull-test-infra-prow-checkconfig

ci-kubernetes-build-fast-canary: update gs bucket to use the same path as the original job
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: pull-test-infra-prow-checkconfig

OWNERS_ALIASES: Add xmudrii to release-engineering-reviewers
  OWNERS_ALIASES
Due: none

Replace Branch Manager/Patch Release Team with Release Manager
  OWNERS_ALIASES
Due: none

Fix some typos
  prow/plugins/lgtm/lgtm.go
Due: post-test-infra-push-prow

fix enable-workload-identity.sh based on the latest doc
  workload-identity/README.md
  workload-identity/enable-workload-identity.sh
Due: none

added owners
  config/jobs/kubernetes-sigs/wg-multi-tenancy/OWNERS
  config/jobs/kubernetes-sigs/wg-multi-tenancy/mtb-presubmit.yaml
Due: pull-test-infra-prow-checkconfig

Kubeflow pipleines - Disabled the python 3.5 tests
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Due: pull-test-infra-prow-checkconfig

Kubeflow Pipelines - Added the SDK tests on python 3.9
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Due: pull-test-infra-prow-checkconfig

Plank: Pass on error when pod can not be created
  prow/plank/controller.go
  prow/plank/reconciler.go
Due: post-test-infra-push-prow

Enable density test in load test for presubmits
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: pull-test-infra-prow-checkconfig

Update getting_started_deploy.md
  prow/getting_started_deploy.md
Due: post-test-infra-push-prow

Bump kubebuilder version from 1.13 to 1.15
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Due: pull-test-infra-prow-checkconfig
