Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:0.4
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

post-test-infra-push-boskos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - boskos/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

post-test-infra-push-kettle:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - kettle/
      env:
  ...

Remove nikhita as approver for cluster-api-do jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/OWNERS
Due: none

update prow job for build tools. (#126)
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

refactor build tools.
  Makefile
  common/scripts/multiarch_image.sh
  prow/docker/build-tool/Dockerfile.amd64
  prow/docker/build-tool/Dockerfile.ppc64le
  prow/docker/build-tool/Dockerfile.s390x
  prow/docker/build-tool/build-and-push.sh
  prow/docker/build-tool/install.sh
  prow/docker/build-tool/prow-runner.sh
  prow/docker/build-tools/Dockerfile
  prow/docker/check-tool/Dockerfile
  prow/docker/check-tool/build-and-push.sh
Due: post-test-infra-push-prow

fix build tools.
  Makefile
  common/scripts/multiarch_image.sh
  prow/docker/build-tool/Dockerfile.amd64
  prow/docker/build-tool/Dockerfile.ppc64le
  prow/docker/build-tool/Dockerfile.s390x
  prow/docker/build-tool/install.sh
  prow/docker/check-tool/Dockerfile
Due: post-test-infra-push-prow

Skipping building k8s binary in azure kubemark test.
  kubetest/azure.go
Due: post-test-infra-push-kubekins-e2e

fix build tools.
  prow/docker/build-tool/install.sh
  prow/docker/check-tool/Dockerfile
Due: post-test-infra-push-prow

Remove alvaroaleman from cluster-api-provider-do owners
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/OWNERS
Due: none

commit to resolve k8s.io/perf-test-issue-1036
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: none

kubeadm/windows: increase test timeout to 180m
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-kubeadm.yaml
Due: none

releng: enable code thaw for 1.18
  config/prow/config.yaml
Due: pull-test-infra-gubernator

releng: Update milestoneappliers for 1.19
  config/prow/plugins.yaml
Due: none

Enable log collection for all K8s windows jobs.
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

Remove andrewsykim from owners
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/OWNERS
Due: none

Add section on link template options.
  testgrid/config.md
Due: none

Allow using deck outside of GCP with an anonymous gcs client
  prow/cmd/deck/main.go
Due: post-test-infra-push-prow

add sample description to e2e-aws-4.4 job
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
Due: none

releng: Remove bazel version markers
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Due: none

Add cluster-api-provider-azure v0.5 milestone to plugins
  config/prow/plugins.yaml
Due: none

[cluster-api-provider-azure] Add regex for release tag image pushing
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Due: none

Upgrade javascript dependencies
  yarn.lock
Due: none

Add kubernetes repo extra refs for azure kubemark test.
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

Fix cluster-api-do presubmit jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
Due: none

Expose the logs of azure kubemark testing scripts.
  kubetest/azure.go
Due: post-test-infra-push-kubekins-e2e

releng: Add new dashboards (sig-release-releng-{blocking,presubmits})
  config/jobs/image-pushing/k8s-staging-artifact-promoter.yaml
  config/jobs/image-pushing/k8s-staging-releng.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
  config/jobs/kubernetes/release/release-config.yaml
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
Due: none

releng(cip): Configure alert emails and options
  config/jobs/image-pushing/k8s-staging-artifact-promoter.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: none

update check and build tool images. (#130)
  prow/docker/build-tool/Dockerfile.amd64
  prow/docker/build-tool/Dockerfile.ppc64le
  prow/docker/build-tool/Dockerfile.s390x
  prow/docker/build-tool/docker-entrypoint.sh
  prow/docker/build-tool/install.sh
  prow/docker/build-tool/prow-runner.sh
  prow/docker/check-tool/Dockerfile
Due: post-test-infra-push-prow

fix check tool build. (#131)
  prow/docker/check-tool/Dockerfile
Due: post-test-infra-push-prow

update prow job for build-tool multiarch image. (#132)
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

fix build-tool image build. (#133)
  prow/docker/build-tool/Dockerfile.amd64
  prow/docker/build-tool/Dockerfile.ppc64le
  prow/docker/build-tool/Dockerfile.s390x
Due: post-test-infra-push-prow

Retry 5 times to get the external IP
  kubetest/kops.go
Due: post-test-infra-push-kubekins-e2e

Print http body in case retrieving the external IP fails
  kubetest/kops.go
Due: post-test-infra-push-kubekins-e2e

show link to log-manager in deck
  prow/BUILD.bazel
  prow/cmd/deck/static/prow/prow.ts
Due: post-test-infra-push-prow

restore build.bazel
  prow/BUILD.bazel
Due: post-test-infra-push-prow

Run ./hack/update-deps.sh --patch
  go.mod
  go.sum
  repos.bzl
Due: none

AWS Janitor - cleanup EC2 LaunchTemplates
  boskos/aws-janitor/resources/BUILD.bazel
  boskos/aws-janitor/resources/launch_templates.go
  boskos/aws-janitor/resources/list.go
Due: post-test-infra-push-boskos, post-test-infra-push-kubekins-e2e

Disable metrics upload to influxdb
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Due: none

ci-k8sio-backup: remove job
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: none

Jenkins controller: Use patch
  prow/jenkins/BUILD.bazel
  prow/jenkins/controller.go
Due: post-test-infra-push-prow

Azure: fix windows 1.14 and 1.18-slow-serial jobs
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
