Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

add ibm-iam-policy-operator (#276)
  prow/cluster/jobs/IBM/ibm-iam-policy-operator/IBM.ibm-iam-policy-operator.master.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Git client: Add github apps support
  prow/flagutil/github.go
  prow/git/git.go
  prow/git/localgit/localgit.go
  prow/github/app_auth_roundtripper.go
  prow/github/app_auth_roundtripper_integration_test.go
  prow/github/app_auth_roundtripper_test.go
  prow/github/client.go
  prow/github/client_test.go
Due: post-test-infra-push-prow

change master branch to main (#277)
  prow/cluster/jobs/IBM/ibm-iam-policy-operator/IBM.ibm-iam-policy-operator.main.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

onboard ibm-iam-policy-operator (#278)
  prow/config.yaml
Due: post-test-infra-push-prow

Kops - Remove broken gce canary job
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update scheduler-plugins CI Job To Go 1.15.5
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Skip containerd tests for kOps 1.18
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update TestGrid for kyma
  config/testgrids/kyma/gen-config.yaml
Due: none

Remove gjtempleton from kops test reviewers
  config/jobs/kubernetes/kops/OWNERS
  config/testgrids/kubernetes/kops/OWNERS
Due: none

Kubernetes options: Allow triggering callbacks for kubeconfig changes
  prow/cmd/sinker/main.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/kubernetes_cluster_clients.go
  prow/interrupts/interrupts.go
Due: post-test-infra-push-prow

Switch frequent periodic tests to containerd
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Always run the containerd pre-submit job on master
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

optimization in git clone using --depth
  images/kubemci/Dockerfile
Due: post-test-infra-push-kubemci

Support update pull request branch
  prow/github/client.go
Due: post-test-infra-push-prow

Update SECURITY.md
  SECURITY.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update README.md
  docs/post-mortems/README.md
Due: none

Allow k8s-ci-robot and kube-state-metrics-admins/maintainers to push to gh-pages branch
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Set days_of_results to 7 ppc64le-conformance and ppc64le-conformance-containerd jobs
  config/testgrids/conformance/conformance-all.yaml
Due: none

Update TestGrid for knative
  config/testgrids/knative/gen-config.yaml
Due: none

Add 'LOGDUMP_TO_GCS_ONLY' which can be used to upload all logs to the same dir
  logexporter/cluster/log-dump.sh
Due: none

log-dump.sh: Fix a case when $(dirname ${gcs_artifacts_dir}) exists.
  logexporter/cluster/log-dump.sh
Due: none

Experimental log dump remote
  images/bootstrap/entrypoint.sh
  scenarios/kubernetes_e2e.py
Due: post-test-infra-push-bootstrap

Make it possible to override --logexporter-gcs-path
  scenarios/kubernetes_e2e.py
Due: post-test-infra-push-bootstrap

Add alvaroaleman to ghproxy owners
  ghproxy/OWNERS
Due: post-test-infra-push-prow

GHProxy: Make sure all clients get the same apps token
  ghproxy/BUILD.bazel
  ghproxy/apptokenequalizer/BUILD.bazel
  ghproxy/apptokenequalizer/app_token_equalizer.go
  ghproxy/apptokenequalizer/app_token_equalizer_test.go
  ghproxy/ghcache/coalesce.go
  ghproxy/ghmetrics/ghpath.go
  ghproxy/ghproxy.go
  prow/github/app_auth_roundtripper_integration_test.go
Due: post-test-infra-push-prow

add StorageVersionAPI tests to alpha jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove obsolete files
  prow/external-plugins/cherrypicker/Dockerfile
  prow/external-plugins/cherrypicker/OWNERS
  prow/external-plugins/refresh/OWNERS
Due: post-test-infra-push-prow

Hook: Allow to enable/disable on org/repo
  prow/cmd/hook/main.go
  prow/hook/hook_test.go
  prow/hook/server.go
  prow/hook/server_test.go
Due: post-test-infra-push-prow

Fix bot user detection to work with gh apps
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
  prow/cmd/tackle/main.go
  prow/commentpruner/commentpruner.go
  prow/commentpruner/commentpruner_test.go
  prow/external-plugins/cherrypicker/main.go
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
  prow/external-plugins/needs-rebase/plugin/plugin.go
  prow/external-plugins/needs-rebase/plugin/plugin_test.go
  prow/flagutil/github.go
  prow/github/client.go
  prow/github/client_test.go
  prow/github/fakegithub/fakegithub.go
  prow/githuboauth/githuboauth.go
  prow/plugins/approve/approve.go
  prow/plugins/dco/dco.go
  prow/plugins/help/help.go
  prow/plugins/lgtm/lgtm.go
  prow/plugins/lgtm/lgtm_test.go
  prow/plugins/merge-method-comment/merge-method-comment.go
  prow/plugins/merge-method-comment/merge-method-comment_test.go
  prow/plugins/mergecommitblocker/mergecommitblocker_test.go
  prow/plugins/project/project.go
  prow/plugins/project/project_test.go
  prow/plugins/releasenote/releasenote.go
  prow/plugins/sigmention/sigmention.go
  prow/plugins/slackevents/slackevents.go
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/trigger.go
  prow/prstatus/prstatus.go
  prow/prstatus/prstatus_test.go
  robots/pr-creator/updater/updater.go
Due: post-test-infra-push-prow

add job to test network policies
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update autobumper README
  experiment/autobumper/README.md
Due: none

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 22 Dec 2020 00:01:29 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
Due: none

Split Streaming process into smaller blocks incase of large build backup
  kettle/stream.py
  kettle/update.py
Due: post-test-infra-push-kettle

Controller-Runtime: Run presubmit with go 1.15
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits-master.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Controller-runtime: Add jobs for release-0.7
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits-release-0.7.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add alvaroaleman to controller-runtime approvers
  OWNERS_ALIASES
Due: none
