Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

[scalability][presubmits][k/k] Update resources
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: pull-test-infra-prow-checkconfig

Update SIGs on top of site to match current SIGs
  triage/index.html
  triage/style.css
Due: post-test-infra-push-triage

Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Due: none

azure: add preset label for azure jobs that need anonymous pull
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Added a mirror of the current pull- job, but using kubetest2
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-prow-checkconfig

Don't go get ginkgo
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-prow-checkconfig

Set job dashboard
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-prow-checkconfig

Add a utility script in krte to pre-fetch kubetest2 binaries.
  images/krte/Dockerfile
  images/krte/setup.sh
Due: none

Update BUILD from hack
  experiment/BUILD.bazel
Due: none

Remove Python Triage variations and make Go Triage the norm
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  triage/BUILD.bazel
  triage/Dockerfile
  triage/Dockerfile-go
  triage/Makefile
  triage/berghelroach.py
  triage/cloudbuild.yaml
  triage/summarize.py
  triage/update_summaries-go.sh
  triage/update_summaries.sh
Due: pull-test-infra-prow-checkconfig, post-test-infra-push-triage

cloud-provider-gcp conformance periodic does not download ginkgo
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
Due: pull-test-infra-prow-checkconfig

Make pull-kubernetes-kubemark-e2e-gce-big manually triggered, optional
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: pull-test-infra-prow-checkconfig

Create a copy of ci-kubernetes-gce-conformance-latest with kubetest2
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
Due: pull-test-infra-prow-checkconfig

Remove kubemark presubmit from gubernator config
  gubernator/config.yaml
Due: pull-test-infra-gubernator

Cherrypicker: Fix output
  prow/external-plugins/cherrypicker/server.go
  prow/git/git.go
Due: post-test-infra-push-prow

use multi os hyperv aks-engine package
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Due: pull-test-infra-prow-checkconfig

don't write docker pull to stdout
  config/mkpj.sh
Due: none

Add Bazel build file
  experiment/prowjob-report/BUILD.bazel
Due: none

update build tool version for Healthcheck Operator (#210)
  prow/cluster/jobs/IBM/ibm-healthcheck-operator/IBM.ibm-healthcheck-operator.master.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

update build-tool image. (#211)
  prow/cluster/jobs/IBM/deployer-operator/ibm.deployer-operator.master.yaml
  prow/cluster/jobs/IBM/hybridapplication-operator/ibm.hybridapplication-operator.master.yaml
  prow/cluster/jobs/IBM/hybriddeployable-operator/ibm.hybriddeployable-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-licensing-hub-operator/IBM.ibm-licensing-hub-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-management-ingress-operator/IBM.ibm-management-ingress-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-monitoring-grafana-operator/IBM.ibm-monitoring-grafana-operator.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-application-assembler/hybridapp-io.ham-application-assembler.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deploy/hybridapp-io.ham-deploy.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deployable-operator/hybridapp-io.ham-deployable-operator.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deployable-operator/hybridapp-io.ham-deployable-operator.release.yaml
  prow/cluster/jobs/hybridapp-io/ham-placement/hybridapp-io.ham-placement.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-resource-discoverer/hybridapp-io.ham-resource-discoverer.master.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

add doc and tool to build pod-utility. (#212)
  prow/docker/pod-utility/Dockerfile.podutilitybinaries
  prow/docker/pod-utility/Dockfile.clonerefs
  prow/docker/pod-utility/Dockfile.entrypoint
  prow/docker/pod-utility/Dockfile.initupload
  prow/docker/pod-utility/Dockfile.sidecar
  prow/docker/pod-utility/README.md
  prow/docker/pod-utility/create_utility_images.sh
  prow/docker/pod-utility/patch_bazel.diff
  prow/docker/pod-utility/patch_nodejs.diff
Due: post-test-infra-push-prow

refactor options and flags
  gcsweb/cmd/gcsweb/BUILD.bazel
  gcsweb/cmd/gcsweb/gcsweb.go
Due: none

Add test to enforce presubmits-kubernetes-blocking
  config/tests/testgrids/config_test.go
Due: none

Split presubmits testgrid into kubernetes/presubmits
  config/testgrids/config.yaml
  config/testgrids/kubernetes/presubmits/OWNERS
  config/testgrids/kubernetes/presubmits/config.yaml
Due: none

Update prow to v20200812-8936af3bd4, and other images as necessary.
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/plank_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Make presubmits-kubernetes-blocking tests pass
  config/testgrids/kubernetes/presubmits/config.yaml
Due: none

run hack update-bazel
  experiment/prowjob-report/BUILD.bazel
Due: none

Fix post-test-infra-upload-triage - Add -C flag to Triage Makefile
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: pull-test-infra-prow-checkconfig

experiment/kind-conformance-image-e2e.sh: move the image path
  experiment/kind-conformance-image-e2e.sh
Due: none

Onboard kubernetes-sigs and kubernetes-csi orgs to the HMAC tool
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Onboard kubernetes org to the hmac tool
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add MushuEE to reviewers of Kettle
  kettle/OWNERS
Due: post-test-infra-push-kettle

releng(kubekins, krte): Update Golang versions to go1.15
  images/kubekins-e2e/variants.yaml
Due: post-test-infra-push-kubekins-e2e

Raise ci-kubernetes-build timeout to 240min
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Due: pull-test-infra-prow-checkconfig

add MushuEE to some image reviewers
  images/krte/OWNERS
  images/kubekins-e2e/OWNERS
Due: post-test-infra-push-kubekins-e2e

add OWNERS to images/bootstrap
  images/bootstrap/OWNERS
Due: post-test-infra-push-bootstrap

add OWNERS to images/builder
  images/builder/OWNERS
Due: post-test-infra-push-image-builder

update kettle OWNERS
  kettle/OWNERS
Due: post-test-infra-push-kettle
