Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:0.4
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

post-test-infra-push-boskos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - boskos/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

post-test-infra-push-kettle:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - kettle/
      env:
  ...

Cleverer k8s unit coverage.
  config/jobs/kubernetes/sig-testing/coverage.yaml
Due: none

Migrate to new lens config format.
  config/prow/config.yaml
Due: pull-test-infra-gubernator

Add optional filtered.html to coverage artifacts.
  config/prow/config.yaml
Due: pull-test-infra-gubernator

only welcome users
  prow/github/types.go
  prow/plugins/welcome/welcome.go
  prow/plugins/welcome/welcome_test.go
Due: post-test-infra-push-prow

Clean up docs for OWNERS
  prow/plugins/approve/approvers/README.md
  prow/plugins/lgtm/README.md
Due: post-test-infra-push-prow

Update AMIs used by Kops periodic jobs
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Due: none

gcp_janitor: cleanup regional resources
  boskos/janitor/gcp_janitor.py
Due: post-test-infra-push-boskos, post-test-infra-push-kubekins-e2e

testgrid: redhat: update release dashboards
  config/testgrids/openshift/redhat-openshift-ocp-release-4.2-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
Due: none

add release-1.16 presubmit to kind
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Due: none

switch kind to run the tests we would run in kubernetes
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Due: none

Revert "branchprotector: explicit protect:false should result in bp removal"
  prow/config/branch_protection.go
  prow/config/branch_protection_test.go
Due: post-test-infra-push-prow

set path alias for kind presubmit
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Due: none

Use real links for coverage cells.
  prow/spyglass/lenses/coverage/coverage.ts
Due: post-test-infra-push-prow

Make pj-on-kind.sh use container images for mkpj and mkpod.
  prow/pj-on-kind.sh
Due: post-test-infra-push-prow

Add docs for obtaining Slack access token
  prow/cmd/crier/README.md
Due: post-test-infra-push-prow

Create stable-image-suggester to automatically suggest CIP manifest updates for Prow.
  BUILD.bazel
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  robots/stable-image-suggester/BUILD.bazel
  robots/stable-image-suggester/Dockerfile
  robots/stable-image-suggester/cloudbuild.yaml
  robots/stable-image-suggester/main.go
  robots/stable-image-suggester/manifest-types.go
Due: none

Include nodelocaldns scale tests in CI
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: none

testgrid: Update OpenShift informing jobs
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.2-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.1-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.2-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.3-informing.yaml
Due: none

Add a container image promoter manifest and job for Prow.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/cip-manifest.yaml
Due: post-test-infra-push-prow

Add goose plugin
  prow/hook/plugin-imports/BUILD.bazel
  prow/hook/plugin-imports/plugin-imports.go
  prow/plugins/BUILD.bazel
  prow/plugins/config.go
  prow/plugins/goose/.gitignore
  prow/plugins/goose/BUILD.bazel
  prow/plugins/goose/goose.go
  prow/plugins/goose/goose_test.go
Due: post-test-infra-push-prow

Buildifier format .bzl files
  def/configmap.bzl
  def/test_infra.bzl
  py.bzl
Due: none

Remove sig-scalability separate storage test jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Due: none

add tide auto merge plugin for repos. (#19)
  prow/config.yaml
  prow/plugins.yaml
Due: pull-test-infra-gubernator, post-test-infra-push-prow

Delete some unused repos
  repos.bzl
Due: none

Add variation of CAPG to test against master and stable of CAPI and CAPBK
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
Due: none

fixup kind presubmits
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

add placementrule to jobs (#20)
  prow/cluster/jobs/IBM/multicloud-operators-placementrule/IBM.multicloud-operators-placementrule.master.yaml
  prow/cluster/jobs/IBM/multicloud-operators-placementrule/OWNERS
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Allow GitHub teams to override contexts
  prow/plugins/config.go
  prow/plugins/override/override.go
  prow/plugins/override/override_test.go
Due: post-test-infra-push-prow

Allow top level owners to override contexts
  prow/plugins/approve/approve_test.go
  prow/plugins/blunderbuss/blunderbuss_test.go
  prow/plugins/config.go
  prow/plugins/lgtm/lgtm_test.go
  prow/plugins/override/BUILD.bazel
  prow/plugins/override/override.go
  prow/plugins/override/override_test.go
  prow/plugins/verify-owners/verify-owners_test.go
  prow/repoowners/repoowners.go
  prow/repoowners/repoowners_test.go
Due: post-test-infra-push-prow

remove mkdir, reinstant block tests
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

Revert "Merge pull request #13644 from alvaroaleman/branchprotector-presubmit-config-getter"
  prow/cmd/branchprotector/protect.go
  prow/config/BUILD.bazel
  prow/config/branch_protection.go
  prow/config/branch_protection_test.go
  prow/config/config.go
  prow/config/tide.go
  prow/config/tide_test.go
  prow/tide/BUILD.bazel
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Due: post-test-infra-push-prow

Use repo-infra to load/configure repos
  BUILD.bazel
  WORKSPACE
  hack/BUILD.bazel
Due: none

Use repo-infra to verify boilerplates
  WORKSPACE
  hack/BUILD.bazel
  hack/boilerplate/boilerplate.Dockerfile.txt
  hack/boilerplate/boilerplate.Makefile.txt
  hack/boilerplate/boilerplate.bzl.txt
  hack/boilerplate/boilerplate.go.txt
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/verify_boilerplate.py
Due: none

upgrade gcloud to 265.0.0 in bigquery image
  images/bigquery/Dockerfile
Due: post-test-infra-push-bigquery

Revert "Merge pull request #14597 from alvaroaleman/revert-13644"
  prow/cmd/branchprotector/protect.go
  prow/config/BUILD.bazel
  prow/config/branch_protection.go
  prow/config/branch_protection_test.go
  prow/config/config.go
  prow/config/tide.go
  prow/config/tide_test.go
  prow/tide/BUILD.bazel
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Due: post-test-infra-push-prow

Tide: Add logging to presubmit filtering
  prow/tide/tide.go
  prow/tide/tide_test.go
Due: post-test-infra-push-prow

Tide: Fix PresubmitsForBatch when job has a branch config
  prow/tide/tide.go
  prow/tide/tide_test.go
Due: post-test-infra-push-prow

Detect if PR already exists for cherrypick using branch
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
  prow/git/git.go
Due: post-test-infra-push-prow

Move WORKSPACE logic into bzl files
  WORKSPACE
  containers.bzl
  load.bzl
Due: none

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
