Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Apply milestone applier against k/website release branch
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Update the docs to handle prow running its own namespace
  prow/getting_started_deploy.md
Due: post-test-infra-push-prow

Remove kubeflow/manifests kfctl postsubmits
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
  config/testgrids/kubeflow/kubeflow.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

run azurefile-csi-driver-e2e-migration on 1.19
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Decoration config: Fix defaulting
  prow/apis/prowjobs/v1/BUILD.bazel
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/types_test.go
Due: post-test-infra-push-prow

run azurefile-csi-driver-e2e-vmss on 1.19
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

refactored test case
  prow/pod-utils/gcs/upload_test.go
Due: post-test-infra-push-prow

fixed race condition
  prow/pod-utils/gcs/upload_test.go
Due: post-test-infra-push-prow

added retry with exponential delay
  prow/pod-utils/gcs/upload.go
  prow/pod-utils/gcs/upload_test.go
Due: post-test-infra-push-prow

remove commented println
  prow/pod-utils/gcs/upload_test.go
Due: post-test-infra-push-prow

bump k8s version to 1.20 for azure pre-submit tests
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

update url
  prow/README.md
Due: post-test-infra-push-prow

Add Falco to Prow project list (#19140)
  prow/README.md
Due: post-test-infra-push-prow

releng: Add a job to test creating CI builds w/o the bootstrap image
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Use logrusutil.ComponentInit replace manual setting
  prow/external-plugins/refresh/BUILD.bazel
  prow/external-plugins/refresh/main.go
Due: post-test-infra-push-prow

changed logging from info to debug
  prow/pod-utils/gcs/upload.go
Due: post-test-infra-push-prow

releng: Lower requests/limits for ci-kubernetes-build-no-bootstrap
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Trigger: Abort jobs on pushes
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/pull-request_test.go
Due: post-test-infra-push-prow

bugzilla: be more explicit as to how to move forward
  prow/plugins/bugzilla/BUILD.bazel
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Due: post-test-infra-push-prow

azure: bump orchestrator release to 1.20 for master branch jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update prow to v20201109-a36ed74f01, and other images as necessary.
  config/jobs/cadvisor/cadvisor.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  images/kubekins-e2e/Dockerfile
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-kubekins-e2e

Add test for testrgrid alert emails on release-blocking jobs
  config/tests/jobs/jobs_test.go
Due: none

releng: Use krte wrapper script to execute no-bootstrap build
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

set gcp filestore e2e presubmits to always run.
  config/jobs/kubernetes-sigs/gcp-filestore-csi-driver/gcp-filestore-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Disable kubeflow/kfctl repo trigger
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 10 Nov 2020 00:01:25 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
Due: none

Generate reference for plugins
  prow/plugins/BUILD.bazel
  prow/plugins/plugin-config-documented.yaml
  prow/plugins/plugins_test.go
Due: post-test-infra-push-prow

fixed review comments
  prow/pod-utils/gcs/upload.go
  prow/pod-utils/gcs/upload_test.go
Due: post-test-infra-push-prow

cloud-provider-openstack: Set require_self_approval to true
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

set minimum aks-engine version as 1.16
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add canary job for ci-kubernetes-build jobs variants.
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Podutils: Retry uploads (#19884)
  prow/pod-utils/gcs/upload.go
  prow/pod-utils/gcs/upload_test.go
Due: post-test-infra-push-prow

Revert "Add test for testrgrid alert emails on release-blocking jobs"
  config/tests/jobs/jobs_test.go
Due: none

Config-Updater: Remove deprecated namespace and additional_namespaces opts
  prow/ANNOUNCEMENTS.md
  prow/plugins/config.go
  prow/plugins/config_test.go
  prow/plugins/plugin-config-documented.yaml
  prow/plugins/updateconfig/updateconfig.go
  prow/plugins/updateconfig/updateconfig_test.go
Due: post-test-infra-push-prow

Sinker supports excluding build cluster
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
  prow/config/config.go
  prow/config/prow-config-documented.yaml
Due: post-test-infra-push-prow

releng: Add image building for k8s-ci-builder
  config/jobs/image-pushing/releng/k8s-staging-releng.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

releng: Update config for no-bootstrap build job
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Azure: remove extra CSI driver env variables
  kubetest/aksengine.go
Due: post-test-infra-push-kubekins-e2e

Rebase and fix test error due to renamed package
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
Due: post-test-infra-push-prow

Sinker supports excluding build cluster (#19862)
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
  prow/config/config.go
  prow/config/prow-config-documented.yaml
Due: post-test-infra-push-prow
