Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Set effective and deprecation date for rerun_auth_config
  prow/ANNOUNCEMENTS.md
  prow/config/config.go
Due: post-test-infra-push-prow

update config
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Due: none

fix build-tools image tag. (#134)
  Makefile
Due: none

fix build-tools image build on ppc64le. (#135)
  prow/docker/build-tool/Dockerfile.ppc64le
  prow/docker/build-tool/build-and-push.sh
  prow/docker/check-tool/build-and-push.sh
Due: post-test-infra-push-prow

revert built-tool ppc64le image. (#136)
  prow/docker/build-tool/Dockerfile.ppc64le
Due: post-test-infra-push-prow

unify dockerfile for build-tool image. (#137)
  prow/docker/build-tool/Dockerfile
  prow/docker/build-tool/Dockerfile.amd64
  prow/docker/build-tool/Dockerfile.ppc64le
  prow/docker/build-tool/build-and-push.sh
Due: post-test-infra-push-prow

update build-tool images for prow jobs. (#138)
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

add more tools to build tools images. (#139)
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: post-test-infra-push-prow

update build-tool image version for prow jobs. (#140)
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

fix docker in docker settings. (#141)
  prow/docker/build-tool/Dockerfile
Due: post-test-infra-push-prow

update build-tool image version for prow jobs. (#142)
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Disable PVs for kubemark jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: none

Revert "Enable NodeKiller on ClusterLoader presubmits"
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: none

clean up unused references to stale coreos images
  jobs/e2e_node/benchmark-config.yaml
  jobs/e2e_node/image-config-1-11.yaml
  jobs/e2e_node/image-config-1-12.yaml
  jobs/e2e_node/image-config-1-13.yaml
  jobs/e2e_node/image-config-1-14.yaml
  jobs/e2e_node/image-config-serial.yaml
  jobs/e2e_node/image-config.yaml
Due: none

Config bootstrapper: Error on undefined clutser
  prow/cmd/config-bootstrapper/main.go
  prow/cmd/config-bootstrapper/main_test.go
Due: post-test-infra-push-prow

Remove --hyperkube and KUBE_BUILD_HYPERKUBE references
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-testing/coverage.yaml
  scenarios/kubernetes_build.py
Due: post-test-infra-push-bootstrap

Azure: start using spot vmss instances
  kubetest/azure.go
  kubetest/azure_helpers.go
Due: post-test-infra-push-kubekins-e2e

Change warning level of invalid Job input
  prow/cmd/deck/main.go
Due: post-test-infra-push-prow

github: use a cacheable call when ghproxy is configured
  prow/github/client.go
Due: post-test-infra-push-prow

Fix broken CI job - ci-kubernetes-e2e-gci-gce-ipvs
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: none

fix indent
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Due: none

update prow jobs for helm repos. (#143)
  prow/cluster/jobs/IBM/ibm-catalog-operator/IBM.ibm-catalog-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-catalog-ui-operator/IBM.ibm-catalog-ui-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-catalog-ui-operator/OWNERS
  prow/cluster/jobs/IBM/ibm-helm-repo-operator/IBM.ibm-helm-repo-operator.master.yaml
  prow/config.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

fix docker-in-docker storage issue. (#144)
  prow/docker/build-tool/Dockerfile
Due: post-test-infra-push-prow

update build-tool image version. (#145)
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

Change merge-method of cluster-api-provider-openstack to default (=merge)
  config/prow/config.yaml
Due: pull-test-infra-gubernator

Fix for ci-kubernetes-e2e-gci-gce-ipvs
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: none

Add Kubespray yamllint CI job
  config/jobs/kubernetes-sigs/kubespray/OWNERS
  config/jobs/kubernetes-sigs/kubespray/kubespray-presubmits.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Due: none

Add aojea as sig-network jobs approver
  config/jobs/kubernetes/sig-network/OWNERS
Due: none

plugins: use plugin-local github clients in owners client
  prow/plugins/lgtm/lgtm_test.go
  prow/plugins/plugins.go
  prow/repoowners/repoowners.go
  prow/repoowners/repoowners_test.go
Due: post-test-infra-push-prow

boskos: do not emit error logs on normal behavior
  boskos/ranch/ranch.go
Due: post-test-infra-push-boskos, post-test-infra-push-kubekins-e2e

Azure: add a presubmit job that test Azure Disk CSI driver on Windows cluster
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Due: none

github: log a stacktrace when making a call to /repositories
  prow/github/client.go
Due: post-test-infra-push-prow

Pass commit sha to metrics-server GCB
  config/jobs/image-pushing/k8s-staging-metrics-server.yaml
Due: none

ghproxy: handle more paths
  ghproxy/ghmetrics/ghpath.go
  ghproxy/ghmetrics/ghpath_test.go
Due: post-test-infra-push-prow

Revert "Merge pull request #16875 from stevekuznetsov/skuznets/github-debug"
  prow/github/client.go
Due: post-test-infra-push-prow

Azure: add two presubmit jobs to run in-tree storage-related e2e tests on Windows clusters
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

Add presubmit jobs to release branches
  config/jobs/kubernetes-sigs/sig-windows/release-1.15.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.16.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.17.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.18.yaml
Due: none

Fix typo
  config/jobs/kubernetes-sigs/sig-windows/release-1.15.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.16.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.17.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.18.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none
