Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

update pipeline package
  go.mod
  go.sum
  repos.bzl
Due: none

Skip session affinity timeouts with IPVS
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: none

Use upstream utilerrors instead of downstream copy
  maintenance/migratestatus/migrator/BUILD.bazel
  maintenance/migratestatus/migrator/migrator.go
  prow/BUILD.bazel
  prow/cmd/branchprotector/BUILD.bazel
  prow/cmd/branchprotector/protect.go
  prow/cmd/checkconfig/BUILD.bazel
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/tide.go
  prow/cmd/peribolos/BUILD.bazel
  prow/cmd/peribolos/main.go
  prow/config/BUILD.bazel
  prow/config/config.go
  prow/crier/reporters/gcs/BUILD.bazel
  prow/crier/reporters/gcs/reporter.go
  prow/cron/BUILD.bazel
  prow/cron/cron.go
  prow/errorutil/BUILD.bazel
  prow/errorutil/aggregate.go
  prow/errorutil/doc.go
  prow/github/BUILD.bazel
  prow/github/client.go
  prow/github/types.go
  prow/plugins/BUILD.bazel
  prow/plugins/config.go
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/trigger.go
  prow/pod-utils/gcs/BUILD.bazel
  prow/pod-utils/gcs/upload.go
  prow/statusreconciler/BUILD.bazel
  prow/statusreconciler/controller.go
  prow/tide/BUILD.bazel
  prow/tide/tide.go
Due: post-test-infra-push-prow

List available presubmit jobs by trigger plugin
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/generic-comment_test.go
  prow/plugins/trigger/trigger.go
Due: post-test-infra-push-prow

Use Run in trigger plugin's unit tests
  prow/plugins/trigger/generic-comment_test.go
Due: post-test-infra-push-prow

Respond w/help to invalid trigger plugin command
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/generic-comment_test.go
Due: post-test-infra-push-prow

Add a bazelbuild 2.2.0 image variant
  images/bazelbuild/variants.yaml
Due: post-test-infra-push-bazelbuild

Update the image used for Ubuntu 18.04
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
Due: none

Switch Amazon Linux 2 to Docker runtime
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
Due: none

Allow kops tests to run with not yet supported versions of kubernetes
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Due: none

Use KOPS_RUN_TOO_NEW_VERSION only where needed
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Due: none

Set CONCURRENT_SERVICE_SYNCS to 5 in gce 5k correctness tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: none

Azure: split kubernetes_storage.json into in-tree volume plugins and csi proxy job template
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.15-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.16-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.17-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.18-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

Allow e2e-kops-aws-k8s-latest to run with too new k8s version
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Due: none

add windows e2e presubmit for csi-secrets-store
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Due: none

Add dashboard for metrics-server ci and add serathius as OWNER
  config/testgrids/kubernetes/sig-instrumentation/OWNERS
  config/testgrids/kubernetes/sig-instrumentation/config.yaml
Due: none

Add metrics-server presubmits
  config/jobs/kubernetes-sigs/metrics-server/OWNERS
  config/jobs/kubernetes-sigs/metrics-server/metrics-server-presubmits.yaml
Due: none

Update command arguments for cluster-api-provider-gcp presubmit conformance job
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Due: none

expose prune repo defaults function and move it to the org package
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
  prow/config/org/BUILD.bazel
  prow/config/org/org.go
  prow/config/org/org_test.go
Due: post-test-infra-push-prow

testgrid: Update OpenShift dashboards
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.1-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.1-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.2-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.2-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-broken.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.6-informing.yaml
Due: none

Add a verify-build job to scheduler-plugins presubmits
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits.yaml
Due: none

kubetest2/kubetest2-eks: remove unnecessary sync calls
  kubetest2/kubetest2-eks/main.go
Due: none

go.mod: pin latest aws-k8s-tester + aws-sdk-go
  go.mod
  go.sum
  repos.bzl
Due: none

Update the wmi exporter binary
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Due: none

add codecov prosubmit check. (#156)
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Revert "add codecov prosubmit check. (#156)" (#157)
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

add codecov prosubmit check. (#158)
  prow/cluster/jobs/multicloudlab/oasis/multicloudlab.oasis.master.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

ALlow image push for k8s dns(kubedns, node-cache)
  config/jobs/image-pushing/k8s-staging-dns.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
Due: none

add presubmit, remove postsubmit
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Due: none

Enable timeout for SSH-ing to non-logexported nodes
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Due: none

Tide: Don't create retests for unfinished or successful batch jobs
  prow/tide/tide.go
  prow/tide/tide_test.go
Due: post-test-infra-push-prow

label_sync: remove wg/resource-management label
  label_sync/labels.md
  label_sync/labels.yaml
Due: post-test-infra-push-prow

Preserve formatting in failures output
  prow/spyglass/lenses/junit/junit.css
Due: post-test-infra-push-prow

merge conflict
  config/testgrids/openshift/dedicated.yaml
  config/testgrids/openshift/groups.yaml
Due: none

bump tektoncd/pipeline to v0.11.0
  go.mod
  go.sum
Due: none

jobs: skip_report for pull-kubernetes-e2e-node-containerd
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: none

ghpath: match a previously unmatched path
  ghproxy/ghmetrics/ghpath.go
  ghproxy/ghmetrics/ghpath_test.go
Due: post-test-infra-push-prow

ghpath: don't match paths with suffixes
  ghproxy/ghmetrics/ghpath_test.go
  prow/simplifypath/simplify.go
Due: post-test-infra-push-prow
