Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Kops - add optional duplicates of presubmit jobs using podutils
  config/jobs/kubernetes/kops/kops-config-podutils.yaml
Due: none

Switch 1.17 to golang@1.13.5
  images/kubekins-e2e/variants.yaml
Due: post-test-infra-push-kubekins-e2e

Switch 1.16 to golang@1.13.5
  images/builder/README.md
  images/kubekins-e2e/variants.yaml
Due: post-test-infra-push-kubekins-e2e, post-test-infra-push-image-builder

don't pin ipv6 jobs to snowflake ubuntu cluster
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind-release-blocking.yaml
  config/jobs/kubernetes-sigs/kind/kind.yaml
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

Use a switch statement.
  prow/cmd/sinker/main.go
Due: post-test-infra-push-prow

also alert bentheelder
  config/testgrids/config.yaml
Due: none

don't skip report for ipv6
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

don't run tcp closewait test in ipv6 kind job
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

don't skip dynamic PV tests in canary kind jobs
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

add ipv6 canary job
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

Move gce-cos-master-default to release-blocking
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: none

fix kind testgrid groups
  config/testgrids/config.yaml
Due: none

Fix service account name
  experiment/workload-identity/bind-service-accounts.sh
Due: none

Support using workload identity to bake cookies
  .gitignore
  prow/cmd/grandmatriarch/bake.sh
Due: post-test-infra-push-prow

support multiple comma-delimited dirs in COMPONENT_FILE_DIR
  prow/cmd/autobump/bump.sh
  prow/cmd/autobump/example-periodic.yaml
Due: post-test-infra-push-prow

update tide url. (#60)
  prow/config.yaml
Due: post-test-infra-push-prow

releng: Move Release Engineering tools out of experiment/ dir
  BUILD.bazel
  experiment/BUILD.bazel
  releng/BUILD.bazel
  releng/OWNERS
  releng/config-forker/BUILD.bazel
  releng/config-forker/README.md
  releng/config-forker/main.go
  releng/config-forker/main_test.go
  releng/config-rotator/BUILD.bazel
  releng/config-rotator/README.md
  releng/config-rotator/main.go
  releng/generate_tests.py
  releng/generate_tests_test.py
  releng/prepare_release_branch.py
  releng/test_config.yaml
Due: none

experiment: Remove bilge which no longer works with Prow
  experiment/bilge.py
Due: none

Add script for updating generated tests (hack/update-generated-tests.sh)
  config/jobs/README.md
  hack/update-generated-tests.sh
Due: none

Fork kubemark-500 job per release
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: none

Update ingress-nginx jobs
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Due: none

Updated CAPV Prow job config
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Due: none

Use sinker.terminated_pod_ttl
  config/prow/config.yaml
Due: pull-test-infra-gubernator

Azure: make various jobs less flaky
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

Re-enable a test case for Azure serial job
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

Add GCS reporting to Crier.
  prow/BUILD.bazel
  prow/cmd/crier/BUILD.bazel
  prow/cmd/crier/main.go
  prow/gcs/reporter/BUILD.bazel
  prow/gcs/reporter/reporter.go
  prow/gcs/reporter/reporter_test.go
Due: post-test-infra-push-prow

Collect metrics on GitHub requests timeouts
  ghproxy/ghcache/coalesce.go
  ghproxy/ghcache/ghcache.go
  ghproxy/ghmetrics/ghmetrics.go
Due: post-test-infra-push-prow

Add GitHub request timeout rates to monitoring dashboards
  prow/cluster/monitoring/mixins/grafana_dashboards/ghproxy.jsonnet
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Remove release-note-none on PR w/deprecation label
  prow/plugins/releasenote/BUILD.bazel
  prow/plugins/releasenote/releasenote.go
  prow/plugins/releasenote/releasenote_test.go
Due: post-test-infra-push-prow

Separate presubmit and periodic jobs by dashboard on testgrid
  config/jobs/image-pushing/k8s-staging-provider-azure.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blobfuse-csi-driver/blobfuse-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.15.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Due: none

prow/spyglass/README: Fix build-log.txt example indent
  prow/spyglass/README.md
Due: post-test-infra-push-prow

Move test-infra presubmits to annotations
  config/jobs/kubernetes/repo-infra/repo-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/testgrids/config.yaml
Due: none

Move test-infra dashboard to sig-testing
  config/testgrids/config.yaml
  config/testgrids/kubernetes/sig-testing/sig-testing.yaml
  config/testgrids/kubernetes/sig-testing/test-infra.yaml
Due: none

enable race checks for structured-merge-diff
  config/jobs/kubernetes-sigs/structured-merge-diff/structured-merge-diff-ci.yaml
  config/jobs/kubernetes-sigs/structured-merge-diff/structured-merge-diff-presubmits.yaml
Due: none

Use windows-testing instead of private repo for GCE Windows test jobs.
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Due: none

Enable required service on project
  experiment/workload-identity/enable-workload-identity.sh
Due: none

Ensure identity bound successfully
  experiment/workload-identity/bind-service-accounts.sh
  experiment/workload-identity/enable-workload-identity.sh
Due: none

pull-cip-e2e: use new e2e entrypoint path
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
Due: none

Kops - upgrade non-e2e presubmit jobs to pod-utils
  config/jobs/kubernetes/kops/kops-config-podutils.yaml
  config/jobs/kubernetes/kops/kops-config.yaml
Due: none
