Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Due: none

Update prow to v20200625-3f9f11c88f, and other images as necessary.
  config/jobs/kubernetes/org/kubernetes-org-jobs.yaml
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/plank_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Add descheduler e2e to prow jobs
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
Due: pull-test-infra-prow-checkconfig

Make Prow's deploy.sh use RBE in CI.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/deploy.sh
Due: pull-test-infra-prow-checkconfig, post-test-infra-push-prow

Add ingress-nginx jobs to build e2e images
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
Due: pull-test-infra-prow-checkconfig

adding periodic e2e job to test windows containerd azuredisk csi driver
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: pull-test-infra-prow-checkconfig

Refactored common functionality and added basic boskos support
  kubetest2/kubetest2-gce/deployer/BUILD.bazel
  kubetest2/kubetest2-gce/deployer/build.go
  kubetest2/kubetest2-gce/deployer/common.go
  kubetest2/kubetest2-gce/deployer/deployer.go
  kubetest2/kubetest2-gce/deployer/down.go
  kubetest2/kubetest2-gce/deployer/dumplogs.go
  kubetest2/kubetest2-gce/deployer/up.go
Due: none

remove no longer supported 1.15
  config/jobs/kubernetes-sigs/sig-windows/release-1.15-windows.yaml
Due: pull-test-infra-prow-checkconfig

add windows 2004 sac test configuration
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: pull-test-infra-prow-checkconfig

Prow autobump script supports multiple core config files
  prow/cmd/autobump/bump.sh
Due: post-test-infra-push-prow

Update prow to v20200625-dd6a466605, and other images as necessary.
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/plank_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Update to containerd 1.3.5
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-prow-checkconfig

Don't pass 'array' among functions, solving the space in path problem
  prow/cmd/autobump/bump.sh
Due: post-test-infra-push-prow

Revert "Update to containerd 1.3.5"
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-prow-checkconfig

Update ingress-nginx jobs
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Due: pull-test-infra-prow-checkconfig

increase loop device nodes
  config/prow/cluster/create-loop-devs_daemonset.yaml
Due: post-test-infra-deploy-prow

Add a canary job for pull-kubernetes-e2e-gce-ubuntu-containerd
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-prow-checkconfig

assign a logger in repoclient's publisher in git v2
  prow/git/v2/client_factory.go
Due: post-test-infra-push-prow

apply the LoginGetter in ClientFactoryOpts
  prow/git/v2/client_factory.go
Due: post-test-infra-push-prow

Configure kubeflow org to require "cla: yes" label
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Cleanup ingress-nginx jobs
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Due: pull-test-infra-prow-checkconfig

prow: hook: fix defaulting of commandHelpLink property of approve plugin
  prow/plugins/config.go
  prow/plugins/config_test.go
  prow/plugins/plugins.go
Due: post-test-infra-push-prow

fix(config): prepend # to merge_commit_template
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Fixed typo in Peribolos readme
  prow/cmd/peribolos/README.md
Due: post-test-infra-push-prow

Use cross-build ready marker for ci/latest
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Due: pull-test-infra-prow-checkconfig

Update iSCSI test images
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Due: pull-test-infra-prow-checkconfig

Update prow to v20200628-cc1c099dad, and other images as necessary.
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/plank_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Fix autobump: missed a slash
  prow/cmd/autobump/bump.sh
Due: post-test-infra-push-prow

Revert "Don't pass 'array' among functions, solving the space in path problem"
  prow/cmd/autobump/bump.sh
Due: post-test-infra-push-prow

Revert "Prow autobump script supports multiple core config files"
  prow/cmd/autobump/bump.sh
Due: post-test-infra-push-prow

Remove incorrect requirement of JOB_CONFIG_PATH for bump.sh.
  prow/cmd/autobump/bump.sh
Due: post-test-infra-push-prow

Autobumper: fixing path splitting
  prow/cmd/autobump/bump.sh
Due: post-test-infra-push-prow

Update config.yaml
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Apply to kubeflow org
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Fix Ubuntu image family name in storage tests
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Due: pull-test-infra-prow-checkconfig

Enable OOM tracking in periodic 1.15 perf test jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
Due: pull-test-infra-prow-checkconfig

Use cross-build ready marker for ci/latest - 2
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Due: pull-test-infra-prow-checkconfig

Enable OOM tracking in presubmit master perf test jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: pull-test-infra-prow-checkconfig

Enable OOM tracking in presubmit 1.16-1.18 perf test jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
Due: pull-test-infra-prow-checkconfig
