Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:0.4
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

post-test-infra-push-boskos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - boskos/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

post-test-infra-push-kettle:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - kettle/
      env:
  ...

Update testing to pull latest results
  prow/cmd/deck/badge_test.go
Due: post-test-infra-push-prow

Removing un-used comment
  prow/cmd/deck/badge_test.go
Due: post-test-infra-push-prow

PlankV2: Consider cache staleness for MaxConcurrency
  prow/plank/BUILD.bazel
  prow/plank/controller_test.go
  prow/plank/reconciler.go
  prow/plank/reconciler_test.go
Due: post-test-infra-push-prow

Update prow/cmd/deck/badge_test.go
  prow/cmd/deck/badge_test.go
Due: post-test-infra-push-prow

Update badge_test.go
  prow/cmd/deck/badge_test.go
Due: post-test-infra-push-prow

Update COS image from cos-73 to cos-77
  jobs/e2e_node/benchmark-config.yaml
  jobs/e2e_node/containerd/containerd-master/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.2/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.3/image-config.yaml
  jobs/e2e_node/containerd/cri-master/benchmark-config.yaml
  jobs/e2e_node/containerd/cri-master/image-config-pr.yaml
  jobs/e2e_node/containerd/cri-master/image-config.yaml
  jobs/e2e_node/image-config-serial-cpu-manager.yaml
  jobs/e2e_node/image-config-serial.yaml
  jobs/e2e_node/image-config.yaml
Due: none

Update Prow Deck Job badges display order (#17759)
  prow/cmd/deck/badge.go
  prow/cmd/deck/badge_test.go
Due: post-test-infra-push-prow

prow: deck/spyglass: rename gcs structs and variables
  prow/cmd/deck/job_history.go
  prow/cmd/deck/job_history_test.go
  prow/cmd/deck/main.go
  prow/cmd/deck/pr_history.go
  prow/cmd/deck/pr_history_test.go
  prow/spyglass/BUILD.bazel
  prow/spyglass/artifacts.go
  prow/spyglass/lenses/common/common.go
  prow/spyglass/spyglass.go
  prow/spyglass/storageartifact.go
  prow/spyglass/storageartifact_fetcher.go
  prow/spyglass/storageartifact_fetcher_test.go
  prow/spyglass/storageartifact_test.go
Due: post-test-infra-push-prow

prow: deck: deprecate --gcs-no-auth flag
  prow/ANNOUNCEMENTS.md
Due: post-test-infra-push-prow

Update ingress-nginx jobs
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Due: none

Verify package hashes for containerd and Docker
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Due: none

Sensitize Golang CI performance tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Due: none

support multiarch for ibm-heathcheck-operator(recover presubmits) (#176)
  prow/cluster/jobs/IBM/ibm-healthcheck-operator/IBM.ibm-healthcheck-operator.master.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

add multiarch build jobs for ibm-healthcheck-operator. (#177)
  prow/cluster/jobs/IBM/ibm-healthcheck-operator/IBM.ibm-healthcheck-operator.master.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

prow: deck: support for Github enterprise
  prow/cmd/deck/main.go
  prow/cmd/deck/pr_history.go
  prow/cmd/deck/pr_history_test.go
Due: post-test-infra-push-prow

prow: cherrypicker: add Github enterprise support
  prow/git/git.go
Due: post-test-infra-push-prow

prow: fix GHE pagination
  prow/github/client.go
  prow/github/client_test.go
Due: post-test-infra-push-prow

prow: add constants for finished.json and started.json
  experiment/resultstore/BUILD.bazel
  experiment/resultstore/main.go
  prow/apis/prowjobs/v1/types.go
  prow/cmd/deck/job_history.go
  prow/crier/reporters/gcs/reporter.go
  prow/crier/reporters/gcs/reporter_test.go
  prow/initupload/run.go
  prow/sidecar/BUILD.bazel
  prow/sidecar/run.go
  prow/spyglass/artifacts_test.go
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/spyglass.go
  prow/spyglass/storageartifact_fetcher_test.go
  prow/spyglass/storageartifact_test.go
  robots/coverage/downloader/BUILD.bazel
  robots/coverage/downloader/downloader.go
Due: post-test-infra-push-prow

removes un-used method FindOwnersConfigForFile on RepoOwners
  prow/repoowners/repoowners.go
Due: post-test-infra-push-prow

Make pull-kops-verify-hashes pre-submit mandatory
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Due: none

Make pull-kops-verify-hashes pre-submit mandatory v2
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Due: none

Add jobs for kubernetes-sigs/ingress-controller-conformance
  config/jobs/kubernetes-sigs/ingress-controller-conformance/OWNERS
  config/jobs/kubernetes-sigs/ingress-controller-conformance/ingress-controller-conformance.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
Due: none

rename windows upgrade e2e test
  config/testgrids/config.yaml
  config/testgrids/conformance/conformance-all.yaml
Due: none

Make pull-kops-verify-hashes pre-submit mandatory v3
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Due: none

Update prow to v20200601-4efada0619, and other images as necessary.
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind-release-blocking.yaml
  config/jobs/kubernetes-sigs/kind/kind.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/plank_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/cmd/branchprotector/cronjob.yaml
  prow/cmd/checkconfig/testdata/combined.yaml
Due: pull-test-infra-gubernator, post-test-infra-deploy-prow, post-test-infra-push-prow

Skip the periodic SCTP related NetworkPolicy test. The environment of the periodic test execution does not support SCTP in NetworPolicy.
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: none

*: Fix "jUnit" -> "JUnit" typos
  gubernator/README.md
  robots/coverage/docs/design.md
Due: pull-test-infra-gubernator

gubernator/README: 'name' and 'value' are attributes, not child elements
  gubernator/README.md
Due: pull-test-infra-gubernator

prune node e2e OWNERS of known inactive reviewers
  config/jobs/kubernetes/sig-node/OWNERS
  jobs/e2e_node/OWNERS
Due: none

add reviewers to node e2e OWNERS
  config/jobs/kubernetes/sig-node/OWNERS
  jobs/e2e_node/OWNERS
Due: none

Move filteringProwJobLister into JobAgent
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/deck/jobs/BUILD.bazel
  prow/deck/jobs/jobs.go
  prow/deck/jobs/jobs_test.go
  prow/spyglass/BUILD.bazel
  prow/spyglass/spyglass_test.go
Due: post-test-infra-push-prow

Github: Add NewNotFound to aid in testing
  prow/github/client.go
  prow/github/client_test.go
Due: post-test-infra-push-prow

match up test-runs for sig-node-kubelet dashboard tabs
  config/testgrids/kubernetes/sig-node/config.yaml
Due: none

Fix wrong kubemark 100 override location
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: none

run test on windows file change too
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

Kops - add release-1.18 E2E presubmit job
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Due: none

Kops - update milestone applier settings for release-1.18 branch
  config/prow/plugins.yaml
Due: none

update redhat openshift dashboards
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
Due: none

adds stub implementations of FindConfigFileForLabel to plugin test code
  prow/plugins/approve/approve_test.go
  prow/plugins/blunderbuss/blunderbuss_test.go
  prow/plugins/lgtm/lgtm_test.go
  prow/plugins/override/override_test.go
  prow/plugins/owners-label/owners-label_test.go
  prow/plugins/verify-owners/verify-owners_test.go
Due: post-test-infra-push-prow

removes function FindConfigFileForFile as not needed for this requirement
  prow/repoowners/repoowners.go
  prow/repoowners/repoowners_test.go
Due: post-test-infra-push-prow

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
