Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: maintenance-boskos-config-upload, maintenance-ci-testgrid-config-upload, pull-test-infra-gubernator, pull-test-infra-verify-tslint, pull-test-infra-verify-deps, pull-test-infra-verify-labels, post-test-infra-deploy-prow, post-test-infra-push-prow

Path conditions:
  maintenance-boskos-config-upload: any of: ^boskos/.*$
  maintenance-ci-testgrid-config-upload: any of: ^testgrid/.*$
  pull-test-infra-gubernator: any of: gubernator|prow/config.yaml
  pull-test-infra-verify-tslint: any of: \.ts$
  pull-test-infra-verify-deps: any of: ^(go\.mod|go\.sum|WORKSPACE|BUILD\.bazel|hack/verify-deps\.sh|hack/update-deps\.sh|vendor/.*)$
  pull-test-infra-verify-labels: any of: ^label_sync/labels.yaml
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/

Update all cluster-api images to latest kubekins-e2e 1.15
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Due: none

Enable mixins for prow-monitoring
  WORKSPACE
  prow/monitoring/BUILD.bazel
  prow/monitoring/grafana_configmaps.yaml
  prow/monitoring/mixins/.gitignore
  prow/monitoring/mixins/Makefile
  prow/monitoring/mixins/dashboards_out/BUILD.bazel
  prow/monitoring/mixins/grafana_dashboards/BUILD.bazel
  prow/monitoring/mixins/grafana_dashboards/tide.jsonnet
  prow/monitoring/mixins/jsonnetfile.json
  prow/monitoring/mixins/vendor/grafonnet/BUILD.bazel
Due: pull-test-infra-verify-deps, post-test-infra-push-prow

Generate more dashboards via mixins
  prow/monitoring/mixins/dashboards_out/BUILD.bazel
  prow/monitoring/mixins/grafana_dashboards/BUILD.bazel
  prow/monitoring/mixins/grafana_dashboards/deck.jsonnet
  prow/monitoring/mixins/grafana_dashboards/ghproxy.jsonnet
  prow/monitoring/mixins/grafana_dashboards/hook.jsonnet
  prow/monitoring/mixins/grafana_dashboards/plank.jsonnet
  prow/monitoring/mixins/grafana_dashboards/prow.jsonnet
  prow/monitoring/mixins/grafana_dashboards/sinker.jsonnet
Due: post-test-infra-push-prow

Allow users to opt out of branch protection with jobs
  prow/config/branch_protection.go
Due: post-test-infra-push-prow

Include host in kubectl command.
  prow/cmd/deck/static/prow/prow.ts
Due: pull-test-infra-verify-tslint, post-test-infra-push-prow

Add Exclude field to branch protection policy
  prow/config/branch_protection.go
  prow/config/branch_protection_test.go
Due: post-test-infra-push-prow

Do not protect branches matching policy's Exclude
  prow/cmd/branchprotector/protect.go
  prow/cmd/branchprotector/protect_test.go
Due: post-test-infra-push-prow

Add alvaroaleman as prow reviewer
  prow/OWNERS
Due: post-test-infra-push-prow

Use decorate for pull-community-verify
  config/jobs/kubernetes/community/community-presubmit.yaml
Due: none

flip github reporter to crier v2
  prow/cluster/crier_deployment.yaml
  prow/cluster/plank_deployment.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Refactoring of Testgrid Readme Files
  testgrid/README.md
  testgrid/build_test_update.md
  testgrid/config.md
Due: maintenance-ci-testgrid-config-upload

Adds fake mason
  boskos/BUILD.bazel
Due: maintenance-boskos-config-upload

Adds aws, update prow jobs
  boskos/BUILD.bazel
  boskos/Makefile
  boskos/cloudbuild.yaml
  boskos/push.sh
  boskos/variants.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  maintenance/aws-janitor/BUILD.bazel
  maintenance/aws-janitor/Dockerfile
Due: maintenance-boskos-config-upload

Use bazel to create boskos images
  WORKSPACE
  boskos/BUILD.bazel
  boskos/Dockerfile
  boskos/Makefile
  boskos/janitor/BUILD.bazel
  boskos/janitor/Dockerfile
  boskos/metrics/BUILD.bazel
  boskos/metrics/Dockerfile
  boskos/reaper/BUILD.bazel
  boskos/reaper/Dockerfile
Due: maintenance-boskos-config-upload, pull-test-infra-verify-deps

Use prow_image
  boskos/BUILD.bazel
  boskos/janitor/BUILD.bazel
  boskos/mason/fake-mason/BUILD.bazel
  boskos/metrics/BUILD.bazel
  boskos/push.sh
  boskos/reaper/BUILD.bazel
Due: maintenance-boskos-config-upload

add IPv6 CI!!! (using kind)
  config/jobs/kubernetes-sigs/kind/kind.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Enable release note bugging for kubernetes-sigs/gcp-compute-persistent-disk-csi-driver
  prow/plugins.yaml
Due: post-test-infra-push-prow

Minor documentation update to boskos readme
  boskos/README.md
Due: maintenance-boskos-config-upload

add kind ipv6 parallel job
  config/jobs/kubernetes-sigs/kind/kind.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

update some of our readmes
  README.md
  config/README.md
  config/jobs/README.md
  config/tests/jobs/README.md
  docs/kubernetes-versions.md
  prow/jobs.md
Due: post-test-infra-push-prow

Revert "Use decorate for pull-community-verify"
  config/jobs/kubernetes/community/community-presubmit.yaml
Due: none

Update aks-engine version to v0.37.3
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

Skip "Simple pod should support exec using resource/name"
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

Implement Support for Dynamic resources.
  boskos/common/common.go
  boskos/crds/resource_crd.go
  boskos/ranch/ranch.go
  boskos/ranch/storage.go
Due: maintenance-boskos-config-upload

Fix build and test
  boskos/BUILD.bazel
  boskos/boskos.go
  boskos/boskos_test.go
  boskos/client/client.go
  boskos/crds/crd_storage.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/mason/storage.go
  boskos/mason/test-configs.yaml
  boskos/mason/test-resources.yaml
  boskos/ranch/BUILD.bazel
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
  boskos/ranch/storage.go
  boskos/server_client_test.go
  boskos/storage/storage.go
  boskos/storage_test.go
Due: maintenance-boskos-config-upload

kubeadm: update the kind master jobs to build from source
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
Due: none

added back release-1.10 to the protected branch list
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-push-prow

Expose blocker issues in tide status contexts
  prow/tide/BUILD.bazel
  prow/tide/blockers/blockers.go
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
Due: post-test-infra-push-prow

Update ingress-nginx jobs
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

feat: reword the hint for cherry pick
  prow/plugins/config.go
  prow/plugins/config_test.go
Due: post-test-infra-push-prow

add logs to tell which pod has cluster alias issues
  prow/plank/controller.go
Due: post-test-infra-push-prow

bump vsphere ci image
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Due: none

Change command patterns for setting and removing
  prow/plugins/project/project.go
  prow/plugins/project/project_test.go
Due: post-test-infra-push-prow

Updating k/website branch protection for 1.15 (#13109)
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-push-prow

Add google analytics tracking to job YAML link on spyglass.
  prow/cmd/deck/template/spyglass.html
Due: post-test-infra-push-prow

Move config validation code to ranch
  boskos/BUILD.bazel
  boskos/boskos_test.go
  boskos/ranch/BUILD.bazel
  boskos/ranch/ranch.go
  boskos/ranch/storage.go
Due: maintenance-boskos-config-upload

prow: Update cherry pick comment
  prow/plugins/config.go
  prow/plugins/config_test.go
Due: post-test-infra-push-prow
