Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Fix build_grid.py filename reference
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Create grid jobs for k8s 1.18 + kubenet and kopeio
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Directly write to gzip from make_json Encode debugging for unicode failure
  kettle/make_json.py
  kettle/stream.py
  kettle/update.py
Due: post-test-infra-push-kettle

Add kops stable and centos dashboards
  config/testgrids/kubernetes/kops/config.yaml
Due: none

Added a dashboard tab for OVF export E2E tests (ci-ovf-export-e2e-tests-daily) to google-gce-compute-image-tools
  config/testgrids/config.yaml
Due: none

pylint
  config/jobs/kubernetes/kops/build_distros.py
  config/jobs/kubernetes/kops/build_grid.py
Due: none

aws-encryption-provider: update to go 1.15
  config/jobs/kubernetes-sigs/aws-encryption-provider/presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add KubeVirt testgrid defaults
  config/testgrids/kubevirt/default.yaml
Due: none

Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kops - Increase frequency of the upgrade test
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

feat: enabled release notes for CAPA
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

rename moa jobs to use new product name rosa
  config/testgrids/openshift/dedicated.yaml
Due: none

Update presets to use DO spaces for kops e2e tests
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presets.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

disable hostport test for dual-stack
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

releng: Re-enable a bootstrap build job for K8s Infra
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Added dashboard for OVF export E2E tests (ci-ovf-export-e2e-tests-daily) to google-gce-compute-image-tools
  config/testgrids/conformance/conformance-all.yaml
Due: none

update go version to 1.15.7 (#294)
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: post-test-infra-push-prow

Update OpenShift testgrid definitions by auto-testgrid-generator job at Wed, 03 Feb 2021 00:01:39 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.8-informing.yaml
Due: none

Add omitempty tag
  prow/github/types.go
Due: post-test-infra-push-prow

migrate all events to server.go file
  prow/hook/events.go
  prow/hook/server.go
Due: post-test-infra-push-prow

refactor hook tests to use the github event server
  prow/githubeventserver/githubeventserver.go
  prow/hook/hook_test.go
  prow/hook/server_test.go
Due: post-test-infra-push-prow

Update TestGrid for kyma
  config/testgrids/kyma/gen-config.yaml
Due: none

refactor hook to use the github event server instead
  prow/cmd/hook/main.go
  prow/cmd/hook/main_test.go
  prow/hook/server.go
Due: post-test-infra-push-prow

update bazel
  prow/hook/BUILD.bazel
Due: post-test-infra-push-prow

labels_sync: allow setting org-level labels
  label_sync/BUILD.bazel
  label_sync/labels_example.yaml
  label_sync/main.go
  label_sync/main_test.go
Due: post-test-infra-push-prow

Try using bazel3.4.1
  .bazelversion
Due: none

Added the mandatory fields required to validate GinkgoTester. Fixed a yaml file regex issue
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  kubetest/aksengine.go
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-kubekins-e2e

Install bazel 3.1.0 on krte and kubekins-e2e images on a new variant test-infra
  images/kubekins-e2e/variants.yaml
Due: post-test-infra-push-kubekins-e2e

update image used by cluster-api-provider-azure
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Make prometheus alerts rule for ci absent configurable
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/ci_absent_alerts.libsonnet
Due: post-test-infra-deploy-prow

Revert "releng: Re-enable a bootstrap build job for K8s Infra"
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Thu, 04 Feb 2021 00:01:40 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
Due: none

Create new preset file for DO spaces usage
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presets.yaml
  config/jobs/kubernetes/kops/kops-presets-do.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Ensure correct go binary is on update-codegen.sh path
  hack/update-codegen.sh
Due: none

Update to repo-infra v0.2.0 and bazel 3.4.1
  .bazelrc
  .bazelversion
  WORKSPACE
  def/ts.bzl
  go.mod
  go.sum
  gopherage/cmd/html/static/BUILD.bazel
  hack/BUILD.bazel
  hack/update-deps.sh
  load.bzl
  package.json
  prow/cmd/deck/static/BUILD.bazel
  prow/cmd/deck/static/pr/pr.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/plugins/buildifier/buildifier.go
  prow/spyglass/lenses/BUILD.bazel
  prow/spyglass/lenses/buildlog/BUILD.bazel
  prow/spyglass/lenses/coverage/BUILD.bazel
  prow/spyglass/lenses/coverage/template.html
  prow/spyglass/lenses/junit/BUILD.bazel
  prow/spyglass/lenses/metadata/BUILD.bazel
  prow/spyglass/lenses/podinfo/BUILD.bazel
  prow/spyglass/lenses/restcoverage/BUILD.bazel
  prow/spyglass/write-a-lens.md
  prow/test/BUILD.bazel
  prow/test/integration/fakeghserver/BUILD.bazel
  prow/test/integration/test/crier_test.go
  prow/test/integration/test/overall_test.go
  repos.bzl
  triage/BUILD.bazel
  yarn.lock
Due: post-test-infra-push-prow, post-test-infra-push-triage

Reenable OOM tracker in 5k scalability job
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Check leaked resources in presubmits
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kubernetes-csi: fix snapshotter for periodic on-kubernetes-1-20
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig
