Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:v20200824-5d057db
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201030-914f29394d
      command:
      - /checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

post-test-infra-push-boskos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - boskos/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

distill the networkpolicy job targets
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

sig-network-misc job for network policies, first fixes
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

extract local
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

align netpol w/ ipvs job, dedupe, no leak check
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update sig-network-misc.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Snat tests arent happy - for now decouple networkpolicy job from them
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove kube-state-metrics gh-pages branch status checks
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

snat comment
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Spacing and var name
  kettle/stream.py
Due: post-test-infra-push-kettle

fix snat and lb tests
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Don't protect aws-{fsx/efs}-csi-driver gh-pages branches
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Loadbalancing tag
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update cloud-provider-aws-config.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Fix indenting on cloudbuild.yaml for generic autobumper
  experiment/autobumper/cloudbuild.yaml
Due: none

Add substitutions to cloudbuild.yaml for autobumper
  experiment/autobumper/cloudbuild.yaml
Due: none

Noop whitespace change to trigger image publishing postsubmits.
  experiment/autobumper/README.md
  pkg/benchmarkjunit/README.md
Due: none

Github v4: Remove unnecesary lock that causes deadlock
  prow/github/client.go
Due: post-test-infra-push-prow

Add cgo env info to cloudbuild file for autobumper
  experiment/autobumper/cloudbuild.yaml
Due: none

Make build target match with dockerfile for autobumper
  experiment/autobumper/cloudbuild.yaml
Due: none

Add EKS-D to list of projects using Prow
  prow/README.md
Due: post-test-infra-push-prow

Use Calico CNI for frequent tests
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

upgrade go version for build check tool images.
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: post-test-infra-push-prow

Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Due: none

cloud-provider-aws: don't protect gh-pages
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Skip the runtime class test for frequent tests with containerd
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Fix an extremely rare race in the GitHub reporter.
  prow/crier/reporters/github/reporter.go
  prow/crier/reporters/github/reporter_test.go
Due: post-test-infra-push-prow

Fix job description typo
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Cleanup configs WhiteList & BranchWhiteList
  prow/ANNOUNCEMENTS.md
  prow/plugins/config.go
Due: post-test-infra-push-prow

add UltraSSDEnabled in aks-engine kubetest
  kubetest/aksengine_helpers.go
Due: post-test-infra-push-kubekins-e2e

fix for UT
  prow/plugins/plugin-config-documented.yaml
Due: post-test-infra-push-prow

GithubV4: Properly set User-Agent header
  prow/github/BUILD.bazel
  prow/github/client.go
  prow/github/client_test.go
Due: post-test-infra-push-prow

Fix memory leaks in pubsub reporter.
  prow/crier/reporters/pubsub/reporter.go
Due: post-test-infra-push-prow

Make day lengths global to avoid accidently unsyncing databases
  kettle/update.py
Due: post-test-infra-push-kettle

line length
  kettle/update.py
Due: post-test-infra-push-kettle

Update week to seven days
  kettle/update.py
Due: post-test-infra-push-kettle

Kops - update experimental kubetest2 job to use repo's makefile
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

remove azure-disk-vmss-ccm test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Renaming GCI tabs to COS
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

explicitly disable device manager test for windows
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Ensure merge_kubeconfig_secret.py cannot use kubectl's current-context.
  gencred/merge_kubeconfig_secret.py
Due: none

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
