Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: maintenance-boskos-config-upload, maintenance-ci-testgrid-config-upload, pull-test-infra-gubernator, pull-test-infra-verify-tslint, pull-test-infra-verify-deps, pull-test-infra-verify-labels, post-test-infra-deploy-prow, post-test-infra-push-prow

Path conditions:
  maintenance-boskos-config-upload: any of: ^boskos/.*$
  maintenance-ci-testgrid-config-upload: any of: ^testgrid/.*$
  pull-test-infra-gubernator: any of: gubernator|prow/config.yaml
  pull-test-infra-verify-tslint: any of: \.ts$
  pull-test-infra-verify-deps: any of: ^(go\.mod|go\.sum|WORKSPACE|BUILD\.bazel|hack/verify-deps\.sh|hack/update-deps\.sh|vendor/.*)$
  pull-test-infra-verify-labels: any of: ^label_sync/labels.yaml
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/

Update Bug state only when necessary
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Due: post-test-infra-push-prow

adding optional presubmit verify job
  config/jobs/kubernetes/release/release-config.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

pull-release-verify Job Failing #756
  config/jobs/kubernetes/release/release-config.yaml
Due: none

Use 0.26.1 bazel version for peribolos
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: none

Ensure pull-release-verify securityContext is on container
  config/jobs/kubernetes/release/release-config.yaml
Due: none

Add CPU resource request for CAPV presubmit
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Due: none

Update go modules
  go.mod
  go.sum
  repos.bzl
Due: pull-test-infra-verify-deps

Add JenkinsX agent to the configuration
  prow/apis/prowjobs/v1/types.go
  prow/config/config.go
Due: post-test-infra-push-prow

Validate that no pod spec, build_spec or pipeline_run_spec is defined in config for jenkins-x agent
  prow/config/BUILD.bazel
  prow/config/config.go
  prow/config/config_test.go
Due: post-test-infra-push-prow

Update dependencies to get the build passing
  go.mod
  go.sum
  repos.bzl
Due: pull-test-infra-verify-deps

fix(docs): Fix a link in README
  kubetest/README.md
Due: none

Add kind-conformance-latest-1-14-arm64 testgrid config
  kettle/buckets.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Log information at info level
  prow/flagutil/bugzilla.go
Due: post-test-infra-push-prow

Update prow to v20190628-eb4a10930, and other images as necessary.
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/pipeline_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/cmd/branchprotector/cronjob.yaml
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-deploy-prow, post-test-infra-push-prow

Document prow presets
  config/jobs/README.md
  prow/jobs.md
Due: post-test-infra-push-prow

Update ingress-nginx jobs
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Due: none

Optionally add pull requests to Bugzilla external trackers
  prow/bugzilla/OWNERS
  prow/bugzilla/client.go
  prow/bugzilla/client_test.go
  prow/bugzilla/fake.go
  prow/bugzilla/types.go
  prow/plugins/bugzilla/OWNERS
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
  prow/plugins/config.go
Due: post-test-infra-push-prow

ensure decoration config is pointed at the private bucket for kubernetes-security
  config/jobs/kubernetes-security/genjobs.go
Due: none

hack/update-config.sh
  config/jobs/kubernetes-security/generated-security-jobs.yaml
Due: none

make rbe better
  rbe/install-k8s-prow-builds.sh
  rbe/install-k8s-prow.sh
  rbe/install.sh
Due: none

Giving a very high priority.
  prow/cluster/starter.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Updating the ingress controller.
  prow/cluster/starter.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

redirect the URI.
  prow/cluster/starter.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Update config.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Update deployment apiversion.
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/pushgateway_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

modify the corresponding aks-engine version to latest (on 2019-07-02)
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-azure/sig-azure-config.yaml
Due: none

bump: aks-engine to v0.37.4
  config/jobs/kubernetes/sig-azure/sig-azure-config.yaml
Due: none

Enable kube-proxy scrapping in perf-tests' presubmit.
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: none

increasing gce load test qps to 20
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: none

flipped to report both presubmit and postsubmit jobs by default
  prow/ANNOUNCEMENTS.md
  prow/config/config.go
  prow/config/config_test.go
Due: post-test-infra-push-prow

Making k/r verify job required
  config/jobs/kubernetes/release/release-config.yaml
Due: none

Use correct parameter field name in JSONRPC calls
  prow/bugzilla/client.go
  prow/bugzilla/client_test.go
Due: post-test-infra-push-prow

Parse out JSONRPC errors, comment conditionally on update
  hack/verify-spelling.sh
  prow/bugzilla/client.go
  prow/bugzilla/client_test.go
  prow/bugzilla/fake.go
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Due: post-test-infra-push-prow

Add CEL conformance test bucket
  kettle/buckets.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Use pip to import ruamel_yaml, #13162
  experiment/BUILD.bazel
  hack/BUILD.bazel
  requirements.txt
Due: none

mkpj: simplify defaulting
  prow/cmd/mkpj/main.go
Due: post-test-infra-push-prow

mkpj: get org/repo from generated job spec
  prow/cmd/mkpj/main.go
Due: post-test-infra-push-prow

mkpj: reduce number of local variables
  prow/cmd/mkpj/main.go
Due: post-test-infra-push-prow
