Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:0.4
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

post-test-infra-push-boskos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - boskos/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

post-test-infra-push-kettle:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - kettle/
      env:
  ...

support e2e running in release-0.5 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Due: none

Image Promoter: Adds Windows certs for the k/k e2e test images job
  config/jobs/image-pushing/k8s-staging-e2e-test-images.yaml
Due: none

Fix ssh user for RHEL8 image
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-network-plugins.yaml
Due: none

Revert "support e2e running in release-0.5 branch"
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Due: none

config-bootstrapper: allow for multiple source roots
  prow/cmd/config-bootstrapper/main.go
  prow/cmd/config-bootstrapper/main_test.go
Due: post-test-infra-push-prow

Change image for network plugins to Ubuntu 18.04
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-network-plugins.yaml
Due: none

Update the image for Ubuntu 18.04 test
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-distros.yaml
Due: none

Change user to "ubuntu" for network plugins tests
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-network-plugins.yaml
Due: none

Make GCE Windows versions explicit, add Windows 1909 job.
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Due: none

Shorten plank timeouts.
  config/prow/config.yaml
Due: pull-test-infra-gubernator

Enable podinfo lens.
  config/prow/config.yaml
Due: pull-test-infra-gubernator

Use python2.7 as the python2 interpreter.
  WORKSPACE
Due: none

testgrids: update OpenShift configuration
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
Due: none

disable gke presubmit job for sig-storage-local-static-provisioner
  config/jobs/kubernetes-sigs/sig-storage-local-static-provisioner/sig-storage-local-static-provisioner.yaml
Due: none

Add test result properties from the junit xml report as target properties in each resultstore's invocation. Adding unit test to verify the conversion between artifacts and resultstore client.
  experiment/resultstore/BUILD.bazel
  experiment/resultstore/convert.go
  experiment/resultstore/convert_test.go
Due: none

Add dashboard for Boskos HTTP metrics
  prow/cluster/monitoring/grafana_deployment.yaml
  prow/cluster/monitoring/mixins/dashboards_out/BUILD.bazel
  prow/cluster/monitoring/mixins/grafana_dashboards/BUILD.bazel
  prow/cluster/monitoring/mixins/grafana_dashboards/boskos-http.jsonnet
  prow/cluster/monitoring/mixins/lib/config.libsonnet
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Add missing bazel reference to boskos-http dashboard.
  prow/cluster/monitoring/BUILD.bazel
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Add a virtual kubelet node to test cluster autoscaler.
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

update tektoncd/pipeline to 0.10.1
  go.mod
  go.sum
  kubetest/BUILD.bazel
  prow/cmd/pipeline/BUILD.bazel
  prow/cmd/pipeline/controller.go
  prow/cmd/pipeline/controller_test.go
  prow/cmd/pipeline/main.go
  prow/config/config_test.go
  repos.bzl
Due: post-test-infra-push-prow, post-test-infra-push-kubekins-e2e

KOPS - Add E2E periodic job for testing the Lyft CNI
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-network-plugins.yaml
Due: none

onboard ibm-mt-grqenforcer-operator. (#85)
  prow/cluster/jobs/IBM/ibm-mt-grqenforcer-operator/IBM.ibm-mt-grqenforcer-operator.master.yaml
  prow/config.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Add following dashboard tabs under https://k8s-testgrid.appspot.com/conformance-all: Oracle Cloud Infrastructure, v1.15 (release)
  config/testgrids/conformance/conformance-all.yaml
Due: none

Support for NAT in GKE clusters
  kubetest/gke.go
Due: post-test-infra-push-kubekins-e2e

Use newest gcloud build in gce-cos-1.16-scalability-100 job
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
Due: none

Add Github labels for repo git.k8s.io/k8s.io
  label_sync/labels.md
  label_sync/labels.yaml
Due: post-test-infra-push-prow

Extend retryCmd with configurable retry and bo factor
  prow/git/git.go
  prow/git/git_test.go
Due: post-test-infra-push-prow

Add failure hints to the summary/metadata lens.
  prow/spyglass/lenses/metadata/BUILD.bazel
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/lenses/metadata/style.css
  prow/spyglass/lenses/metadata/template.html
Due: post-test-infra-push-prow

Add hint unit tests.
  prow/spyglass/lenses/metadata/BUILD.bazel
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/lenses/metadata/lens_test.go
Due: post-test-infra-push-prow

Remove 1.17 and 1.16 jobs from sig-release-master-informing
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Due: none

explicitly search for "repo" in "UpdatePR"
  robots/pr-creator/updater/updater.go
Due: none

Add rbac rules so crier can read pods
  prow/cluster/crier_rbac.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Add sudo on base image
  images/bootstrap/Dockerfile
Due: post-test-infra-push-bootstrap

Use Existing Dashboard For Descheduler Image Push Job
  config/jobs/image-pushing/k8s-staging-descheduler.yaml
Due: none

replace rh-ibm-synergy/multicloud-operators-foundation import path (#86)
  prow/cluster/jobs/rh-ibm-synergy/multicloud-operators-foundation/rh-ibm-synergy.multicloud-operators-foundation.master.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Validate cluster before starting e2e
  kubetest/kops.go
Due: post-test-infra-push-kubekins-e2e

Revert "Use newest gcloud build in gce-cos-1.16-scalability-100 job"
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
Due: none

Increase CAPA k8s CI timeout to 3h
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
Due: none

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
