Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:v20200824-5d057db
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201030-914f29394d
      command:
      - /checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

post-test-infra-push-boskos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - boskos/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

Allow k8s GCS reporter to timeout from API server requests.
  prow/crier/reporters/gcs/kubernetes/reporter.go
  prow/crier/reporters/gcs/kubernetes/reporter_test.go
Due: post-test-infra-push-prow

Allow Gerrit controller to timeout from API server requests.
  prow/crier/reporters/gerrit/reporter.go
Due: post-test-infra-push-prow

Allow Crier to timeout from fetching/updating PJ.
  prow/crier/controller.go
Due: post-test-infra-push-prow

Increase GCS reporter timeout 10-20s.
  prow/crier/reporters/gcs/reporter.go
Due: post-test-infra-push-prow

Allow pubsub reporter to timeout from publishing.
  prow/crier/reporters/pubsub/reporter.go
Due: post-test-infra-push-prow

Make crier.ReportClient interface use contexts.
  prow/crier/controller.go
  prow/crier/controller_test.go
  prow/crier/reporters/gcs/kubernetes/reporter.go
  prow/crier/reporters/gcs/kubernetes/reporter_test.go
  prow/crier/reporters/gcs/reporter.go
  prow/crier/reporters/gcs/reporter_test.go
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
  prow/crier/reporters/github/reporter.go
  prow/crier/reporters/github/reporter_test.go
  prow/crier/reporters/pubsub/reporter.go
  prow/crier/reporters/pubsub/reporter_test.go
  prow/crier/reporters/slack/reporter.go
  prow/crier/reporters/slack/reporter_test.go
  prow/pubsub/subscriber/subscriber.go
  prow/pubsub/subscriber/subscriber_test.go
Due: post-test-infra-push-prow

Update Crier OWNERS file.
  prow/crier/OWNERS
Due: post-test-infra-push-prow

skip cloud provider tests for network policies
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update ingress-nginx test image
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add test job for service-api tests
  config/jobs/kubernetes-sigs/service-apis/service-apis-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

resource request for network policy job
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add signoff to bumper experiment
  experiment/autobumper/bumper/bumper.go
Due: none

Make staging PubSub that mirrors kettle subscription
  kettle/update.py
Due: post-test-infra-push-kettle

Change autobumper to allow it to create multiple PRs without overriding
  config/prow/autobump-config.yaml
  experiment/autobumper/README.md
  experiment/autobumper/bumper/bumper.go
  experiment/autobumper/bumper/bumper_test.go
  robots/pr-creator/updater/updater.go
Due: none

WIP: Add Cloud Function to Stream build results to BQ
  kettle/CloudFunctions/README.md
  kettle/CloudFunctions/helloworld.go
Due: post-test-infra-push-kettle

Kops - don't generate jobs for k8s versions newer than the kops version
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove deprecated configs `WhiteList` and `BranchWhiteList` in `Slack.MergeWarnings` (#20345)
  prow/ANNOUNCEMENTS.md
  prow/plugins/config.go
  prow/plugins/plugin-config-documented.yaml
Due: post-test-infra-push-prow

GHProxy: Manage cache metrics for v4 api
  ghproxy/ghcache/coalesce.go
Due: post-test-infra-push-prow

Add pull-ova-all ci prow job for image-builder
  config/jobs/kubernetes-sigs/image-builder/image-builder-ova-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 05 Jan 2021 00:01:09 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
Due: none

Decreasing netpol parallel jobs
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remote tpepper from sig-release-leads
  OWNERS_ALIASES
Due: none

Add hasheddan to sig-release-leads
  OWNERS_ALIASES
Due: none

Kops - Add miscelaneous grid jobs to kops-misc dashboard
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kops grid - skip containerd + non-CNI combination
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Change the aks-engine api model manifest of azuredisk test
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

change image pull policy: always -> ifnotpresent
  config/jobs/kubernetes/sig-instrumentation/verify-govet-levee.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update env
  jobs/e2e_node/containerd/containerd-master/env
Due: none

prow: bugzilla: try to digest Bugzilla error message
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Due: post-test-infra-push-prow

Update gcr.io/k8s-prow/ to v20210105-c50d055243, gcr.io/k8s-staging-boskos/ to v20210104-cfe3c3d, and gcr.io/k8s-testimages/, as needed
  config/jobs/kubernetes-sigs/image-builder/image-builder-ova-presubmits.yaml
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/janitors.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/boskos-janitor.yaml
  config/prow/cluster/boskos-reaper_deployment.yaml
  config/prow/cluster/boskos.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

use bazel:latest-kubernetse-master in repo-infra
  config/jobs/kubernetes/repo-infra/repo-infra-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

azure: remove --ginkgo.flakeAttempts=2
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Filter on subscription to avoid check in code
  kettle/stream.py
Due: post-test-infra-push-kettle

Trigger: Retry ProwJob creation
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/push.go
  prow/plugins/trigger/trigger.go
  prow/plugins/trigger/trigger_test.go
Due: post-test-infra-push-prow

Add a metric for client creation failures
  prow/flagutil/BUILD.bazel
  prow/flagutil/kubernetes_cluster_clients.go
Due: post-test-infra-push-prow

Update OpenShift testgrid definitions by auto-testgrid-generator job at Wed, 06 Jan 2021 00:02:57 UTC
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.7-informing.yaml
Due: none

Add unittests base for cloud functions
  kettle/CloudFunctions/helloworld.go
  kettle/CloudFunctions/helloworld_test.go
Due: post-test-infra-push-kettle

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
