Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:v20200824-5d057db
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201030-914f29394d
      command:
      - /checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

post-test-infra-push-boskos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - boskos/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

added secondary github-graphql-endpoint
  config/prow/cluster/starter-s3.yaml
Due: post-test-infra-deploy-prow

Update starter-gcs.yaml
  config/prow/cluster/starter-gcs.yaml
Due: post-test-infra-deploy-prow

Upgrade kustomize build to Go 1.15
  config/jobs/kubernetes-sigs/kustomize/kustomize-presubmit-master.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Change aks-engine manifest
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

releng: Bump k8s-ci-builder to v20201128-v0.6.0-6-g6313f696-default
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Fix panic issues when &OrchestratorProfile is not set in aks-engine manifest
  kubetest/aksengine.go
Due: post-test-infra-push-kubekins-e2e

upgrade golang version for building images. (#268)
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: post-test-infra-push-prow

update building images. (#269)
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.master.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Enabling logging k8s.io/perf-tests commit history
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update kubeflow-postsubmits.yaml
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Metrics also collects prow version timestamp
  prow/kube/BUILD.bazel
  prow/kube/metrics.go
  prow/version/doc.go
Due: post-test-infra-push-prow

CAPZ: update milestone applier to v0.4.11
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Log debug
  prow/jenkins/controller.go
  prow/kube/metrics.go
  prow/plank/controller.go
  prow/plank/reconciler.go
Due: post-test-infra-push-prow

Add a unit test
  prow/version/BUILD.bazel
  prow/version/doc_test.go
Due: post-test-infra-push-prow

releng: Update image promo presubmit/periodic jobs to use v3.0.0 image
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

make a copy of pull-kube-storage-version-migrator-manually-launched-e2e
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

pin a custom branch
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Github: Plug through org information for project endpoints
  prow/github/client.go
  prow/github/fakegithub/fakegithub.go
  prow/plugins/project/project.go
  prow/plugins/projectmanager/projectmanager.go
Due: post-test-infra-push-prow

Revert "Update image promo presubmit/periodic jobs to use v3.0.0 image"
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add adr-required label for CAPA
  label_sync/labels.md
  label_sync/labels.yaml
Due: post-test-infra-push-prow

releng: Add 1.20 and remove 1.16 milestone_applier rules
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

releng: Update kubekins-e2e variants.yaml with 1.20 config
  images/kubekins-e2e/variants.yaml
Due: post-test-infra-push-kubekins-e2e

releng: Add Slack exempt_branches rule for release-1.20 branch
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

releng: Enable milestone restrictions for release-1.20 branch
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update TestGrid for kyma
  config/testgrids/kyma/gen-config.yaml
Due: none

Clean up label_sync useless code
  label_sync/main.go
  label_sync/main_test.go
Due: post-test-infra-push-prow

capg: use ci-e2e.sh until new script is ready
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

capg: add cpanato to the owners file
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/OWNERS
Due: none

capg: not run conformance for All PRs and make e2e mandatory
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

capg: update interval for periodic conformance tests to 12 hours
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Github: Plug through org information for teams endpoints
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/types_test.go
  prow/cmd/deck/main.go
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
  prow/github/client.go
  prow/github/client_test.go
  prow/github/fakegithub/fakegithub.go
  prow/plugins/lgtm/lgtm.go
  prow/plugins/milestone/milestone.go
  prow/plugins/milestonestatus/milestonestatus.go
  prow/plugins/override/override.go
  prow/plugins/override/override_test.go
  prow/plugins/project/project.go
Due: post-test-infra-push-prow

Revert "Prepare config-forker for unique names in prow"
  releng/config-forker/BUILD.bazel
  releng/config-forker/README.md
  releng/config-forker/main.go
  releng/config-forker/main_test.go
Due: none

Add vi to base image for dubugging
  kettle/Dockerfile
Due: post-test-infra-push-kettle

Github: Add some app-related methods
  prow/github/client.go
  prow/github/types.go
Due: post-test-infra-push-prow

releng/prepare_release_branch.py: Fixups
  releng/prepare_release_branch.py
Due: none

Set periodic-kubernetes-bazel-test-master to fork, not the canary
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

releng: Update 1.16 `prowImage` to workaround rotation bug
  releng/test_config.yaml
Due: none

releng: Add 1.20 dashboard groups/tabs, drop 1.16
  config/jobs/kubernetes-sigs/sig-windows/release-1.16-windows.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
