Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Add DecorateAllJobs option to job config
  config/tests/jobs/jobs_test.go
  prow/cmd/checkconfig/main.go
  prow/config/config.go
  prow/config/config_test.go
  prow/config/jobs.go
  releng/config-forker/main.go
  releng/config-forker/main_test.go
Due: post-test-infra-push-prow

Add announcement for the new decorate_all_jobs field.
  prow/ANNOUNCEMENTS.md
Due: post-test-infra-push-prow

migrate kind presubmits to podutils
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Due: none

Migrate KIND jobs to podutils
  config/jobs/kubernetes-sigs/kind/kind.yaml
Due: none

use krte in kind podutils jobs
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind.yaml
Due: none

Fix typo in CL2_ALLOWED_SLOW_API_CALLS param
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: none

fix kind periodic jobs migration
  config/jobs/kubernetes-sigs/kind/kind.yaml
Due: none

Just moving code around
  prow/cmd/deck/localdata/.gitignore
  prow/cmd/deck/main.go
  prow/cmd/deck/runlocal
Due: post-test-infra-push-prow

Deck runlocal supports dynamic job listing
  prow/cmd/deck/main.go
  prow/cmd/deck/runlocal
Due: post-test-infra-push-prow

use latest kind binaries for ci jobs
  config/jobs/kubernetes-sigs/kind/kind.yaml
Due: none

remove ci-kind jobs timeouts
  config/jobs/kubernetes-sigs/kind/kind.yaml
Due: none

config agent: improvements based on review
  prow/config/agent.go
Due: post-test-infra-push-prow

Fix typo.
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Due: none

Run [Windows] tests in GCE.
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Due: none

Update based on code review
  prow/cmd/deck/main.go
Due: post-test-infra-push-prow

GCSConfiguration merging: Avoid assigning to nil map
  prow/apis/prowjobs/v1/BUILD.bazel
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/types_test.go
  prow/config/BUILD.bazel
  prow/config/config_test.go
Due: post-test-infra-push-prow

remove extra p
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Due: none

Add capdo e2e job
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
Due: none

testgrid: Update OpenShift dashboards
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-broken.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.7-informing.yaml
Due: none

Deck rerun: Fix trusted user check for presubmits
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
Due: post-test-infra-push-prow

Deal better with docker server/client mismatch
  kubetest/local.go
Due: post-test-infra-push-kubekins-e2e

prow: don't coerce draft conversions to comments
  prow/github/types.go
  prow/hook/events.go
Due: post-test-infra-push-prow

Delete example file
  testgrid/default-template.yaml
Due: none

testgrid: Update Red Hat dashboards
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-broken.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.7-informing.yaml
Due: none

Azure: point CAPZ conformance script to ci-entrypoint.sh
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Due: none

Process latest report for each label separately.
  prow/crier/reporters/gerrit/BUILD.bazel
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
  prow/gerrit/adapter/BUILD.bazel
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/adapter/trigger.go
  prow/gerrit/adapter/trigger_test.go
  prow/pjutil/filter.go
Due: post-test-infra-push-prow

cut branch 3.4 for ibm-common-service-operator. (#175)
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.release-3.3.yaml
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.release-3.4.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Cherrypicker: add support for conditional labels
  prow/external-plugins/cherrypicker/main.go
  prow/external-plugins/cherrypicker/server.go
Due: post-test-infra-push-prow

Add StringSlice flag
  prow/flagutil/string_slice.go
  prow/flagutil/string_slice_test.go
Due: post-test-infra-push-prow

Update bazel dependencies
  prow/flagutil/BUILD.bazel
Due: post-test-infra-push-prow

Add StringToStringSlice flag
  prow/flagutil/string_to_strings.go
  prow/flagutil/string_to_strings_test.go
Due: post-test-infra-push-prow

prow: deck: add s3 support
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/types_test.go
  prow/apis/prowjobs/v1/zz_generated.deepcopy.go
  prow/cmd/checkconfig/main.go
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/job_history.go
  prow/cmd/deck/job_history_test.go
  prow/cmd/deck/main.go
  prow/cmd/deck/pr_history.go
  prow/cmd/deck/pr_history_test.go
  prow/cmd/pipeline/controller.go
  prow/io/BUILD.bazel
  prow/io/iterator.go
  prow/io/opener.go
  prow/io/opener_test.go
  prow/io/option.go
  prow/io/providers/providers.go
  prow/io/providers/providers_test.go
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
  prow/plank/controller.go
  prow/pod-utils/gcs/BUILD.bazel
  prow/pod-utils/gcs/upload.go
  prow/spyglass/BUILD.bazel
  prow/spyglass/artifacts.go
  prow/spyglass/artifacts_test.go
  prow/spyglass/gcsartifact.go
  prow/spyglass/gcsartifact_fetcher.go
  prow/spyglass/gcsartifact_fetcher_test.go
  prow/spyglass/gcsartifact_test.go
  prow/spyglass/lenses/common/BUILD.bazel
  prow/spyglass/lenses/common/common.go
  prow/spyglass/lenses/common/common_test.go
  prow/spyglass/podlogartifact_fetcher.go
  prow/spyglass/podlogartifact_fetcher_test.go
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
  prow/spyglass/testgrid.go
Due: post-test-infra-push-prow

pr: crier first impl
  prow/cmd/crier/BUILD.bazel
  prow/cmd/crier/main.go
  prow/crier/reporters/gcs/BUILD.bazel
  prow/crier/reporters/gcs/internal/testutil/testutil.go
  prow/crier/reporters/gcs/internal/util/BUILD.bazel
  prow/crier/reporters/gcs/internal/util/util.go
  prow/crier/reporters/gcs/kubernetes/BUILD.bazel
  prow/crier/reporters/gcs/kubernetes/reporter.go
  prow/crier/reporters/gcs/reporter.go
Due: post-test-infra-push-prow

pr: crier final
  prow/cmd/crier/BUILD.bazel
  prow/cmd/crier/main.go
  prow/crier/reporters/gcs/BUILD.bazel
  prow/crier/reporters/gcs/internal/util/BUILD.bazel
  prow/crier/reporters/gcs/internal/util/util.go
  prow/crier/reporters/gcs/kubernetes/BUILD.bazel
  prow/crier/reporters/gcs/kubernetes/reporter.go
  prow/crier/reporters/gcs/reporter.go
  prow/io/opener.go
  prow/io/option.go
Due: post-test-infra-push-prow

Adds prow config for nfs-ganesha-server-and-external-provisioner
  config/jobs/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/OWNERS
  config/jobs/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/nfs-ganesha-server-and-external-provisioner.yaml
  config/testgrids/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/OWNERS
  config/testgrids/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/config.yaml
Due: none

Update cos-stable images to the latest cos lts versions
  jobs/e2e_node/benchmark-config.yaml
  jobs/e2e_node/containerd/containerd-master/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.2/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.3/image-config.yaml
  jobs/e2e_node/containerd/cri-master/benchmark-config.yaml
  jobs/e2e_node/containerd/cri-master/image-config-pr.yaml
  jobs/e2e_node/containerd/cri-master/image-config.yaml
  jobs/e2e_node/image-config-serial-cpu-manager.yaml
  jobs/e2e_node/image-config-serial.yaml
  jobs/e2e_node/image-config.yaml
Due: none

review fixes
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
  prow/crier/reporters/gcs/internal/util/util.go
  prow/io/opener.go
  prow/io/option.go
  prow/pod-utils/gcs/upload.go
  prow/statusreconciler/status.go
  prow/statusreconciler/status_test.go
  prow/tide/history/history.go
  prow/tide/history/history_test.go
Due: post-test-infra-push-prow

deprecate flags
  prow/ANNOUNCEMENTS.md
  prow/cmd/crier/main.go
  prow/cmd/crier/main_test.go
Due: post-test-infra-push-prow

fix tests
  prow/cmd/crier/main_test.go
Due: post-test-infra-push-prow
