Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: maintenance-boskos-config-upload, maintenance-ci-testgrid-config-upload, pull-test-infra-gubernator, pull-test-infra-verify-tslint, pull-test-infra-verify-deps, pull-test-infra-verify-labels, post-test-infra-deploy-prow, post-test-infra-push-prow

maintenance-boskos-config-upload:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - runner.sh
      args:
      - ./boskos/update_prow_config.sh
      env:
      - name: PROW_SERVICE_ACCOUNT
  ...

maintenance-ci-testgrid-config-upload:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - runner.sh
      args:
      - ./testgrid/config-upload.sh
      resources:
        requests:
  ...

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:0.4
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

pull-test-infra-verify-tslint:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - ./hack/verify-tslint.sh

pull-test-infra-verify-deps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - runner.sh
      args:
      - ./hack/verify-deps.sh
      securityContext:
  ...

pull-test-infra-verify-labels:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - runner.sh
      args:
      - ./hack/verify-labels.sh
      securityContext:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190402-v0.1-35-g8b2d62a
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190329-811f7954b-master
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

Use flags for ports. Improve error handling
  experiment/logviewer/gcsreader/main.go
  experiment/logviewer/mixer/main.go
Due: none

More Istio tests moving to master tab
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

fixing wrong naming
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

By default, create a group for every post/periodic job
  testgrid/cmd/configurator/prow.go
Due: maintenance-ci-testgrid-config-upload

Remove the trivially implied test groups.
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Run verify-labels in bazel
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  hack/BUILD.bazel
  hack/update-labels.sh
  hack/verify-labels.sh
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Add an explanatory comment.
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Right path to CircleCi logs
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Add more details to the presubmit error.
  testgrid/cmd/configurator/config_test.go
Due: maintenance-ci-testgrid-config-upload

prow/gcsupload: Add -extensions for additional media types
  prow/gcsupload/BUILD.bazel
  prow/gcsupload/options.go
  prow/gcsupload/run.go
  prow/pod-utils/decorate/podspec_test.go
Due: post-test-infra-push-prow

Additional Unit Tests for Crier
  prow/cmd/crier/main.go
  prow/cmd/crier/main_test.go
Due: post-test-infra-push-prow

Update generate_tests.py too.
  experiment/autobumper/main.go
Due: none

Disable the too-many-locals pylint error.
  pylintrc
Due: none

Removed unused dependency
  prow/cmd/crier/BUILD.bazel
  prow/cmd/crier/main_test.go
Due: post-test-infra-push-prow

Update generate_tests to generate testgrid annotations.
  experiment/generate_tests.py
  experiment/test_config.yaml
Due: none

Remove generated jobs from testgrid.
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Regenerate jobs.
  config/jobs/kubernetes/generated/generated.yaml
  experiment/generate_tests.py
Due: none

Update-gofmt on change
  prow/cmd/crier/main.go
  prow/cmd/crier/main_test.go
Due: post-test-infra-push-prow

Update generate_tests to generate testgrid test groups.
  experiment/BUILD.bazel
  experiment/generate_tests.py
Due: none

Update configurator to use generated-test-config.yaml
  testgrid/BUILD.bazel
  testgrid/cmd/configurator/config_test.go
  testgrid/config-upload.sh
Due: maintenance-ci-testgrid-config-upload

Generate generated config and remove it from config.yaml.
  testgrid/config.yaml
  testgrid/generated-test-config.yaml
Due: maintenance-ci-testgrid-config-upload

Linting is magic.
  experiment/generate_tests.py
  testgrid/BUILD.bazel
Due: maintenance-ci-testgrid-config-upload

Add RBE e2e presubmit
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Documentation of Slack's Dry-Run Feature
  prow/cmd/crier/main.go
  prow/cmd/crier/main_test.go
Due: post-test-infra-push-prow

Add kubeflow/manifests to Prow
  config/jobs/kubeflow/kubeflow-presubmits.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

fix very small typo
  prow/plugins/blunderbuss/blunderbuss.go
Due: post-test-infra-push-prow

New acs-engine with removed aliases
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

More tests
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Add jobtype and prnumber to pubsub report message
  prow/pubsub/reporter/reporter.go
  prow/pubsub/reporter/reporter_test.go
Due: post-test-infra-push-prow

kind: remove 1.11 testing
  config/jobs/kubernetes-sigs/kind/kind.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Add Refs instead of just PRNumber
  prow/pubsub/reporter/reporter.go
  prow/pubsub/reporter/reporter_test.go
Due: post-test-infra-push-prow

Add Mixer integration test entries to testgrid.
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Fix bad braces in config-upload.sh.
  testgrid/config-upload.sh
Due: maintenance-ci-testgrid-config-upload

replace ListStatuses API call with GetCombinedStatus when possible
  prow/github/types.go
  prow/plugins/dco/dco.go
  prow/plugins/dco/dco_test.go
  prow/plugins/skip/skip.go
  prow/plugins/skip/skip_test.go
Due: post-test-infra-push-prow

cleanup-kubeadm-gce-jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

update go fmt
  prow/apis/prowjobs/v1/types.go
  prow/config/jobs.go
Due: post-test-infra-push-prow

kubeadm-jobs-frequence-and-alerts
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Rename gcsreader -> worker. Extract interfaces, add some tests. Allow nil time filters
  experiment/logviewer/gcsreader/parsing_test.go
  experiment/logviewer/mixer/main.go
  experiment/logviewer/mixer/request/request.pb.go
  experiment/logviewer/mixer/request/request.proto
  experiment/logviewer/worker/gcsreader.go
  experiment/logviewer/worker/main.go
  experiment/logviewer/worker/parsing.go
  experiment/logviewer/worker/parsing_test.go
  experiment/logviewer/worker/work/work.pb.go
  experiment/logviewer/worker/work/work.proto
Due: none

Path conditions:
  maintenance-boskos-config-upload: any of: ^boskos/.*$
  maintenance-ci-testgrid-config-upload: any of: ^testgrid/.*$
  pull-test-infra-gubernator: any of: gubernator|prow/config.yaml
  pull-test-infra-verify-tslint: any of: \.ts$
  pull-test-infra-verify-deps: any of: ^(go\.mod|go\.sum|WORKSPACE|BUILD\.bazel|hack/verify-deps\.sh|hack/update-deps\.sh|vendor/.*)$
  pull-test-infra-verify-labels: any of: ^label_sync/labels.yaml
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
