Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Add postsubmit job for node-feature-discovery e2e testing
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
Due: pull-test-infra-prow-checkconfig

Update ingress-nginx jobs to use promoted images
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Due: pull-test-infra-prow-checkconfig

Azure: add 1.19 jobs for Windows
  config/jobs/kubernetes-sigs/sig-windows/release-1.19-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Due: pull-test-infra-prow-checkconfig

Azure: point all aksaengine-download-url to a shorten URL
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.16-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.17-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.18-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.19-windows.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.18.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.19.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Due: pull-test-infra-prow-checkconfig

Add config job for running gce pd driver on win1909
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Due: pull-test-infra-prow-checkconfig

Add service.kubernetes.io back in to the filter + flaky NodePort
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
Due: pull-test-infra-prow-checkconfig

Include spelling to transfigure.sh bazel tests
  testgrid/cmd/transfigure/transfigure.sh
Due: none

Replace inactive owners in kubernetes/cloud-provider-aws
  config/jobs/kubernetes/cloud-provider-aws/OWNERS
Due: none

Add Prow useful talk from recent Kubecon EU virtual 2020
  prow/README.md
Due: post-test-infra-push-prow

Add Falco to Prow project list
  prow/README.md
Due: post-test-infra-push-prow

Use RepoLink in pod-utilities/clonerefs
  prow/pod-utils/clone/clone.go
Due: post-test-infra-push-prow

Address requested change on PR
  prow/README.md
Due: post-test-infra-push-prow

Update local-e2e.yaml
  config/jobs/kubernetes/sig-testing/local-e2e.yaml
Due: pull-test-infra-prow-checkconfig

Add petr-muller to Prow reviewers
  prow/OWNERS
Due: post-test-infra-push-prow

removes -gcp-project=k8s-network-proxy-e2e
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Due: pull-test-infra-prow-checkconfig

removes canary job used to test gcp-project removal
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Due: pull-test-infra-prow-checkconfig

migrates merge-blocking job to k8s-infra-prow-build
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Due: pull-test-infra-prow-checkconfig

Add post submit for HNC
  config/jobs/kubernetes-sigs/wg-multi-tenancy/hnc-postsubmit.yaml
Due: pull-test-infra-prow-checkconfig

Give some memory back for pull-kubernetes-typecheck
  config/jobs/kubernetes/sig-testing/typecheck.yaml
Due: pull-test-infra-prow-checkconfig

Give some memory back for pull k8s typecheck job
  config/jobs/kubernetes/sig-testing/typecheck.yaml
Due: pull-test-infra-prow-checkconfig

Update openshift testgrid
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
Due: none

Move KUBE_SSH_USER related arg to the kubernetes_e2e scenario
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-prow-checkconfig

Use cos-lts-85 for containerd master
  jobs/e2e_node/containerd/containerd-master/image-config.yaml
Due: none

Fix prod-push make command for Kettle
  kettle/Makefile
Due: post-test-infra-push-kettle

update prow job for ibm-grafana-ocpthanos-proxy. (#238)
  prow/cluster/jobs/IBM/ibm-grafana-ocpthanos-proxy/IBM.ibm-grafana-ocpthanos-proxy.master.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Remove duplicate deck option
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
Due: post-test-infra-deploy-prow

Add GCS credential path option to deck
  config/prow/cluster/starter-gcs.yaml
Due: post-test-infra-deploy-prow

Add requests/limits for all sig-scalability presubmits
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Due: pull-test-infra-prow-checkconfig

[scalability][periodic] Add resources requests/limits
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: pull-test-infra-prow-checkconfig

removes canary job that tested migration changes
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Due: pull-test-infra-prow-checkconfig

Bump gce-scale-correctness mem limit to 64 GBs
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: pull-test-infra-prow-checkconfig

Update TestGrid for GoogleCloudPlatform
  config/testgrids/GoogleCloudPlatform/gen-config.yaml
Due: none

Revert "Remove the deprecated reporting functionality from Plank"
  prow/ANNOUNCEMENTS.md
  prow/cmd/plank/BUILD.bazel
  prow/cmd/plank/main.go
  prow/cmd/plank/main_test.go
  prow/cmd/plank/reporter.go
Due: post-test-infra-push-prow

Revert "Make crier controller-runtime based"
  prow/cmd/crier/BUILD.bazel
  prow/cmd/crier/main.go
  prow/crier/BUILD.bazel
  prow/crier/controller.go
  prow/crier/controller_test.go
  prow/crier/reporters/gerrit/BUILD.bazel
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
Due: post-test-infra-push-prow

[cluster-lifecycle] Removing v1.16 e2e jobs from manifest
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kustomize.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Due: pull-test-infra-prow-checkconfig
