Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-triage, post-test-infra-push-bazel, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-krte, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$

Allow customisation of WIP label
  prow/plugins/config.go
  prow/plugins/wip/wip-label.go
Due: post-test-infra-push-prow

Test cases
  prow/plugins/wip/wip-label_test.go
Due: post-test-infra-push-prow

Update config.go
  prow/plugins/config.go
Due: post-test-infra-push-prow

Spyglass html lense: Hide on first resize
  prow/spyglass/lenses/html/html.ts
  prow/spyglass/lenses/html/template.html
  prow/spyglass/lenses/html/testdata/TestRenderBody_Simple.yaml
  prow/spyglass/lenses/html/testdata/TestRenderBody_With_quotes.yaml
Due: post-test-infra-push-prow

Create build cluster script: fix a typo and make it less prone to happen in the future
  prow/create-build-cluster.sh
Due: post-test-infra-push-prow

Update Prow to v20210419-8262f2d0c6
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Update Boskos to v20210419-e2193a3
  config/jobs/kubernetes/test-infra/janitors.yaml
  config/prow/cluster/boskos-janitor.yaml
  config/prow/cluster/boskos-reaper_deployment.yaml
  config/prow/cluster/boskos.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-upload-testgrid-config

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 20 Apr 2021 00:01:25 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.8-informing.yaml
Due: post-test-infra-upload-testgrid-config

Kops - add GCE presubmit job
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Fix the error description of the release-note plugin
  prow/plugins/releasenote/releasenote.go
Due: post-test-infra-push-prow

Kops - Add service account to presubmit GCE job
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update TestGrid for kyma
  config/testgrids/kyma/gen-config.yaml
Due: post-test-infra-upload-testgrid-config

Configupdater: Add use_full_path_as_key option
  prow/plugins/config.go
  prow/plugins/plugin-config-documented.yaml
  prow/plugins/updateconfig/updateconfig.go
  prow/plugins/updateconfig/updateconfig_test.go
Due: post-test-infra-push-prow

Delete sig-instrumentation gci-gce-es-logging job
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-config.yaml
  config/testgrids/kubernetes/sig-instrumentation/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

cluster-api-provider-aws: Upgrade kubekins images to canary for postsubmit and presubmit jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

kubeadm: use tool generate specs
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-addons.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-ca.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kubelet-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-patches.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add test coverage job
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Checkconfig: Fix validate-supplemental-prow-config-hirarchy
  prow/cmd/checkconfig/main.go
Due: post-test-infra-push-prow

Ghproxy: Add path simplifier config for user and team routes
  ghproxy/ghmetrics/ghpath.go
  ghproxy/ghmetrics/ghpath_test.go
Due: post-test-infra-push-prow

Update Prow to v20210420-cd79e09f48
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Return error when `--github-token-path` is missed
  prow/flagutil/github.go
Due: post-test-infra-push-prow

Update OpenShift testgrid definitions by auto-testgrid-generator job at Wed, 21 Apr 2021 00:01:39 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.8-broken.yaml
Due: post-test-infra-upload-testgrid-config

python client: require kind label and release notes
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Update blob-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

config-forker: add jobs to be fork for each release branch
  config/jobs/kubernetes/sig-instrumentation/verify-govet-levee.yaml
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
  config/jobs/kubernetes/sig-testing/make-test.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

1.21/jobs: add missing jobs for release-1.21
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Remove `slack_reporter` from prow config
  prow/cmd/crier/main.go
  prow/config/config.go
  prow/config/config_test.go
Due: post-test-infra-push-prow

Cherrypick: support multiple calls per comment
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
Due: post-test-infra-push-prow

gen yaml
  prow/config/prow-config-documented.yaml
Due: post-test-infra-push-prow

Cherrypick: try to create all picks and return aggregate error
  prow/external-plugins/cherrypicker/server.go
Due: post-test-infra-push-prow

Remove `slack_reporter` from prow config (#21886)
  prow/cmd/crier/main.go
  prow/config/config.go
  prow/config/config_test.go
  prow/config/prow-config-documented.yaml
Due: post-test-infra-push-prow

Remove `rerun_auth_config` from Deck
  prow/config/config.go
  prow/config/config_test.go
  prow/config/prow-config-documented.yaml
Due: post-test-infra-push-prow

delete TestValidRerunAuthConfig
  prow/config/config_test.go
Due: post-test-infra-push-prow

Change containerD-integration dashboard to Windows 2004
  config/testgrids/kubernetes/sig-windows/config.yaml
Due: post-test-infra-upload-testgrid-config

Remove `rerun_auth_config` from Deck (#21889)
  prow/config/config.go
  prow/config/config_test.go
  prow/config/prow-config-documented.yaml
Due: post-test-infra-push-prow

Update Prow to v20210421-6ef956a740
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

gh: reduce warn log spam on throttling
  prow/github/client.go
Due: post-test-infra-push-prow

Plank wait for 10 seconds for a pod to come up
  prow/plank/reconciler.go
Due: post-test-infra-push-prow
