Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: maintenance-boskos-config-upload, maintenance-ci-testgrid-config-upload, pull-test-infra-gubernator, pull-test-infra-verify-tslint, pull-test-infra-verify-deps, pull-test-infra-verify-labels, post-test-infra-deploy-prow, post-test-infra-push-prow

Path conditions:
  maintenance-boskos-config-upload: any of: ^boskos/.*$
  maintenance-ci-testgrid-config-upload: any of: ^testgrid/.*$
  pull-test-infra-gubernator: any of: gubernator|prow/config.yaml
  pull-test-infra-verify-tslint: any of: \.ts$
  pull-test-infra-verify-deps: any of: ^(go\.mod|go\.sum|WORKSPACE|BUILD\.bazel|hack/verify-deps\.sh|hack/update-deps\.sh|vendor/.*)$
  pull-test-infra-verify-labels: any of: ^label_sync/labels.yaml
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/

fix yaml fire
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Due: none

add privileged to dind jobs
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Due: none

Replacing aks-engine download link with short links
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

increasing kubemark load test qps to 20
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: none

Moving kubemark qps settings to kubemark common preset
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Due: none

Addition of Crier/Controller Integration Test
  prow/crier/BUILD.bazel
  prow/crier/controller_test.go
Due: post-test-infra-push-prow

install junit-xml
  images/kubekins-e2e/Dockerfile
Due: none

Add extra labels to kubernetes-sigs/cluster-api
  label_sync/labels.md
  label_sync/labels.yaml
Due: pull-test-infra-verify-labels, post-test-infra-push-prow

Add tasks for HA tests with kinder
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Revert "Merge pull request #12898 from adshmh/add-optional-tag-to-branch-protection-request"
  prow/github/types.go
Due: post-test-infra-push-prow

Revert "Add GetBranchProtection method to github client"
  prow/github/client.go
  prow/github/client_test.go
  prow/github/types.go
Due: post-test-infra-push-prow

Revert "Check branch protection status before updates"
  prow/cmd/branchprotector/protect.go
  prow/cmd/branchprotector/protect_test.go
Due: post-test-infra-push-prow

Update Release Engineering dashboard
  config/jobs/kubernetes/release/OWNERS
  config/jobs/kubernetes/release/release-config.yaml
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Revert "Expose the size of responses in deck metrics"
  prow/cmd/deck/main.go
Due: post-test-infra-push-prow

Revert "Fix httpResponseSize registration in deck"
  prow/cmd/deck/main.go
Due: post-test-infra-push-prow

Revert "Merge pull request #12955 from cjwagner/revert-branchprotector"
  prow/cmd/branchprotector/protect.go
  prow/cmd/branchprotector/protect_test.go
  prow/github/client.go
  prow/github/client_test.go
  prow/github/types.go
Due: post-test-infra-push-prow

Add link to display prow job YAML on Spyglass
  prow/cmd/deck/main.go
  prow/cmd/deck/template/spyglass.html
  prow/deck/jobs/jobs.go
  prow/spyglass/BUILD.bazel
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
Due: post-test-infra-push-prow

Revert "Merge pull request #12956 from cjwagner/revert-response-size-metric"
  prow/cmd/deck/main.go
Due: post-test-infra-push-prow

Prefix deck HTTP metrics with job name
  prow/cmd/deck/main.go
Due: post-test-infra-push-prow

Add path_alias for cloud-provider-aws
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-config.yaml
Due: none

Discriminate between branch protection state and requests
  prow/cmd/branchprotector/protect.go
  prow/cmd/branchprotector/protect_test.go
  prow/cmd/branchprotector/request.go
  prow/cmd/branchprotector/request_test.go
  prow/github/client_test.go
  prow/github/types.go
Due: post-test-infra-push-prow

Add Init func to set Logrus formatter
  prow/logrusutil/logrusutil.go
Due: post-test-infra-push-prow

Setting 3 kubemark runs per day
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: none

Verify that both or none of presubmit.{Trigger,RerunCommmand} is set
  prow/config/config.go
  prow/config/config_test.go
Due: post-test-infra-push-prow

Add a plugin to allow users to re-title issues and PRs
  prow/github/client.go
  prow/github/fakegithub/fakegithub.go
  prow/hook/BUILD.bazel
  prow/hook/plugins.go
  prow/plugins/BUILD.bazel
  prow/plugins/cla/cla_test.go
  prow/plugins/help/help_test.go
  prow/plugins/label/label_test.go
  prow/plugins/retitle/BUILD.bazel
  prow/plugins/retitle/retitle.go
  prow/plugins/retitle/retitle_test.go
Due: post-test-infra-push-prow

Add CAPV pre-submit to verify committed CRDs
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Enable retitle plugin for k-sigs/contributor-playground
  prow/plugins.yaml
Due: post-test-infra-push-prow

Only send select fields to edit API calls
  prow/github/client.go
Due: post-test-infra-push-prow

Cover -all addition
  experiment/config-forker/main_test.go
Due: none

Support multi-word for project names and column names for project plugin
  prow/plugins/project/project.go
  prow/plugins/project/project_test.go
Due: post-test-infra-push-prow

Creation of Entomologist
  prow/github/client.go
  prow/github/client_test.go
  prow/github/fakegithub/fakegithub.go
  testgrid/BUILD.bazel
  testgrid/cmd/entomologist/BUILD.bazel
  testgrid/cmd/entomologist/README.md
  testgrid/cmd/entomologist/main.go
  testgrid/cmd/entomologist/main_test.go
Due: maintenance-ci-testgrid-config-upload, post-test-infra-push-prow

Addition of GitHub API Readme
  prow/github/README.md
Due: post-test-infra-push-prow

Add CRDs for monitoring stack
  WORKSPACE
  prow/monitoring/BUILD.bazel
  prow/monitoring/prometheus_expose.yaml
  prow/monitoring/prometheus_operator_deployment.yaml
  prow/monitoring/prometheus_operator_rbac.yaml
  prow/monitoring/prometheus_rbac.yaml
  prow/monitoring/prometheus_servicemonitor.yaml
  prow/monitoring/prow_monitoring_namespace.yaml
  prow/monitoring/prow_prometheus.yaml
Due: pull-test-infra-verify-deps, post-test-infra-push-prow

Update rules_nodejs to 0.30.2
  BUILD.bazel
  WORKSPACE
  gopherage/cmd/html/static/BUILD.bazel
  hack/.kazelcfg.json
  hack/update-protos.sh
  package.json
  prow/cmd/deck/static/BUILD.bazel
  prow/cmd/deck/static/command-help/command-help.ts
  prow/cmd/deck/static/plugin-help/plugin-help.ts
  prow/cmd/deck/static/pr/pr.ts
  prow/cmd/deck/static/vendor.d.ts
  prow/spyglass/lenses/BUILD.bazel
  prow/spyglass/lenses/buildlog/BUILD.bazel
  prow/spyglass/lenses/junit/BUILD.bazel
  prow/spyglass/lenses/metadata/BUILD.bazel
  triage/BUILD.bazel
  yarn.lock
Due: pull-test-infra-verify-tslint, pull-test-infra-verify-deps, post-test-infra-push-prow

Re-run config-forker for v1.15
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
Due: none

Make sure in the build controller that the in-cluster and default cluster alias do not point to the same cluster when all contexts are allowed
  prow/cmd/build/main.go
Due: post-test-infra-push-prow

Make sure in the pipeline controller that the in-cluster and default cluster alias do not point to the same cluster when all contexts are allowed
  prow/cmd/pipeline/main.go
Due: post-test-infra-push-prow

Remove alays the InClusterContext since the controller maps it to DefaultClusterAlias
  prow/cmd/build/main.go
  prow/cmd/pipeline/main.go
Due: post-test-infra-push-prow
