Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Add verify-proto job
  config/jobs/kubernetes-sigs/service-apis/service-apis-config.yaml
Due: none

Bump influxdb.
  velodrome/grafana-stack/influxdb.yaml
Due: post-test-infra-push-velodrome

Gencred: perform SubjectAccessReview bind for clusterrole
  gencred/pkg/serviceaccount/serviceaccount.go
Due: none

support eks deployer
  kubetest2/kubetest2-eks/BUILD.bazel
  kubetest2/kubetest2-eks/deployer/BUILD.bazel
  kubetest2/kubetest2-eks/deployer/deployer.go
  kubetest2/kubetest2-eks/main.go
Due: none

fix kind download permissions
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

use curl to avoid gsutil failing to auth
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

Use config.OrgRepo in prow/tide and prow/config
  prow/config/inrepoconfig.go
  prow/config/inrepoconfig_test.go
  prow/config/tide.go
  prow/config/tide_test.go
  prow/pluginhelp/hook/BUILD.bazel
  prow/plugins/bugzilla/BUILD.bazel
  prow/tide/status.go
  prow/tide/tide.go
Due: post-test-infra-push-prow

prow/plugins/bugzilla: Document DependentBug* in plugin help
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
  prow/plugins/config.go
Due: post-test-infra-push-prow

bad shell is bad
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

Bumper: Add UpdatePullRequestWithlabels
  experiment/autobumper/bumper/bumper.go
  prow/github/fakegithub/fakegithub.go
  robots/pr-creator/updater/BUILD.bazel
  robots/pr-creator/updater/updater.go
  robots/pr-creator/updater/updater_test.go
Due: post-test-infra-push-prow

[Access-tokens] Rollout tests to release-1.17 branch
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
Due: none

add material theme config
  prow/cmd/deck/template/base.html
  prow/config/config.go
Due: post-test-infra-push-prow

Add new components to the Improbable build targets, and update the build script to use the unified target.
  hack/improbapublish.sh
  prow/BUILD.bazel
Due: post-test-infra-push-prow

trigger upload-boskos-config job when boskos-resources is updated
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: none

Kops - Don't use computeMetadata for retrieving public IP
  images/kubekins-e2e/kops-e2e-runner.sh
  kubetest/kops.go
Due: post-test-infra-push-kubekins-e2e

Update descheduler to use workload identity
  config/jobs/image-pushing/k8s-staging-descheduler.yaml
Due: none

update openstack to use workload identity
  config/jobs/image-pushing/k8s-staging-capi-openstack.yaml
Due: none

Update cluster api to use workload identity
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Due: none

Switch apisnoop to use workload identity
  config/jobs/image-pushing/k8s-staging-apisnoop.yaml
Due: none

Update azure to use workload identity
  config/jobs/image-pushing/k8s-staging-provider-azure.yaml
Due: none

Update README.md to use workload-identity
  config/jobs/image-pushing/README.md
Due: none

Update kops to use workload identity
  config/jobs/image-pushing/k8s-staging-kops.yaml
Due: none

Update external-dns to use workload identity
  config/jobs/image-pushing/k8s-staging-external-dns.yaml
Due: none

Update service-apis to use workload identity
  config/jobs/image-pushing/k8s-staging-service-apis.yaml
Due: none

Update artifact promoter to use workload-identity
  config/jobs/image-pushing/k8s-staging-artifact-promoter.yaml
Due: none

Update release-test to use workload identity
  config/jobs/image-pushing/k8s-staging-release-test.yaml
Due: none

Update e2e-test-images to use workload identity
  config/jobs/image-pushing/k8s-staging-e2e-test-images.yaml
Due: none

Update network-proxy to use workload-identity
  config/jobs/image-pushing/k8s-staging-apiserver-network-proxy.yaml
Due: none

Use latest-experimental tag for presubmit jobs
  config/jobs/kubernetes/kops/kops-config.yaml
Due: none

Boskos cleaner: Allow enabling debug logging
  boskos/cmd/cleaner/BUILD.bazel
  boskos/cmd/cleaner/main.go
Due: post-test-infra-push-boskos, post-test-infra-push-kubekins-e2e

Add storage for alertmanager to allow persisting silences.
  prow/cluster/monitoring/prow_alertmanager.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Bind prow service accounts to control-plane@k8s-prow.iam.gserviceaccount.com in GCP
  prow/cluster/crier_rbac.yaml
  prow/cluster/deck_rbac.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/tide_rbac.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Kops - use the external IP in the "kops create cluster" arguments
  kubetest/kops.go
Due: post-test-infra-push-kubekins-e2e

capz: Enable image building on the 'release-0.3' branch
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Due: none

Enable nullglob in autobump/bump.sh
  prow/cmd/autobump/bump.sh
Due: post-test-infra-push-prow

Canary RBAC on sinker and horologium
  prow/cluster/horologium_deployment.yaml
  prow/cluster/sinker_deployment.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Move workload-identity out of experimental
  workload-identity/README.md
  workload-identity/bind-service-accounts.sh
  workload-identity/enable-workload-identity.sh
Due: none
