Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Fix rbac after controller-runtime update
  config/prow/cluster/prow_controller_manager_rbac.yaml
  config/prow/cluster/sinker_rbac.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  prow/ANNOUNCEMENTS.md
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Update TestGrid for GoogleCloudPlatform
  config/testgrids/GoogleCloudPlatform/gen-config.yaml
Due: none

jobs/gcp: Enable DaemonSetUpdateSurge tests for alpha suite
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add `pull-csi-driver-nfs-e2e` job
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove unused funcs
  prow/plugins/blunderbuss/blunderbuss.go
Due: post-test-infra-push-prow

ci-kubernetes-e2e-ubuntu-gce: Extract latest-fast marker
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

capz: add periodic and postsubmit e2e-full jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-postsubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

add jobs to promote e2e testing images
  config/jobs/image-pushing/k8s-staging-e2e-test-images.sh
  config/jobs/image-pushing/k8s-staging-e2e-test-images.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Cluster API test on k8s latest
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

[1.20] config/prow: enable code freeze for master
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Clonerefs: Fetch sha instead of pull head if available
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Due: post-test-infra-push-prow

Remove TaintBasedEvictions feature gate from kubemark tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Prepare config-forker for unique names in prow
  releng/config-forker/BUILD.bazel
  releng/config-forker/README.md
  releng/config-forker/main.go
  releng/config-forker/main_test.go
Due: none

Update yaml.v3 to the latest commit
  prow/config/prow-config-documented.yaml
Due: post-test-infra-push-prow

Update TestGrid for kyma
  config/testgrids/kyma/gen-config.yaml
Due: none

Update prow to v20201112-9cbc9f4a60, and other images as necessary.
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

monitoring: modernize the GHProxy dashboard
  config/prow/cluster/monitoring/mixins/grafana_dashboards/ghproxy.jsonnet
Due: post-test-infra-deploy-prow

Explicitly enable probing container test for dockershim job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

disable azurefile-csi-driver-e2e-migration test
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Cloud build configuration for cloud-provider-aws
  config/jobs/image-pushing/k8s-staging-cloud-provider-aws.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

sig storage: refresh canary images once per week
  config/jobs/image-pushing/k8s-staging-sig-storage-periodic.yaml
  config/jobs/image-pushing/k8s-staging-sig-storage.sh
  config/jobs/image-pushing/k8s-staging-sig-storage.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kubernetes-csi: move manual csi-driver-nfs job
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-config.yaml
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kubernetes-csi: set snapshotter version
  config/jobs/kubernetes-csi/csi-driver-flex/csi-driver-flex-config.yaml
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/csi-driver-iscsi/csi-driver-iscsi-config.yaml
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-config.yaml
  config/jobs/kubernetes-csi/csi-lib-utils/csi-lib-utils-config.yaml
  config/jobs/kubernetes-csi/csi-proxy/csi-proxy-config.yaml
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/csi-test/csi-test-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-health-monitor/external-health-monitor-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Clean up commit's typedef
  prow/github/types.go
Due: post-test-infra-push-prow

Update prow to v20201112-00537d1bb4, and other images as necessary.
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/janitors.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/boskos-janitor.yaml
  config/prow/cluster/boskos-reaper_deployment.yaml
  config/prow/cluster/boskos.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Plugins: Only load commentmap in hook binary
  prow/plugins/BUILD.bazel
  prow/plugins/plugins.go
Due: post-test-infra-push-prow

Announcement to stop support
  prow/ANNOUNCEMENTS.md
Due: post-test-infra-push-prow

Create a node e2e test job with podutil to test migration
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Post-test-infra-push-prow: Don't get triggered by prow bump
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Configure post-submit test for HNC
  config/jobs/kubernetes-sigs/wg-multi-tenancy/hnc-postsubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

feat: Add milestone applier This is required for milestone applier to work on k/website.
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Update e2e node test job to be optional and use the right scenario
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Removing helm/charts from test-infra
  config/jobs/helm/charts/OWNERS
  config/jobs/helm/charts/charts.yaml
  config/prow/config.yaml
  config/prow/plugins.yaml
  prow/README.md
  prow/config/tide_test.go
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-prow

New attempt to make e2e nodes work without bootstrap.py
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Correct the node e2e test image config location
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Fix pull-kubernetes-node-e2e-podutil
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

fix: Add prefix v
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig
