Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:v20200824-5d057db
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20201030-914f29394d
      command:
      - /checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

post-test-infra-push-boskos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - boskos/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

add README
  testgrid/cmd/transfigure/cmd/README.md
Due: none

prep kubernetes/org jobs for default branch rename
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

update bazel deps
  testgrid/cmd/transfigure/cmd/BUILD.bazel
Due: none

fix boilerplate
  testgrid/cmd/transfigure/cmd/transfigure.go
  testgrid/cmd/transfigure/main.go
Due: none

Update kubernetes/org prow and job configs post default-branch-rename
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/plugins.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

feat: add presubmit and periodic image scan
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

ci-kubernetes-build-canary: Adjust CPU request/limit to 7
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Mkpj doesn't fetch github when running at local mode
  prow/cmd/mkpj/main.go
  prow/cmd/mkpj/main_test.go
Due: post-test-infra-push-prow

Prep kubernetes/k8s.io for default branch rename
  config/jobs/image-pushing/k8s-staging-infra-tools.yaml
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/wg-k8s-infra/k8sio-presubmit.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml
  config/prow/plugins.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Remove references to unused/non-existent projects
  experiment/ci-janitor/main.go
  scenarios/kubernetes_janitor.py
Due: post-test-infra-push-bootstrap

fix: add privileged: true for dind
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add boolean config to allow PRs to be picked for batch without successful first build
  prow/config/tide.go
  prow/tide/tide.go
Due: post-test-infra-push-prow

Kops - dump logs of all kube-system pods
  kubetest/kops.go
Due: post-test-infra-push-kubekins-e2e

Deck: Omit managed fields when sending data to frontend
  prow/cmd/deck/main.go
Due: post-test-infra-push-prow

Kops - Ignore TCP CLOSE_WAIT tests for cilium
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kops - move networking and container runtime flags into --create-args
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Adding stale alerting
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kops - allow interval to be specified in place of generated cron
  config/jobs/kubernetes/kops/build-grid.py
Due: none

Kops - Use underscores in python filenames so they can be imported
  config/jobs/kubernetes/kops/Makefile
  config/jobs/kubernetes/kops/__init__.py
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/build_pipeline.py
Due: none

Kops - Set imagePullPolicy on all jobs
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kops - Add 'latest' and 'stable' as valid k8s_versions
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kops - Sort the list of dashboards
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kops - Don't always include kops-grid dashboard
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Catch and log the chunks that fail for future debugging
  kettle/stream.py
Due: post-test-infra-push-kettle

Fix linting
  kettle/stream.py
Due: post-test-infra-push-kettle

Support PR review-comment creation in Prow GHC
  prow/github/client.go
  prow/github/client_test.go
  prow/github/fakegithub/fakegithub.go
  prow/github/types.go
Due: post-test-infra-push-prow

skip hostport tests on jobs with Docker runtime
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

releng: add presubmit job to test kube cross image builder
  config/jobs/kubernetes/release/release-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kubernetes-csi: bump hostpath driver to 1.5.0
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Move sig-aws-* dashboards to provider-aws-*
  config/jobs/image-pushing/k8s-staging-cloud-provider-aws.yaml
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-periodics.yaml
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
  config/jobs/kubernetes-sigs/aws-efs-csi-driver/aws-efs-csi-driver-presubmits.yaml
  config/jobs/kubernetes-sigs/aws-encryption-provider/presubmits.yaml
  config/jobs/kubernetes-sigs/aws-fsx-csi-driver/aws-fsx-csi-driver-presubmits.yaml
  config/jobs/kubernetes-sigs/aws-load-balancer-controller/aws-alb-ingress-controller-presubmits.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-config.yaml
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/eks/eks-presubmits.yaml
  config/testgrids/kubernetes/sig-cloud-provider/aws/config.yaml
  jobs/validOwners.json
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Fix Autobumper PR summary for image bumps with variants
  experiment/autobumper/bumper/bumper.go
  experiment/autobumper/bumper/bumper_test.go
Due: none

Branchprotector: improve document by explicitly mark repo protected
  prow/cmd/branchprotector/README.md
Due: post-test-infra-push-prow

Renaming extra bump files to match python import style.
  config/prow/autobump-config.yaml
Due: none

Update Kops python file name autobump references
  config/prow/autobump-config.yaml
Due: none

Kops - update job name format to be compatible with non-grid jobs
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Kops - Build distro jobs programatically
  config/jobs/kubernetes/kops/Makefile
  config/jobs/kubernetes/kops/build_distros.py
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
