Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: maintenance-boskos-config-upload, maintenance-ci-testgrid-config-upload, pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

maintenance-boskos-config-upload:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - ./boskos/update_prow_config.sh
      env:
      - name: PROW_SERVICE_ACCOUNT
        value: /etc/prow-build-service/prow-build-service.json
  ...

maintenance-ci-testgrid-config-upload:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - ./testgrid/config-upload.sh
      resources:
        requests:
          memory: 1Gi

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:0.4
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

deps: deck config snippet implementation
  go.mod
  go.sum
  pkg/genyaml/BUILD.bazel
  pkg/genyaml/OWNERS
  pkg/genyaml/genyaml.go
  prow/plugins/approve/approve.go
  repos.bzl
Due: post-test-infra-push-prow

Add a script for creating a TestGrid config uploader SA and secret.
  testgrid/config-updater-sa.sh
Due: none

Addition of Testgrid Service Account
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  testgrid/config-upload.sh
Due: maintenance-ci-testgrid-config-upload

Controller-Runtime: Run tests on release-0.2
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits.yaml
Due: maintenance-ci-testgrid-config-upload

Revert "Addition of Testgrid Service Account"
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  testgrid/config-upload.sh
Due: maintenance-ci-testgrid-config-upload

Remove old k8s client from "artifact-uploader"
  prow/artifact-uploader/BUILD.bazel
  prow/artifact-uploader/controller.go
  prow/cmd/artifact-uploader/BUILD.bazel
  prow/cmd/artifact-uploader/main.go
Due: post-test-infra-push-prow

Handle GCS Error in Configurator
  testgrid/cmd/configurator/main.go
Due: none

unfreeze k/website
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-push-prow

Improvements and docs for pj-on-kind.sh.
  .gitignore
  config/pj-on-kind.sh
  prow/build_test_update.md
  prow/pj-on-kind.sh
  prow/pod-utils/gcs/upload.go
Due: post-test-infra-push-prow

Add ci-npd-e2e-test job to run npd e2e tests
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Due: maintenance-ci-testgrid-config-upload

Reimplement "Addition of Testgrid Service Account"
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  testgrid/config-upload.sh
Due: maintenance-ci-testgrid-config-upload

ci-npd-e2e-test: install libs required for compiling NPD
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Due: maintenance-ci-testgrid-config-upload

ci-npd-e2e-test: set environment variables in the right way
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Due: maintenance-ci-testgrid-config-upload

Disable PVs in kubemark tests.
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: maintenance-ci-testgrid-config-upload

config/testgrids/openshift: add 4.2 upgrade tests for Azure and GCP
  config/testgrids/openshift/openshift.yaml
Due: maintenance-ci-testgrid-config-upload

Add label for Russian language
  label_sync/labels.md
  label_sync/labels.yaml
Due: post-test-infra-push-prow

Update istio testgrid files
  config/testgrids/istio/istio.yaml
  config/tests/testgrids/config_test.go
Due: maintenance-ci-testgrid-config-upload

Update new test
  config/testgrids/istio/istio.yaml
Due: maintenance-ci-testgrid-config-upload

add origin-e2e-gcp 4.2
  config/testgrids/openshift/openshift.yaml
Due: maintenance-ci-testgrid-config-upload

add origin-installer gcp serial 4.2
  config/testgrids/openshift/openshift.yaml
Due: maintenance-ci-testgrid-config-upload

Implement list-commits in github client
  prow/github/client.go
  prow/github/types.go
Due: post-test-infra-push-prow

Keep prow/{config,plugins}.yaml so prowception stays afloat
  prow/config.yaml
  prow/plugins.yaml
Due: pull-test-infra-gubernator, post-test-infra-push-prow

Always run windows CRI validation and add postsubmit.
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
Due: maintenance-ci-testgrid-config-upload

Move boskos config update job to the trusted cluster.
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: maintenance-ci-testgrid-config-upload

Noting that jobs on bootstrap.py are not supported by oncall.
  jenkins/bootstrap.py
Due: none

Stop posting 'Skipped' statuses unnecessarily.
  prow/plugins.yaml
Due: post-test-infra-push-prow

Move boskos deployment under prow, auto-deploy
  boskos/BUILD.bazel
  boskos/Makefile
  boskos/common/BUILD.bazel
  boskos/common/common_test.go
  boskos/reaper/BUILD.bazel
  boskos/service.yaml
  prow/cluster/BUILD.bazel
  prow/cluster/boskos-cleaner.yaml
  prow/cluster/boskos-janitor.yaml
  prow/cluster/boskos-metrics.yaml
  prow/cluster/boskos-reaper_deployment.yaml
  prow/cluster/boskos-resources.yaml
  prow/cluster/boskos.yaml
  prow/cluster/boskos_test.go
Due: maintenance-boskos-config-upload, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-boskos, post-test-infra-push-kubekins-e2e

Temporarily disable DaemonSets in 5K perf-tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: maintenance-ci-testgrid-config-upload

kubekins-e2e: updated `K8S_RELEASE` for 1.16
  images/kubekins-e2e/variants.yaml
Due: post-test-infra-push-kubekins-e2e

Expose load duration in a structured way
  prow/cmd/deck/pr_history.go
Due: post-test-infra-push-prow

Increase the histogram bucket sizes for deck
  prow/cmd/deck/main.go
Due: post-test-infra-push-prow

Revert "Merge pull request #14353 from clarketm/remove-k8s-client-gerrit"
  prow/cmd/gerrit/BUILD.bazel
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
  prow/gerrit/adapter/BUILD.bazel
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
Due: post-test-infra-push-prow

Do not deploy boskos-cleaner
  prow/cluster/BUILD.bazel
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Update configmap correctly
  boskos/update_prow_config.sh
Due: maintenance-boskos-config-upload, post-test-infra-push-boskos, post-test-infra-push-kubekins-e2e

ci-npd-e2e-test: pick up test VM image using image family
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Due: maintenance-ci-testgrid-config-upload

Fix boskos config update script to use new resource.yaml location.
  boskos/update_prow_config.sh
Due: maintenance-boskos-config-upload, post-test-infra-push-boskos, post-test-infra-push-kubekins-e2e

Path conditions:
  maintenance-boskos-config-upload: any of: ^boskos/.*$
  maintenance-ci-testgrid-config-upload: any of: ^config/(jobs|testgrids)/.*$
  pull-test-infra-gubernator: any of: gubernator|prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
