Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

provider/azure: Add kubemark 100 test configs for kubernetes/cloud-provider-azure
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Due: none

Enable GMSA test in Windows Staging job
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

conformance: Remove ci-kubernetes-gce-conformance-stable-* jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
Due: none

conformance: Rename dashboard tabs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
Due: none

fix golint failures
  boskos/common/common.go
  kubetest/azure.go
  prow/plugins/blunderbuss/blunderbuss_test.go
  prow/plugins/goose/goose.go
  prow/spyglass/spyglass.go
Due: post-test-infra-push-prow, post-test-infra-push-boskos, post-test-infra-push-kubekins-e2e

Use knative.dev/pkg instead of github.com/knative/pkg
  go.mod
  go.sum
  prow/cmd/pipeline/BUILD.bazel
  prow/cmd/pipeline/controller.go
  prow/cmd/pipeline/controller_test.go
  repos.bzl
Due: post-test-infra-push-prow

Deck: Use a lister
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
Due: post-test-infra-push-prow

kops: pass the --host to the test suite
  kubetest/kops.go
Due: post-test-infra-push-kubekins-e2e

Tide: Pass baseSHA onto statuscontroller
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
Due: post-test-infra-push-prow

kubeadm: add 1.17 jobs for kind/kinder
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kustomize.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
Due: none

Provider/Azure: add some envs to enable Azure kubemark-100 test.
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

Enhance logrus censoring
  prow/logrusutil/logrusutil.go
  prow/logrusutil/logrusutil_test.go
Due: post-test-infra-push-prow

kops: Update image to pass --host
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-presubmits.yaml
Due: none

lint gencred
  gencred/cmd/gencred/main.go
  gencred/pkg/certificate/certificate.go
Due: none

Remove not-needed scheduler-benchmark presets
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: none

releng: Skip test builds of cri-tools debs
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: none

releng: Increase intervals between test build job runs
  config/jobs/image-pushing/k8s-staging-release-test.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: none

peribolos: Handle renaming corner cases better
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Due: post-test-infra-push-prow

[aws-janitor] Clean up janitor output
  maintenance/aws-janitor/resources/addresses.go
  maintenance/aws-janitor/resources/asg.go
  maintenance/aws-janitor/resources/clean.go
  maintenance/aws-janitor/resources/cloud_formation_stacks.go
  maintenance/aws-janitor/resources/dhcp_options.go
  maintenance/aws-janitor/resources/elb.go
  maintenance/aws-janitor/resources/iam_instance_profiles.go
  maintenance/aws-janitor/resources/iam_roles.go
  maintenance/aws-janitor/resources/instance.go
  maintenance/aws-janitor/resources/internet_gateways.go
  maintenance/aws-janitor/resources/launch_configs.go
  maintenance/aws-janitor/resources/nat_gateway.go
  maintenance/aws-janitor/resources/route53.go
  maintenance/aws-janitor/resources/route_tables.go
  maintenance/aws-janitor/resources/security_groups.go
  maintenance/aws-janitor/resources/subnets.go
  maintenance/aws-janitor/resources/volumes.go
  maintenance/aws-janitor/resources/vpcs.go
Due: none

Kops: Update e2e job image to pickup --host fix
  config/jobs/kubernetes/kops/kops-config.yaml
Due: none

Deck rbac: Allow watching prowjobs
  prow/cluster/deck_rbac.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

fix apiserver-network-proxy path alias
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits.yaml
Due: none

Buildlog lense default regex: Never require leading space/linestart
  prow/spyglass/README.md
  prow/spyglass/lenses/buildlog/lens.go
  prow/spyglass/lenses/buildlog/lens_test.go
Due: post-test-infra-push-prow

Use pod utilities for CAPA CI conformance presubmit job
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Due: none

Switch all CAPG jobs to use pod utils
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Due: none

azure: Move cloud-provider-azure job configs to kubernetes-sigs
  config/jobs/kubernetes-sigs/cloud-provider-azure/OWNERS
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

Revert "kops pr e2e: tell kops to deploy the 1.15 version"
  config/jobs/kubernetes/kops/kops-config.yaml
Due: none

Revert "use latest 1.15 in kops e2e aws test instead of k8s master"
  config/jobs/kubernetes/kops/kops-config.yaml
Due: none

kubeadm-kind: use v0.5.1 as the kind build version/tag
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
Due: none

azure: Update all references to cloud-provider-azure to point at k-sigs
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/prow/plugins.yaml
Due: none

kubetest: Add getProjectDir which encapsulates logic of util.K8s{,Sigs}
  kubetest/util/util.go
Due: post-test-infra-push-kubekins-e2e

kubetest/azure: Ensure getting project path from sigs.k8s.io
  kubetest/azure.go
Due: post-test-infra-push-kubekins-e2e

make kind pr blocking in kubernetes/kubernetes
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

sig-release: Drop kops and Windows jobs from job-config-errors dash
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Due: none

sig-release: Drop GCE/GKE jobs from job-config-errors dash
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gke.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/upgrade-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/upgrade-gke.yaml
Due: none

Add sig-release-generated dashboard for generated tests
  config/jobs/kubernetes/generated/generated.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
  experiment/generate_tests.py
Due: none

Add 1.16 jobs and specify specific K8s patch versions
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Due: none

Fix path_alias and extra_refs for CAPG CI jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Due: none

Move big/large scale presubimt to k8s-presubmit-scale project
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: none
