Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Add ci-k8sio-audit perodic job
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Fix pdcsi Windows migration test name
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Enable endpoint-slice batching for gce-scale-correctness
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

add SuspendJob to presubmit and periodic alpha jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

sig-windows: update pause-win image to the new one k8s.gcr.io/pause:3.4.1
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Cherrypicker: Do not react to unrelated label events
  prow/external-plugins/cherrypicker/server.go
Due: post-test-infra-push-prow

Cherrypicker: Test ignore label events w/o matching labels
  prow/external-plugins/cherrypicker/server_test.go
Due: post-test-infra-push-prow

Update Prow to v20210211-1cf930674f
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Deck: surface all initcontainer errors
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/lenses/metadata/lens_test.go
Due: post-test-infra-push-prow

Fix cherrypicker when the fork is not named the same as the repo
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
Due: post-test-infra-push-prow

Deck: also capture 'ErrImagePull' as reason for prow job failures
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/lenses/metadata/lens_test.go
Due: post-test-infra-push-prow

Update ci-k8sio-audit periodic job github token
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

ci-k8sio-audit update ref master->main
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update TestGrid for knative
  config/testgrids/knative/gen-config.yaml
Due: none

Update terraform config for k8s-prow based on current state
  config/clusters/k8s-prow/cluster-configuration.tf
Due: none

Make KEP-1933 presubmit analysis blocking
  config/jobs/kubernetes/sig-instrumentation/verify-govet-levee.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Minor bash script updates to ci-k8sio-audit
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Reduce frequency of alerts for kubemark-{100,500} jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kubernetes-csi: test distributed provisioning/CSIStorageCapacity
  config/jobs/kubernetes-csi/csi-driver-host-path/manual-job-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update TestGrid for kyma
  config/testgrids/kyma/gen-config.yaml
Due: none

Kops - Add -test.timeout flag on kubetest2 jobs
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Link to prowjob config in testgrid descriptions
  testgrid/cmd/configurator/main.go
  testgrid/cmd/configurator/prow.go
  testgrid/cmd/configurator/prow_test.go
  testgrid/config-upload.sh
Due: none

Update Prow to v20210211-72696ce111
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Jira: Improve regex to not allow arbitrary trailing characters
  prow/plugins/jira/jira.go
  prow/plugins/jira/jira_test.go
Due: post-test-infra-push-prow

Renaming Service APIs to Gateway API
  config/jobs/kubernetes-sigs/gateway-api/OWNERS
  config/jobs/kubernetes-sigs/gateway-api/gateway-api-config.yaml
  config/prow/plugins.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
  label_sync/labels.md
  label_sync/labels.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-prow

Enable testing huge services in release-1.19+ performance jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Jira: Set User-Agent
  prow/jira/BUILD.bazel
  prow/jira/jira.go
Due: post-test-infra-push-prow

releng: Cleanup some unused jobs
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Jira plugin: Short circuit when project doesn't exist
  prow/jira/jira.go
  prow/plugins/jira/BUILD.bazel
  prow/plugins/jira/jira.go
  prow/plugins/jira/jira_test.go
Due: post-test-infra-push-prow

Jira: Add http client instrumentation
  prow/jira/BUILD.bazel
  prow/jira/jira.go
  prow/jira/metrics.go
Due: post-test-infra-push-prow

Update test-info post submit to build the setcap image.
  config/jobs/image-pushing/releng/k8s-staging-build-image.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Add HNC postsubmits and periodics
  config/jobs/kubernetes-sigs/wg-multi-tenancy/hnc-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kops: bump flatcar image
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

kops grid: skip Kubectl cluster-info dump should check if cluster-info dump succeeds
  config/jobs/kubernetes/kops/build_grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

prow/deck: fix pr status (GHE)
  prow/github/client.go
Due: post-test-infra-push-prow

Use bash base for ci-k8sio-audit
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

migrate pull-kubernetes-e2e-gci-gce-ipvs job to podutils
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig

Update TestGrid for kubevirt
  config/testgrids/kubevirt/gen-config.yaml
Due: none

migrate pull-kubernetes-dns-test job to podutils
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig
