Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: maintenance-boskos-config-upload, maintenance-ci-testgrid-config-upload, pull-test-infra-gubernator, pull-test-infra-verify-tslint, pull-test-infra-verify-deps, pull-test-infra-verify-labels, post-test-infra-deploy-prow, post-test-infra-push-prow

Path conditions:
  maintenance-boskos-config-upload: any of: ^boskos/.*$
  maintenance-ci-testgrid-config-upload: any of: ^testgrid/.*$
  pull-test-infra-gubernator: any of: gubernator|prow/config.yaml
  pull-test-infra-verify-tslint: any of: \.ts$
  pull-test-infra-verify-deps: any of: ^(go\.mod|go\.sum|WORKSPACE|BUILD\.bazel|hack/verify-deps\.sh|hack/update-deps\.sh|vendor/.*)$
  pull-test-infra-verify-labels: any of: ^label_sync/labels.yaml
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/

Warn when using context with non-default namespace
  prow/cmd/tackle/main.go
Due: post-test-infra-push-prow

vSphere CCM: Mark the pre-submits as always-run
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Due: none

vSphere CCM: Remove old test pre-submit
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

kubernetes-csi: enable Prow for csi-test
  config/jobs/kubernetes-csi/csi-test/csi-test.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
Due: none

add insecure_ssl to HookConfig
  prow/github/types.go
Due: post-test-infra-push-prow

Only run conformance cases for pull requests and conformance tests
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

Update README.md
  prow/cmd/README.md
Due: post-test-infra-push-prow

Add e2e job against gke
  config/jobs/kubernetes-sigs/sig-storage-local-static-provisioner/sig-storage-local-static-provisioner.yaml
Due: none

Bump prow from v20190322-a20dc306f to v20190323-fbd93251f
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/cmd/branchprotector/cronjob.yaml
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-deploy-prow, post-test-infra-push-prow

Configure Tide to respect branchprotection policies.
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-push-prow

enable daisy-e2e-weekly
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Allow the commenter to iterate randomly through results
  robots/commenter/main.go
  robots/commenter/main_test.go
Due: post-test-infra-push-prow

Don't use tot.
  prow/cluster/build_deployment.yaml
  prow/cluster/plank_deployment.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Replace incorrect github.com/golang/lint with actual golang.org/x/lint
  go.mod
Due: pull-test-infra-verify-deps

Enable debug level logs in label_sync.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: none

Remove strict status context requirements for kubernetes/dns
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-push-prow

Recommend forbidding strict context requirements in Tide's best practices section.
  prow/cmd/tide/maintainers.md
Due: post-test-infra-push-prow

Allow update-deps.sh to update specific packages
  hack/update-deps.sh
Due: pull-test-infra-verify-deps

Disable strict context requirement in k/git-sync.
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-push-prow

Actually make label_sync use ghproxy.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: none

Add gce 1.14 stable conformance job
  config/jobs/kubernetes/sig-gcp/gce-conformance.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Update kubernetes version to 1.14
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

Fix azblob usage in kubetest
  kubetest/BUILD.bazel
  kubetest/azure.go
Due: none

Fail unmarshal yaml if unknown fields are present
  prow/config/config.go
  prow/plugins/plugins.go
Due: post-test-infra-push-prow

Add test case for config.Conifg{} validation
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
Due: post-test-infra-push-prow

Show warnings about unknown fields instead of returning parsing error
  WORKSPACE
  prow/cmd/checkconfig/BUILD.bazel
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
  prow/config/config.go
  prow/plugins/plugins.go
Due: pull-test-infra-verify-deps, post-test-infra-push-prow

Add test cases for map entry, multiple invalid entries
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
Due: post-test-infra-push-prow

Use "MapKeys" from go 1.11 instead of "MapRange" from go 1.12
  WORKSPACE
  prow/cmd/checkconfig/BUILD.bazel
  prow/cmd/checkconfig/main.go
Due: pull-test-infra-verify-deps, post-test-infra-push-prow

Set up branch protection for cri-api
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-push-prow

Renable prometheus in kubemark tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Due: none

Fix number of nodes and add retry for flaky tests
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: none

Specify version for boskos CRD
  boskos/crds/client.go
Due: maintenance-boskos-config-upload

Bump prow from v20190323-fbd93251f to v20190326-9102cd1b1
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/cmd/branchprotector/cronjob.yaml
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-deploy-prow, post-test-infra-push-prow

bump boskos server
  boskos/deployment.yaml
Due: maintenance-boskos-config-upload

Disable Prometheus in 5K performance test
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: none

update test for kubeflow 0.5
  config/jobs/kubeflow/kubeflow-periodics.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Fix log dirs for vSphere CCM post/periodic jobs
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Boskos postmortem.
  docs/post-mortems/2019-03-26.md
  docs/post-mortems/README.md
Due: none

Add alerting AI
  docs/post-mortems/2019-03-26.md
Due: none
