Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

peribolos: omit repo field with default value from dump
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Due: post-test-infra-push-prow

Add a kops E2E periodic job for testing the AWS VPC CNI provider
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Due: none

config/testgrids: add openshift OVN release informers
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.3-informing.yaml
Due: none

Tweak Prow README for accessibility
  prow/README.md
Due: post-test-infra-push-prow

Tweak Gubernator README
  gubernator/README.md
Due: pull-test-infra-gubernator

trusted cluster: add backup job for gcr.io/k8s-artifacts-prod
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: none

Tweak Gopherage README
  gopherage/README.md
Due: none

Tweak Velodrome README
  velodrome/README.md
Due: post-test-infra-push-velodrome

Mention sequence diagram in hyperlink text
  prow/README.md
Due: post-test-infra-push-prow

Add CAPA CI job to release informing
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
Due: none

Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Due: none

Add configurable fork to transfigure
  testgrid/cmd/transfigure/transfigure.sh
Due: none

Deprecate the AllowCancellations setting
  prow/ANNOUNCEMENTS.md
  prow/config/config.go
Due: post-test-infra-push-prow

Set allow_cancellations to true for prow.k8s.io
  config/prow/config.yaml
Due: pull-test-infra-gubernator

github: Addess differences in Repo structures
  prow/cmd/branchprotector/protect.go
  prow/cmd/branchprotector/protect_test.go
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
  prow/github/client.go
  prow/github/client_test.go
  prow/github/types.go
Due: post-test-infra-push-prow

bump the integration image
  config/jobs/kubernetes/sig-testing/integration.yaml
Due: none

switch integration to podutils
  config/jobs/kubernetes/sig-testing/integration.yaml
Due: none

Update cluster-api-provider-aws-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Due: none

Add multi-az e2e test for Azure Disk CSI Driver
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Due: none

Add ENABLE_TOPOLOGY env var
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Due: none

add bentheelder to slack updater mapping
  experiment/slack-oncall-updater/main.go
Due: none

update master branch integration periodic to podutils
  config/jobs/kubernetes/sig-testing/integration.yaml
Due: none

Expose a utility to determine approval config for a repo
  prow/plugins/approve/approve.go
  prow/plugins/config.go
Due: post-test-infra-push-prow

switch to podutils for 1.17 CI integration
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
Due: none

enable job forking for pull-kubernetes-integration
  config/jobs/kubernetes/sig-testing/integration.yaml
Due: none

add 1.17 pull-kubernetes-integration
  config/jobs/kubernetes/sig-testing/integration.yaml
Due: none

Add omitempty where appropriate for config fields
  prow/config/config.go
  prow/config/tide.go
Due: post-test-infra-push-prow

verify-owners: use repo fullName in SkipCollaborators check
  prow/plugins/verify-owners/verify-owners.go
Due: post-test-infra-push-prow

Support `/unhold` as an alias to `/hold cancel`
  prow/plugins/hold/hold.go
  prow/plugins/hold/hold_test.go
Due: post-test-infra-push-prow

fix link to boskos-resources.yaml
  boskos/README.md
Due: post-test-infra-push-boskos, post-test-infra-push-kubekins-e2e

Update links to prow docs
  README.md
Due: none

Update docs for prow.k8s.io
  config/jobs/README.md
Due: none

Update Cluster API related jobs to use kubekins-e2e 1.16 images
  config/jobs/kubernetes-sigs/cluster-api-boostrap-provider-kubeadm/cluster-api-bootstrap-provider-kubeadm-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-docker/cluster-api-provider-docker-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Due: none

Enable Slack reporter for k8s Prow Crier deployment
  config/prow/config.yaml
  prow/cluster/crier_deployment.yaml
Due: pull-test-infra-gubernator, post-test-infra-deploy-prow, post-test-infra-push-prow

peribolos: Error when running --dump without admin:org scope
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Due: post-test-infra-push-prow

Add omitempty where appropriate for plugin config fields
  prow/plugins/config.go
Due: post-test-infra-push-prow

Expose a utility to determine approval config for a repo
  prow/plugins/approve/BUILD.bazel
  prow/plugins/config.go
  prow/plugins/lgtm/lgtm.go
Due: post-test-infra-push-prow

Use kubekins-e2e image everywhere possible
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Due: none

Set kubekins-e2e images to 1.16
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none
