Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Prevent autobump from failing if no ProwJobs use gcr.io/k8s-prow/* images.
  prow/cmd/autobump/bump.sh
Due: post-test-infra-push-prow

Make autobump Gerrit PRs link to the included Prow changes.
  prow/cmd/autobump/autobump.sh
Due: post-test-infra-push-prow

lower cpu request in k8s-infra-prow-builds
  config/jobs/kubernetes-sigs/kind/kind-release-blocking.yaml
Due: none

bump krte
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind-release-blocking.yaml
  config/jobs/kubernetes-sigs/kind/kind.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

allow conformance only job as much time as GCE
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Due: none

Implemented Down() in GCE deployer for cloud-provider-gcp
  kubetest2/kubetest2-gce/deployer/BUILD.bazel
  kubetest2/kubetest2-gce/deployer/deployer.go
  kubetest2/kubetest2-gce/deployer/down.go
Due: none

Support for proxy node in GKE tests
  kubetest/gke.go
Due: post-test-infra-push-kubekins-e2e

Get rid of OOMs tracking in jobs using experimental config
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Due: none

Fix deprecated GCP instance filtering
  kubetest/gke.go
Due: post-test-infra-push-kubekins-e2e

Revert "Fix ubuntu image name for iSCSI tests"
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Due: none

Enable alerting for Golang CI test job
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Due: none

Crier - pretty print json reported to GCS
  prow/crier/reporters/gcs/kubernetes/reporter.go
  prow/crier/reporters/gcs/reporter.go
Due: post-test-infra-push-prow

Enable OOM tracking in periodic 1.16-1.18 perf test jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
Due: none

Enable OOM tracking in periodic master perf test jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: none

option to use iptables-nft for kind jobs
  images/krte/wrapper.sh
Due: none

enable iptables-nft on kind canary jobs
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

Implemented IsUp() in GCE deployer
  kubetest2/kubetest2-gce/deployer/deployer.go
  kubetest2/kubetest2-gce/deployer/up.go
Due: none

images/gcb-docker-gcloud: Update version of docker-buildx
  images/gcb-docker-gcloud/Dockerfile
Due: none

Use gcr.io/rules-k8s/gcloud-bazel:v20200619-v0.4-44-g992f469 for rules_k8s
  config/jobs/bazelbuild/rules_k8s/rules_k8s_config.yaml
Due: none

Replace hack/e2e.sh with kubetest
  gubernator/filters.py
  gubernator/filters_test.py
Due: pull-test-infra-gubernator

Teach sinker To Reap Pods In All Namespaces
  config/prow/cluster/sinker_rbac.yaml
  prow/cmd/sinker/main.go
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

don't always run RBE
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
Due: none

Teach Plank V1 To Create Pods In Multiple Namespaces
  prow/config/config.go
  prow/plank/controller.go
Due: post-test-infra-push-prow

Added RBAC Updates
  config/prow/cluster/plank_rbac.yaml
Due: post-test-infra-deploy-prow

Revert "enable iptables-nft on kind canary jobs"
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: none

Ability to dump logs in node e2e jobs
  kubetest/node.go
Due: post-test-infra-push-kubekins-e2e

Remove exporting KUBECONFIG as no longer needed on kind v0.6.0 or later
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Due: none

add CreateTag and CreateRef to github client
  prow/github/client.go
  prow/github/types.go
Due: post-test-infra-push-prow

docs
  okro_changes.md
Due: none

Add periodic test for ARM64
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Due: none

Validate github tokens when reading and improve GitHub API error handling (#17942)
  prow/config/secret/BUILD.bazel
  prow/config/secret/secret.go
  prow/config/secret/secret_test.go
  prow/github/client.go
Due: post-test-infra-push-prow

Kops - increase verbosity on new arm64 job
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Due: none

Use fixed AWS region "eu-west-1" for ARM64
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Due: none

Use the "release/latest" marker for ARM64 tests
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Due: none

New job + changes in k8sio-dns-update prow jobs
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml
Due: none

Run CentOS only on nodes in SELinux storage job
  config/jobs/kubernetes/sig-storage/sig-storage-kops-config.yaml
Due: none

benchmark-config: decrease number of pods to 90
  jobs/e2e_node/benchmark-config.yaml
  jobs/e2e_node/containerd/cri-master/benchmark-config.yaml
Due: none

Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

kubeflow/pipelines: use merge_commit_template for stable commit message
  config/prow/config.yaml
Due: pull-test-infra-gubernator
