Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:0.4
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

post-test-infra-push-boskos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - boskos/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

post-test-infra-push-kettle:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - kettle/
      env:
  ...

bumping up the vpa-full e2e test timeout
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
Due: none

update the repo name from common-service-operator to meta-operator.
  prow/config.yaml
Due: post-test-infra-push-prow

update the repo name from common-service-operator to meta-operator. (#87)
  prow/cluster/jobs/IBM/meta-operator/IBM.meta-operator.master.yaml
  prow/cluster/jobs/IBM/meta-operator/OWNERS
  prow/config.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

kubebuilder: make jobs require for merge
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Due: none

Increase CAPG k8s CI timeout to 3h
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
Due: none

Don't report jobs with no build ID.
  prow/crier/reporters/gcs/kubernetes/reporter.go
  prow/crier/reporters/gcs/kubernetes/reporter_test.go
Due: post-test-infra-push-prow

Increase timeout/interval for Windows containerd job to 4h
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Due: none

Pass podinfo.json to metadata lens.
  config/prow/config.yaml
Due: pull-test-infra-gubernator

Azure: add userAssignedID field
  kubetest/azure_helpers.go
Due: post-test-infra-push-kubekins-e2e

Add resource requests for pd driver CI to speed up Kubernetes builds
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
Due: none

Add the cert-manager-operator to be integrated into prow. (#88)
  prow/cluster/jobs/IBM/ibm-cert-manager-operator/IBM.ibm-cert-manager-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-cert-manager-operator/OWNERS
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Update k8s.io approve settings
  config/prow/plugins.yaml
Due: none

Kops - Set PATH for downloaded k8s binaries in ena-nvme job
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Due: none

Kops - set PATH for all periodic E2E jobs that use the new e2e runner
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Due: none

support multiarch build. (#89)
  prow/config.yaml
Due: post-test-infra-push-prow

Publishing arm64 conformance test results in conformance-arm page
  config/testgrids/conformance/conformance-all.yaml
Due: none

Remove 'ConfigFile' and 'PluginFile' config fields
  prow/plugins/config.go
  prow/plugins/config_test.go
  prow/plugins/updateconfig/updateconfig.go
Due: post-test-infra-push-prow

Kops - Set PATH on remaining periodic e2e jobs
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Due: none

Kops - increase frequency of k8s version testing for unstable kops versions
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-versions.yaml
Due: none

Kops - set PATH for presubmit e2e jobs
  config/jobs/kubernetes/kops/kops-config.yaml
Due: none

Add config-path to crier deployment in README
  prow/cmd/crier/README.md
Due: post-test-infra-push-prow

Fix postsubmit job for cluster-api
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-ci.yaml
Due: none

Skip test "Services should be rejected when no endpoints exist"
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-network-plugins.yaml
Due: none

Kops - fix kops-aws job using new e2e runner
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Due: none

Remove aws-ena-nvme periodic test
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Due: none

Skip test "Services should be rejected when no endpoints exist" for Canal also
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-network-plugins.yaml
Due: none

Azure: add MSI role assignment logic after cluster creation
  kubetest/BUILD.bazel
  kubetest/azure.go
  kubetest/azure_helpers.go
Due: post-test-infra-push-kubekins-e2e

Add more buckets to boskos_http_request_duration_seconds histogram
  boskos/boskos.go
Due: post-test-infra-push-boskos, post-test-infra-push-kubekins-e2e

Updating various azure job configs to use aks-engine v0.46.3
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.15.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
Due: none

Verify GitHub SSH key fingerprint in clonerefs
  prow/cmd/clonerefs/BUILD.bazel
  prow/cmd/clonerefs/github_known_hosts
  prow/cmd/clonerefs/ssh_config
Due: post-test-infra-push-prow

Include the error when a pod cannot be started.
  prow/plank/controller.go
Due: post-test-infra-push-prow

Update concurrency for CAPA jobs that use Boskos
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
Due: none

Add a prowjob-based hint to the hint message.
  prow/spyglass/lenses/metadata/BUILD.bazel
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/lenses/metadata/lens_test.go
Due: post-test-infra-push-prow

Allow tide merge method labels to be applied with the /label plugin.
  config/prow/plugins.yaml
Due: none

using utility images from quay.io (#90)
  prow/config.yaml
Due: post-test-infra-push-prow

Make high-density-job use forked density config
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: none

GitHub client: Log retries
  prow/github/BUILD.bazel
  prow/github/client.go
  prow/github/client_test.go
Due: post-test-infra-push-prow

Boskos: remove global lock
  boskos/boskos.go
  boskos/ranch/ranch.go
Due: post-test-infra-push-boskos, post-test-infra-push-kubekins-e2e

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
