Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/

Tighter bound for default MaxPodTTL.
  prow/config/config.go
Due: post-test-infra-push-prow

boskos/metrics: don't completely bail out if one of the resource types errors
  boskos/metrics/metrics.go
Due: post-test-infra-push-boskos, post-test-infra-push-kubekins-e2e

[capi] add the capi e2es to the presubmits
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Due: none

[capi] presubmit skip branches
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Due: none

Mark staging2 as a valid environment.
  kubetest/gke.go
Due: post-test-infra-push-kubekins-e2e

Use windows-testing instead of private repo for sig-release GCE Windows test jobs.
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
Due: none

Switch Amazon Linux 2 e2e test to containerd
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-distros.yaml
Due: none

Make updown job run more often
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Due: none

Switch marker to release/latest
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-distros.yaml
Due: none

removing vpa updater test
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
Due: none

Update sig-windows config with Windows 1909 job.
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

Bump kubemark-500-* timeout to 80m
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: none

[capi] fix periodics
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-ci.yaml
Due: none

[capi] remove capi-e2es in favor of capd-e2es
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Due: none

Update cluster-api-provider-aws jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Due: none

Disable NodeFeature:RuntimeHandler test for containerd
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Due: none

Revert "Try capping bazel's memory in some pull-kubernetes-e2e jobs"
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: none

s/Unkown/Unknown/
  prow/plugins/size/size.go
Due: post-test-infra-push-prow

Point docs to community version of same content.
  prow/plugins/approve/approvers/README.md
Due: post-test-infra-push-prow

Tide: support query by "author"
  prow/config/tide.go
  prow/config/tide_test.go
  prow/tide/status.go
  prow/tide/status_test.go
Due: post-test-infra-push-prow

Update Tide query docs
  prow/cmd/tide/config.md
Due: post-test-infra-push-prow

Add a lens for viewing job pod information.
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/cmd/deck/static/spyglass/lens.ts
  prow/spyglass/lenses/BUILD.bazel
  prow/spyglass/lenses/podinfo/BUILD.bazel
  prow/spyglass/lenses/podinfo/podinfo.go
  prow/spyglass/lenses/podinfo/podinfo.ts
  prow/spyglass/lenses/podinfo/style.css
  prow/spyglass/lenses/podinfo/template.html
Due: post-test-infra-push-prow

Add network plugins e2e periodics
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Due: none

Make periodic e2e more stable #1
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-versions.yaml
Due: none

Make tests more stable #2
  config/jobs/kubernetes/kops/kops-config.yaml
Due: none

relax inrepoconfig branches and skipbranches validation
  prow/config/inrepoconfig.go
  prow/config/inrepoconfig_test.go
Due: post-test-infra-push-prow

Make tests more stable #3
  config/jobs/kubernetes/kops/kops-config.yaml
Due: none

e2e-topology-manager: Add CI job for topology manager
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: none

Add a --shutdown-bazel-pre-stage flag to kubetest
  kubetest/main.go
  kubetest/stage.go
  kubetest/util/util.go
Due: post-test-infra-push-kubekins-e2e

releng: Add ci-release-anago-stage job to test anago stage functionality
  config/jobs/kubernetes/release/release-config.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
Due: none

Change boskos alert to fire when resource is exhausted instead of predicting exhaustion.
  prow/cluster/monitoring/mixins/prometheus/boskos_alerts.libsonnet
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Add a pull-kubernetes-e2e-gce-canary job
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/testgrids/config.yaml
Due: none

Update Tide PR status for author
  prow/cmd/deck/static/api/tide.ts
  prow/cmd/deck/static/pr/pr.ts
  prow/cmd/deck/template/pr.html
Due: post-test-infra-push-prow

Update the repo dependency on OSS testgrid from alpha.3 to alpha.4, resolve any deprecated field.
  experiment/resultstore/download.go
  experiment/resultstore/main.go
  go.mod
  go.sum
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/job_history.go
  prow/cmd/deck/pr_history_test.go
  prow/initupload/run.go
  prow/initupload/run_test.go
  prow/sidecar/run.go
  repos.bzl
  testgrid/cmd/configurator/main.go
Due: post-test-infra-push-prow

Use a newer image with RHEL8 for network plugins tests
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-network-plugins.yaml
Due: none

Use "amazon-vpc-routed-eni" with Amazon Linux 2
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-distros.yaml
Due: none

Revert remaining bits of #16069
  config/jobs/kubernetes/kops/kops-config.yaml
Due: none

GKE: Ensure firewall rule before dumping logs.
  kubetest/gke.go
Due: post-test-infra-push-kubekins-e2e
