Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: maintenance-boskos-config-upload, maintenance-ci-testgrid-config-upload, pull-test-infra-gubernator, pull-test-infra-verify-tslint, pull-test-infra-verify-deps, pull-test-infra-verify-labels, post-test-infra-deploy-prow, post-test-infra-push-prow

Path conditions:
  maintenance-boskos-config-upload: any of: ^boskos/.*$
  maintenance-ci-testgrid-config-upload: any of: ^testgrid/.*$
  pull-test-infra-gubernator: any of: gubernator|prow/config.yaml
  pull-test-infra-verify-tslint: any of: \.ts$
  pull-test-infra-verify-deps: any of: ^(go\.mod|go\.sum|WORKSPACE|BUILD\.bazel|hack/verify-deps\.sh|hack/update-deps\.sh|vendor/.*)$
  pull-test-infra-verify-labels: any of: ^label_sync/labels.yaml
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/

update with rate limiting branch manager
  prow/plugins.yaml
Due: post-test-infra-push-prow

Update gubernator requirements.txt
  gubernator/requirements.txt
Due: pull-test-infra-gubernator

Go back to using image launcher.gcr.io/google/bazel
  WORKSPACE
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Due: pull-test-infra-verify-deps

Deck: Do not count in-progress and aborted jobs into pass rates
  prow/cmd/deck/static/prow/prow.ts
Due: pull-test-infra-verify-tslint, post-test-infra-push-prow

Only ignore secret teams
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Due: post-test-infra-push-prow

Added Config Slice For GitHub API Endpoints
  prow/config.yaml
  prow/config/config.go
Due: pull-test-infra-gubernator, post-test-infra-push-prow

Resolve Testing const []string Issue
  prow/config/config.go
Due: post-test-infra-push-prow

Add --nobuild_tests_only when running tests on RBE.
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Due: none

Remove unused hack/test_requirements.txt
  hack/test_requirements.txt
Due: none

Improve mkbuild-cluster error messages for bad credentials
  prow/cmd/mkbuild-cluster/README.md
  prow/cmd/mkbuild-cluster/main.go
Due: post-test-infra-push-prow

Test enabling Peribolos testgrid alerts
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Namespace tide merge-blocker label, add it to the sync
  label_sync/labels.md
  label_sync/labels.yaml
  prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-verify-labels, post-test-infra-push-prow

Document the use of merge blocker issues for tide
  prow/cmd/tide/config.md
Due: post-test-infra-push-prow

Finalize peribolos alerting
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Differentiate resource not found from type not found
  boskos/boskos.go
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
Due: maintenance-boskos-config-upload

Switch GKE scalability tests to use k8s-beta
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: none

sig-cluster-lifecycle: update OWNERS file
  config/jobs/kubernetes/sig-cluster-lifecycle/OWNERS
Due: none

Bump prow from v20190409-ef11deceb to v20190411-24aefcb76
  config/jobs/kubernetes-sigs/kubespray/kubespray-fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/cmd/branchprotector/cronjob.yaml
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-deploy-prow, post-test-infra-push-prow

Simpler Approach
  label_sync/main.go
  prow/flagutil/github.go
  prow/github/client.go
  robots/commenter/main.go
Due: post-test-infra-push-prow

Allow peribolos to manage repo permissions for teams
  prow/cmd/peribolos/BUILD.bazel
  prow/cmd/peribolos/README.md
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Due: post-test-infra-push-prow

Add GitHub client support for team repo permissions
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
  prow/config/org/BUILD.bazel
  prow/config/org/org.go
  prow/config/org/org_test.go
  prow/github/BUILD.bazel
  prow/github/client.go
  prow/github/helpers.go
  prow/github/helpers_test.go
  prow/github/types.go
Due: post-test-infra-push-prow

Add logging for peribolos dump
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Due: post-test-infra-push-prow

Allow negative warning matching for checkconfig
  prow/cmd/checkconfig/BUILD.bazel
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
Due: post-test-infra-push-prow

Fixing Broken Validate Logic
  experiment/manual-trigger/manual-trigger.go
  prow/cmd/tackle/main.go
  prow/flagutil/github.go
  prow/prstatus/prstatus.go
  robots/pr-labeler/main.go
Due: post-test-infra-push-prow

Add optional pull job for slow storage tests
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Add new label for code organization subproject (sig-arch)
  label_sync/labels.md
  label_sync/labels.yaml
Due: pull-test-infra-verify-labels, post-test-infra-push-prow

Fix a link to jobs doc
  prow/cmd/tide/config.md
Due: post-test-infra-push-prow

Making sure client user cluster-admin permission
  prow/cluster/starter.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Revert "Adding istio e2e-kind-simpleTests postsubmit test to testgrid"
  testgrid/config.yaml
Due: maintenance-ci-testgrid-config-upload

Default the configPath value while gathering
  prow/cmd/deck/main.go
  prow/cmd/hook/main.go
  prow/cmd/horologium/main.go
  prow/cmd/horologium/main_test.go
  prow/cmd/plank/main.go
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
  prow/cmd/tide/main.go
  prow/config/config.go
Due: post-test-infra-push-prow

Bump prow from v20190408-5796ba99f to v20190408-e33d1b1eb
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/cmd/branchprotector/cronjob.yaml
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-deploy-prow, post-test-infra-push-prow

Handle the tag lookup better.
  experiment/image-bumper/main.go
Due: none

Revert "Revert "Merge pull request #11976 from hemanik/issue-11728""
  prow/ANNOUNCEMENTS.md
  prow/cmd/deck/main.go
  prow/cmd/hook/main.go
  prow/cmd/horologium/main.go
  prow/cmd/horologium/main_test.go
  prow/cmd/plank/main.go
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
  prow/cmd/tide/main.go
  prow/config/config.go
Due: post-test-infra-push-prow

Run ./hack/update-deps.sh --patch
  WORKSPACE
  go.mod
  go.sum
  vendor/go.opencensus.io/BUILD.bazel
  vendor/go.opencensus.io/exemplar/exemplar.go
  vendor/go.opencensus.io/metric/metricdata/BUILD.bazel
  vendor/go.opencensus.io/metric/metricdata/doc.go
  vendor/go.opencensus.io/metric/metricdata/exemplar.go
  vendor/go.opencensus.io/metric/metricdata/label.go
  vendor/go.opencensus.io/metric/metricdata/metric.go
  vendor/go.opencensus.io/metric/metricdata/point.go
  vendor/go.opencensus.io/metric/metricdata/type_string.go
  vendor/go.opencensus.io/metric/metricdata/unit.go
  vendor/go.opencensus.io/metric/metricproducer/BUILD.bazel
  vendor/go.opencensus.io/metric/metricproducer/manager.go
  vendor/go.opencensus.io/metric/metricproducer/producer.go
  vendor/go.opencensus.io/plugin/ochttp/BUILD.bazel
  vendor/go.opencensus.io/plugin/ochttp/client_stats.go
  vendor/go.opencensus.io/plugin/ochttp/trace.go
  vendor/go.opencensus.io/plugin/ochttp/wrapped_body.go
  vendor/go.opencensus.io/resource/BUILD.bazel
  vendor/go.opencensus.io/resource/resource.go
  vendor/go.opencensus.io/stats/BUILD.bazel
  vendor/go.opencensus.io/stats/record.go
  vendor/go.opencensus.io/stats/view/BUILD.bazel
  vendor/go.opencensus.io/stats/view/aggregation_data.go
  vendor/go.opencensus.io/stats/view/collector.go
  vendor/go.opencensus.io/stats/view/view.go
  vendor/go.opencensus.io/stats/view/view_to_metric.go
  vendor/go.opencensus.io/stats/view/worker.go
  vendor/go.opencensus.io/stats/view/worker_commands.go
  vendor/go.opencensus.io/tag/context.go
  vendor/go.opencensus.io/trace/BUILD.bazel
Due: pull-test-infra-verify-deps

Code review cleanup.
  experiment/image-bumper/main.go
Due: none

deck: Fix off-by-one overflow when jobs are older than 48h
  prow/cmd/deck/static/prow/prow.ts
Due: pull-test-infra-verify-tslint, post-test-infra-push-prow

Add and update dependencies
  WORKSPACE
  go.mod
  go.sum
  vendor/BUILD.bazel
  vendor/github.com/klauspost/compress/LICENSE
  vendor/github.com/klauspost/compress/flate/BUILD.bazel
  vendor/github.com/klauspost/compress/flate/copy.go
  vendor/github.com/klauspost/compress/flate/crc32_amd64.go
  vendor/github.com/klauspost/compress/flate/crc32_amd64.s
  vendor/github.com/klauspost/compress/flate/crc32_noasm.go
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/flate/dict_decoder.go
  vendor/github.com/klauspost/compress/flate/gen.go
  vendor/github.com/klauspost/compress/flate/huffman_bit_writer.go
  vendor/github.com/klauspost/compress/flate/huffman_code.go
  vendor/github.com/klauspost/compress/flate/inflate.go
  vendor/github.com/klauspost/compress/flate/reverse_bits.go
  vendor/github.com/klauspost/compress/flate/snappy.go
  vendor/github.com/klauspost/compress/flate/token.go
  vendor/github.com/klauspost/cpuid/BUILD.bazel
  vendor/github.com/klauspost/cpuid/LICENSE
  vendor/github.com/klauspost/cpuid/cpuid.go
  vendor/github.com/klauspost/cpuid/cpuid_386.s
  vendor/github.com/klauspost/cpuid/cpuid_amd64.s
  vendor/github.com/klauspost/cpuid/detect_intel.go
  vendor/github.com/klauspost/cpuid/detect_ref.go
  vendor/github.com/klauspost/cpuid/generate.go
  vendor/github.com/klauspost/cpuid/private-gen.go
  vendor/github.com/klauspost/pgzip/BUILD.bazel
  vendor/github.com/klauspost/pgzip/LICENSE
  vendor/github.com/klauspost/pgzip/gunzip.go
  vendor/github.com/klauspost/pgzip/gzip.go
Due: pull-test-infra-verify-deps

Update cluster yaml to set --config-path
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/tide_deployment.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Bump prow from v20190408-e33d1b1eb to v20190409-ef11deceb
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/cmd/branchprotector/cronjob.yaml
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-deploy-prow, post-test-infra-push-prow
