Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-triage, post-test-infra-push-bazel, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-krte, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$

Update Prow to v20210409-985ef5e721
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Switch all kubeconfig consumer deployments to use KUBECONFIG envvar
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
Due: post-test-infra-deploy-prow

cloud-provider-azure: use nightly aks-engine build
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Backup all secrets in a cluster
  experiment/clustersecretbackup/BUILD.bazel
  experiment/clustersecretbackup/README.md
  experiment/clustersecretbackup/main.go
  experiment/clustersecretbackup/secretmanager/example/config.yaml
  experiment/clustersecretbackup/secretmanager/example/deploy.yaml
  experiment/clustersecretbackup/secretmanager/secretmanager.go
  prow/BUILD.bazel
Due: post-test-infra-push-prow

Update based on code review feedbacks
  experiment/clustersecretbackup/BUILD.bazel
  experiment/clustersecretbackup/README.md
  experiment/clustersecretbackup/main.go
  experiment/clustersecretbackup/secretmanager/BUILD.bazel
  experiment/clustersecretbackup/secretmanager/secretmanager.go
Due: none

Update experiment/clustersecretbackup/main.go
  experiment/clustersecretbackup/main.go
  experiment/clustersecretbackup/secretmanager/secretmanager.go
Due: none

gencred tool also does merge cred
  experiment/BUILD.bazel
  experiment/clustersecretbackup/BUILD.bazel
  experiment/clustersecretbackup/main.go
  experiment/clustersecretbackup/secretmanager/BUILD.bazel
  experiment/clustersecretbackup/secretmanager/example/config.yaml
  experiment/clustersecretbackup/secretmanager/example/deploy.yaml
  experiment/clustersecretbackup/secretmanager/secretmanager.go
  go.mod
  prow/BUILD.bazel
Due: post-test-infra-push-prow

Switch image-builder packer-validate to script
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

pod-utils: sidecar: log a warning when relpath breaks
  prow/sidecar/censor.go
Due: post-test-infra-push-prow

prow: pod-utils: sidecar: allow configuring censor paths
  prow/sidecar/BUILD.bazel
  prow/sidecar/censor.go
  prow/sidecar/censor_test.go
  prow/sidecar/options.go
  prow/sidecar/testdata/input/artifacts/first/exclude
  prow/sidecar/testdata/output/artifacts/first/exclude
Due: post-test-infra-push-prow

pod-utils: sidecar: do not censor if present in excludes
  prow/sidecar/censor.go
  prow/sidecar/censor_test.go
  prow/sidecar/options.go
Due: post-test-infra-push-prow

pod-utils: sidecar: expose censoring options on a job
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/zz_generated.deepcopy.go
  prow/config/prow-config-documented.yaml
  prow/pod-utilities.md
  prow/pod-utils/decorate/podspec.go
  prow/sidecar/censor.go
  prow/sidecar/options.go
Due: post-test-infra-push-prow

Require packer-validate test for PRs
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Tide: Prioritize batches with pre-existing tests when picking
  prow/ANNOUNCEMENTS.md
  prow/config/prow-config-documented.yaml
  prow/config/tide.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Due: post-test-infra-push-prow

Don't run image-builder gcp job on changes (yet)
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Onboarding prow build cluster: using gsm to stop sharing plain text secret
  prow/create-build-cluster.sh
Due: post-test-infra-push-prow

More targeted error message for prompting generating config and plugins doc
  prow/config/config_test.go
  prow/plugins/plugins_test.go
Due: post-test-infra-push-prow

Update Prow to v20210409-7d5e552c49
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Add script for creating/updating GCP service account with appropriate pod util permissions.
  prow/create-build-cluster.sh
  prow/make_prowjob_sa.sh
Due: post-test-infra-push-prow

windows upstream e2e pr job
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

split out pre-submits
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add CI job for GOSS configs
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update repo-infra to v0.2.2
  load.bzl
Due: post-test-infra-push-prow

Turn on golangci-lint
  .golangci.yml
  hack/BUILD.bazel
Due: none

Require GOSS populate job for image-builder
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Reference CI scripts in new location
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Revert "Soak time for containerd 1.5.0 using release candidate rc.0"
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

k8s 1.21 introduced some new tests cilium is failing
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Skip same port number but different protocols, which flakes a lot
  config/jobs/kubernetes/kops/build_jobs.py
Due: post-test-infra-upload-testgrid-config

Remove dead code and enable linting for it
  .golangci.yml
  config/tests/jobs/jobs_test.go
  experiment/logviewer/gcsreader/BUILD.bazel
  experiment/logviewer/gcsreader/local.go
  ghproxy/ghcache/ghcache.go
  ghproxy/ghmetrics/ghmetrics.go
  kubetest/aksengine_helpers.go
  kubetest/extract_k8s.go
  kubetest/kind/kind.go
  kubetest/main.go
  prow/bugzilla/client.go
  prow/cmd/deck/main.go
  prow/cmd/jenkins-operator/logs.go
  prow/cmd/tackle/main.go
  prow/config/jobtests/job_config_test.go
  prow/deck/jobs/jobs.go
  prow/flagutil/kubernetes_cluster_clients.go
  prow/gerrit/adapter/adapter.go
  prow/kube/constants.go
  prow/plugins/approve/approvers/owners_test.go
  prow/plugins/blockade/blockade.go
  prow/plugins/buildifier/buildifier.go
  prow/plugins/dco/dco_test.go
  prow/plugins/invalidcommitmsg/invalidcommitmsg_test.go
  prow/plugins/milestone/milestone_test.go
  prow/plugins/shrug/shrug.go
  prow/plugins/trigger/trigger.go
  prow/repoowners/repoowners_test.go
  prow/spyglass/lenses/junit/lens_test.go
  prow/spyglass/podlogartifact.go
  prow/spyglass/spyglass_test.go
  prow/spyglass/storageartifact.go
  prow/tide/tide.go
  testgrid/cmd/transfigure/cmd/transfigure.go
  velodrome/transform/plugins/state_test.go
Due: post-test-infra-push-prow, post-test-infra-push-kubekins-e2e

Needs-Rebase: Add github apps auth support
  prow/external-plugins/needs-rebase/main.go
  prow/external-plugins/needs-rebase/plugin/BUILD.bazel
  prow/external-plugins/needs-rebase/plugin/plugin.go
  prow/external-plugins/needs-rebase/plugin/plugin_test.go
Due: post-test-infra-push-prow

Remove plank v1
  prow/ANNOUNCEMENTS.md
  prow/BUILD.bazel
  prow/cmd/README.md
  prow/cmd/plank/BUILD.bazel
  prow/cmd/plank/OWNERS
  prow/cmd/plank/README.md
  prow/cmd/plank/main.go
  prow/cmd/plank/main_test.go
  prow/cmd/prow-controller-manager/README.md
  prow/def.bzl
  prow/plank/BUILD.bazel
  prow/plank/README.md
  prow/plank/controller.go
  prow/plank/controller_test.go
  prow/plank/reconciler.go
  prow/pod-utilities.md
Due: post-test-infra-push-prow

switch testing versions to 1.21 for cloud provider azure
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

labels: refine release-note plugin name
  label_sync/labels.yaml
Due: none

dco: fix comment for SkipDCOCheckForCollaborators configuration
  prow/plugins/config.go
Due: post-test-infra-push-prow

Fix network performance test setup
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Horologium: Use a cached prowjob client
  config/prow-staging/cluster/horologium_rbac.yaml
  config/prow/cluster/horologium_rbac.yaml
  prow/ANNOUNCEMENTS.md
  prow/cmd/horologium/BUILD.bazel
  prow/cmd/horologium/main.go
  prow/cmd/horologium/main_test.go
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

labels: update labels markdown
  label_sync/labels.md
Due: none
