Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:v20200520-098b536
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20200624-16c251c027
      command:
      - /checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

post-test-infra-push-boskos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - boskos/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

Add className to all flavors of Test result
  prow/spyglass/lenses/junit/template.html
Due: post-test-infra-push-prow

Add Kubebuilder Maintainers to milestone command
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

always run the GA-only job to prevent regressions
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Due: pull-test-infra-prow-checkconfig

don't use bazel in 1.15 job
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Due: pull-test-infra-prow-checkconfig

kind: Add 1.19 jobs
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Due: pull-test-infra-prow-checkconfig

Migrate pull-kubernetes-bazel-test to k8s-infra-prow-build
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Due: pull-test-infra-prow-checkconfig

add transistion images for bazel 3.4.1
  images/bazel/variants.yaml
  images/krte/cloudbuild.yaml
  images/kubekins-e2e/cloudbuild.yaml
  images/kubekins-e2e/variants.yaml
Due: post-test-infra-push-kubekins-e2e

Make crier use exponential backoff when waiting for lister update.
  prow/crier/controller.go
Due: post-test-infra-push-prow

Fix Crier handling of reporters that report multiple PJs.
  prow/crier/controller.go
Due: post-test-infra-push-prow

Update csi-driver-smb-config.yaml
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Due: pull-test-infra-prow-checkconfig

Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Due: none

releng(kubekins, krte): Update Golang versions to go1.15.2
  images/kubekins-e2e/variants.yaml
Due: post-test-infra-push-kubekins-e2e

releng: Update build directory for kube-cross images
  config/jobs/image-pushing/k8s-staging-build-image.yaml
Due: pull-test-infra-prow-checkconfig

Fix a typo in node-feature-discovery postsubmit job config
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
Due: pull-test-infra-prow-checkconfig

Revert "update prow job for ibm-grafana-ocpthanos-proxy. (#238)" (#239)
  prow/cluster/jobs/IBM/ibm-grafana-ocpthanos-proxy/IBM.ibm-grafana-ocpthanos-proxy.master.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Revert "Sinker: Use cache for pods"
  config/prow/cluster/sinker_rbac.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  prow/cmd/prow-controller-manager/main.go
  prow/cmd/sinker/BUILD.bazel
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
  prow/flagutil/kubernetes_cluster_clients.go
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Bump cpu from 4 to 7 for pull-kubernetes-bazel-test
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Due: pull-test-infra-prow-checkconfig

Add kettle unit tests for populate_finish (#19026)
  kettle/make_json_test.py
Due: post-test-infra-push-kettle

image-pushing: add config for nfd-operator
  config/jobs/image-pushing/k8s-staging-nfd-operator.yaml
Due: pull-test-infra-prow-checkconfig

Add login and name options for git commits
  experiment/autobumper/bumper/bumper.go
  prow/flagutil/git.go
Due: post-test-infra-push-prow

Reduce ci-conformance-kind-ga-only cpu to 7
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Due: pull-test-infra-prow-checkconfig

Update TestGrid for GoogleCloudPlatform
  config/testgrids/GoogleCloudPlatform/gen-config.yaml
Due: none

remove node-kubelet-serial-alpha as it doesn't contain any tests
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Due: pull-test-infra-prow-checkconfig

add auto push for kube-storage-version-migrator
  config/jobs/image-pushing/k8s-staging-storage-migrator.yaml
Due: pull-test-infra-prow-checkconfig

Add ignore job list to Buckets.yaml
  kettle/buckets.yaml
  kettle/make_db.py
  kettle/make_db_test.py
Due: post-test-infra-push-kettle

Update README for bucket changes
  kettle/README.md
Due: post-test-infra-push-kettle

onboard IBM/prometheus-metrics-server-simulator. (#240)
  prow/cluster/jobs/IBM/prometheus-metrics-server-simulator/ibm.prometheus-metrics-server-simulator.master.yaml
  prow/config.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Test discription
  kettle/make_db_test.py
Due: post-test-infra-push-kettle

spyglass - make the order of JUnit test cases deterministic
  prow/spyglass/lenses/junit/lens.go
  prow/spyglass/lenses/junit/lens_test.go
Due: post-test-infra-push-prow

Change CRIO systemd service type to exec
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/fcos_cgroupv2.ign
Due: none

Update prow to v20200910-1f6f59015c, and other images as necessary.
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/plank_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Move git author options to bumper.go
  experiment/autobumper/bumper/bumper.go
  prow/flagutil/git.go
Due: post-test-infra-push-prow

Use constant instead of hardcoding "git"
  experiment/autobumper/bumper/bumper.go
Due: none

Revert "Update prow to v20200910-1f6f59015c, and other images as necessary."
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/plank_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-push-prow

Ensure test-infra postsubmits only run on master.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: pull-test-infra-prow-checkconfig

Fix merge wuth finished json tests
  kettle/make_json_test.py
Due: post-test-infra-push-kettle

Add presubmit jobs for node-feature-discovery-operator
  config/jobs/kubernetes-sigs/node-feature-discovery-operator/OWNERS
  config/jobs/kubernetes-sigs/node-feature-discovery-operator/node-feature-discovery-operator-presubmits.yaml
Due: pull-test-infra-prow-checkconfig

Revert "Sinker: Use ctrlruntimeclient for pods"
  prow/cmd/sinker/BUILD.bazel
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
Due: post-test-infra-push-prow

Revert "Sinker: Use cached client for buildCluster"
  config/prow/cluster/sinker_rbac.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  prow/cmd/prow-controller-manager/main.go
  prow/cmd/sinker/main.go
  prow/flagutil/kubernetes_cluster_clients.go
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
