Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:0.4
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

post-test-infra-push-boskos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - boskos/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
  ...

post-test-infra-push-kettle:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - kettle/
      env:
  ...

re-add aks kubetest deployer
  kubetest/BUILD.bazel
  kubetest/aks.go
  kubetest/aksengine.go
  kubetest/azure_helpers.go
  kubetest/e2e.go
  kubetest/main.go
Due: post-test-infra-push-kubekins-e2e

Run cluster-api e2e and integration tests only when go, sh and makefile changes
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Due: none

Allow hook to list and update prowjobs
  prow/cluster/hook_rbac.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Populate env. var. JOB_CLUSTER
  prow/jobs.md
  prow/pod-utils/decorate/podspec_test.go
  prow/pod-utils/downwardapi/jobspec.go
  prow/pod-utils/downwardapi/jobspec_test.go
Due: post-test-infra-push-prow

Use an options object for GCS and S3 credentials
  prow/cmd/gerrit/BUILD.bazel
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
  prow/cmd/status-reconciler/BUILD.bazel
  prow/cmd/status-reconciler/main.go
  prow/cmd/status-reconciler/main_test.go
  prow/cmd/tide/BUILD.bazel
  prow/cmd/tide/main.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/storage.go
Due: post-test-infra-push-prow

Prowjob CRD: Do not require completion time for aborted state
  prow/cluster/prowjob_customresourcedefinition.yaml
  prow/cluster/starter.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

bump promoter
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: none

Azure: add a presubmit job that runs Azure Disk CSI Driver e2e test on a WIndows cluster
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Due: none

Cherrypicker: option to add labels to created PRs
  prow/external-plugins/cherrypicker/main.go
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
Due: post-test-infra-push-prow

don't error out if retry passes on gerrit review
  prow/crier/reporters/gerrit/reporter.go
Due: post-test-infra-push-prow

add a test case on bad review label
  prow/crier/reporters/gerrit/reporter_test.go
Due: post-test-infra-push-prow

Enable Chaos Monkey for ClusterLoader2 presubmit
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: none

Add decorate to pull-kubespray-yamllint job
  config/jobs/kubernetes-sigs/kubespray/kubespray-presubmits.yaml
Due: none

Fix the iis load test job definition
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Due: none

Azure: Install Azure CLI
  kubetest/aksengine.go
  kubetest/azure_helpers.go
Due: post-test-infra-push-kubekins-e2e

Azure: skip [Slow] test cases in ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

Modify aks-engine API model for autoscaling job
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  kubetest/aksengine.go
Due: post-test-infra-push-kubekins-e2e

Respect do-not-merge/contains-merge-commits label
  config/prow/config.yaml
Due: pull-test-infra-gubernator

bugzilla plugin: use cc instead of assign for assign-qa
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Due: post-test-infra-push-prow

Update aks-engine for containerd
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: none

Update CAPA jobs for v1alpha3 release
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Due: none

Opt out gcs auth for local testing Deck
  prow/cmd/deck/runlocal
Due: post-test-infra-push-prow

Trigger job aborting: Ignore conflicts
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/pull-request.go
Due: post-test-infra-push-prow

bugzilla plugin: add cc-qa command
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Due: post-test-infra-push-prow

Group sig-instrumentation dashboards
  config/testgrids/kubernetes/sig-instrumentation/config.yaml
Due: none

Add wg-k8s-infra testgrid dashboard
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/jobs/kubernetes/wg-k8s-infra/k8sio-presubmit.yaml
  config/testgrids/kubernetes/wg-k8s-infa/OWNERS
  config/testgrids/kubernetes/wg-k8s-infa/config.yaml
  config/tests/testgrids/config_test.go
Due: none

pull-k8sio-backup: use workload identity
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  prow/cluster/build_serviceaccounts.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

remove redundant experimental overrides from jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: none

[Logexporter] Enable extra systemd logs
  logexporter/cmd/main.go
Due: none

Add activate Kubespray yamllint CI job and use Kubespray image
  config/jobs/kubernetes-sigs/kubespray/kubespray-presubmits.yaml
Due: none

Update load test definition
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Due: none

Allow expanding each flaky set of tests
  prow/cmd/deck/runlocal
  prow/spyglass/lenses/junit/junit.css
  prow/spyglass/lenses/junit/lens.go
  prow/spyglass/lenses/junit/lens.ts
  prow/spyglass/lenses/junit/lens_test.go
  prow/spyglass/lenses/junit/template.html
Due: post-test-infra-push-prow

Run bazel run (at) io_k8s_repo_infra//hack:update-gofmt
  prow/spyglass/lenses/junit/lens_test.go
Due: post-test-infra-push-prow

lgtm plugin: export lgtm regexes
  prow/plugins/lgtm/lgtm.go
Due: post-test-infra-push-prow

Update cluster-api-provider-gcp jobs for v1alpha3
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Due: none

Prow job yaml for kubernetes-sigs/scheduler-plugins
  config/jobs/kubernetes-sigs/scheduler-plugins/OWNERS
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits.yaml
  config/tests/testgrids/config_test.go
Due: none

kubetest: remove kubeadmdind deploy
  kubetest/BUILD.bazel
  kubetest/kubeadmdind/BUILD.bazel
  kubetest/kubeadmdind/OWNERS
  kubetest/kubeadmdind/kubeadm_dind.go
  kubetest/kubeadmdind/kubeadm_dind_test.go
  kubetest/main.go
Due: post-test-infra-push-kubekins-e2e

No coverage job for platform-api-operator (#153)
  prow/cluster/jobs/IBM/ibm-cloudctl-operator/IBM.ibm-cloudctl-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-cloudctl-operator/OWNERS
  prow/cluster/jobs/IBM/ibm-platform-api-operator/IBM.ibm-platform-api-operator.master.yaml
  prow/config.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Path conditions:
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
